<div class="client-question">
  <div class="client-question__text">
    <h3>Ask Any Asbestos-Related Legal Question</h3>
  </div>
  <div class="client-question__content">
    <p>
      You can ask any asbestos exposure, mesothelioma or lung cancer legal
      question you may have. One of our Partners will answer immediately. It’s
      100% free legal consultation.
    </p>
    <textarea
      class="textarea"
      placeholder="Example: My husband was diagnosed with mesothelioma last year and passed two months ago. How can I receive compensation?"
    ></textarea>
    <button class="button">ASK</button>
  </div>
</div>

<div class="validation-calculator">
  <div class="number-validation">
    <h4>Please Validate Your Question</h4>
    <p>Enter Your Phone Number</p>
    <input type="text" />
    <button class="button">Validate</button>
    <p>You Will Receive a Validation CODE in Seconds</p>
  </div>

  <div class="code-confirmation">
    <h4>Confirm Your Code</h4>
    <p>Enter the Validation Code you received</p>
    <input type="text" />
    <button class="button">Continue</button>
  </div>

  <div class="thank-you">
    <h2>Thank You</h2>
    <p>Your message has been confirmed.</p>
    <button class="button">OK</button>
  </div>
</div>
