<div class="block-lawyers">
    <div class="block-lawyers__about">
      <img class="img-lawyers" src="../../img/lawyers-img-av.svg" alt="" />
      <div class="lawyers-data">
        <a class="general-blue-text">Ethan Flint</a>
        <p>Mesothelioma Attorney</p>
        <p>Experience: 17 Years</p>
        <div class="contact">
          <div class="number">
            <img src="../../img/call.svg" alt="" />
            <a href="tel:8446789445">(844)678-9445</a>
          </div>
          <div class="message">
            <img src="../../img/message.svg" alt="" />
            <a href="mailto:ethan@asbx.org">ethan@asbx.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>