<div class="card-boiler">
  <span>107 Dry Cleaners</span>
  <p><b>Address:</b> 3001 Sw 107Th Avenue Miami, FL, 33165</p>
  <p><b>Boiler Manufacturer:</b> Fulton</p>
  <select class="select-job">
    <option value="compensation, legal advice, lawyers">
      Please Select Your Job
    </option>
    <option value="">select 1</option>
    <option value="">Select 2</option>
    <option value="">Select 3</option>
  </select>
  <p>When did you worked there?</p>
  <div class="data-select">
    <label class="alternative">Before 1982
        <input type="radio" checked="checked" name="radio">
        <span class="checkmark"></span>
      </label>
      <label class="alternative">After 1982
        <input type="radio" name="radio">
        <span class="checkmark"></span>
      </label>
  </div>
  <button class="button-blue">Add to Your Claim </button>
</div>
