<div class="banner-calculate">
  <div class="container">
    <div class="content-information">
      <div class="claims-result">
        <h3>Selected:</h3>
        <div class="claims-result__number">
          <h3>10</h3>
          <h3>Claims /</h3>
        </div>
        <p>From 3 Jobs</p>
      </div>
      <div class="claims-buttons">
        <button class="add-city">+ Add <span>New</span> Claim </button>
        <button class="calculate">Calculate <span>Your Claims</span></button>
      </div>
    </div>
  </div>
</div>
