<section class="bred-core">
  <div class="background">
    <div class="container">
      <div class="principal-page-context">
        <h1>
          Unveil Your Asbestos Settlement Worth Instantly: Your Fast-Track to
          Justice
        </h1>
        <p>
          Unlock the potential of your asbestos claim instantly: Understand the
          financial implications of your case and accelerate your journey
          towards justice. It's time to empower yourself with the knowledge you
          deserve, in the pursuit of the compensation you are entitled to.
        </p>
      </div>
      @@include('./principal-search.html')
    </div>
  </div>
  <div class="container">
    <div class="step-work">
      <h2>
        Initiating the claim process can often be the most challenging step to
        take. <span>Not anymore</span>
      </h2>
      <p>
        Choose your job and potential exposure location. You'll be shown a list
        of asbestos sites from the Asbestos Trust Funds. Select the site, time
        frame, job, and click "+” to add to your claim.
      </p>
    </div>
  </div>
  <div class="background-state">
    <div class="container">
      <div class="state-select">
        <h2>Select Your State</h2>
        <p>
          Start by selecting the state where you or a loved one was diagnosed
          with mesothelioma or lung cancer or asbestosis
        </p>
        <ul class="state-list">
          <li><a href="#">Alabama</a></li>
          <li><a href="#">Alaska</a></li>
          <li><a href="#">Arizona</a></li>
          <li><a href="#">Arkansas</a></li>
          <li><a href="#">California</a></li>
          <li><a href="#">Colorado</a></li>
          <li><a href="#">Connecticut</a></li>
          <li><a href="#">Delaware</a></li>
          <li><a href="#">District of Columbia</a></li>
          <li><a href="#">Florida</a></li>
          <li><a href="#">Georgia</a></li>
          <li><a href="#">Hawaii</a></li>
          <li><a href="#">Idaho</a></li>
          <li><a href="#">Illinois</a></li>
          <li><a href="#">Indiana</a></li>
          <li><a href="#">Iowa</a></li>
          <li><a href="#">Kansas</a></li>
          <li><a href="#">Kentucky</a></li>
          <li><a href="#">Louisiana</a></li>
          <li><a href="#">Maine</a></li>
          <li><a href="#">Maryland</a></li>
          <li><a href="#">Massachusetts</a></li>
          <li><a href="#">Michigan</a></li>
          <li><a href="#">Minnesota</a></li>
          <li><a href="#">Mississippi</a></li>
          <li><a href="#">Missouri</a></li>
          <li><a href="#">Montana</a></li>
          <li><a href="#">Nebraska</a></li>
          <li><a href="#">Nevada</a></li>
          <li><a href="#">New Hampshire</a></li>
          <li><a href="#">New Jersey</a></li>
          <li><a href="#">New Mexico</a></li>
          <li><a href="#">New York</a></li>
          <li><a href="#">North Carolina</a></li>
          <li><a href="#">North Dakota</a></li>
          <li><a href="#">Ohio</a></li>
          <li><a href="#">Oklahoma</a></li>
          <li><a href="#">Oregon</a></li>
          <li><a href="#">Pennsylvania</a></li>
          <li><a href="#">Puerto Rico</a></li>
          <li><a href="#">Rhode Island</a></li>
          <li><a href="#">South Carolina</a></li>
          <li><a href="#">South Dakota</a></li>
          <li><a href="#">Tennessee</a></li>
          <li><a href="#">Texas</a></li>
          <li><a href="#">Utah</a></li>
          <li><a href="#">Vermont</a></li>
          <li><a href="#">Virgin Islands</a></li>
          <li><a href="#">Virginia</a></li>
          <li><a href="#">Washington</a></li>
          <li><a href="#">West Virginia</a></li>
          <li><a href="#">Wisconsin</a></li>
          <li><a href="#">Wyoming</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="military-index">
    <div class="container-about">
      <div class="advocacy-img">
        <img src="../../img/MIlitary-img.png" alt="" />
        <div class="advocacy-img__quote">
          <h3>Compensation for Veterans diagnosed with mesothelioma</h3>
          <p>We Thank You For Your Service</p>
        </div>
      </div>
      <div class="advocacy-information">
        <p>We Help Veterans From All Branches</p>
        <h2>Are You a Veteran Diagnosed With An Asbestos-Related Disease?</h2>
        <div class="military-forces">
          <p>Please select your brach bellow</p>
          <div class="military-forces__logo">
            <img src="../../img/Ellipse 13.png" alt="">
            <img src="../../img/Ellipse 14.png" alt="">
            <img src="../../img/Ellipse 15.png" alt="">
            <img src="../../img/Ellipse 16.png" alt="">
            <img src="../../img/Ellipse 19.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('./template-compensation.html')
</div>
</section>
