<section class="bred-core">
  <div class="background">
    <div class="container">
      <div class="principal-page-context">
        <h1>
          Unveil Your Asbestos Settlement Worth Instantly: Your Fast-Track to
          Justice
        </h1>
        <p>
          Unlock the potential of your asbestos claim instantly: Understand the
          financial implications of your case and accelerate your journey
          towards justice. It's time to empower yourself with the knowledge you
          deserve, in the pursuit of the compensation you are entitled to.
        </p>
      </div>
      @@include('./principal-search.html')
    </div>
  </div>
</section>
