<div class="card-job-site">
  <a>
      12703 14Th Avenue
  </a>
  <div class="city-location">
      <b>City:</b> <a href="#" aria-label="City Riverside, CA">Riverside, CA</a>
  </div>
  <p>Asbestos Trust Funds Available : 1</p>
  <label for="job-selection">Please Select Your Job:</label>
  <select id="job-selection" class="select-job">
      <option value="compensation, legal advice, lawyers">Please Select Your Job</option>
      <option value="">select 1</option>
      <option value="">Select 2</option>
      <option value="other">Select 3</option>
  </select>
  <input type="text">
  <div class="data-select">
      <label for="select-from">From:</label>
      <select id="select-from" class="select-from">
          <option value="compensation, legal advice, lawyers">Select Year</option>
          <option value="">select 1</option>
          <option value="">Select 2</option>
          <option value="">Select 3</option>
      </select>
      <label for="select-to">To:</label>
      <select id="select-to" class="select-to">
          <option value="compensation, legal advice, lawyers">Select Year</option>
          <option value="">select 1</option>
          <option value="">Select 2</option>
          <option value="">Select 3</option>
      </select>
  </div>
  <button class="button-red">Add to Your Claim</button>
  <img class="done" src="../../img/Done.svg" alt="Done icon">
</div>
