<div class="case-compensation">
  <div class="case-compensation__content">
    <img
      class="img-compensation-alternative"
      src="../../img/img-compensation-alternative.png"
      alt=""
    />
    <div class="text-information">
      <h3>
        Leverage our expedient calculator, tailored to consider factors such as
        your age, occupations, and job sites.
      </h3>
      <p>You will receive an instant result.</p>
      <button>Start Here</button>
    </div>
    <img
      class="img-compensation"
      src="../../img/img-compensation-alternative.png"
      alt=""
    />
  </div>
</div>
