<div class="expres-calculator">
  <h2 id="sixth-information">No Sure What To Do?</h2>
  <div class="bar"></div>
  <h3>Try our Express Asbestos Case Value Calculator</h3>
  <p>
    Discover the amount of compensation available for you or a loved one in just
    a few minutes. (This calculator is recommended for family members.)
  </p>
  <div class="case-compensation">
    <div class="case-compensation__content">
      <img
        class="img-compensation-alternative"
        src="../../img/img-compensation-alternative.png"
        alt=""
      />
      <div class="text-information">
        <p>
          Leverage our expedient calculator, tailored to consider factors such
          as your age, occupations, and job sites.
        </p>
        <span>You will receive an instant result.</span>
        <button>Start Here</button>
      </div>
      <img
        class="img-compensation"
        src="../../img/img-compensation-alternative.png"
        alt=""
      />
    </div>
  </div>
</div>
