<div class="case-compensation">
  <div class="case-compensation__content">
    <h2>Asbestos Exposure Case Compensation Calculator</h2>
    <h3>
      Find out in few minutes how much mesothelioma compensetion is available
      for you or a loved one.
    </h3>
    <p>
      Leverage our expedient calculator, tailored to consider factors such as
      your age, occupations, and job sites.You will receive an instant result.
    </p>
    <button>Start Here</button>
  </div>
  <img src="../../img/img-compensation.png" alt="">
</div>
