<div class="content-table">
  <div class="content-table__facts">
    <p class="facts-text">Facts &amp; Requirements</p>
    <table class="necessary-information">
      <tr class="left-column">
        <td><p>Jobs Location:</p></td>
        <td><p class="left-column__about">Asbestos exposure</p></td>
        <td><p>Time Frame:</p></td>
        <td><p>Verified Job-sites:</p></td>
        <td><p>Boilers Exposure:</p></td>
        <td><p class="left-column__about">Compensation Source</p></td>
        <td><p>Asbestos Trust Funds:</p></td>
        <td><p>Civil Defenders:</p></td>
        <td><p class="left-column__about">Requirements</p></td>
        <td><p>Occupational Exposure:</p></td>
        <td><p>Mesothelioma Diagnosis:</p></td>
      </tr>
      <tr class="right-column">
        <td><p>Miami, Florida</p></td>
        <td><p class="none">-</p></td>
        <td><p>1928 - 1982</p></td>
        <td><p>128</p></td>
        <td><p>9628</p></td>
        <td><p class="none">-</p></td>
        <td><p>16</p></td>
        <td><p>Yes</p></td>
        <td><p class="none">-</p></td>
        <td><p>YES</p></td>
        <td><p>YES</p></td>
      </tr>
    </table>
  </div>
  <div class="table-navigator">
    <p>Table of Contents</p>
    <ul>
      <li id="jobSites"><span>Miami Approved Job-Sites</span></li>
      <li id="boilerLocations"><span>Miami Boiler Locations</span></li>
      <li id="compensationAmounts"><span>Miami Compensation Amounts</span></li>
      <li id="trustFunds"><span>Miami Available Trust Funds</span></li>
      <li id="calculator"><span>Express Case Value Calculator</span></li>
    </ul>
  </div>
</div>
