<div class="content-table">
    <div class="necessary-information">
      <img src="../../img/Fact Check.svg" alt="" />
      <p class="necessary-information__text">Facts &amp; Requirements</p>
      <div class="table-container">
        <div class="left-column">
          <p>Jobs Location:</p>
          <p class="left-column__about">Asbestos exposure</p>
          <p>Time Frame:</p>
          <p>Verified Job-sites:</p>
          <p>Boilers Exposure:</p>
          <p class="left-column__about">Compensation Source</p>
          <p>Asbestos Trust Funds:</p>
          <p>Civil Defenders:</p>
          <p class="left-column__about">Requirements</p>
          <p>Occupational Exposure:</p>
          <p>Mesothelioma Diagnosis:</p>
        </div>
        <div class="right-column">
          <p>Miami, Florida</p>
          <p class="none">-</p>
          <p>1928 - 1982</p>
          <p>128</p>
          <p>9628</p>
          <p class="none">-</p>
          <p>16</p>
          <p>Yes</p>
          <p class="none">-</p>
          <p>YES</p>
          <p>YES</p>
        </div>
      </div>
    </div>
    <div class="table-navigator">
      <p>Table of Contents</p>
      <ul>
        <li id="jobSites"><span>Miami Approved Job-Sites</span></li>
        <li id="boilerLocations"><span>Miami Boiler Locations</span></li>
        <li id="compensationAmounts"><span>Miami Compensation Amounts</span></li>
        <li id="trustFunds"><span>Miami Available Trust Funds</span></li>
        <li id="calculator"><span>Express Case Value Calculator</span></li>
      </ul>
    </div>
  </div>