<div class="general-claims">
  <img class="badge" src="../../img/navi-logo.png" alt="" />
  <div class="claims-selected">
    <img src="../../img/calculator_iconred.png" alt="" />
    <div class="content-information">
      <h4>Claims Selected</h4>
      <div class="back-ground">
        <h1>10</h1>
      </div>
      <p>From 3 Jobs</p>
      <div class="claims-buttons">
        <button>Calculate</button>
        <button>+ Add Claim</button>
      </div>
    </div>
  </div>
  <div class="job-select">
    <div class="jobs"><p>Jobs</p></div>
    <div class="information-user">
      <div class="profession">
        <h4>Boiler Man</h4>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="profession__content">
        <div class="details">
          <h3>1920</h3>
          <h3>Tennessee Fresh</h3>
        </div>
        <div class="change-btn">
          <a class="edit">Edit</a>
          <a class="remove"><i class="fas fa-times"></i>Remove</a>
        </div>
      </div>
    </div>
    <div class="information-user">
      <div class="profession">
        <h4>Auto Mechanic</h4>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="profession__content">
        <div class="details">
          <h3>1920</h3>
          <h3>Tennessee Fresh</h3>
        </div>
        <div class="change-btn">
          <a class="edit">Edit</a>
          <a class="remove"><i class="fas fa-times"></i>Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
