<div id="claimForm" class="form-claim-proces">
  <div class="callback-form claim-form">
  <!-- <button id="closeButton" class="close-button">X</button> -->
    <p>Begin Your Claim Process</p>
    <input
      type="text"
      placeholder="First and Last Name"
    />
    <input type="text" placeholder="Email Address" />
    <div class="checkbox-request">
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
      <label for="vehicle1"
        >I agree to receive a phone call from Flint Cooper
      </label>
    </div>
    <button class="green-button">SEND</button>
    <div class="secure-confirm">
      <img src="../../img/secure.svg" alt="" />
      <p>
        All communication is securely conducted via DocuSign. DocuSign
        eSignature is the #1 way to send, receive and sign documents online.
      </p>
    </div>
  </div>
</div>
