<div class="compensation-amounts">
  <h2><span>Miami, FL</span> Compensation Amounts by Asbestos Claims Type</h2>
  <div class="compensation-amounts__data">
    <div class="data-mesothelioma">
      <h4>Mesothelioma Compensation:</h4>
      <p>
        <b><span>$398,453</span></b> available mesothelioma compensation in
        <b>ER </b> claims <i>*</i>
      </p>
      <p>
        <b><span>$1,375,123</span></b> available mesothelioma compensation in
        <b>AVG </b> claims <i>**</i>
      </p>
      <p>
        <b><span>$2,876,543</span></b> available mesothelioma compensation in
        <b>ER </b> claims <i>***</i>
      </p>
    </div>
    <div class="data-lung-cancer">
      <h4>Lung Cancer Compensation:</h4>
      <p>
        <b><span>$198,453 </span></b> available mesothelioma compensation in
        <b>ER </b> claims <i>*</i>
      </p>
      <p>
        <b><span>$375,123</span></b> available mesothelioma compensation in
        <b>AVG </b> claims <i>**</i>
      </p>
      <p>
        <b><span>$543,789</span></b> available mesothelioma compensation in
        <b>IR </b> claims <i>***</i>
      </p>
    </div>
  </div>
  <div class="explication">
    <div class="explication__grade">
      <i>*</i>
      <p>
        <b>ER</b> (Expedite Review) claims. Paid in <b>60 days</b> after claims
        are filed.
      </p>
    </div>
    <div class="explication__grade">
      <i>**</i>
      <p>
        <b>AVR</b> (Average Review) claims. Paid in <b>90-120 days</b> after
        claims are filed.
      </p>
    </div>
    <div class="explication__grade">
      <i>***</i>
      <p>
        <b>IR</b> (Individual Review) claims. Paid in <b>1 to 2 years</b> after
        claims are filed.
      </p>
    </div>
  </div>
  <div class="information">
    <div class="information__note">Important</div>
    <p>
      Each situation varies and can lead to a distinct result depending on your
      occupation, timeline, and exposure. To discover the specific compensation
      sum applicable to you, please begin by making selections and adding them
      to your claim calculator.
    </p>
  </div>
</div>
