<section class="job-site">
  <h1><span>Miami, FL</span> Mesothelioma Compensation</h1>
  <p>
    In Miami, FL, <b>104</b> job-sites have a documented history of asbestos
    exposure, posing a significant risk for diseases like mesothelioma or lung
    cancer. To assist affected individuals and their families,
    <b>16</b> asbestos trust funds, offering financial compensation are
    available. .
  </p>
  <div class="nearby-city">
    <b>Nearby Cities (10 miles radius) with documented asbestos job-sites:</b>
    <span><a href="">North Miami Beach</a>, <a href="">Miami Beach</a>, <a href="">South Miami</a>.</span>
  </div>
  @@include('./compensation-amounts.html')
  <h2 class="text-trincipal"><span>Miami, FL </span> Asbestos Exposure Job Sites</h2>
  <p>
    Please <b>Add to your Claims</b> by clicking on the “<b>+</b>” button next to the job-site
    you or family member worked.
  </p>
  <div class="search-container">
    <div class="search-filter">
      <p>Sort by First Letter:</p>
      <div class="search-filter__letters">
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">F</a>
        <a href="#">G</a>
        <a href="#">H</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">L</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">X</a>
        <a href="#">Z</a>
        <a href="#">W</a>
      </div>
    </div>
    <form action="">
      <div class="search-input">
        <input type="text" placeholder="Search Job-site by Name" />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="job-site__box">
    <img src="../../img/Finance Icons.svg" alt="" />
    <div class="content">
      <h2>Newport News Shipbuilding & Drydock Company</h2>
      <div class="check-element">
        <div class="content-trust">
          <h4>Available Asbestos Trust Funds:</h4>
          <p>10</p>
        </div>
        <button class="button-open" onclick="add_claim(this)">
          <div class="button-open__section"><i class="fas fa-plus"></i></div>
          <p>Add to Your Claims</p>
        </button>
      </div>
    </div>
    <div class="popup-claim" id="popup-claim">
      <div class="popup-content">
        <form action="">
          <h2>Newport News Shipbuilding & Drydock Company</h2>
          <div class="dropdown-container">
            <div class="dropdown job-width">
              <label for="job">Select Job:</label>
              <select class="chase" id="job" required>
                <option value="" disabled selected>Select job</option>
                <option value="job1">Job 1</option>
                <option value="job2">Job 2</option>
                <option value="job3">Job 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="start">Start:</label>
              <select class="chase" id="start" required>
                <option value="" disabled selected>Select start</option>
                <option value="start1">Start 1</option>
                <option value="start2">Start 2</option>
                <option value="start3">Start 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="end">End:</label>
              <select class="chase" id="end" required>
                <option value="" disabled selected>Select end</option>
                <option value="end1">End 1</option>
                <option value="end2">End 2</option>
                <option value="end3">End 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
          </div>
          <div class="select-button-option">
            <a class="close-button">Close</a>
            <div class="button-container">
              <button class="button-add popup-button" disabled>
                <p>Add Claims</p>
                <button class="close-button-alt"></button>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="page-navigation">
    <ul class="pagination__list">
      <li>
        <a href="" class="pagination__list__prev">
          <span class="sr-only">Previous page</span>
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li>
        <div class="page-button">1</div>
      </li>
      <li>
        <div class="page-button">2</div>
      </li>
      <li>
        <div class="page-button active">3</div>
      </li>
      <li>
        <div class="tuning-fork">...</div>
      </li>
      <li>
        <div class="page-button">6</div>
      </li>
      <li>
        <a href="" class="pagination__list__next">
          <span class="sr-only">Next page</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="calculate-value">
    <div class="calculate-value__logo">
      <img src="../../img/claims_logo 3.png" alt="" />
    </div>
    <h2>Quick Asbestos Exposure Calculator</h2>
    <p>We advise <b>Family Members</b> of a mesothelioma or lung cancer victim to use this quick asbestos claim calculator. </p>
    <div class="button">Start Here</div>
  </div>
  <h2 class="text-trincipal">
    <span>Miami, FL</span> Boiler Location with Possible Asbestos Exposure
  </h2>
  <p>
    Boiler makers / boiler tenders are one of the most asbestos exposed job.
    Below is the list with all potential exposure boilers location. Please Add
    to your Claims by clicking on the “+” button next to the job-site where you
    or family member worked.
  </p>
  <div class="search-container">
    <form action="">
      <div class="search-input">
        <input type="text" placeholder="Search Job-site by Name" />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="job-site__box">
    <div class="content">
      <h2>Wellington Laundry & Cleaners</h2>
      <p>11360 - E2 Fortune Circle, Wellington, FL, 33414</p>
      <div class="check-element">
        <div class="content-trust">
          <h4>Boiler Manufacture:</h4>
          <p>XXX</p>
        </div>
        <button class="button-open boiler-button" onclick="add_claim(this)">
          <div class="button-open__section"><i class="fas fa-plus"></i></div>
          <p>Add to Your Claims</p>
        </button>
      </div>
    </div>
    <div class="popup-claim" id="popup-claim">
      <div class="popup-content">
        <form action="">
          <h2>Newport News Shipbuilding & Drydock Company</h2>
          <div class="dropdown-container">
            <div class="dropdown job-width">
              <label for="job">Select Job:</label>
              <select class="chase" id="job" required>
                <option value="" disabled selected>Select job</option>
                <option value="job1">Job 1</option>
                <option value="job2">Job 2</option>
                <option value="job3">Job 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="start">Start:</label>
              <select class="chase" id="start" required>
                <option value="" disabled selected>Select start</option>
                <option value="start1">Start 1</option>
                <option value="start2">Start 2</option>
                <option value="start3">Start 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="end">End:</label>
              <select class="chase" id="end" required>
                <option value="" disabled selected>Select end</option>
                <option value="end1">End 1</option>
                <option value="end2">End 2</option>
                <option value="end3">End 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
          </div>
          <div class="select-button-option">
            <a class="close-button">Close</a>
            <div class="button-container">
              <button class="button-add popup-button" disabled>
                <p>Add Claims</p>
                <button class="close-button-alt"></button>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-navigation">
    <ul class="pagination__list">
      <li>
        <a href="" class="pagination__list__prev">
          <span class="sr-only">Previous page</span>
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li>
        <div class="page-button">1</div>
      </li>
      <li>
        <div class="page-button">2</div>
      </li>
      <li>
        <div class="page-button active">3</div>
      </li>
      <li>
        <div class="tuning-fork">...</div>
      </li>
      <li>
        <div class="page-button">6</div>
      </li>
      <li>
        <a href="" class="pagination__list__next">
          <span class="sr-only">Next page</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
  @@include('./ask-question.html')
</section>
