<section class="search-navi">
  <h1>Asbestos Exposure on Navy Ships</h1>
  <div class="bar"></div>
  <p>
    Before the dangers of asbestos were widely known, more than 300 asbestos
    products were used on U.S. Navy ships from the 1930s to the early 1980s.
    This decision placed veterans at risk for mesothelioma and other serious
    respiratory illnesses.
  </p>
  <div class="search-navi__content">
    <p>
      Identify ships affected by asbestos contamination to ensure safety and
      prevent exposur
    </p>
    <div class="search-container">
      <div class="search-filter">
        <p>Search Navi</p>
      </div>
      <form action="">
        <div class="search-input">
          <input type="text" placeholder="Search Job-site by Name" />
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="search-navi__box">
    <h2>USS Lafayette (SSBN-616)</h2>
    <div class="information-content">
      <div class="documentation">
        <div class="data">
          <p>Laid down:</p>
          <p>20 September 1944</p>
        </div>
        <div class="data">
          <p>Launched</p>
          <p>15 May 1945</p>
        </div>
      </div>
      <div class="arrow-next">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>
</section>
