<section class="detiles-content">
  <div class="job-site__box">
    <img src="../../img/Finance Icons.svg" alt="" />
    <div class="content">
      <h2><a href="">Asbestos Exposure at Goodyear in Akron, OH</a></h2>
      <div class="check-element">
        <div class="user-information">
          <p>
            At Goodyear in Akron, OH, many workers and their families have been
            exposed to asbestos daily. You can receive compensation if you have
            been diagnosed with mesothelioma or other asbestos-related diseases.
          </p>
        </div>
        <button class="button-open" onclick="add_claim(this)">
          <div class="button-open__section"><i class="fas fa-plus"></i></div>
          <p>Add to Your Claims</p>
        </button>
      </div>
    </div>
    <div class="popup-claim" id="popup-claim">
      <div class="popup-content">
        <form action="">
          <h2>Asbestos Exposure at Goodyear in Akron, OH</h2>
          <div class="dropdown-container">
            <div class="dropdown">
              <label for="job">Select Job:</label>
              <select class="chase" id="job" required>
                <option value="" disabled selected>Select job</option>
                <option value="job1">Job 1</option>
                <option value="job2">Job 2</option>
                <option value="job3">Job 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="start">Start:</label>
              <select class="chase" id="start" required>
                <option value="" disabled selected>Select start</option>
                <option value="start1">Start 1</option>
                <option value="start2">Start 2</option>
                <option value="start3">Start 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
            <div class="dropdown">
              <label for="end">End:</label>
              <select class="chase" id="end" required>
                <option value="" disabled selected>Select end</option>
                <option value="end1">End 1</option>
                <option value="end2">End 2</option>
                <option value="end3">End 3</option>
                <!-- Alte opțiuni... -->
              </select>
            </div>
          </div>
          <div class="select-button-option">
            <a class="close-button">Close</a>
            <div class="button-container">
              <button class="button-add popup-button" disabled>
                <p>Add Claims</p>
                <button class="close-button-alt"></button>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  @@include('./compensation-amounts.html')

  <h1>Known High Asbestos Exposure at <span>Goodyear in Akron, OH</span></h1>
  <p>
    The list below provides information gathered from Asbestos Trust Funds and
    other sources about documented and approved asbestos job sites at
    <span>Goodyear</span> in <span>Akron, OH</span>.
  </p>
  <ul>
    <li>Goodyear Aerospace</li>
    <li>Goodyear Aircraft Company</li>
    <li>Goodyear Aircraft Company - Plant D</li>
    <li>Goodyear - Plant #2 Powerhouse</li>
    <li>Goodyear - Building 132-A</li>
    <li>Goodyear - Building 63</li>
    <li>Goodyear - Plant #3</li>
    <li>Goodyear - Research Building</li>
    <li>Goodyear - Plant #1 - Buildings 21 & 29</li>
    <li>Goodyear - Plant #5</li>
  </ul>
  <h2>
    Companies Responsible for Asbestos Exposure at <span>Goodyear</span> in
    <span>Akron, OH</span>
  </h2>
  <p>
    Between <span>1930</span> and <span>1982</span>, numerous companies shipped
    and delivered multiple asbestos products to <span>Goodyear</span> in
    <span>Akron, OH</span>. These companies are accountable for your exposure,
    as they were aware of the cancer-causing effects of asbestos.
  </p>
  <h2>Asbestos Exposure Facts</h2>
  <p>Asbestos Exposure Facts</p>
  <p>
    The following company companies provided <span>Goodyear</span> in
    <span>Akron, OH</span>, with asbestos products. Included are the names of
    the company companies and the years of the delivery.
  </p>
  <div class="companies-trust">
    <div class="companies-trust__data">
      <a href="">TFA-BEST </a>
      <p><span>1935</span> to <span>1968</span></p>
    </div>
    <div class="companies-trust__data">
      <a href="">AC&S </a>
      <p><span>1956</span> to <span>1978</span></p>
    </div>
    <div class="companies-trust__data">
      <a href="">Armstrong World Industries </a>
      <p><span>1976</span> to <span>1981</span></p>
    </div>
  </div>
</section>
