<div class="content-state">
    <h1>Cities in Alabama</h1>
    <ul class="city-list">
        <li>Abbeville</li>
        <li>Adamsville</li>
        <li>Addison</li>
        <li>Akron</li>
        <li>Alabaster</li>
        <li>Albertville</li>
        <li>Alexander City</li>
        <li>Alexandria</li>
        <li>Aliceville</li>
        <li>Allgood</li>
        <li>Altoona</li>
        <li>Andalusia</li>
        <li>Anderson</li>
        <li>Anniston</li>
        <li>Arab</li>
        <li>Ardmore</li>
        <li>Ariton</li>
        <li>Arley</li>
        <li>Ashford</li>
        <li>Ashland</li>
        <!-- Adăugați celelalte orașe din Alabama aici -->
    </ul>

    <div class="page-navigation">
        <ul class="pagination__list">
          <li>
            <a href="" class="pagination__list__prev">
              <span class="sr-only">Previous page</span>
              <i class="fas fa-angle-left"></i>
            </a>
          </li>
          <li>
            <div class="page-button">1</div>
          </li>
          <li>
            <div class="page-button">2</div>
          </li>
          <li>
            <div class="page-button active">3</div>
          </li>
          <li>
            <div class="tuning-fork">...</div>
          </li>
          <li>
            <div class="page-button">6</div>
          </li>
          <li>
            <a href="" class="pagination__list__next">
              <span class="sr-only">Next page</span>
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
</div>