<section class="trust-fund">
  <h1>Asbestos Trust Funds</h1>

  <p>
    Asbestos trust funds are established by companies that have filed for
    bankruptcy due to asbestos-related lawsuits. These funds are used to
    compensate individuals who have developed illnesses related to asbestos
    exposure, including mesothelioma, lung cancer, and asbestosis. Asbestos
    trust funds are typically managed by trustees and are funded through a
    combination of company assets and insurance policies.
  </p>
  <p>
    Affected Industries by this Trust Fund: Asbestos trust funds have affected
    several industries, including:
  </p>

  <div class="industry-categorys">
    <div class="category">
      <p>construction</p>
    </div>
    <div class="category">
      <p>manufacturing</p>
    </div>
    <div class="category">
      <p>automotive</p>
    </div>
    <div class="category">
      <p>maritime industries</p>
    </div>
    <div class="category">
      <p>construction</p>
    </div>
  </div>
  <div class="calculate-value">
    <div class="calculate-value__logo">
      <img src="../../img/claims_logo 3.png" alt="" />
    </div>
    <h2>Calculate your case value</h2>
    <div class="button">Start Here</div>
  </div>
  <p>
    Affected Jobs by this Trust Fund: Numerous jobs and occupations have been
    affected by asbestos exposure related to the companies that have established
    asbestos trust funds. Some of the most commonly affected jobs include:
  </p>

  <div class="content-box">
    <a class="box">
      <div class="city">Alabama</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
    <a class="box">
      <div class="city">Alaska</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
    <a class="box">
      <div class="city">Arizona</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
    <a class="box">
      <div class="city">Alabama</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
    <a class="box">
      <div class="city">Alaska</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
    <a class="box">
      <div class="city">Arizona</div>
      <div class="funds">5 trust funds</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </a>
  </div>

  <p>
    Additionally, military veterans who served in the Navy, Marine Corps, or
    other branches of the military may also be eligible for compensation from
    asbestos trust funds due to their exposure to asbestos-containing products
    during their service.
  </p>

  <div class="military-link">
    <a href=""
      ><div class="military-link__divizion">
        <img src="../../img/Ellipse 13.png" alt="" />
        <p>Air Force</p>
      </div></a
    >
    <a href="">
      <div class="military-link__divizion">
        <img src="../../img/Ellipse 14.png" alt="" />
        <p>Air Force</p>
      </div>
    </a>
    <a href="">
      <div class="military-link__divizion">
        <img src="../../img/Ellipse 15.png" alt="" />
        <p>Air Force</p>
      </div>
    </a>
    <a href="">
      <div class="military-link__divizion">
        <img src="../../img/Ellipse 16.png" alt="" />
        <p>Air Force</p>
      </div>
    </a>
    <a href="">
      <div class="military-link__divizion">
        <img src="../../img/Ellipse 19.png" alt="" />
        <p>Air Force</p>
      </div>
    </a>
  </div>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>

  <div class="bottom-banner">@@include('./bottom-banner.html')</div>
</section>
