<section class="content-state">
  <h1>Alabama Asbestos Exposure by City</h1>
  <div class="documentation-data">
    <p>Cities With Asbestos Exposure in Alabama: <b>182</b></p>
    <p>Documented Job-Sites: <b> 2104</b></p>
    <p>Asbestos Trust Funds: <b>32</b></p>
  </div>
  <div class="search-container">
    <div class="search-filter">
      <p>Sort by First Letter:</p>
      <div class="search-filter__letters">
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">F</a>
        <a href="#">G</a>
        <a href="#">H</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">L</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">X</a>
        <a href="#">Z</a>
        <a href="#">W</a>
      </div>
    </div>
    <form action="">
      <div class="search-input">
        <input type="text" placeholder="Search Job-site by Name" />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </form>
  </div>
  <ul class="city-list">
    <li><a href="#">Abbeville</a></li>
    <li><a href="#">Adamsville</a></li>
    <li><a href="#">Addison</a></li>
    <li><a href="#">Akron</a></li>
    <li><a href="#">Alabaster</a></li>
    <li><a href="#">Albertville</a></li>
    <li><a href="#">Alexander City</a></li>
    <li><a href="#">Alexandria</a></li>
    <li><a href="#">Aliceville</a></li>
    <li><a href="#">Allgood</a></li>
    <li><a href="#">Altoona</a></li>
    <li><a href="#">Andalusia</a></li>
    <li><a href="#">Anderson</a></li>
    <li><a href="#">Anniston</a></li>
    <li><a href="#">Arab</a></li>
    <li><a href="#">Ardmore</a></li>
    <li><a href="#">Ariton</a></li>
    <li><a href="#">Arley</a></li>
    <li><a href="#">Ashford</a></li>
    <li><a href="#">Ashland</a></li>
    <li><a href="#">Abbeville</a></li>
    <li><a href="#">Adamsville</a></li>
    <li><a href="#">Addison</a></li>
    <li><a href="#">Akron</a></li>
    <li><a href="#">Alabaster</a></li>
    <li><a href="#">Albertville</a></li>
    <li><a href="#">Alexander City</a></li>
    <li><a href="#">Alexandria</a></li>
    <li><a href="#">Aliceville</a></li>
    <li><a href="#">Allgood</a></li>
    <li><a href="#">Altoona</a></li>
    <li><a href="#">Andalusia</a></li>
    <li><a href="#">Anderson</a></li>
    <li><a href="#">Anniston</a></li>
    <li><a href="#">Arab</a></li>
    <li><a href="#">Ardmore</a></li>
    <li><a href="#">Ariton</a></li>
    <li><a href="#">Arley</a></li>
    <li><a href="#">Ashford</a></li>
    <li><a href="#">Ashland</a></li>
    <li><a href="#">Abbeville</a></li>
    <li><a href="#">Adamsville</a></li>
    <li><a href="#">Addison</a></li>
    <li><a href="#">Akron</a></li>
    <li><a href="#">Alabaster</a></li>
    <li><a href="#">Albertville</a></li>
    <li><a href="#">Alexander City</a></li>
    <li><a href="#">Alexandria</a></li>
    <li><a href="#">Aliceville</a></li>
    <li><a href="#">Allgood</a></li>
    <li><a href="#">Altoona</a></li>
    <li><a href="#">Andalusia</a></li>
    <li><a href="#">Anderson</a></li>
    <li><a href="#">Anniston</a></li>
    <li><a href="#">Arab</a></li>
    <li><a href="#">Ardmore</a></li>
    <li><a href="#">Ariton</a></li>
    <li><a href="#">Arley</a></li>
    <li><a href="#">Ashford</a></li>
    <li><a href="#">Ashland</a></li>
    <li><a href="#">Abbeville</a></li>
    <li><a href="#">Adamsville</a></li>
    <li><a href="#">Addison</a></li>
    <li><a href="#">Akron</a></li>
    <li><a href="#">Alabaster</a></li>
    <li><a href="#">Albertville</a></li>
    <li><a href="#">Alexander City</a></li>
    <li><a href="#">Alexandria</a></li>
    <li><a href="#">Aliceville</a></li>
    <li><a href="#">Allgood</a></li>
    <li><a href="#">Altoona</a></li>
    <li><a href="#">Andalusia</a></li>
    <li><a href="#">Anderson</a></li>
    <li><a href="#">Anniston</a></li>
    <li><a href="#">Arab</a></li>
    <li><a href="#">Ardmore</a></li>
    <li><a href="#">Ariton</a></li>
    <li><a href="#">Arley</a></li>
    <li><a href="#">Ashford</a></li>
    <li><a href="#">Ashland</a></li>
  </ul>

  <div class="page-navigation">
    <ul class="pagination__list">
      <li>
        <a href="" class="pagination__list__prev">
          <span class="sr-only">Previous page</span>
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li>
        <div class="page-button">1</div>
      </li>
      <li>
        <div class="page-button">2</div>
      </li>
      <li>
        <div class="page-button active">3</div>
      </li>
      <li>
        <div class="tuning-fork">...</div>
      </li>
      <li>
        <div class="page-button">6</div>
      </li>
      <li>
        <a href="" class="pagination__list__next">
          <span class="sr-only">Next page</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
