<div class="content-state">
    <h1>Cities in Alabama</h1>
    <ul class="city-list">
        <li>Abbeville, AL</li>
        <li>Adamsville, AL</li>
        <li>Addison, AL</li>
        <li>Akron, AL</li>
        <li>Alabaster, AL</li>
        <li>Albertville, AL</li>
        <li>Alexander City, AL</li>
        <li>Alexandria, AL</li>
        <li>Aliceville, AL</li>
        <li>Allgood, AL</li>
        <li>Altoona, AL</li>
        <li>Andalusia, AL</li>
        <li>Anderson, AL</li>
        <li>Anniston, AL</li>
        <li>Arab, AL</li>
        <li>Ardmore, AL</li>
        <li>Ariton, AL</li>
        <li>Arley, AL</li>
        <li>Ashford, AL</li>
        <li>Ashland, AL</li>
        <!-- Adăugați celelalte orașe din Alabama aici -->
    </ul>

    <div class="page-navigation">
        <ul class="pagination__list">
          <li>
            <a href="" class="pagination__list__prev">
              <span class="sr-only">Previous page</span>
              <i class="fas fa-angle-left"></i>
            </a>
          </li>
          <li>
            <div class="page-button">1</div>
          </li>
          <li>
            <div class="page-button">2</div>
          </li>
          <li>
            <div class="page-button active">3</div>
          </li>
          <li>
            <div class="tuning-fork">...</div>
          </li>
          <li>
            <div class="page-button">6</div>
          </li>
          <li>
            <a href="" class="pagination__list__next">
              <span class="sr-only">Next page</span>
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
</div>