<div class="trust-fund">
    <h1>Asbestos Trust Funds</h1>

    <p>Asbestos trust funds are established by companies that have filed for bankruptcy due to asbestos-related lawsuits. These funds are used to compensate individuals who have developed illnesses related to asbestos exposure, including mesothelioma, lung cancer, and asbestosis. Asbestos trust funds are typically managed by trustees and are funded through a combination of company assets and insurance policies.</p>
    <p>Affected Industries by this Trust Fund: Asbestos trust funds have affected several industries, including:</p>

    <div class="industry-categorys">
        <div class="category">
            <p>construction</p>
        </div>
        <div class="category">
            <p>manufacturing</p>
        </div>
        <div class="category">
            <p>automotive</p>
        </div>
        <div class="category">
            <p>maritime industries</p>
        </div>
        <div class="category">
            <p>construction</p>
        </div>
    </div>
    <p>Affected Jobs by this Trust Fund: Numerous jobs and occupations have been affected by asbestos exposure related to the companies that have established asbestos trust funds. Some of the most commonly affected jobs include: </p>

    <div class="content-box">
        <div class="box">
          <div class="city">Alabama</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"></div>
        </div>
        <div class="box">
            <div class="city">Alaska</div>
            <div class="funds">5 trust funds</div>
            <div class="arrow"></div>
          </div>
          <div class="box">
            <div class="city">Arizona</div>
            <div class="funds">5 trust funds</div>
            <div class="arrow"></div>
          </div>
          <div class="box">
            <div class="city">Alabama</div>
            <div class="funds">5 trust funds</div>
            <div class="arrow"></div>
          </div>
          <div class="box">
              <div class="city">Alaska</div>
              <div class="funds">5 trust funds</div>
              <div class="arrow"></div>
            </div>
            <div class="box">
              <div class="city">Arizona</div>
              <div class="funds">5 trust funds</div>
              <div class="arrow"></div>
            </div>
        </div>

        <p>Additionally, military veterans who served in the Navy, Marine Corps, or other branches of the military may also be eligible for compensation from asbestos trust funds due to their exposure to asbestos-containing products during their service.</p>

        <div class="military-link">
            <div class="military-link__divizion">
                <img src="../../img/Ellipse 13.png" alt="">
                <p>Air Force</p>
            </div>
            <div class="military-link__divizion">
                <img src="../../img/Ellipse 14.png" alt="">
                <p>Air Force</p>
            </div>
            <div class="military-link__divizion">
                <img src="../../img/Ellipse 15.png" alt="">
                <p>Air Force</p>
            </div>
            <div class="military-link__divizion">
                <img src="../../img/Ellipse 16.png" alt="">
                <p>Air Force</p>
            </div>
            <div class="military-link__divizion">
                <img src="../../img/Ellipse 19.png" alt="">
                <p>Air Force</p>
            </div>
        </div>
</div>