<section class="job-site">
  <h1>Portland, TN Available Asbestos Claims</h1>
  <p>
    Nestled in the heart of Tennessee, Portland has a rich and storied past that
    intertwines with the history of asbestos exposure. For decades, this
    seemingly innocuous mineral was widely used in various industries, leaving a
    trail of
  </p>
  <div class="search-container">
    <div class="search-filter">
      <p>Sort by First Letter:</p>
      <div class="search-filter__letters">
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">F</a>
        <a href="#">G</a>
        <a href="#">H</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">L</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">X</a>
        <a href="#">Z</a>
        <a href="#">W</a>
      </div>
    </div>
    <form action="">
      <div class="search-input">
        <input type="text" placeholder="Search Job-site by Name" />
        <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="job-site__box">
    <img src="../../img/Finance Icons.svg" alt="" />
    <div class="content">
      <h2>Newport News Shipbuilding & Drydock Company</h2>
      <div class="check-element">
        <div class="content-trust">
          <h4>Available Asbestos Trust Funds:</h4>
          <p>10</p>
        </div>
        <button class="button-open">
          <div class="button-open__section"><i class="fas fa-plus"></i></div>
          <p>Add to Your Claims</p>
        </button>
      </div>
    </div>
  </div>
  
  <div class="popup-claim">
    <div class="popup-content">
      <button class="close-button">Close</button>
      <form action="">
        <div class="dropdown-container">
          <div class="dropdown">
            <label for="job">Select Job:</label>
            <select class="chase" id="job" required>
              <option value="" disabled selected>Select job</option>
              <option value="job1">Job 1</option>
              <option value="job2">Job 2</option>
              <option value="job3">Job 3</option>
              <!-- Alte opțiuni... -->
            </select>
          </div>
          <div class="dropdown">
            <label for="start">Start:</label>
            <select class="chase" id="start" required>
              <option value="" disabled selected>Select start</option>
              <option value="start1">Start 1</option>
              <option value="start2">Start 2</option>
              <option value="start3">Start 3</option>
              <!-- Alte opțiuni... -->
            </select>
          </div>
          <div class="dropdown">
            <label for="end">End:</label>
            <select class="chase" id="end" required>
              <option value="" disabled selected>Select end</option>
              <option value="end1">End 1</option>
              <option value="end2">End 2</option>
              <option value="end3">End 3</option>
              <!-- Alte opțiuni... -->
            </select>
          </div>
          <div class="button-container">
            <button class="button-add popup-button" disabled>
             
              <p>Add Claims</p>
              <button class="close-button-alt"></button>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

  @@include('./ask-question.html')
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
</section>
