<section class="content-navi">
  <div class="content-navi__information">
    <h1>Asbestos Exposure and Mesothelioma Risk abroad USS Currituck (AV-7)</h1>
    <div class="bar"></div>
    <p>
      The USS Currituck (AV-7) was a seaplane tender built at the Philadelphia
      Navy Yard and named after the Currituck Sound in North Carolina. The
      ship's construction began on December 14, 1942, and it was launched on
      September 11, 1943. The USS Currituck was commissioned on June 26, 1944,
      and served the United States Navy until it was decommissioned on October
      31, 1967. The vessel was eventually stricken from the Naval Vessel
      Register on April 1, 1971, and sold for scrapping later that year. During
      its time in service, the USS Currituck (AV-7) was constructed using
      various asbestos-containing materials, which were commonly used in
      shipbuilding at the time. These materials were known for their heat
      resistance, insulation, and fireproofing properties, making them ideal for
      use in naval vessels. However, the presence of asbestos onboard the USS
      Currituck (AV-7) put the crew at risk of developing mesothelioma from
      asbestos exposure.
    </p>
  </div>
  <div class="claims-economy">
    <div class="claims-economy__text">
      <div class="context">
        <h3>
          Navy Veterans Mesothelioma and Asbestos Claims for Exposure aboard
          Currituck (AV-7)
        </h3>
        <div class="bar"></div>
      </div>
      <div class="logo">
        <img src="../../img/FinanceIcons.svg" alt="" />
      </div>
    </div>
    <p>
      If You are a Navy veteran that served on Currituck (AV-7) and you are
      diagnosed with an asbestos-related disease, please select that job you use
      to have on this ship, how long you have served and click on “Add to
      Claims” button
    </p>
    <form class="navi-form">
      <div class="second-wrapper">
        <label for="select1">Select Job:</label>
        <select id="select1">
          <option value="">--Select--</option>
          <option value="lista1">Family Member</option>
          <option value="lista2">Listă 2</option>
          <option value="lista3">Listă 3</option>
        </select>
      </div>
      <div class="second-wrapper">
        <label for="select2">start data:</label>
        <select id="select2">
          <option value="">--Select--</option>
          <option value="lista4">One year</option>
          <option value="lista5">Lung Cancer</option>
          <option value="lista6">Asbestosis</option>
        </select>
      </div>
      <div class="second-wrapper">
        <label for="select3">End data:</label>
        <select id="select3">
          <option value="">--Select--</option>
          <option value="lista7">One year</option>
          <option value="lista8">Lung Cancer</option>
          <option value="lista9">Asbestosis</option>
        </select>
      </div>
      <div>
        <button class="button" type="submit">Add to claims</button>
      </div>
    </form>
  </div>
  <div class="navi-equipment">
    <div class="equipment-product">
      <div class="equipment-product__industry">
        <h3>Worthington Industries</h3>
      </div>
      <div class="equipment-product__element">
        <div class="name">
          <h5>Pc.</h5>
          <h5>Equipment and Product</h5>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
      </div>
    </div>
    <div class="equipment-product">
      <div class="equipment-product__industry">
        <h3>Worthington Industries</h3>
      </div>
      <div class="equipment-product__element">
        <div class="name">
          <h5>Pc.</h5>
          <h5>Equipment and Product</h5>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
      </div>
    </div>
    <div class="equipment-product">
      <div class="equipment-product__industry">
        <h3>Worthington Industries</h3>
      </div>
      <div class="equipment-product__element">
        <div class="name">
          <h5>Pc.</h5>
          <h5>Equipment and Product</h5>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
      </div>
    </div>
    <div class="equipment-product">
      <div class="equipment-product__industry">
        <h3>Worthington Industries</h3>
      </div>
      <div class="equipment-product__element">
        <div class="name">
          <h5>Pc.</h5>
          <h5>Equipment and Product</h5>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
        <div class="category">
          <p class="pc">2</p>
          <p class="clasament">Main Feed Boostep Pump</p>
        </div>
      </div>
    </div>
  </div>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
</section>
