<table class="equipment-table">
  <tr>
    <th>Manufacture</th>
    <th >Product</th>
    <th>PC</th>
  </tr>
  <tr>
    <td class="background">Alexander McNab</td>
    <td>Bilge Water Separator</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td class="background">Allis Chalmer Co.</td>
    <td >Turbo-Generator Reduction Gears</td>
    <td >N/A</td>
  </tr>
  <tr>
    <td valign="top" rowspan="2" class="background">Andale</td>
    <td >250 K.W. Turbine Driven Generators</td>
    <td >2</td>
  </tr>
  <tr>
    <td >Feed Pump Control System</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td class="background">Atlas Valve Co.</td>
    <td>Fuel Oil Discharge Strainers</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td valign="top" rowspan="2" class="background">Atwood & Morrill Co.</td>
    <td >Diagrammatic Arrangement of Remote Control for Air Operated Valves</td>
    <td >N/A</td>
  </tr>
  <tr>
    <td >Contaminated Water Evaporator Feed Control</td>
    <td >N/A</td>
  </tr>
 
  
</table>
