<!-- <footer>
  <div class="container">
    <div class="footer-content">
      <div class="request-call">
        <p>Request Callback</p>
        <form action="" class="form-request">
          <div class="select-element">
            <select id="select1">
              <option value="">Select Question Type</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
            <img class="arrow-img" src="../../img/arrow.svg" alt="">
          </div>
          <input type="text" placeholder="Your Name" />
          <input type="text" placeholder="Phone Number" />
          <button class="button-blue">Request</button>
        </form>
      </div>
      <div class="contact">
        <img class="logo-footer" src="../../img/Logo_Footer.svg" alt="" />
        <p>Get in Touch</p>
        <p class="contact__number">(844) 966-1567 support@asbx.org</p>
        <div class="contact-media">
          <p>See You on Social Media</p>
          <img src="../../img/twitter.svg" alt="" />
          <img src="../../img/instagram.svg" alt="" />
          <img src="../../img/facebook.svg" alt="" />
          <img src="../../img/youtube.svg" alt="" />
        </div>
      </div>
      <div class="about-organization">
        <div class="about-organization__content">
          <p>asbx.org is a 501(c)(3) non-profit organization.</p>
          <div class="information">
            <p>privacy policy</p>
            <div class="intermediar-bar"></div>
            <p>term of use</p>
          </div>
          <p class="text-reserv">
            Copyright © 2023 ASBX.ORG. All rights reserved.
          </p>
        </div>
        
        <div class="about-organization__img">
          <img src="../../img/fact-check.png" alt="" />
          <img src="../../img/truste.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-banner">@@include('../common/bottom-banner.html')</div>
</footer> -->
