<footer>
  <div class="container">
   <div class="footer-content">
    <div class="instant-result">
      <img
        class="img-compensation-alternative"
        src="../../img/img-compensation-alternative.png"
        alt=""
      />
      <div class="instant-result__content">
        <p>
          Leverage our expedient calculator, tailored to consider factors such
          as your age, occupations, and job sites.
        </p>
        <b>You will receive an instant result</b>
        <button>Start Here</button>
      </div>
    </div>
    <div class="grup-element">
      <div class="important-links">
        <div class="content-links">
          <p>IMPORTANT LINKS</p>
          <div class="important-links__aplicate">
            <a href="">How to Use ASBX</a>
            <a href="">Join Our Fight</a>
            <a href="">Our Sponsor</a>
            <a href="">Our Sponsor</a>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="contact-content">
          <div class="contact-direct">
            <p class="get-text">Get in Touch</p>
            <p>toll-free: <a href="tel:(844) 966-1567">(844) 966-1567</a></p>
            <p>email: <a href="support@asbx.org"> support@asbx.org</a></p>
          </div>
          <div class="contact-media">
            <img src="../../img/twitter.svg" alt="" />
            <img src="../../img/instagram.svg" alt="" />
            <img src="../../img/facebook.svg" alt="" />
            <img src="../../img/youtube.svg" alt="" />
          </div>
          <div class="contact-about">
            <a href="">Privacy Policy</a> | <a href="">Terms Of Use</a>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  <div class="footer-text">
    <p class="final-text">Copyright © 2023 ASBX.ORG. All rights reserved | ASBX.org is a 501(c)(3) non-profit organization</p>
  </div>
</footer>
