<!-- Main Footer start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="connect">
          <h4>Connect with Us</h4>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="help">
          <a href="#"><i class="fas fa-question-circle"></i> Need More Help?</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>Asbestos</h4>
        <ul>
          <li><a href="#">Asbestos</a></li>
          <li><a href="#">Asbestos</a></li>
          <li><a href="#">Asbestos</a></li>
          <li><a href="#">Asbestos</a></li>
        </ul>
      </div>
      
      
    </div>
    
  </div>
  
</footer>

<!-- Main Footer end -->
