<div class="top-search">
  <div class="bac-color">
    <h2>FIND ASBESTOS COMPENSATION</h2>
  </div>
  <div class="container">
    <div class="top-search__content">
      <div class="individual">
        <label for="diagnosed-with">Diagnosed With:</label>
        <input type="text" id="diagnosed-with" placeholder="Select Diagnosis" />
      </div>
      <div class="individual">
        <label for="worked-in">I worked in:</label>
        <input
          type="text"
          id="worked-in"
          placeholder="Vasile, New Hampshires"
        />
      </div>
      <button class="button-blue">Find</button>
    </div>
  </div>
</div>