<header class="header-section">
  <div class="header-bar">
    <div class="container">
      <div class="header-information">
        <p>Asbestos Exposure Organization</p>
        <div class="contact">
          <i></i>
          <p class="call-number">(844) 966-1567</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="navigation">
      <div class="brand">
        <a href="index.html" aria-current="page" class="w-nav-brand w--current"><img src="../../img//ASBX_logo.png" alt="" class="logo"></a>
        <h4>A NON-PROFIT Organization</h4>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <div class="color">
          <ul class="nav-list">
            <li>
              <a href="#!">Asbestos</a>
            </li>
            <li>
              <a href="#!">Diseases</a>
            </li>
            <li>
              <a href="#!">Occupational</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">Veterans</a>
            </li>
            <li>
              <a href="#!">Trust Funds</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a class="FAQs" href="#!">FAQs</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
  </div>
</header>
