<header class="header-section">
  <div class="container">
    <section class="navigation">
      <div class="brand">
        <a aria-label="Logo Company" href="index.html" aria-current="page" class="w-nav-brand w--current"
          ><img src="../../img/ASBX_logo.svg" alt="" class="logo"
        /></a>
      </div>
      <div class="mobile-brand">
        <a aria-label="Logo Company" href="index.html" aria-current="page" class="w-nav-brand w--current index-image-color"
          ><img src="../../img/Logo Dark Mobile.svg" alt="" class="logo"
        /></a>
        <a aria-label="Logo Company" href="index.html" aria-current="page" class="index-image-logo"
        ><img src="../../img/ASBX_logo.svg" alt="" class="logo"
      /></a>
      </div>
     
      <nav>
        <div id="viewClaims" class="claims-mobile">
          <button onclick="openClaims()">view claims</button>
          <p>0</p>
      </div>
        <div class="nav-mobile">
          <a aria-label="nav-toggle" id="nav-toggle" href="#!"><span></span></a>
        </div>
        <div class="color">
          <ul class="nav-list">
            <li>
              <a href="#!">Asbestos</a>
            </li>
            <li>
              <a href="#!">Diseases</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">High Risk Jobs</a>
            </li>
            <li>
              <a href="#!">Veterans</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="bar-top" href="#!">How to Use ASXB</a>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a class="header-number" href="tel:844-966-1567">844-966-1567</a>
            </li>
           
          </ul>
        </div>
      </nav>
    </section>
  </div>
</header>