<header class="header-section">
  <div class="container">
    <section class="navigation">
      <div class="brand">
        <a href="index.html" aria-current="page" class="w-nav-brand w--current"
          ><img src="../../img/ASBX_logo.svg" alt="" class="logo"
        /></a>
      </div>
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle" href="#!"><span></span></a>
        </div>
        <div class="color">
          <ul class="nav-list">
            <li>
              <a href="#!">Asbestos</a>
            </li>
            <li>
              <a href="#!">Diseases</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">Occupational</a>
            </li>
            <li>
              <a href="#!">Veterans</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="#!">Option 1</a>
                </li>
                <li>
                  <a href="#!">Option 2</a>
                </li>
                <li>
                  <a href="#!">Option 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <button class="button-question">Ask Any Legal Question</button>
            <div class="free-chat">
              <img src="../../img/Vector.svg" alt="">
              <p>free</p>
            </div>
          </ul>
        </div>
      </nav>
    </section>
  </div>
</header>
