<form action="" class="search-asbestos">
  <div class="search-asbestos__text"></div>
  <div class="container top-search">
    <h4>FIND ASBESTOS COMPENSATION</h4>
    <div class="search-form">
      <div class="select-wrapper search-wrapper">
        <label for="search">In</label>
        <div class="input-wrapper">
          <i class="fas fa-map-marker-alt"></i>
          <input
            type="text"
            id="search"
            placeholder="Introdu termenul căutat..."
          />
        </div>
      </div>
      <div>
        <button class="button" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>
