<div class="top-search">
  <div class="container">
    <div class="top-search__information">
      <h2>FIND ASBESTOS COMPENSATION</h2>
      <div class="top-search__content">
        <div class="individual">
          <label for="diagnosed-with">Diagnosed With:</label>
          <input type="text" id="diagnosed-with" placeholder="Search" />
        </div>
        <div class="individual">
          <label for="worked-in">I worked in:</label>
          <input type="text" id="worked-in" placeholder="Search" />
        </div>
        <button class="find-button">Find</button>
      </div>
    </div>
  </div>
</div>
