<section class="page-wrapper">
  <div class="img-back">
    <img src="../../img/asbx-home-page.jpg" alt="" />
    <div class="overlay"></div>
    <div class="container">
      <div class="hero-row">
        <div class="hero-row-context">
          <h1 class="logo-text">ASBX.org</h1>
          <p class="organization-text">Asbestos Exposure Organization</p>
          <h2>Fighting for a healthier future without asbestos Exposure</h2>
          <p>
            ASBX.org, a non-profit organization, is committed to promoting
            knowledge and awareness regarding the adverse effects of asbestos on
            human health. To achieve this mission, ASBX.org has taken the
            initiative to establish the most comprehensive asbestos exposure
            database in North America.
          </p>
        </div>
        <div class="hero-row-form">
          <h3>Compensation for asbestos victims - <span>Made easy</span></h3>
          <div class="hero-row-form__selector">
            <p>What was your first job before 1982?</p>
            <input type="text" placeholder="Select Job Type" />
            <p>Where?</p>
            <input type="text" placeholder="Near" />
            <button class="button-blue">Start</button>
          </div>
          <p class="hero-row-form__text">
            Find out in minutes how much compensation is available for you and
            your family.
          </p>
          <p class="hero-row-form__secure">
            transparent | secure | confidential
          </p>
        </div>
      </div>
    </div>
  </div>
    <div class="index-content">
      <h1>
        More than two million individuals have lost their lives as a result of
        exposure to asbestos.
      </h1>
      <p>
        We understand the challenges that mesothelioma patients and their loved
        ones face, and we can help them overcome these challenges by pursuing
        legal compensation. Navigating through the legal system is overwhelming.
        <b>We’re on a mission to change that</b>. Understanding what your case is worth
        and what your legal options are <b>in a few minutes</b> will give you the
        confidence to start your case immediately. <b>Transparent, Secure &
            Confidential</b>
      </p>
    </div>
</section>
