<section class="page-wrapper">
    <img class="img-back" src="../../img/asbx-home-page.jpg" alt="">
  <div class="container">
    <div class="row">
      <div class="row-context">
        <h1>ASBX.org</h1>
        <p>Asbestos Exposure Organization</p>
        <h2>Fighting for a healthier future without asbestos Exposure</h2>
        <p>
          ASBX.org, a non-profit organization, is committed to promoting
          knowledge and awareness regarding the adverse effects of asbestos on
          human health. To achieve this mission, ASBX.org has taken the
          initiative to establish the most comprehensive asbestos exposure
          database in North America.
        </p>
      </div>
      <div class="">
        <h3>Compensation for asbestos victims - Made easy</h3>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
