<section class="index-page">
  <div class="principal-content">
    <img src="../../img/asbx-home-page.jpg" alt="" />
    <div class="container">
      <div class="hero-content">
        <h1>ASBX</h1>
        <p>Asbestos Exposure Non-Profit Organization</p>
        <h2 class="principal-content-text">
          We are promoting knowledge and awareness regarding the adverse effects
          of asbestos on human health.
        </h2>
      </div>
    </div>
    <div class="container information-hero">
      <div class="statistic">
        <div class="statistic__data">
          <p>+120k</p>
          <span>approved Job Sites</span>
        </div>
        <div class="statistic__data">
          <p>+16k</p>
          <span>Cities</span>
        </div>
        <div class="statistic__data">
          <p>$30B</p>
          <span>Compensation</span>
        </div>
        <div class="statistic__data">
          <p>+89K</p>
          <span>civil defendants</span>
        </div>
      </div>
      <div class="principal-text">
        <p>Fighting for a healthier future without asbestos Exposure</p>
      </div>
    </div>
  </div>
  <div class="index-container">
    <div class="content-statistic">
      <h3>
        More than <span>two million individuals have lost their lives</span> as
        a result of exposure to asbestos.
      </h3>
      <p>
        We understand the challenges that Mesothelioma patients and their loved
        ones face, and we can help them overcome these challenges by pursuing
        legal compensation. Navigating through the legal system is overwhelming.
        <b>We are on a mission to change that.</b> Understanding what your case
        is worth and your legal options in a few minutes will give you the
        confidence to start your case immediately.
      </p>
    </div>
    <div class="our-mision">
      <h2>Our Mission</h2>
      <div class="our-mision__nomerotation">
        <div class="box-element">
          <div class="box-element__content">
            <div class="nomerotation"><p>1</p></div>
            <div class="text">
              <h3>Awareness</h3>
              <p>
                Raise awareness about the health risks of asbestos exposure.
              </p>
            </div>
          </div>
          <div class="box-element__content">
            <div class="nomerotation"><p>2</p></div>
            <div class="text">
              <h3>Empowerment</h3>
              <p>
                Raise awareness about the health risks of asbestos exposure.
              </p>
            </div>
          </div>
          <div class="box-element__content">
            <div class="nomerotation"><p>3</p></div>
            <div class="text">
              <h3>Awareness</h3>
              <p>
                Raise awareness about the health risks of asbestos exposure.
              </p>
            </div>
          </div>
          <div class="box-element__content">
            <div class="nomerotation"><p>4</p></div>
            <div class="text">
              <h3>Awareness</h3>
              <p>
                Raise awareness about the health risks of asbestos exposure.
              </p>
            </div>
          </div>
        </div>
        <div class="section-meso">
          <img class="medical-img" src="../../img/medical-img.png" alt="" />
          <div class="active-section">
            <p>DO YOU HAVE A MESOTHELIOMA CLAIM?</p>
            <button class="button-red">FInd Out Now</button>
            <p>Transparent, Secure and Confidential</p>
          </div>
        </div>
      </div>
    </div>

    <div class="working-stages">
      <h2>How it Works</h2>
      <p class="working-stages__text">
        Unveil Your Asbestos Compensation Instantly
        <b>Your Fast-Track to Justice</b>
      </p>
      <div class="works-step">
        <div class="works-step__box">
          <img src="../../img/Rectangle 34.png" alt="" />
          <span>1</span>
          <p>
            Start by searching your jobs location, add job type and time frames.
            Click <b>“ADD TO YOUR CLAIM”</b> button.
          </p>
        </div>
        <div class="works-step__box">
          <img src="../../img/Rectangle 35.png" alt="" />
          <span>2</span>
          <p>
            Our system will calculate asbestos trust fund claims, companies and
            other sources that may pay your compensation.
          </p>
        </div>
        <div class="works-step__box">
          <img src="../../img/Rectangle 36.png" alt="" />
          <span>3</span>
          <p>
            Get your compensation results available for three (3) asbestos claim
            types instantly, along with payout timelines.
          </p>
        </div>
      </div>
    </div>
    <div class="index-search">
      <h3>
        Initiating the claim process can often be the most challenging step to
        take. <span>Not anymore.</span>
      </h3>
      <div class="index-search__content">
        <p>Search Jobs Location</p>
        @@include('./principal-search.html')
      </div>
    </div>
  </div>
  <div class="choose-asbx">
    <div class="index-container">
      <h2>Why Choose ASBX?</h2>
      <div class="choose-asbx__content">
        <div class="information">
          <h3>No More Unknown</h3>
          <p>
            Integrated with the
            <b>True Mesothelioma Compensation Calculator</b>, ASBX
            <b>geolocation search tool</b> helps individuals find information on
            asbestos-exposure job sites and civil defendants. We provide
            accurate data and empower victims and their families to make
            informed decisions about their future compensation.
          </p>
          <ul class="list-nomerotation">
            <li>The bankruptcy site lists</li>
            <li>Job and industry codes</li>
            <li>Navy Ship records</li>
            <li>Civil site lists</li>
            <li>Product identification for civil defendants</li>
          </ul>
          <div class="docu-sing">
            <p>Start your claim securely online with:</p>
            <img class="docu-sing-img" src="../../img/docuSing.svg" alt="" />
          </div>
          <p class="docu-sing-text">
            Initiate your claims online today, securely powered by the DocuSign
            eSignature platform.
          </p>
        </div>
        <div class="section-meso">
          <img class="choose-med" src="../../img/choose-med.png" alt="" />
          <div class="active-section">
            <p>DO YOU HAVE A MESOTHELIOMA CLAIM?</p>
            <button class="button-red">FInd Out Now</button>
            <p>Transparent, Secure and Confidential</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="state-connection">
    <div class="index-container">
      <h2>Make the Connection</h2>
      <p>
        Search for approved asbestos job sites in your state and find the source
        of your diagnosis.
      </p>
      <ul class="state-list">
        <li><a href="#">Alabama</a></li>
        <li><a href="#">Alaska</a></li>
        <li><a href="#">Arizona</a></li>
        <li><a href="#">Arkansas</a></li>
        <li><a href="#">California</a></li>
        <li><a href="#">Colorado</a></li>
        <li><a href="#">Connecticut</a></li>
        <li><a href="#">Delaware</a></li>
        <li><a href="#">Washington, D.C.</a></li>
        <li><a href="#">Florida</a></li>
        <li><a href="#">Georgia</a></li>
        <li><a href="#">Hawaii</a></li>
        <li><a href="#">Idaho</a></li>
        <li><a href="#">Illinois</a></li>
        <li><a href="#">Indiana</a></li>
        <li><a href="#">Iowa</a></li>
        <li><a href="#">Kansas</a></li>
        <li><a href="#">Kentucky</a></li>
        <li><a href="#">Louisiana</a></li>
        <li><a href="#">Maine</a></li>
        <li><a href="#">Maryland</a></li>
        <li><a href="#">Massachusetts</a></li>
        <li><a href="#">Michigan</a></li>
        <li><a href="#">Minnesota</a></li>
        <li><a href="#">Mississippi</a></li>
        <li><a href="#">Missouri</a></li>
        <li><a href="#">Montana</a></li>
        <li><a href="#">Nebraska</a></li>
        <li><a href="#">Nevada</a></li>
        <li><a href="#">New Hampshire</a></li>
        <li><a href="#">New Jersey</a></li>
        <li><a href="#">New Mexico</a></li>
        <li><a href="#">New York</a></li>
        <li><a href="#">North Carolina</a></li>
        <li><a href="#">North Dakota</a></li>
        <li><a href="#">Ohio</a></li>
        <li><a href="#">Oklahoma</a></li>
        <li><a href="#">Oregon</a></li>
        <li><a href="#">Pennsylvania</a></li>
        <li><a href="#">Puerto Rico</a></li>
        <li><a href="#">Rhode Island</a></li>
        <li><a href="#">South Carolina</a></li>
        <li><a href="#">South Dakota</a></li>
        <li><a href="#">Tennessee</a></li>
        <li><a href="#">Texas</a></li>
        <li><a href="#">Utah</a></li>
        <li><a href="#">Vermont</a></li>
        <li><a href="#">Virgin Islands</a></li>
        <li><a href="#">Virginia</a></li>
        <li><a href="#">Washington</a></li>
        <li><a href="#">West Virginia</a></li>
        <li><a href="#">Wisconsin</a></li>
        <li><a href="#">Wyoming</a></li>
      </ul>
    </div>
  </div>
  <div class="veterans">
    <div class="index-container">
      <h2>ASBX for Veterans</h2>
      <div class="veterans-content">
        <div class="military-forces">
          <h3>Veterans and Mesothelioma</h3>
          <p>
            Many of our country's veterans, who showed extraordinary courage
            while serving, struggle with a hidden and ongoing enemy even after
            their active service. Asbestos exposure during their military
            service has led to severe illnesses, such as mesothelioma and lung
            cancer, which can take decades to develop.
          </p>
          <b>Select Your Branch Below</b>
          <div class="military-forces__img">
            <img src="../../img/Ellipse 10.svg" alt="" />
            <img src="../../img/Ellipse 11.svg" alt="" />

            <img src="../../img/Ellipse 12.svg" alt="" />

            <img src="../../img/Ellipse 13.svg" alt="" />

            <img src="../../img/Ellipse 14.svg" alt="" />
          </div>
        </div>
        <div class="section-meso">
          <img class="military-img" src="../../img/military-index.png" alt="" />
          <div class="active-section">
            <p>We Thank You For Your Service</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lawyer-specialist">
    <div class="index-container">
      <h2>Make a Difference</h2>
      <div class="lawyer-specialist__content">
        <div class="section-meso">
          <img class="lawyer-img" src="../../img/flint-index.png" alt="" />
          <div class="active-section">
            <p>Ethan Flint - Co-Founder ASBX.org</p>
          </div>
        </div>
        <div class="about-lawyer">
          <h3>Advocacy for Responsible Asbestos Management</h3>
          <p>
            One of our core objectives at ASBX.org is to champion policy change
            that strengthens regulations and promotes responsible asbestos
            management. We work tirelessly to advocate for stricter legislation
            and increased enforcement to protect the public from the dangers of
            asbestos exposure. Join us in our fight for a safer future by
            supporting our advocacy efforts and staying informed about ongoing
            policy developments.
          </p>
          <button class="button-red">Learn More about ASBX.org</button>
        </div>
      </div>
    </div>
  </div>
</section>
