<section class="information">
  <div class="container">
    <h2>HOW IT WORKS</h2>
    <div class="description-element">
      <div class="workflow">
        <div class="workflow-number">
          <div class="workflow-number__bar"></div>
          <h1>01</h1>
        </div>
        <div class="workflow-text">
          <p>
            Using the best framework and utilities to meet your business needs.
          </p>
        </div>
      </div>
      <div class="workflow">
        <div class="workflow-number">
          <div class="workflow-number__bar"></div>
          <h1>02</h1>
        </div>
        <div class="workflow-text">
          <p>
            Using the best framework and utilities to meet your business needs.
          </p>
        </div>
      </div>
      <div class="workflow">
        <div class="workflow-number">
          <div class="workflow-number__bar"></div>
          <h1>03</h1>
        </div>
        <div class="workflow-text">
          <p>
            Using the best framework and utilities to meet your business needs.
          </p>
        </div>
      </div>
    </div>
    <div class="select-job">
      <div class="information">
        <h3>Select by Job</h3>
        <a class="bar"></a>
      </div>
      <div class="job-section">
        <div class="job-section__text">
          <p>Ovitae purus soda duis eu ers auctor</p>
        </div>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
        </a>
        <a class="box">
          <div class="city">Arizona</div>
          <div class="funds">5 trust funds</div>
          <div class="arrow"><i class="fas fa-chevron-right"></i></div>
      </a>
      </div>
      <button class="button">View All</button>
    </div>
    <div class="baner-company">
      <div class="baner-company__logo">
        <img src="../../img//ASBX_logo.png" alt="" class="logo" />
      </div>
      <div class="baner-company__text">
        <h1>Quick Asbestos Exposure Calculator</h1>
        <button class="button">Start Here</button>
      </div>
    </div>
    <div class="container-second">
      <div class="left-panel">
        <img src="../../img/Veteran-img.png" alt="" />
      </div>
      <div class="container">
        <div class="right-panel">
          <h2>Are You a Veteran Diagnosed With An Asbestos-Related Disease?</h2>
          <h4 class="orange-text">We Thank You For Your Service</h4>
          <h4>We Help Veterans From All Branches</h4>
          <h4>Please select your branch:</h4>
        </div>
        <div class="military-link">
          <a href=""
            ><div class="military-link__divizion">
              <img src="../../img/Ellipse 13.png" alt="" />
              <p>Air Force</p>
            </div></a
          >
          <a href="">
            <div class="military-link__divizion">
              <img src="../../img/Ellipse 14.png" alt="" />
              <p>Air Force</p>
            </div>
          </a>
          <a href="">
            <div class="military-link__divizion">
              <img src="../../img/Ellipse 15.png" alt="" />
              <p>Air Force</p>
            </div>
          </a>
          <a href="">
            <div class="military-link__divizion">
              <img src="../../img/Ellipse 16.png" alt="" />
              <p>Air Force</p>
            </div>
          </a>
          <a href="">
            <div class="military-link__divizion">
              <img src="../../img/Ellipse 19.png" alt="" />
              <p>Air Force</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
