<div class="content-table">
    <div class="necessary-information">
      <img src="../../img/Fact Check.svg" alt="" />
      <p class="necessary-information__text">Facts &amp; Requirements</p>
      <div class="table-container">
        <div class="left-column">
          <p>Name:</p>
          <p>Location:</p>
          <p class="left-column__about">Asbestos exposure</p>
          <p>Required on Job Between:</p>
          <p>Verified Job-sites:</p>
          <p class="left-column__about">Compensation Source</p>
          <p>Asbestos Trust Funds:</p>
          <p>Civil Defenders:</p>
          <p class="left-column__about">Requirements</p>
          <p>Occupational Exposure:</p>
          <p>Mesothelioma Diagnosis:</p>
        </div>
        <div class="right-column">
          <p>Atlas Flooring</p>
          <p>Miami, Florida</p>
          <p class="none">-</p>
          <p>1965 -1986</p>
          <p>Yes</p>
          <p class="none">-</p>
          <p>2</p>
          <p>unknown</p>
          <p class="none">-</p>
          <p>YES</p>
          <p>YES</p>
        </div>
      </div>
    </div>
    <div class="table-navigator">
      <p>Table of Contents</p>
      <ul>
        <li id="jobSites"><span>Trust Available Compensation</span></li>
        <li id="boilerLocations"><span>Max Available Compensation</span></li>
        <li id="compensationAmounts"><span>Add to Your Claims</span></li>
        <li id="trustFunds"><span>Express Claim Calculator</span></li>
      </ul>
    </div>
  </div>