<div class="military-devision">
    <h1>Air Force</h1>
    <p class="text-paragraf">With a Total Force of more than 689,000 personnel, Airmen work to support all aspects of airpower, which includes five core functions: air superiority; global strike; rapid global mobility; intelligence, surveillance and reconnaissance; and command and control.</p>
    <div class="military-devision__content">
        <img src="../../img/military.png" alt="">
        <p>Air Force basic training is one of the most difficult challenges anyone can undertake. Air Force basic training is one of the most difficult
            Air Force basic training is one of the most difficult challenges anyone can undertake. Air Force basic training is one of the most difficult </p>
    </div>
    <p class="text-paragraf">The Air Force prides itself on excellence, perseverance and has extremely high standards it expects recruits to rapidly start meeting. Recruits are tested physically, mentally, and emotionally.</p>
    <div class="claims-economy">
        <div class="claims-economy__text">
         <div class="context">
             <h3>Navy Veterans Mesothelioma and Asbestos Claims for Exposure aboard Currituck (AV-7)</h3>
             <div class="bar"></div>
         </div>
         <div class="logo">
             <img src="../../img/FinanceIcons.svg" alt="">
         </div>
        </div>
         <p >If You are a Navy veteran that served on Currituck (AV-7) and you are diagnosed with an asbestos-related disease, 
             please select that job you use to have on this ship, how long you have served and click on “Add to Claims” button
         </p>
         <form>
             <div class="second-wrapper">
               <label for="select1">Select Job:</label>
               <select id="select1">
                 <option value="">--Select--</option>
                 <option value="lista1">Family Member</option>
                 <option value="lista2">Listă 2</option>
                 <option value="lista3">Listă 3</option>
               </select>
             </div>
             <div class="second-wrapper">
               <label for="select2">Time on the Ship:</label>
               <select id="select2">
                 <option value="">--Select--</option>
                 <option value="lista4"> One year</option>
                 <option value="lista5">Lung Cancer</option>
                 <option value="lista6">Asbestosis</option>
               </select>
             </div>
             <div>
               <button class="button" type="submit">Add to claims</button>
             </div>
         </form>
     </div>
     <p class="text-paragraf"> Wright-Patterson Air Force Base is a United States Air Force base located in Ohio. It has been identified as a location where many Air Force veterans were exposed to asbestos, a naturally occurring mineral that was widely used in various military equipment and installations. Exposure to asbestos has been linked to numerous health complications, including mesothelioma, lung cancer, and asbestosis.</p>
     <div class="calculate-value">
        <div class="calculate-value__logo">
            <img src="../../img/claims_logo 3.png" alt="">
        </div>
        <h2>Calculate your case value</h2>
        <div class="button">Start Here</div>
    </div>
</div>