<div class="navy-claims-section">
  <h2>Add Currituck (AV-7) to Your Claims</h2>
  <div class="bar"></div>
  <p>
    Please select your job onboard Currituck (AV-7), and the time served on this
    ship. Then please click on “Add + to your claim” button.
  </p>
  <div class="navy-container">
    <img src="../../img/flag-usa.png" alt="" />
    <h3>
      Navy Veterans Mesothelioma Compensation for Asbestos Exposure aboard
      Currituck (AV-7)
    </h3>
    <p>
      If You are a Navy veteran that served on Currituck (AV-7) and you are
      diagnosed with an asbestos-related disease, please select that job you use
      to have on this ship, how long you have served and click on “Add to
      Claims” button
    </p>
    <form class="add-navy">
      <div class="element-division">
        <div class="add-navy__select">
          <p>What was your job?</p>
          <select id="select1">
            <option value="">Select Job</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
        </div>
        <div class="time-served">
          <div class="checkbox">
            <p>Time Served on the Ship</p>
            <div class="checkbox-select">
              <label for="">Less than 1 Year</label>
              <input type="radio" name="drone" id="beforeCheckbox" />
  
              <label for="afterCheckbox">Over 1 Year</label>
              <input type="radio" name="drone" id="afterCheckbox" />
            </div>
          </div>
          <button class="add-button">
            <p>Add +</p>
            <span>to your claim</span>
          </button>
        </div>
      </div>
      <div id="errorMessage" class="error-message">
        <i class="fas fa-exclamation"></i>
        Please select the required boxes
      </div>
    </form>
  </div>
</div>
