<div class="search-principal">
  <div class="container">
    <form action="" class="search-asbestos">
      <div class="second-job">
        <select id="select1">
          <option value="">--Select--</option>
          <option value="lista1">Family Member</option>
          <option value="lista2">Listă 2</option>
          <option value="lista3">Listă 3</option>
        </select>
      </div>
      <div class="search-form">
        <div class="select-wrapper search-wrapper">
          <div class="input-wrapper">
            <i class="fas fa-map-marker-alt"></i>
            <input
              type="text"
              id="search"
              placeholder="Introdu termenul căutat..."
              onfocus="addPadding()"
              onblur="removePadding()"
            />
          </div>
        </div>
        
      </div>
        <button class="button new-buton-adapt" type="submit">Search</button>
    </form>
  </div>
</div>
