<div class="search-principal">
  <div class="container">
    <form action="" class="search-asbestos">
      <div class="search-asbestos__text">
        <h4>FIND ASBESTOS COMPENSATION</h4>
      </div>
      <div class="search-form">
        <div class="select-wrapper search-wrapper">
          <div class="input-wrapper">
            <i class="fas fa-map-marker-alt"></i>
            <input
              type="text"
              id="search"
              placeholder="Introdu termenul căutat..."
              onfocus="addPadding()"
              onblur="removePadding()"
            />
          </div>
        </div>
        <div>
          <button class="button" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
