<div class="header-search">
  <div class="container-search">
    <div class="search-wrapper">
      <form class="search-content" autocomplete="off">
        <input type="hidden" id="search-state" name="state-abbr" value="" />
        <input type="hidden" id="search-city" name="city-name" value="" />
        <input type="hidden" id="search-zip-code" name="zip-code" value="" />
        <input
          type="hidden"
          id="search-jobsite-name"
          name="jobsite-name"
          value=""
        />
        <input type="hidden" id="search-type" name="search-type" value="" />
        <img
          class="search-arrow"
          src="{% static 'common/img/svg/Search-arrow.svg' %}"
          alt="arrow icons"
        />
        <button type="button" class="close-search" onclick="closeSearch()">
          CLOSE
        </button>
        <div class="search-type-wrapper">
          <div class="search-selected-type" onclick="openTypeItem(event)">
            <text> Select Type </text>
          </div>
          <div class="search-type-items">
            <div
              data-type="Location"
              data-src="{% static 'core/img/search/Location.svg' %}"
              class="select-type-item"
              onclick="selectType(this,event)"
            >
              <img
                src="{% static 'core/img/search/Location.svg' %}"
                alt="location icon"
                class="select-type-icon"
              />
              Location
            </div>
            <div
              data-type="Company Name"
              data-src="{% static 'core/img/search/Company.svg' %}"
              class="select-type-item"
              onclick="selectType(this,event)"
            >
              <img
                src="{% static 'core/img/search/Company.svg' %}"
                alt="Company icon"
                class="select-type-icon"
              />
              Company Name
            </div>
            <div
              data-type="Military Installation"
              data-src="{% static 'core/img/search/Military-Installation.svg' %}"
              class="select-type-item"
              onclick="selectType(this,event)"
            >
              <img
                src="{% static 'core/img/search/Military-Installation.svg' %}"
                alt="Military icon"
                class="select-type-icon"
              />
              Military Installation
            </div>
            <div
              data-type="Ship Name"
              data-src="{% static 'core/img/search/Navy.svg' %}"
              class="select-type-item"
              onclick="selectType(this,event)"
            >
              <img
                src="{% static 'core/img/search/Navy.svg' %}"
                alt="Navy icon"
                class="select-type-icon"
              />
              Ship Name
            </div>
          </div>
        </div>
        <div class="search-input-wrapper">
          <div class="search-input-container">
            <input
              aria-label="Search"
              class="search-input"
              name="input_data"
              type="text"
              placeholder="Enter City, State or zip code"
              onkeyup="searchEngine(this)"
              onclick="openItems(event); extendSearch(event)"
            />
            <div class="search-items"></div>
          </div>
          <button class="search-button" aria-label="Search" type="button">
            <img
              class="search-white"
              src="../../img/search-white.svg"
              alt=""
            />
          </button>
        </div>
      </form>
    </div>
    <div class="search-overlay"></div>
  </div>
</div>