<form class="question-card">
  <p class="red-text">I have a legal question regarding:</p>
  <select>
    <option value="compensation, legal advice, lawyers">
      Example: Hilton Hotel
    </option>
    <option value="">select 1</option>
    <option value="">Select 2</option>
    <option value="">Select 3</option>
  </select>
  <input type="text" placeholder="Please Enter Your Name" />
  <input type="text" placeholder="Please Enter Your Email " />
  <div class="input-container">
    <textarea
      class="input-field"
      placeholder="Example: My husband was diagnosed with mesothelioma last year and passed two months ago. How can I receive compensation?"
    ></textarea>
  </div>
  <button class="button-red">Send Question</button>
</form>
