<div class="questions-lawyers">
  <div class="questions-lawyers__topbar">
    <h3>100% Free Legal Consultation for Asbestos Victims</h3>
  </div>
  <div class="container-lawyers">
    <p>
      One of our mission is to make
      <b>the power of the law accessible to everyone.</b>
      Through advanced technological solutions, we collaborate with top-notch
      <b>asbestos mesothelioma lawyers</b> who offer
      <b>free legal consultation</b>. Our ultimate goal is to create a bridge
      between those in need and the organizations that can help.
    </p>
    <div class="questions-lawyers__select">
      <div class="general-select">
        <div class="select-lawyers">
          <p>I have a legal question regarding:</p>
          <select id="select1">
            <option value="">Please Select</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
        </div>
        <div class="profesion">
          <p>I am:</p>
          <select id="select1">
            <option value="">Please Select</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
        </div>
      </div>
      <div class="input-container">
        <textarea
          class="input-field"
          placeholder="Example: My husband was diagnosed with mesothelioma last year and passed two months ago. How can I receive compensation?"
        ></textarea>
      </div>
    </div>
    <div class="lawyers-information">
      <div class="lawyers-information__elements">
        <p>Your question will be answered by:</p>
        <div class="lawyers-information__content">
          <img src="../../img/lawyers-img.png" alt="" />
          <div class="data">
            <p class="name">Ethan Flint</p>
            <p class="disease">Mesothelioma Attorney</p>
            <p class="experience">Experience: <span>17 Years</span></p>
          </div>
        </div>
      </div>
      <button class="button">Request Answer</button>
    </div>
  </div>
</div>
