<div class="top-search-mobile">
  <div class="container">
    <div class="breadcrumb">
        <a href="#">Home</a>
        <span>|</span>
        <a href="#">Florida</a>
        <span>|</span>
        <a href="#">Miami</a>
        <span>|</span>
        <span class="last-element">Mesothelioma Compensation</span>
      </div>
      
    <div class="button-search-mobile">
      <button class="search-button">
        <img src="../../img/search-user.svg" alt="" />
        Find claims, compensation, legal advice
      </button>
    </div>
    <p>
      Search result for available mesothelioma compensation sources and amounts
      in Miami, FL.
    </p>
  </div>

  <div class="search-block">
    <div class="search-dat">
        <div class="search-mobile">
            
        </div>
    </div>
  </div>
</div>
