<div class="top-search-mobile">
  <div class="container">
    <div class="button-search-mobile">
      <button id="open-search-block" class="search-button">
        <img src="../../img/search-user.svg" alt="" />
        Find claims, compensation, legal advice
      </button>
    </div>
  </div>

  <div id="search-block" class="search-block">
    <div class="search-dat">
      <div class="search-mobile">
        <img class="search-img" src="../../img/search-user.svg" alt="" />
        <div class="search-mobile__compensation">
          <input
            type="text"
            id="compensation-input"
            placeholder="Find claims, compensation, legal advice"
            oninput="handleInput('compensation-input')"
          />
          <div class="element-claims">
            <ul>
              <li onclick="populateInput(this)">
                <img src="../../img/donate.svg" alt="" />
                <p>Mesothelioma Compensation</p>
              </li>
              <li onclick="populateInput(this)">
                <img src="../../img/donate.svg" alt="" />
                <p>Lung Cancer Compensation</p>
              </li>
              <li onclick="populateInput(this)">
                <img src="../../img/donate.svg" alt="" />
                <p>Severe Asbestosis Compensation</p>
              </li>
              <li onclick="populateInput(this)">
                <img src="../../img/user check.svg" alt="" />
                <p>Free Legal Advise (talk to an attorney)</p>
              </li>
              <li onclick="populateInput(this)">
                <img src="../../img/location.svg" alt="" />
                <p>Add a missing asbestos site to the data base</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- Butonul de ștergere, cu id-ul "close-button-compensation" -->
        <img
          id="close-button-compensation"
          src="../../img/close.svg"
          alt=""
          onclick="clearInput('compensation-input')"
        />
      </div>
      <div class="location-mobile">
        <img class="location-img" src="../../img/location 1.svg" alt="" />
        <input
          type="text"
          id="location-input"
          placeholder="Current Location"
          oninput="handleInput('location-input')"
        />
        <img
          id="close-button-location"
          src="../../img/close.svg"
          alt=""
          onclick="clearInput('location-input')"
        />
      </div>

      <div class="button-action">
        <button id="close-search-block" class="close">Close</button>
        <button class="search">Search</button>
      </div>
    </div>
  </div>
</div>
