<div class="top-search-mobile">
  <div class="container">
    <div class="breadcrumb">
      <a href="#">Home</a>
      <span>|</span>
      <a href="#">Florida</a>
      <span>|</span>
      <a href="#">Miami</a>
      <span>|</span>
      <span class="last-element">Mesothelioma Compensation</span>
    </div>

    <div class="button-search-mobile">
      <button class="search-button">
        <img src="../../img/search-user.svg" alt="" />
        Find claims, compensation, legal advice
      </button>
    </div>
    <p>
      Search result for available mesothelioma compensation sources and amounts
      in Miami, FL.
    </p>
  </div>

  <div class="search-block">
    <div class="search-dat">
      <div class="search-mobile">
        <img class="search-img" src="../../img/search-user.svg" alt="" />
        <div class="search-mobile__compensation">
          <input type="text" placeholder="Find claims, compensation, legal advice" 
          />
          <div class="element-claims">
            <ul>
                <li><img src="../../img/donate.svg" alt=""><p>Mesothelioma Compensation</p></li>
                <li><img src="../../img/donate.svg" alt=""><p>Lung Cancer Compensation</p></li>
                <li><img src="../../img/donate.svg" alt=""><p>Severe Asbestosis Compensation</p></li>
                <li><img src="../../img/user check.svg" alt=""><p>Free Legal Advise (talk to an attorney)</p></li>
                <li><img src="../../img/location.svg" alt=""><p>Add a missing asbestos site to the data base</p></li>
            </ul>
          </div>
        </div>
        <img src="../../img/close.svg" alt="" />
      </div>
      <div class="location-mobile">
        <img class="location-img" src="../../img/location 1.svg" alt="" />
        <input type="text" placeholder="Current Location"/>
        <img src="../../img/close.svg" alt="" />
      </div>
      <div class="button-action">
        <button class="close">Close</button>
        <button class="search">Search</button>
      </div>
    </div>
  </div>
</div>
