<!-- <div class="state-search">
    <h1>Select Your City</h1>
    <div class="search-container">
        <div class="search-container__bar">
            <input type="text" placeholder="Search more blogs ..." class="search-input">
            <button class="search2-button">Search</button>
        </div>
        <div class="search-bar"></div>
    </div>
    <div class="categories">
        <h4>Sorting:</h4>
        <div class="category">A...D</div>
        <div class="category">E...H</div>
        <div class="category">I...M</div>
        <div class="category">N...R</div>
        <div class="category">S...V</div>
        <div class="category">W...Z</div>
    </div>
</div> -->