<div class="template-compensation">
  <h2>Quick Asbestos Compensation Calculator</h2>
  <p>
    If you are not sure of all asbestos exposure details, you can use this
    express case value calculator to find out in few minutes how much
    compensation is available for you or your family
  </p>
  <div class="quick-compensation">
    <div class="quick-compensation__text">
      <h2>Quick Asbestos Exposure Compensation Calculator</h2>
      <p>
        We advise Family Members of a mesothelioma or lung cancer victim to use
        this quick asbestos claim calculator.
      </p>
      <button>Start Here</button>
    </div>
    <img src="../../img/quick-asbestos.png" alt="" />
  </div>
</div>
