<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--content add logo image link-->
    <meta property="og:image" content="" />
    <!--content add description of the page-->
    <meta property="og:description" content="" />
    <!--description of the page, key words-->
    <meta name="description" content="" />

<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <title>Dr. Reza Nazemi, MD homepage</title>
    <!--use this for fav icon-->
    <!-- <link rel="icon" href="img/favIco/favicon.ico" type="image/x-icon"> -->
    <link rel="icon" type="image/png" href="img/favIco/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favIco/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favIco/apple-touch-icon.png" >
    <link rel="apple-touch-icon" sizes="192x192" href="img/favIco/android-chrome-192x192.png" >
    <link rel="apple-touch-icon" sizes="384x384" href="img/favIco/android-chrome-384x384.png" >

    <link rel="stylesheet" href="css/libs.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <script
      src="https://kit.fontawesome.com/1a43954746.js"
      crossorigin="anonymous"
    ></script>

  </head>

  <body>

