<div class="boottom-navigation">
  <div class="boottom-navigation__element">
    <img src="../../img/search-baner-boot.svg" alt="" />
    <p>Search Claims</p>
  </div>
  <div class="boottom-navigation__element" onclick="openClaims()">
    <img src="../../img/claims-baner-boot.svg" alt="" />
    <div class="claims-select-data">
      <span class="claims-select-data__number">0</span>
    </div>
    <p>View Claims</p>
  </div>
  <div class="boottom-navigation__element">
    <img src="../../img/calculate-baner-boot.svg" alt="" />
    <p>Express Calculator</p>
  </div>
</div>
