<div class="general-claims">
  <p id="close-claims-calculator" class="close-claims-calculator">Close</p>
  <div class="claims-selected">
    <img src="../../img/calculator_iconred.svg" alt="" />
    <div class="content-information">
      <h2>Claims Selected</h2>
      <div class="back-ground">
        <p>10</p>
      </div>
      <p>From 3 Jobs</p>
      <div class="claims-buttons">
        <button>Calculate</button>
        <button>Add Job Location</button>
      </div>
    </div>
  </div>
  <div class="claims-result" id="active">
    <div
      id="principal-information"
      class="claims-result__principal-information"
      onclick="toggleClaims(this)"
    >
      <img class="city-img" src="../../img/State.svg" alt="" />
      <p>Schlitz Brewing Company</p>
      <img class="arrow-claim" src="../../img/arrow-claims.svg" alt="" />
    </div>
    <div class="claims-result__data-information">
      <div class="data-city">
        <b>City: </b>
        <p>Miami, FL</p>
      </div>
      <div class="data-city">
        <b>Job: </b>
        <p>Laborer</p>
      </div>
      <div class="data-city">
        <b>From:</b>
        <p>1963</p>
      </div>
      <div class="data-city">
        <b>To:</b>
        <p>1971</p>
      </div>
      <button class="button-remove-claims">Remove</button>
    </div>
  </div>

  <div class="claims-result">
    <div
      id="principal-information"
      class="claims-result__principal-information"
      onclick="toggleClaims(this)"
    >
      <img class="city-img" src="../../img/State.svg" alt="" />
      <p>Schlitz Brewing Company</p>
      <img class="arrow-claim" src="../../img/arrow-claims.svg" alt="" />
    </div>
    <div id="data-information" class="claims-result__data-information">
      <div class="data-city">
        <b>City: </b>
        <p>Miami, FL</p>
      </div>
      <div class="data-city">
        <b>Job: </b>
        <p>Laborer</p>
      </div>
      <div class="data-city">
        <b>From:</b>
        <p>1963</p>
      </div>
      <div class="data-city">
        <b>To:</b>
        <p>1971</p>
      </div>
      <button class="button-remove-claims">Remove</button>
    </div>
  </div>
  <div class="claims-result">
    <div
      id="principal-information"
      class="claims-result__principal-information"
      onclick="toggleClaims(this)"
    >
      <img class="city-img" src="../../img/City.svg" alt="" />
      <p>Schlitz Brewing Company</p>
      <img class="arrow-claim" src="../../img/arrow-claims.svg" alt="" />
    </div>
    <div id="data-information" class="claims-result__data-information">
      <div class="data-city">
        <b>City: </b>
        <p>Miami, FL</p>
      </div>
      <div class="data-city">
        <b>Job: </b>
        <p>Laborer</p>
      </div>
      <div class="data-city">
        <b>From:</b>
        <p>1963</p>
      </div>
      <div class="data-city">
        <b>To:</b>
        <p>1971</p>
      </div>
      <button class="button-remove-claims">Remove</button>
    </div>
  </div>
</div>
