<section class="asbestos multiple-page">
  <h1>Guide to the Combustion Engineering 524(g) Asbestos PI Trust</h1>
  <div class="bar"></div>
  <p>
    The Combustion Engineering 524(g) Asbestos PI Trust is a fund established to
    handle asbestos injury claims. The Trust evaluates, liquidates, and pays
    valid claims linked to Combustion Engineering's past asbestos use. The fund
    continues to operate today, accepting new claims for asbestos-related
    injuries.
  </p>

  <div class="component-information">
    <div class="content-summarizer">
      <p class="general-blue-text">Content Summarizer:</p>
      <ol>
        <li>Introduction to Combustion Engineering 524(g) Asbestos PI Trust</li>
        <li>Creation of Combustion Engineering's Asbestos Trust Fund</li>
        <li>Combustion Engineering Payments and Ratio</li>
        <li>Asbestos Usage by Combustion Engineering</li>
        <li>Occupational Asbestos Exposure and Risks</li>
        <li>Legal Assistance with Filing Asbestos Claims</li>
        <li>Contact the Combustion Engineering 524(g) Asbestos PI Trust</li>
      </ol>
    </div>

    <img src="../../img/company_combustion.png" alt="" />
  </div>
  <h2>Introduction to Combustion Engineering Asbestos PI Trust</h2>
  <div class="bar"></div>
  <p>
    The Combustion Engineering 524(g) Asbestos PI Trust, known as "the Trust,"
    was instituted as part of Combustion Engineering Inc.'s (CE) Reorganization
    Plan, as modified through October 7, 2005. The Trust's primary role is to
    evaluate, liquidate, and disburse payments for valid asbestos personal
    injury claims as per the Combustion Engineering 524(g) Asbestos PI Trust
    Distribution Procedures (TDP).
  </p>
  <p>
    In alignment with the TDP, the Trust has developed a comprehensive set of
    policies and procedures for receiving, reviewing, and settling claims
    related to asbestos personal injuries. A mandatory claim form constitutes
    the proof of claim filed with the Trust.
  </p>
  <h2>Creation of Combustion Engineering's Asbestos Trust Fund</h2>
  <div class="bar"></div>
  <p>
    In 2003, the ABB Group claimed Chapter 11 bankruptcy for Combustion
    Engineering to deal with the company's asbestos-related financial
    obligations. However, in October 2005, an agreement was reached,
    establishing the Combustion Engineering 524(g) Asbestos Personal Injury
    Trust. In 2003, the ABB Group filed for Chapter 11 bankruptcy for Combustion
    Engineering to address the company's asbestos liability. An agreement
    reached in October 2005 led to the creation of the Combustion Engineering
    524(g) Asbestos Personal Injury Trust.
  </p>
  <h2>Combustion Engineering Trust Fund Payments and Ratio</h2>
  <div class="bar"></div>
  <p>
    Combustion Engineering 524(g) Asbestos Personal Injury Trust has $1.24
    billion to handle current and future asbestos claims. At present, successful
    claimants receive 18.5% of the total amount. The Trust is still functioning
    and is open to new claims.
  </p>
  <div class="trust-funds-claim">
    <table class="compensation-section__table">
      <tr class="data-column-text">
        <th class="claims-type">Claim Type</th>
        <th>ER Claims</th>
        <th>AVG Claims</th>
        <th>IR Claims</th>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Mesothelioma</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Lung Cancer</td>
        <td>$567,806</td>
        <td>$567,806</td>
        <td>$1,567,806</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Asbestosis</td>
        <td>$806.89</td>
        <td>$1282,90</td>
        <td>$11,206.00</td>
      </tr>
    </table>
  </div>
  <h2>Asbestos Usage by Combustion Engineering</h2>
  <div class="bar"></div>
  <p>
    Combustion Engineering engaged in the manufacturing, utilizing, and
    distribution of a range of asbestos-containing products from the 1930s to
    the mid-1970s. Some of the company's earliest asbestos products included:
  </p>
  <ul>
    <li><p>Welded boilers with asbestos insulation</p></li>
    <li><p>Asbestos-containing insulation materials</p></li>
    <li><p>Asbestos-infused cement materials</p></li>
  </ul>
  <p>
    Boilers, found in over 3,000 locations across many US states, were employed
    by corporations such as Proctor & Gamble, Owens-Illinois, Inc., and Monsanto
    Chemical Company. Moreover, asbestos products were widely used in the
    shipbuilding industry, appearing at shipyards, including Alabama Drydock &
    Shipping Company and several Bethlehem Steel shipyards. Several products
    produced by Combusting Engineering are well-documented to contain asbestos:
  </p>
  <ul class="mark-text">
    <li><p>Block Stick</p></li>
    <li><p>Combustion Engineering Boilers</p></li>
    <li><p>Buck Stay Cement A- 1360</p></li>
    <li><p>Calcrete Insulating Cement</p></li>
    <li><p>Castablock Insulating Cement</p></li>
    <li><p>Expansion Joint Hat</p></li>
  </ul>
  <h2>Occupational Asbestos Exposure and Risks</h2>
  <div class="bar"></div>
  <p>
    Due to Combustion Engineering's hazardous products, numerous professions
    were prone to occupational asbestos exposure. Workers directly engaged with
    asbestos maintenance and production likely faced exposure to harmful
    minerals, particularly during maintenance or material removal tasks.
    Boilermakers faced significant risks while dismantling asbestos-containing
    components like insulation and cement. Professions exposed to asbestos
    include:
  </p>
  <ul>
    <li><p>Boilermaker/Boiler-tender</p></li>
    <li><p>Industrial/Commercial Construction</p></li>
    <li><p>Residential Construction</p></li>
    <li><p>Machinist/Machinist Mate</p></li>
    <li><p>Machinist/Machinist Mate</p></li>
    <li><p>Maintenance Mechanic</p></li>
    <li><p>Maritime/Deckhand</p></li>
    <li><p>Railroad</p></li>
    <li><p>Steelworker</p></li>
  </ul>
  <h2>Assistance with Filing Asbestos Claims from Legal Professionals</h2>
  <div class="bar"></div>
  <p>Legal help is crucial to file asbestos claims for the <b>Combustion Engineering 524(g) Asbestos PI Trust</b>. Experienced asbestos attorneys can navigate the complexities of the Trust Distribution Procedures (TDP), assist individuals with required documentation, and provide valuable guidance on the most beneficial route for your unique situation. 
</p>
<p>We have chosen highly skilled lawyers specializing in asbestos mesothelioma cases who provide free legal consultations to victims. Our goal is to create a bridge between asbestos victims and the organizations that can help.</p>


<h2>Contact Owens Corning Fibreboard Asbestos Personal Injury Trust </h2>
<div class="bar"></div>
<p>You can contact Combustion Engineering 524(g) Asbestos PI Trust at their principal office:</p>
<br>
<p>Combustion Engineering 524(g) Asbestos PI Trust</p>
<p> <b>Address:</b> 1100 N. Market Street, 4th Floor Wilmington, DE 19890</p>
<br>
<b>Claims Administrator:</b>
<p>Verus Claims Services, LLC</p>
<p>Attn: Daniel P. Myer</p>
<p>3967 Princeton Pike</p>
<p>Princeton, New Jersey 08540</p>
</section>
