<section class="near-me">
  <span class="introduction-text"
    >Verified Sources of Mesothelioma Compensation Near You</span
  >
  <h1>
    Facing a mesothelioma diagnosis or dealing with the loss of a loved one?
    Search, locate and calculate the available amounts of
    <span>mesothelioma compensation</span> near you.
  </h1>
  <div class="principal-bar"></div>
  <p class="introduction-text__documentation">
    Puzzled about the reasons behind contracting this life-threatening asbestos
    disease? Begin your quest to uncover all available financial resources that
    come from the responsible and liable companies that exposed you or your
    family to asbestos. Discover your amount of financial mesothelioma
    compensation near you.
  </p>

  <form class="jobsite-card">
    <div class="jobsite-card__content">
      <div>
        <h2><a href="">Atlas Flooring</a></h2>
        <p>City: Miami, FL</p>
        <div class="jobsite-card__sorting">
          <select id="jobTitleSelect">
            <option value="">Select Your Job</option>
            <option value="lista1">Carpenter</option>
            <option value="lista2">Welder</option>
            <option value="lista3">Listă 3</option>
          </select>
          <div class="form-element">
            <div class="from-data">
              <p>From</p>
              <select id="fromYearSelect">
                <option value="">1964</option>
                <option value="lista1">1970</option>
                <option value="lista2">1980</option>
                <option value="lista3">1982</option>
              </select>
            </div>
            <div class="to-data">
              <p>To</p>
              <select id="toYearSelect">
                <option value="">1968</option>
                <option value="lista1">1975</option>
                <option value="lista2">1988</option>
                <option value="lista3">1990</option>
              </select>
            </div>
          </div>
        </div>
        <p>Asbestos Trust Funds Available : <span>3</span></p>
      </div>
      <button class="add-button" id="addButton">
        <p>Add +</p>
        <span>to your claim</span>
      </button>
    </div>
    <div id="errorMessage" class="error-message">
      <i class="fas fa-exclamation"></i>
      Please select the required boxes
    </div>
  </form>
  <button class="next-job">NEXT</button>

  <h2>Boiler Locations</h2>
  <div class="bar"></div>
  <form class="boiler-card">
    <div class="boiler-card__content">
      <div class="add-boiler">
        <h2><a href="">107 Dry Cleaners</a></h2>
        <p><b>Address:</b> 123 Apple Str. Miami, FL 12345</p>
        <p><b>Boiler Manufacturer:</b> Mercedes Benz</p>
        <div class="add-boiler__select">
          <select id="select1">
            <option value="">Select Job</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
          <div class="checkbox">
            <label for="beforeCheckbox">Before 1990</label>
            <input type="checkbox" id="beforeCheckbox" />
            <br />
            <label for="afterCheckbox">After 1990</label>
            <input type="checkbox" id="afterCheckbox" />
          </div>
        </div>
      </div>
      <button class="add-button" id="boilerButton">
        <p>Add +</p>
        <span>to your claim</span>
      </button>
    </div>
    <div id="errorMessageBoiler" class="error-message">
      <i class="fas fa-exclamation"></i>
      Please select the required boxes
    </div>
  </form>
  <button class="next-boiler">NEXT</button>
  <h2>Related Mesothelioma Compensation Information</h2>
  <div class="bar"></div>
  <p>
    <b>All victims of asbestos exposure diagnosed with mesothelioma</b> are
    entitled to financial compensation. This compensation can come from
    settlements, verdicts, or awards from asbestos trust funds. These funds have
    been established to provide financial support to victims and their families
    impacted by mesothelioma.
  </p>
  <h3>Who is eligible for mesothelioma compensation?</h3>
  <p>
    Anyone diagnosed with mesothelioma who can prove they were exposed to
    asbestos through no fault is eligible for mesothelioma compensation. This
    includes workers who were exposed to asbestos on the job, family members of
    workers who brought home asbestos fibers on their clothing, and individuals
    who lived near asbestos mines or factories.
  </p>
  <h3>
    What factors are considered when determining mesothelioma compensation?
  </h3>
  <p>
    The amount of compensation a victim of mesothelioma is eligible for depends
    on many factors. These factors include the
    <b
      >severity of the victim's illness, age, length of time they were exposed
      to asbestos, the extent of their suffering</b
    >, and <b>financial losses</b>. In addition, the compensation amount will
    also take into account the <b>victim's medical expenses, lost wages</b>, and
    <b>other damages.</b>
  </p>
  <h3>What is the average amount of mesothelioma compensation?</h3>
  <p>
    The average amount of mesothelioma compensation can vary, depending on the
    specific circumstances of each case. Some victims may receive compensation
    as a settlement, ranging from a few thousand dollars to millions of dollars.
    Others may accept a verdict, which is a court-ordered award. The average
    mesothelioma compensation award is typically in the range of $1 million to
    $2 million.
  </p>
  <div class="compensation-asabestos">
    <h2>Quick Asbestos Compensation Calculator</h2>
    <p>
      Find out in few minutes how much compensation is available for you or a
      family member
    </p>
  </div>
  @@include('../common/case-compensation.html')
  <h2>How ASBX.ORG Can Help You With Mesothelioma Compensation?</h2>
  <div class="bar"></div>
  <p>
    The best approach to embark on your asbestos claims or kickstart a
    mesothelioma lawsuit is by arming yourself with detailed knowledge
    pertaining to your specific case. ASBX.org, a non-profit organization, is
    dedicated to assisting mesothelioma patients and their families in compiling
    the essential information and unveiling three diverse mesothelioma
    compensation alternatives, all just a few clicks away.
  </p>
  <h3>How does it works?</h3>
  <ul>
    <li>
      Search by cites or locations where you or a family member used to work
    </li>
    <li>
      Ones you found it, select your job-type and time frame that you have
      worked at that location
    </li>
    <li>Click on “Add to your claim”button</li>
    <li>
      Repeat with as many locations you can remember (including different states
      and job-type)
    </li>
    <li>
      When finished, click on “Calculate My Claims” button and follow the
      prompt.
    </li>
    <li>
      DONE, Your three different compensation option results are being
      calculated.
    </li>
  </ul>
  <h3>What if I don’t find my work exposure location?</h3>
  <p>
    No problem. Start the Asbestos Case Value Calculator and follow the
    questionnaire.
  </p>
  <h3>How much does it cost?</h3>
  <p>
    ASBX.org a non-profit organization and is an absolute free service for you.
  </p>
  <h3>Can ASBX.org help me find legal help with my case?</h3>
  <p>
    <b>YES</b>, our sponsors comprise some of the nation's foremost experts in
    mesothelioma law. They stand ready to provide <b>FREE</b> answers to any
    mesothelioma legal question you might have.
  </p>
  <h3>How can you I get involved with ASBX.org ?</h3>
  <p>
    You can get involved with ASBX.org by helping us discover new sources of
    asbestos exposure locations in your area. ASBX.org is is committed to
    promoting knowledge and awareness regarding the adverse effects of asbestos
    on human health. <a href="">Start Here</a>
  </p>
</section>
