<section class="lawyers container-desktop">
  @@include('../common/breadcrumb.html')
  <div class="lawyer-about">
    <img class="lawyer-about__img" src="../../img/EthanFlint.png" alt="" />
    <div class="lawyers-data">
      <h1>Ethan Flint</h1>
      <p>Mesothelioma Attorney</p>
      <p><b>Experience:</b> 17 Years</p>
      <div class="contact">
        <div class="number">
          <img src="../../img/call.svg" alt="" />
          <a href="tel:(844) 678-9445">(844) 678-9445</a>
        </div>
        <div class="message">
          <img src="../../img/message.svg" alt="" />
          <a href="mailto:eflint@asbx.org">eflint@asbx.org</a>
        </div>
      </div>
    </div>
  </div>
  <div class="lawyers-information">
    <h2>Ethan - A Leading Attorney in Asbestos and Mesothelioma Cases</h2>
    <div class="bar"></div>
    <p>
      Jill spearheads the firm's asbestos bankruptcy division, leveraging her
      two decades of experience in toxic tort cases. She specializes in
      representing plaintiffs in asbestos and mesothelioma cases, assessing
      potential new cases with a keen eye for detail. Jill aids victims of
      mesothelioma and lung cancer, harmed by asbestos exposure, in securing
      recovery through the bankruptcy trust claim process. Before her current
      role, Jill excelled in personal injury and wrongful death civil
      litigation, focusing on asbestos exposure victims. Her civil practice
      involved comprehensive discovery, efficient negotiations, and lien
      resolution. She has successfully secured approximately $700 million in
      settlements for clients, demonstrating her proficiency in asbestos-related
      cases, making her an excellent choice to represent ASBX.org clients.
    </p>
  </div>
    <div class="container-faq">
      <div class="faq-item">
        <h3 class="faq-question">
          Will Mesothelioma ever be curable? <span class="toggle-icon"></span>
        </h3>
        <p class="faq-answer">
          Future advances in medical research could lead to a cure for
          Mesothelioma. Scientists and doctors are continuously researching and
          testing new treatments. Currently, there isn't a definitive cure, but
          treatments can help manage the disease and improve patients' quality
          of life. We get one step closer to finding a cure with each new
          discovery.
        </p>
      </div>

      <div class="faq-item">
        <h3 class="faq-question">
          Will Mesothelioma kill you? <span class="toggle-icon"></span>
        </h3>
        <p class="faq-answer">
          Future advances in medical research could lead to a cure for
          Mesothelioma. Scientists and doctors are continuously researching and
          testing new treatments. Currently, there isn't a definitive cure, but
          treatments can help manage the disease and improve patients' quality
          of life. We get one step closer to finding a cure with each new
          discovery.
        </p>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          Will Mesothelioma kill you? <span class="toggle-icon"></span>
        </h3>
        <p class="faq-answer">
          Future advances in medical research could lead to a cure for
          Mesothelioma. Scientists and doctors are continuously researching and
          testing new treatments. Currently, there isn't a definitive cure, but
          treatments can help manage the disease and improve patients' quality
          of life. We get one step closer to finding a cure with each new
          discovery.
        </p>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          Will Mesothelioma kill you? <span class="toggle-icon"></span>
        </h3>
        <p class="faq-answer">
          Future advances in medical research could lead to a cure for
          Mesothelioma. Scientists and doctors are continuously researching and
          testing new treatments. Currently, there isn't a definitive cure, but
          treatments can help manage the disease and improve patients' quality
          of life. We get one step closer to finding a cure with each new
          discovery.
        </p>
      </div>
      <div class="faq-item">
        <h3 class="faq-question">
          Will Mesothelioma kill you? <span class="toggle-icon"></span>
        </h3>
        <p class="faq-answer">
          Future advances in medical research could lead to a cure for
          Mesothelioma. Scientists and doctors are continuously researching and
          testing new treatments. Currently, there isn't a definitive cure, but
          treatments can help manage the disease and improve patients' quality
          of life. We get one step closer to finding a cure with each new
          discovery.
        </p>
      </div>
    </div>

  <div class="banner-military">
    <img class="background-banner" src="../../img/img-banner.png" alt="" />
    <div class="banner-military__element">
      <p class="banner-military__general-text">
        Do You or Someone You Know Suffer from Mesothelioma?
      </p>
      <span>You Deserve to be Compensated</span>
      <div class="banner-military__button">
        <button class="button-red">MySelf</button>
        <button class="button-blue">Family</button>
      </div>
    </div>
  </div>

  <div class="claims-select">
    @@include('./claims-calculator.html')
  </div>
</section>
