<section class="city-content">
  @@include('../common/breadcrumb.html')
  <h1>
    Mesothelioma Compensation for Asbestos Victims that Worked and Lived in
    Miami, FL
  </h1>
  <p class="data-info">
    Search results for available mesothelioma compensation for asbestos victims
    in Miami, FL.
  </p>
  <img class="mobile-flag-img" src="../../img/fact-check-group.svg" alt="" />
  <div class="content-table">
    <div class="required-asbx">
      <p class="required-asbx__title">Content Summarizer</p>
      <span>Asbestos Exposure & Trust(s)</span>
      <p>
        <b> 102 verified job sites. 16 Asbestos trust funds</b> may provide
        compensation for those affected by mesothelioma.
      </p>
      <span>Exposure by Boilers</span>
      <p>
        Additionally,<b> 516 boilers locations</b> that could serve as civil
        defendants for mesothelioma victims that worked at boiler-related jobs.
      </p>
      <span>Requirements for Obtaining Mesothelioma Compensation</span>
      <div class="block-data">
        <p><b>Jobs Location:</b> Miami, FL</p>
        <p><b>Between:</b> 1929 - 1986</p>
        <p><b>Occupational Exposure:</b> Yes</p>
        <p><b>Mesothelioma Diagnosis:</b> Yes</p>
      </div>
    </div>
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
      <div class="content-summarizer">
        <span>Table of Contents</span>
        <ol>
          <li>
            <a href="#first-information">Mesothelioma compensation amounts</a>
          </li>
          <li><a href="#second-information"> Add Jobs to your claim</a></li>
          <li><a href="">Add Boilers to your claim</a></li>
          <li><a href="#third-information">Available trust funds</a></li>
          <li><a href="#fourth-information">100% Free Legal Advice</a></li>
          <li>
            <a href="#fifth-information"
              >Mesothelioma Attorney Helping Miami, FL Asbestos Victims</a
            >
          </li>
          <li>
            <a href="#sixth-information">Mesothelioma Case Value Calculator</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="nearby-cities">
    <span
      >Nearby Cities (20 miles radius) with Verified asbestos exposure:</span
    >
    <ul class="location-list">
      <li><a href="#">North Miami Beach,</a></li>
      <li><a href="#">Miami Beach,</a></li>
      <li><a href="#">South Miami,</a></li>
      <li><a href="#">North Miami Beach,</a></li>
      <li><a href="#">Miami Beach,</a></li>
    </ul>
  </div>
  <h2>Miami, FL : Available Mesothelioma Compensation</h2>
  <div class="bar"></div>
  <p>
    The table below displays the maximum payout that can be combined without any
    ratio calculation.
  </p>
  <table class="compensation-table">
    <tr class="left-column">
      <th>Expedited Review</th>
      <th>Individual Review</th>
    </tr>
    <tr class="right-column">
      <td>$2,030,894</td>
      <td>$6,203,194</td>
    </tr>
  </table>
  <p>
    The trust funds ensure a fixed percentage of compensation known as a
    "ratio," which reserves funds for potential future victims based on the
    claim's worth.
  </p>
  <h2>Miami, FL : Add Job-Sites to Your Mesothelioma Claim</h2>
  <div class="bar"></div>
  <p>
    The amount of mesothelioma compensation you receive is determined by the
    number job sites, the types of jobs you had, and the duration of each job.
  </p>
  <p class="red-text">
    Learn how to add job-sites to your mesothelioma compensation claim
    calculator.
  </p>
  <ol class="walking-steps">
    <li>Search job site by “Name” or by “First Letter”.</li>
    <li>Select job-type that you performed</li>
    <li>Select time frame of your employment</li>
    <li>Click on “Add + to your claim” button</li>
    <li>When finished adding all jobs, click on “Calculate” button</li>
  </ol>
  <p>
    Remember to include as many jobs as you recall in your claims. If you've
    worked in another state, utilize the search bar at the top of the page,
    select your job and city, and add them to your list.
  </p>
  <div class="content-job">
    <form class="content-job__search">
      <p>Search Job Sites by Name</p>
      <div class="select-job">
        <select>
          <option value="compensation, legal advice, lawyers">
            Example: Hilton Hotel
          </option>
          <option value="">select 1</option>
          <option value="">Select 2</option>
          <option value="">Select 3</option>
        </select>
        <button class="button-search" aria-label="Search Button">
          <img src="../../img/search-white.svg" alt="" />
        </button>
      </div>
    </form>
    <div class="search-alphabet">
      <p>Sort by First Letter:</p>
      <div class="alphabet">
        <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>
          <li>E</li>
          <li>F</li>
          <li>G</li>
          <li>H</li>
          <li>I</li>
          <li>J</li>
          <li>K</li>
          <li>L</li>
          <li>M</li>
          <li>N</li>
          <li>O</li>
          <li>P</li>
          <li>R</li>
          <li>S</li>
          <li>T</li>
          <li>U</li>
          <li>V</li>
          <li>X</li>
          <li>Z</li>
          <li>W</li>
        </ul>
      </div>
    </div>
    <div class="content-card-job">
      @@include('../common/job-site-card.html')
      @@include('../common/job-site-card.html')
      @@include('../common/job-site-card.html')
      @@include('../common/job-site-card.html')
    </div>
  </div>
  <div class="page-navigation">
    <ul class="pagination__list">
      <li>
        <a href="" class="pagination__list__prev">
          <span class="sr-only">Previous page</span>
          <i class="fas fa-angle-left"></i>
        </a>
      </li>
      <li>
        <div class="page-button">1</div>
      </li>
      <li>
        <div class="page-button">2</div>
      </li>
      <li>
        <div class="page-button active">3</div>
      </li>
      <li>
        <div class="tuning-fork">...</div>
      </li>
      <li>
        <div class="page-button">6</div>
      </li>
      <li>
        <a href="" class="pagination__list__next">
          <span class="sr-only">Next page</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </div>
  <h2>Miami, FL - 538 Boiler Locations</h2>
  <div class="bar"></div>
  <p>
    If you previously worked in boiler-related jobs and have been diagnosed with
    mesothelioma, you can increase your compensation by including Miami, FL,
    Boiler Locations in your claims.
  </p>
  <p class="red-text">Adding Boiler Location to Your Claims</p>
  <ol class="walking-steps">
    <li>Select job-type that you performed at the location</li>
    <li>Select Before or After 1990’s</li>
    <li>Click on “Add + to your claim” button</li>
  </ol>
  <div class="content-boiler">
    @@include('../common/boiler-card.html')
    @@include('../common/boiler-card.html')
    @@include('../common/boiler-card.html')
    @@include('../common/boiler-card.html')
  </div>
  <button class="button-red button-boiler">
    Next Boiler Locations
    <img src="../../img/arrow-button.svg" alt="" />
  </button>
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
  <h2 class="text-asbestos-link" id="third-information">
    Miami, FL - Available Asbestos Trust Funds
  </h2>
  <div class="bar"></div>
  <p>
    If you seek compensation for mesothelioma in Miami, FL, the list of the 16
    available asbestos trust fund(s) is listed below:
  </p>
  <ul class="trust-list">
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
    <li><a href="#">Johns-Manville Corporation Trust</a></li>
    <li><a href="#">Armstrong World Industries Trust</a></li>
    <li><a href="#">Western Asbestos (Western MacArthur) Trust</a></li>
    <li><a href="#">Babcock & Wilcox Trust</a></li>
    <li><a href="#">Owens Corning Fibreboard Subfund Trust</a></li>
    <li><a href="#">Combustion Engineering Trust</a></li>
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
  </ul>
  <h2 id="fourth-information">
    Receive top-tier legal counsel for mesothelioma cases from leading asbestos
    attorneys in the U. S.
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/non-img.png" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience. Take advantage of a 100% free legal consultation today.
      </p>
    </div>
    @@include('../common/question-card.html')
  </div>
  <div class="container-lawyers">
    <div class="lawyers-information">
      <h2 id="fifth-information">
        Mesothelioma Attorney Helping Miami Mesothelioma Victims
      </h2>
      <div class="bar"></div>
      <p>
        We have selected top-notch asbestos lawyers who offer free legal
        consultation for mesothelioma victims in Miami, FL. Our ultimate goal is
        to create a bridge between asbestos victims and the organizations that
        can help.
      </p>
      <p class="red-text">
        Today <b>08/21/2023</b> your free consultation will be offered by:
      </p>
      <div class="block-lawyers">
        <div class="block-lawyers__about">
          <img src="../../img/lawyers-img-av.svg" alt="" />
          <div class="lawyers-data">
            <h3>Ethan Flint</h3>
            <p>Mesothelioma Attorney</p>
            <p>Experience: 17 Years</p>
          </div>
        </div>
        <div class="contact">
          <div class="number">
            <img src="../../img/call.svg" alt="" />
            <a href="tel:8446789445">(844)678-9445</a>
          </div>
          <div class="message">
            <img src="../../img/message.svg" alt="" />
            <a href="mailto:ethan@asbx.org">ethan@asbx.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('../common/case-compensation.html')
</section>
