<section class="our-sponsor container-desktop">
  <h1>Our Sponsor</h1>
  <div class="sponsor-organisation">
    <img
      class="sponsor-organisation__img"
      src="../../img/flint-cooper-organization.png"
      alt=""
    />
  </div>
  <p class="data-info">
    With over 20 years of experience filing asbestos-related lawsuits and
    asbestos trust fund claims for victims, Flint Cooper is a top national
    asbestos law firm with a solid track record of securing over $15 billion for
    thousands of clients.
  </p>
  <h2>
    Flint Cooper: A Leading Asbestos Law Firm with Over Two Decades of Success
    in Asbestos Lawsuits
  </h2>
  <div class="bar"></div>
  <p>
    In courtrooms across the United States, Flint Cooper asbestos attorneys have
    succeeded in winning awards for wrongful deaths, a success only achievable
    by compassionate professionals who listen to you, your family members, and
    coworkers’ stories. Only by listening to and learning from those stories can
    your situation be better understood and help guide the direction Flint
    Cooper will take to resolve your case successfully.
  </p>
  <h2>
    $15,000,000,000+ Recovered by Flint Cooper in asbestos-related litigation
  </h2>
  <div class="bar"></div>
  <p>
    Flint Cooper applies its knowledge and experience to win trials, not just
    collect settlements, further strengthening its reputation of providing
    clients worldwide with exceptional counsel and unparalleled advocacy.
  </p>
  <h2>Dedicated to Winning Asbestos Trials and Prompting Early Settlements</h2>
  <div class="bar"></div>
  <p>
    Flint Cooper wins trials, not just collects settlements. Over the years,
    asbestos defendants have settled because they know Flint Cooper can prove
    they exposed generations of workers, veterans and family members to
    cancer-causing illnesses. Flint Cooper prepares arduously and is willing to
    take claims to trial, which is primarily the reason most defendants settle
    sooner: to sidestep the uncertainty of a jury’s verdict, to dodge
    embarrassment in the media, to spare themselves greater financial loss, and
    most importantly, to avoid facing Flint Cooper asbestos attorneys in court.
  </p>
  <h2>
    Free Consultation and Contingency-Based Representation for Asbestos Victims
  </h2>
  <div class="bar"></div>
  <p>
    Taking the first step in starting a claim can be the hardest part, but if
    you need an experienced attorney to work for you, please contact Flint
    Cooper today.
  </p>
  <h2 id="fourth-information">
    Receive a free legal consultation from our sponsor, Flint Cooper
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.webp" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
      </p>
      <b class="red-text"
        >Take advantage of a 100% free legal consultation today.</b
      >
    </div>
    @@include('../common/question-card.html')
  </div>
  <div class="claims-select">
    @@include('./claims-calculator.html')
  </div>
</section>
