<section class="state">
  <h1>Florida: Asbestos Exposure Guide</h1>
  <p class="data-info">
    Verified asbestos job sites in Florida cities, liable companies, and
    compensation data for asbestos disease claim types. Use the asbestos claim
    value calculator to make informed decisions before seeking legal counsel.
  </p>
  <div class="general-information-table">
    <div class="content-summarizer">
      <span>Table of Contents</span>
      <ol>
        <li><a href="#first-information">Introduction</a></li>
        <li>
          <a href="#second-information"> Trust Purpose and Functions </a>
        </li>
        <li>
          <a href="#third-information">Claim Submission and Resolution</a>
        </li>
        <li>
          <a href="#third-information">Current Payment by Claim Type</a>
        </li>
        <li>
          <a href="#third-information">USG Asbestos Product</a>
        </li>
        <li>
          <a href="#third-information">USG Trust Direct Contact</a>
        </li>
      </ol>
    </div>
    <img class="state-logo" src="../../img/state-flag.png" alt="" />
  </div>
  <h2>Verified Asbestos Exposure Job-Sites by Florida Cities</h2>
  <div class="bar"></div>
  <p>
    ASBX.org found 227 Florida cities with 1237 verified job sites where
    asbestos exposure occurred and 876 companies that used asbestos-containing
    products or equipment. Additionally, 29 trust funds can be held accountable
    for asbestos-related diseases.
  </p>
  <h3 class="red-text">
    Top 4 cities in Florida with a higher number of asbestos job sites
  </h3>
  <div class="state-content">
    <div class="state-card">
      <img class="cities-top" src="../../img/Jacksonville .png" alt="" />
      <div class="state-card__data">
        <span>Jacksonville</span>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <img class="cities-top" src="../../img/Miami.png" alt="" />
      <div class="state-card__data">
        <span>Jacksonville</span>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <img class="cities-top" src="../../img/Tampa.png" alt="" />
      <div class="state-card__data">
        <span>Jacksonville</span>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <img class="cities-top" src="../../img/Orlando.png" alt="" />
      <div class="state-card__data">
        <span>Jacksonville</span>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
  </div>

  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
  <div></div>
  <h2>Florida Cities with Unverified Asbestos Exposure Job-Sites</h2>
  <p>
    If you have an asbestos-related illness and were employed before the 1990s,
    even at a site not previously identified, please select the city where you
    suspect asbestos exposure. Add your job and employment location to your
    claim and estimate your entitled compensation.
  </p>
  <div class="block-data">
    Taking this step not only aids in your compensation recovery but also helps
    us protect and support other asbestos victims, paving the way for a safer
    environment for upcoming generations.
  </div>
</section>
