<section class="about-us container-desktop">
  <h1>About Us</h1>
  <h2>Our Vision</h2>
  <div class="bar"></div>
  <p>
    The Asbestos Exposure Awareness Center (ASBX) operates with a clear and
    unwavering mission: to provide mesothelioma victims and their families with
    the information they need, to receive the compensation they deserve. Through
    its website, ASBX.org, ASBX equips victims and their families with a vast
    array of resources, covering a wide range of existing asbestos and
    mesothelioma-related research topics. This information empowers
    asbestos-exposed victims and their families to make informed decisions
    regarding their next steps following a mesothelioma diagnosis and prepares
    them to be their own advocates.
  </p>
  <p>
    In addition to a catalog of informational resources, ASBX also provides
    victims and families with an Asbestos Exposure Case Value Calculator, which
    allows them to calculate their potential claim along with a financial
    compensation estimate. The calculator leverages the nation’s largest
    database of industries and employers responsible for asbestos exposure by
    allowing victims and their families to search by state, city, job site
    and/or company. Once a job site and/or company is identified, the Asbestos
    Exposure Case Value Calculator assigns victims and their families a
    personalized value to their claim by processing the details of their
    exposure and finding relevant asbestos trust funds, companies and other
    sources that may pay the compensation.
  </p>
  <p>
    Values from this powerful tool can then be used to establish a dialogue
    between the affected party and some of the nation's top asbestos-related
    disease lawyers. This connection can either be facilitated by ASBX, or users
    may take this data to any attorney with whom they wish to represent them.
  </p>
  <h2>Our Mission</h2>
  <div class="bar"></div>
  <p>
    Decades of asbestos exposure has left tens of thousands of people and their
    families vulnerable to the detrimental effects of this substance. Despite an
    end to its usage in the 1980s, asbestos-laden materials still pose a risk to
    many, and the legacy of this toxic substance still lingers. Mesothelioma can
    take between 20 and 60 years after asbestos exposure to develop, meaning
    that many individuals who were exposed to asbestos several decades ago are
    still at risk of developing mesothelioma or other asbestos-related diseases.
  </p>
  <p>
    ASBX believes that individuals and their families should not bear the burden
    of an asbestos-related disease on their own. The companies who knowingly or
    unknowingly exposed their employees/workers to asbestos can, and should, be
    held accountable for the damage asbestos has caused. Accountability is not
    only a matter of justice but also a fundamental step in preventing further
    harm.
  </p>
  <h2>Our Commitment</h2>
  <div class="bar"></div>
  <p>
    At ASBX, we recognize the urgent need for support, guidance and justice for
    those affected by asbestos. By providing victims and their families with a
    wealth of relevant knowledge and tools for calculating the value of one’s
    case for an asbestos-related disease, we help ensure that victims and their
    families are empowered to seek justice. We understand the significance of
    one’s journey from diagnosis to compensation, and ASBX is committed to
    simplifying what can be an incredibly stressful process, as well as paving a
    path towards a fair resolution.
  </p>
  <h2 id="fourth-information">
    Receive a free legal consultation from our sponsor, Flint Cooper
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.webp" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
      </p>
      <b class="red-text"
        >Take advantage of a 100% free legal consultation today.</b
      >
    </div>
    @@include('../common/question-card.html')
  </div>
</section>
<div id="claims-select-mobile" class="claims-select">
  @@include('./claims-calculator.html')
</div>
