<section class="job-site container-desktop">
  <h1>
    Lehigh Portland Cement Company: Asbestos Exposure Compensation for Affected
    Workers
  </h1>
  <p class="data-info">
    Lehigh Portland Cement Company, Miami, FL: Verified Asbestos Exposure
    Job-Site
  </p>
  <div class="content-table">
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
      <div class="required-asbx">
        <p class="general-blue-text">eligibility criteria</p>
        <div class="block-data">
          <p><b>Jobs Location:</b>Lehigh Portland Cement Company</p>
          <p><b>Location:</b> Miami, FL</p>
          <p><b>Exposure Before:</b> 1982</p>
          <p>
            <b>Diagnosis:</b> Mesothelioma; Lung Cancer or Asbestosis
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="intermediate-bar"></div>
  <div class="content-summarizer">
    <p class="general-blue-text">Table of Contents</p>
    <div class="content-summarizer__notice">
      <div>
        <mark>•</mark> <a href="#first-information">Companies Responsible for Asbestos Exposure</a>
      </div>
      <div>
        <mark>•</mark> <a href="#second-information">High-risk asbestos exposure jobs</a>
      </div>
      <div>
        <mark>•</mark> <a href="#third-information">Available compensation amounts from Trust fund(s)</a>
      </div>
      <div>
        <mark>•</mark> <a href="#fourth-information">Express Asbestos Case Value Calculator</a>
      </div>
    </div>
  </div>
  <h2>Asbestos Exposure: Accountability of Involved Companies</h2>
  <div class="bar"></div>
  <p>
    The company(s) responsible for asbestos exposure at Lehigh Portland Cement
    Company in Miami, FL, have been identified as:
  </p>
  <ul class="mark-text responsible-company">
    <li><a href="">A. P. Green Industries</a></li>
    <li><a href="">Harbison Walker</a></li>
  </ul>
  <p>
    Their asbestos products have caused employees health issues, resulting in
    their liability for asbestos-related diseases.
  </p>
  <h3>Asbestos Products</h3>
  <p>
    Some of the products, potentially linked to asbestos exposure, were used at
    the Lehigh Portland Cement Company:
  </p>
  <div class="content-products">
    <div class="content-products__categorization-cart">
      <p class="general-blue-text">A. P. Green Industries</p>
      <ul class="mark-text">
        <li>Asbestos Cement</li>
        <li>Asbestos Fire</li>
        <li>Greencast</li>
        <li>Insulation Adhesive</li>
        <li>Kast O-Lite Refractory Cement</li>
        <li>Mizzou Firebrick</li>
        <li>Mizzou Firebrick</li>
        <li>No. 36 Refractory</li>
        <li>Refractory Ce</li>
        <li>SK-7 Asbestos Cement</li>
      </ul>
    </div>
    <div class="content-products__categorization-cart">
      <p class="general-blue-text">Harbison Walker</p>
      <ul class="mark-text">
        <li>Block</li>
        <li>Castable Cement</li>
        <li>Cement</li>
        <li>Magnex Asbestos Firebrick</li>
        <li>Metalkase Chromex 8</li>
        <li>Micacrete 7/H-W 21-63</li>
        <li>Nucon 60 Asbestos Firebrick</li>
        <li>Nucon Asbestos Firebrick</li>
        <li>Refractory Brick With Spacers</li>
      </ul>
    </div>
  </div>
  <h2>
    Areas of High-Risk Asbestos Exposure at Lehigh Portland Cement Company:
  </h2>
  <div class="bar"></div>
  <ul class="mark-text">
    <li>6950 W Jefferson</li>
    <li>7940 Livernois Building Ks Whse 2K</li>
    <li>Beacon & Willis Heating Plants - Congress</li>
    <li>Beacon Heating Plant</li>
    <li>Beacon Street Heating Plant</li>
    <li>Building K S - Whse 25</li>
    <li>Building Ks - 7940 Livernois Whse 25</li>
  </ul>
  <h2>High Risk Occupational Asbestos Exposure</h2>
  <div class="bar"></div>
  <p>
    Before 1982, numerous occupations at Lehigh Portland Cement Company in
    Miami, Florida, were at an elevated risk of asbestos exposure. Asbestos was
    extensively used, and inadequate safety measures made these jobs highly
    hazardous:
  </p>
  <ul class="mark-text occupational">
    <li><a href="">Boilermaker / Boiler-tender</a></li>
    <li><a href="">Construction (Industrial / Commercial)</a></li>
    <li><a href="">Construction (Residential)</a></li>
    <li><a href="">Laborer</a></li>
    <li><a href="">Maritime / Deckhand</a></li>
    <li><a href="">Pipefitter / Plumber</a></li>
    <li><a href="">Steelworker</a></li>
  </ul>
  <h2>Available Compensation Amounts</h2>
  <div class="bar"></div>
  <p>
    The table below lists the types of claims based on the diagnosis and the
    compensation amounts offered by trust fund(s) that have sold and distributed
    asbestos-containing products at Lehigh Portland Cement Company in Miami, FL.
    These amounts indicate the combined highest payments that the trust(s) will
    pay upon filing claims, prior to the application of the ratio
    <span class="red-not">*</span>.
  </p>
  
  <div class="sort-chase">
    <div class="sort-chase__content">
      <h3>Miami, FL Mesothelioma Claims</h3>
      <table class="compensation-section__table">
        <thead>
          <tr>
            <th>Claim Type</th>
            <th>Applied Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,098,134</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$2,549,594</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sort-chase__content">
      <h3>Miami, FL Lung Cancer Claims</h3>
      <table class="compensation-section__table">
        <thead>
          <tr>
            <th>Claim Type</th>
            <th>Applied Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,098,134</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$2,549,594</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="legend-ratio">
    <p>
      <span>*</span><b>Ratio</b> = payment percentage of the scheduled value
      established by the trust.
    </p>
  </div>
  <div class="add-to-claims">
    <div class="add-to-claims__text">
      <h2>Add Lehigh Portland Cement Company to your Claims</h2>
      <div class="bar"></div>
      <p>
        By adding Lehigh Portland Cement Company to your asbestos claim
        calculator, you can determine the <b>financial compensation you</b> deserve for
        the harm caused by their exposure of asbestos to you or a loved one.
      </p>
    </div>
    <div class="card-job-site">
      <select class="select-job">
        <option value="compensation, legal advice, lawyers">
          Please Select Your Job
        </option>
        <option value="">select 1</option>
        <option value="">Select 2</option>
        <option value="">Select 3</option>
      </select>
      <p>When did you worked there?</p>
      <div class="data-select">
        <select class="select-from">
          <option value="compensation, legal advice, lawyers">
            From: Select Year
          </option>
          <option value="">select 1</option>
          <option value="">Select 2</option>
          <option value="">Select 3</option>
        </select>
        <select class="select-to">
          <option value="compensation, legal advice, lawyers">
            To: Select Year
          </option>
          <option value="">select 1</option>
          <option value="">Select 2</option>
          <option value="">Select 3</option>
        </select>
      </div>
      <button class="button-red">Add to Your Claim</button>
    </div>
  </div>
  @@include('../common/case-compensation.html')
  <div class="claims-select">
    @@include('./claims-calculator.html')
  </div>
  
</section>
