<section class="job-site">
  <h1>
    Lehigh Portland Cement Company: Asbestos Exposure Compensation for Affected
    Workers
  </h1>
  <p class="data-info">
    Lehigh Portland Cement Company, Miami, FL: Verified Asbestos Exposure
    Job-Site
  </p>
  <div class="content-table">
    <div class="content-summarizer">
      <span>Table of Contents</span>
      <ol>
        <li>
          <a href="#first-information"
            >Companies Responsible for Asbestos Exposure</a
          >
        </li>
        <li>
          <a href="#second-information">High-risk asbestos exposure jobs</a>
        </li>
        <li>
          <a href="#third-information"
            >Available compensation amounts from Trust fund(s)</a
          >
        </li>
        <li><a href="#fourth-information">Add + to your claims</a></li>
        <li>
          <a href="#fifth-information"
            >Express Asbestos Case Value Calculator</a
          >
        </li>
      </ol>
    </div>
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
      <div class="required-asbx">
        <p class="required-asbx__title">eligibility criteria</p>
        <div class="block-data">
          <p><b>Jobs Location:</b>Lehigh Portland Cement Company</p>
          <p><b>Location:</b> Miami, FL</p>
          <p><b>Exposure Before:</b> 1982</p>
          <p>
            <b>Confirmed Diagnosis:</b> Mesothelioma; Lung Cancer or Asbestosis
          </p>
        </div>
      </div>
    </div>
  </div>
  <h2>Asbestos Exposure: Accountability of Involved Companies</h2>
  <div class="bar"></div>
  <p>
    The company(s) responsible for asbestos exposure at Lehigh Portland Cement
    Company in Miami, FL, have been identified as:
  </p>
  <ul class="responsible-company">
    <li><a href="">A. P. Green Industries</a></li>
    <li><a href="">Harbison Walker</a></li>
  </ul>
  <p>
    Their asbestos products have caused employees health issues, resulting in
    their liability for asbestos-related diseases.
  </p>
  <h3 class="red-text">Asbestos Products</h3>
  <p>
    Some of the products, potentially linked to asbestos exposure, were used at
    the Lehigh Portland Cement Company:
  </p>
  <div class="content-products">
    <div class="content-products__categorization-cart">
      <p>A. P. Green Industries</p>
      <ul>
        <li><span>Asbestos Cement</span></li>
        <li><span>Asbestos Fire</span></li>
        <li><span>Greencast</span></li>
        <li><span>Insulation Adhesive</span></li>
        <li><span>Kast O-Lite Refractory Cement</span></li>
        <li><span>Mizzou Firebrick</span></li>
        <li><span>Mizzou Firebrick</span></li>
        <li><span>No. 36 Refractory</span></li>
        <li><span>Refractory Ce</span></li>
        <li><span>SK-7 Asbestos Cement</span></li>
      </ul>
    </div>
    <div class="content-products__categorization-cart">
      <p>Harbison Walker</p>
      <ul>
        <li><span>Block</span></li>
        <li><span>Castable Cement</span></li>
        <li><span>Cement</span></li>
        <li><span>Magnex Asbestos Firebrick</span></li>
        <li><span>Metalkase Chromex 8</span></li>
        <li><span>Micacrete 7/H-W 21-63</span></li>
        <li><span>Nucon 60 Asbestos Firebrick</span></li>
        <li><span>Nucon Asbestos Firebrick</span></li>
        <li><span>Refractory Brick With Spacers</span></li>
      </ul>
    </div>
  </div>
  <h2>
    Areas of High-Risk Asbestos Exposure at Lehigh Portland Cement Company:
  </h2>
  <div class="bar"></div>
  <ul class="high-risk">
    <li><span>6950 W Jefferson</span></li>
    <li><span>7940 Livernois Building Ks Whse 2K</span></li>
    <li><span>Beacon & Willis Heating Plants - Congress</span></li>
    <li><span>Beacon Heating Plant</span></li>
    <li><span>Beacon Street Heating Plant</span></li>
    <li><span>Building K S - Whse 25</span></li>
    <li><span>Building Ks - 7940 Livernois Whse 25</span></li>
  </ul>
  <h2>High Risk Occupational Asbestos Exposure</h2>
  <div class="bar"></div>
  <p>
    Before 1982, numerous occupations at Lehigh Portland Cement Company in
    Miami, Florida, were at an elevated risk of asbestos exposure. Asbestos was
    extensively used, and inadequate safety measures made these jobs highly
    hazardous:
  </p>
  <ul class="occupational">
    <li><span>Boilermaker / Boiler-tender</span></li>
    <li><span>Construction (Industrial / Commercial)</span></li>
    <li><span>Construction (Residential)</span></li>
    <li><span>Laborer</span></li>
    <li><span>Maritime / Deckhand</span></li>
    <li><span>Pipefitter / Plumber</span></li>
    <li><span>Steelworker</span></li>
  </ul>
  <h2>Available Compensation Amounts</h2>
  <div class="bar"></div>
  <p>
    The table below lists the types of claims based on the diagnosis and the
    compensation amounts offered by trust fund(s) that have sold and distributed
    asbestos-containing products at Lehigh Portland Cement Company in Miami, FL.
    These amounts indicate the combined highest payments that the trust(s) will
    pay upon filing claims, prior to the application of the ratio*.
  </p>
  <h2>Florida: Available Compensation Amounts from Trust Funds</h2>
  <div class="bar"></div>
  <p>
    The table below lists the types of claims based on the diagnosis and the
    compensation amounts offered by trust fund(s) that have sold and distributed
    asbestos-containing products at Lehigh Portland Cement Company in Miami, FL.
    These amounts indicate the combined highest payments that the trust(s) will
    pay upon filing claims, prior to the application of the ratio
    <span class="red-not">*</span>.
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <p>Mesothelioma Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Lung Cancer Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Asbestosis Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Other Cancer Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="legend-ratio">
    <p><span>*</span><b>Ratio</b> = payment percentage of the scheduled value established  by the trust.</p>
  </div>
  <div class="add-to-claims">
   <div class="add-to-claims__text">
    <h2>Add Lehigh Portland Cement Company to your Claims</h2>
    <div class="bar"></div>
    <p>
      By adding Lehigh Portland Cement Company to your asbestos claim
      calculator, you can determine the financial compensation you deserve for
      the harm caused by their exposure of asbestos to you or a loved one.
    </p>
   </div>
    <form class="card-job-site">
      <select class="select-job">
        <option value="compensation, legal advice, lawyers">
          Enter Your Job Type
        </option>
        <option value="">select 1</option>
        <option value="">Select 2</option>
        <option value="">Select 3</option>
      </select>
      <p>When did you worked there?</p>
      <div class="data-select">
        <select class="select-from">
            <option value="compensation, legal advice, lawyers">
                From: Select Year
            </option>
            <option value="">select 1</option>
            <option value="">Select 2</option>
            <option value="">Select 3</option>
          </select>
          <select class="select-to">
            <option value="compensation, legal advice, lawyers">
                To: Select Year
            </option>
            <option value="">select 1</option>
            <option value="">Select 2</option>
            <option value="">Select 3</option>
          </select>
      </div>
      <button class="button-red">Add to Your Claim</button>
    </form>
  </div>
  @@include('../common/case-compensation.html')
</section>
