<section class="content-ship container-desktop">
  <h1>
    Compensation for Navy Veterans Exposed to Asbestos onboard USS Abbot
    (DD-629)
  </h1>
  <div class="principal-bar"></div>
  <p class="data-info">
    USS Abbot (DD-629): Verified Source of Asbestos Exposure
  </p>
  <div class="content-table">
    
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
      <div class="required-asbx">
        <p class="general-blue-text">Compensation Requirements</p>
        <div class="block-data">
          <p><b>Jobs Location:</b> Miami, FL</p>
          <p><b>Between:</b> 1929 - 1986</p>
          <p><b>Occupational Exposure:</b> Yes</p>
          <p>
            <b>Diagnosis:</b>
            <span
              ><a href="">Mesothelioma</a> / <a href="">Lung Cancer</a></span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="intermediate-bar"></div>
  <div class="content-summarizer">
    <p class="general-blue-text">Table of Contents</p>

    <div class="content-summarizer__notice">
      <div>
        <mark>•</mark>
        <a href="#first-information" title=""
          >Mesothelioma and Lung Cancer Claims</a
        >
      </div>
      <div>
        <mark>•</mark>
        <a href="#second-information">Add Asbestos Job Sites to Your Claim</a>
      </div>
      <div>
        <mark>•</mark>
        <a href="#third-information">Available asbestos trust funds</a>
      </div>
      <div>
        <mark>•</mark>
        <a href="#fifth-information"
          >Get Answers to Any Asbestos legal question</a
        >
      </div>
      <div>
        <mark>•</mark>
        <a href="#sixth-information"
          >Mesothelioma Attorney for Asbestos Victims in Miami, FL</a
        >
      </div>
      <div>
        <mark>•</mark> <a href="#">Express Mesothelioma Case Calculator</a>
      </div>
    </div>
  </div>
  <h2>USS Abbot (DD-629) History</h2>
  <div class="bar"></div>
  <p>
    The Fletcher-class destroyer, USS Abbot (DD-629), renowned for its service
    from 1943 until decommissioned in 1965, may carry a legacy of asbestos
    exposure for many Navy veterans. Asbestos was frequently used in ship
    construction during this era at Bath Iron Works in Bath, ME, which laid down
    the USS Abbot on September 21, 1942. This highlights the importance of
    exploring compensation options for veterans.
  </p>
  <img class="ship-img" src="../../img/navi-ship.png" alt="" />

  <h2>
    Asbestos Trust Fund(s) Available to Compensate Navy Veterans that Served on
    USS Abbot (DD-629)
  </h2>
  <div class="bar"></div>
  <p>
    Numerous USS Abbot (DD-629) asbestos product suppliers faced lawsuits, filed
    for bankruptcy, and created Asbestos Trust Funds for victim compensation.
    Identified trust fund(s) are:
  </p>
  <ul class="mark-text">
    <li>Babcock & Wilcox</li>
    <li>General Motors</li>
    <li>Leslie Controls</li>
  </ul>

  <h2>Trust Fund(s) Compensation Amounts by Diagnosis</h2>
  <div class="bar"></div>
  <p>
    The tables below represent total asbestos claims from the three (3) asbestos
    trust funds available to compensate navy veterans diagnosed with
    mesothelioma or lung cancer that served aboard USS Abbot (DD-629). These
    payouts are obtained from the most recent scheduled values and adjusted
    according to the relevant ratios*.
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <h3>Miami, FL Mesothelioma Claims</h3>
      <table class="compensation-section__table">
        <thead>
          <tr>
            <th>Claim Type</th>
            <th>Applied Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,098,134</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,098,134</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sort-chase__content">
      <h3>Miami, FL Lung Cancer Claims</h3>
      <table class="compensation-section__table">
        <thead>
          <tr>
            <th>Claim Type</th>
            <th>Applied Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,098,134</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$2,549,594</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="not-text">
    <span class="red-not">*</span> The trust funds ensure a fixed percentage of
    compensation known as a "ratio," which reserves funds for potential future
    victims based on the claim's worth.
  </p>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>

  <!-- baner -->

  <div class="banner-calculator banner-red">
    <img class="logo-claims-baner" src="../../img/logo-claims.svg" alt="" />
    <div class="banner-calculator__element">
      <p class="banner-calculator__general-text">
        Mesothelioma Case Value Compensation Calculator
      </p>
      <div class="banner-calculator__button">
        <button class="button-blue">START HERE</button>
      </div>
    </div>
  </div>

  <div class="banner-calculator banner-blue">
    <img class="logo-claims-baner" src="../../img/logo-claims.svg" alt="" />
    <div class="banner-calculator__element">
      <p class="banner-calculator__general-text">
        Asbestos Exposure Claims Compensation Calculator 
      </p>
      <span>Who was Exposed To Asbestos?</span>
      <div class="banner-calculator__button">
        <button class="button-red">MySelf</button>
        <button class="button-red">Family</button>
      </div>
    </div>
  </div>

  <div class="banner-calculator banner-red">
    <img class="logo-claims-baner" src="../../img/American-flag.svg" alt="" />
    <div class="banner-calculator__element">
      <p class="banner-calculator__general-text">
        Veterans Mesothelioma Compensation Calculator 
      </p>
      <span>Who was Exposed To Asbestos?</span>
      <div class="banner-calculator__button">
        <button class="button-blue">MySelf</button>
        <button class="button-blue">Family</button>
      </div>
    </div>
  </div>

  <div class="banner-calculator banner-blue">
    <img class="logo-claims-baner" src="../../img/American-flag.svg" alt="" />
    <div class="banner-calculator__element">
      <p class="banner-calculator__general-text">
        Veterans Asbestos Exposure Claims Calculator 
      </p>
      <span>Who was Exposed To Asbestos?</span>
      <div class="banner-calculator__button">
        <button class="button-red">MySelf</button>
        <button class="button-red">Family</button>
      </div>
    </div>
  </div>

  <div class="banner-military">
    <img class="background-banner" src="../../img/img-banner.png" alt="">
    <div class="banner-military__element">
      <p class="banner-military__general-text">
        Do You or Someone You Know Suffer from Mesothelioma?
      </p>
      <span>You Deserve to be Compensated</span>
      <div class="banner-military__button">
        <button class="button-red">MySelf</button>
        <button class="button-blue">Family</button>
      </div>
    </div>
  </div>

  <div class="banner-military">
    <img class="logo-claims-baner" src="../../img/American-flag.svg" alt="" />
    <img class="background-banner" src="../../img/baner-veteran.png" alt="">
    <div class="banner-military__element">
      <p class="banner-military__general-text">
        Veterans Asbestos Exposure Claims Calculator 
      </p>
      <span>Who was Exposed To Asbestos?</span>
      <div class="banner-military__button">
        <button class="button-red">MySelf</button>
        <button class="button-blue">Family</button>
      </div>
    </div>
  </div>
  <div class="banner-military">
    <img class="logo-claims-baner" src="../../img/American-flag.svg" alt="" />
    <img class="background-banner" src="../../img/banner-navy-veterans.png" alt="">
    <div class="banner-military__element">
      <p class="banner-military__general-text">
        Navy Veterans Mesothelioma Case Value Calculator 
      </p>
      <div class="banner-military__button">
        <button class="button-red">Start Here</button>
      </div>
    </div>
  </div>

  <!-- end baner -->



  <h2>Add USS Abbot (DD-629) to Your Claims</h2>
  <div class="bar"></div>
  <div class="content-box-ship">
    <p class="content-box-ship__text">
      Please select your job type and the time served onboard USS Abbot
      (DD-629). Click on “Add To Your Claim” button. By adding USS Abbot
      (DD-629) to your asbestos claim calculator, you can determine the
      financial compensation you deserve for the harm caused by asbestos
      exposure.
    </p>
    @@include('../common/job-site-card.html')
  </div>
  <h2>Asbestos Contaminated Equipment on USS Abbot (DD-629)</h2>
  <div class="bar"></div>
  <p>
    The following equipment and products were implemented on board USS Abbot
    (DD-629). It is important to note that the manufacturers of these items may
    be held responsible for any potential asbestos exposure.
  </p>
  <div class="equipment">
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Ship's Service Generator Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Ship's Service Generator Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Ship's Service Generator Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Ship's Service Generator Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
    <div class="equipment-box">
      <a href="">General Electric</a>
      <p><b>Trust Fund Created:</b> YES</p>
      <b class="red-text">Equipment:</b>
      <ul class="mark-text">
        <li>Main Propulsion Turbines</li>
        <li>Ship's Service Generator Turbines</li>
        <li>Relief Valves</li>
      </ul>
    </div>
  </div>
  <h2 id="fourth-information">
    Receive Free Legal Consultation from a Leading Asbestos/ Mesothelioma
    Attorneys
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.webp" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
      </p>
      <b class="red-text"
        >Take advantage of a 100% free legal consultation today.</b
      >
    </div>
    @@include('../common/question-card.html')
  </div>
</section>
