<section class="occupational">
  <h1>Boilerman / Boiler Tender Asbestos Exposure and Mesothelioma</h1>
  <p class="data-info">
    Exploring the past use of asbestos in the boiler industry and the increased
    danger of mesothelioma for laborers
  </p>
  <img class="boiler-general-img" aria-label="BoilerMesothelioma" src="../../img/boiler-general-img.png" alt="" />
  <div class="content-summarizer">
    <span>Table of Contents</span>
    <ol>
      <li>
        <a href="#first-information"
          >Introduction: Boiler Industry's Past Asbestos Use</a
        >
      </li>
      <li>
        <a href="#second-information">The Consequences of Asbestos Exposure</a>
      </li>
      <li>
        <a href="#third-information"
          >Descriptions of Boiler-Related Occupations and Asbestos Exposure</a
        >
      </li>
      <li>
        <a href="#third-information"
          >Available Asbestos Trust Funds for boiler-related jobs</a
        >
      </li>
      <li>
        <a href="#third-information"
          >PMesothelioma Compensation for Boiler-Related Jobs</a
        >
      </li>
    </ol>
  </div>
  <h2>Introduction: Boiler Industry's Past Asbestos Use</h2>
  <div class="bar"></div>
  <p>
    The boiler industry's heavy reliance on asbestos-containing materials before
    the 1990s has left a profound mark on countless workers. Recognizing the
    roles and risks involved is pivotal for understanding the broader
    mesothelioma crisis many industry veterans face today.
  </p>
  <h2>The Consequences of Asbestos Exposure</h2>
  <div class="bar"></div>
  <p>
    It is now widely understood that prolonged exposure to asbestos fibers,
    often disturbed during boiler operations and maintenance, can lead to
    serious respiratory illnesses, including mesothelioma. The latency period
    between exposure and manifestation of symptoms is often decades, leading
    many former workers in the boiler industry to face these risks in their
    later years.
  </p>
  <h2>Boiler-Related Occupations and Asbestos Exposure</h2>
  <div class="bar"></div>
  <p>
    This section provides information on boiler-related occupations and
    potential asbestos exposure:
  </p>
  <ul class="boiler-occupation">
    <li>
      <b>Boiler Coverers:</b> These specialists played a pivotal role in the
      insulation process of boilers. Given the heat-intensive nature of boilers,
      asbestos, known for its insulating and fire-resistant properties, was a
      popular material choice. As a result, boiler coverers had a high
      likelihood of coming into direct contact with asbestos during the
      application process.
    </li>
    <li>
      <b>Boiler Inspector:</b> Tasked with ensuring the safety and optimal
      functionality of boilers, these professionals often encounter
      asbestos-containing materials during inspections. The disassembly or
      inspection of older components meant a higher risk of asbestos fiber
      disturbance.
    </li>
    <li>
      <b>Boiler Insulator:</b> With a primary duty to insulate boilers, these
      workers would frequently use materials laden with asbestos, making them
      susceptible to inhalation of asbestos fibers, especially when applying,
      repairing, or removing insulation.
    </li>
    <li>
      <b>Boiler Maker:</b> These craftsmen were in charge of constructing
      boilers. Given the era's reliance on asbestos for heat resistance, many
      components they worked with during the assembly process might have
      contained this hazardous material.
    </li>
    <li>
      <b>Boiler Mechanic Helper:</b> Supporting boiler mechanics in repair and
      maintenance tasks, these helpers were often near asbestos-containing
      insulations, seals, and other components, putting them at risk of
      exposure.
    </li>
    <li>
      <b>Boiler Operator:</b> Tasked with the daily operations of boiler units,
      these individuals would often face exposure during maintenance, repair, or
      when handling older asbestos-containing parts that might degrade over
      time.
    </li>
    <li>
      <b>Boiler Plant Operator:</b> Overseeing the functioning of extensive
      boiler plants, these operators would supervise operations involving
      machinery and components that incorporated asbestos, especially in older
      setups.
    </li>
    <li>
      <b>Boiler Repair:</b> Workers in this role were on the front lines,
      dealing directly with malfunctioning boilers. This often involved
      handling, replacing, or coming into contact with asbestos-laden parts,
      risking exposure.
    </li>
    <li>
      <b>Boiler Supervisor:</b> Managing boiler operations meant these
      supervisors were regularly around asbestos-containing materials,
      especially when overseeing repairs, replacements, or installations.
    </li>
    <li>
      <b>Boiler Technician:</b> As experts in boiler functionality and
      maintenance, technicians were frequently exposed to asbestos, especially
      when dealing with insulation, seals, and other asbestos-infused
      components.
    </li>
    <li>
      <b>Boiler Tester:</b> Their role required them to test various
      functionalities of boilers, which often meant interacting with parts
      containing asbestos, risking fiber disturbance and inhalation.
    </li>
    <li>
      <b>Boiler Washer:</b> Tasked with cleaning boilers, these workers could
      disturb asbestos fibers, especially when washing older units or
      components.
    </li>
    <li>
      <b>Boiler Worker:</b> Working in various capacities within the boiler
      industry, these general workers would encounter multiple
      asbestos-containing materials during their daily tasks.
    </li>
    <li>
      <b>Boilermaker:</b> Skilled artisans who crafted and mended boilers,
      boilermakers had direct interaction with asbestos products, whether
      through immediate use or incidental contact during their duties.
    </li>
    <li>
      <b>Boilermaker Helper:</b> Aiding boilermakers in their tasks, these
      helpers were invariably exposed to asbestos materials during the
      construction, repair, or maintenance of boilers.
    </li>
    <li>
      <b>Boilermaker Supervisor:</b> Leading teams of boilermakers meant these
      supervisors were often present in environments where asbestos-containing
      components were handled, risking exposure.
    </li>
    <li>
      <b>Boilerman:</b> Much akin to boiler operators, boilermen managed the
      workings of boilers, and given the prevalence of asbestos in older units,
      they faced exposure risks, especially during maintenance.
    </li>
    <li>
      <b>Boilers Mfg. Plant Worker:</b> Employees in plants that produced
      boilers constantly interacted with various components. Given the extensive
      use of asbestos in the past, these workers were at significant risk of
      exposure during their daily operations.
    </li>
  </ul>
  <h2>Available Asbestos Trust Funds for boiler-related jobs</h2>
  <div class="bar"></div>
  <p>
    If you have worked in boiler-related jobs and have been diagnosed with
    mesothelioma or other asbestos-related diseases, you are entitled to
    compensation from some of the 16 asbestos trust funds listed below. Take
    advantage of what you are rightfully owed. Take action now and get the
    compensation you deserve.
  </p>
  <ul class="trust-list">
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
    <li><a href="#">Johns-Manville Corporation Trust</a></li>
    <li><a href="#">Armstrong World Industries Trust</a></li>
    <li><a href="#">Western Asbestos (Western MacArthur) Trust</a></li>
    <li><a href="#">Babcock & Wilcox Trust</a></li>
    <li><a href="#">Owens Corning Fibreboard Subfund Trust</a></li>
    <li><a href="#">Combustion Engineering Trust</a></li>
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
  </ul>
  <h2>Miami, FL : Asbestos Claims by Type and Diagnosis</h2>
  <div class="bar"></div>
  <p>
    The compensation amounts from filed asbestos claims of the 18 available
    trust funds in Miami, FL, are detailed in the tables below. These payouts
    are obtained from the most recent scheduled values and adjusted according to
    the relevant ratios<span class="red-not">*</span>.
  </p>
  <p class="text-exampe">
    <b>For example:</b> If you have only worked in Miami, FL area and during
    your employment(s), you utilized at least one product from each company that
    reorganized into these 18 trust funds, you might be eligible for
    compensation based on your diagnosis.
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <h3>Miami, FL Mesothelioma Claims</h3>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th class="text-initial">Claim Type</th>
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td class="text-initial">Applied Ratio</td>
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <h3>Miami, FL Lung Cancer Claims</h3>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th class="text-initial">Claim Type</th>
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td class="text-initial">Applied Ratio</td>
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <h3>Miami, FL Severe Asbestosis Claims</h3>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th class="text-initial">Claim Type</th>
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td class="text-initial">Applied Ratio</td>
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <h3>Miami, FL Other Cancers Claims</h3>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th class="text-initial">Claim Type</th>
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td class="text-initial">Applied Ratio</td>
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
  @@include('../common/case-compensation.html')
</section>
