<section class="content-ship">
  <div class="container">
    <h1>
      Mesothelioma Compensation for Veterans that Served on USS Currituck (AV-7)
    </h1>
    <div class="bar"></div>
    <p><b>Vassel Class: </b> Seaplane Tenders</p>
    <div class="add-claim">
      <button class="button">Add To Your Claim</button>
      <img src="../../img/Arrow 1.svg" alt="" />
      <p>(this button jump to the BOX)</p>
    </div>
    <div class="content-table-ship">
      <div class="table-navigator">
        <p>Table of Contents</p>
        <ul class="table-navigator__content">
          <li id="jobSites"><span>Currituck (AV-7) - History</span></li>
          <li id="boilerLocations">
            <span>Mesothelioma Compensation Sources</span>
            <p>1. Asbestos Trust Funds</p>
            <p>2. Other Compensation Sources</p>
          </li>
          <li id="compensationAmounts">
            <span>Asbestos Products on Currituck (AV-7) </span>
          </li>
          <li id="trustFunds">
            <span>Add Currituck (AV-7) to your claim</span>
          </li>
          <li id="trustFunds"><span>Get answer to any legal question</span></li>
        </ul>
      </div>
      <div class="ship-img">
        <img src="../../img/Ship.png" alt="" />
        <p>
          Source : <span>Wikipedia. Images may be subject to copyright.</span>
        </p>
      </div>
    </div>
    @@include('../common/navy-claims.html')
  </div>
</section>
