<section class="content-ship">
  <h1>
    Mesothelioma Compensation for Veterans that Served on USS Currituck (AV-7)
  </h1>
  <div class="bar"></div>
  <p><b>Vassel Class: </b> Seaplane Tenders</p>
  <div class="add-claim">
    <button class="button" id="buttonAddClaim">Add To Your Claim</button>
    <img src="../../img/Arrow 1.svg" alt="" />
    <p>(this button jump to the BOX)</p>
  </div>
  <div class="content-table-ship">
    <div class="table-navigator">
      <p>Table of Contents</p>
      <ul class="table-navigator__content">
        <li id="liCurrituck"><span>Currituck (AV-7) - History</span></li>

        <li>
          <span id="liCompensationSources"
            >Mesothelioma Compensation Sources</span
          >
          <p>1. Asbestos Trust Funds</p>
          <p>2. Other Compensation Sources</p>
        </li>
        <li id="liAsbestosProducts">
          <span>Asbestos Products on Currituck (AV-7) </span>
        </li>
        <li id="liAddToClaim">
          <span>Add Currituck (AV-7) to your claim</span>
        </li>
        <li id="liLegalQuestion">
          <span>Get answer to any legal question</span>
        </li>
      </ul>
    </div>
    <div class="ship-img">
      <img src="../../img/Ship.png" alt="" />
      <p>
        Source : <span>Wikipedia. Images may be subject to copyright.</span>
      </p>
    </div>
  </div>
  @@include('../common/navy-claims.html')

  <h2 id="currituckHistory">Currituck (AV-7) History</h2>
  <div class="bar"></div>
  <p>
    The USS Currituck (AV-7) was a seaplane tender built at the Philadelphia
    Navy Yard and named after the Currituck Sound in North Carolina. The ship's
    construction began on December 14, 1942, and it was launched on September
    11, 1943. The USS Currituck was commissioned on June 26, 1944, and served
    the United States Navy until it was decommissioned on October 31, 1967. The
    vessel was eventually stricken from the Naval Vessel Register on April 1,
    1971, and sold for scrapping later that year.
  </p>
  <p>
    During its time in service, the USS Currituck (AV-7) was constructed using
    various asbestos-containing materials, which were commonly used in
    shipbuilding at the time. These materials were known for their heat
    resistance, insulation, and fireproofing properties, making them ideal for
    use in naval vessels. However, the presence of asbestos onboard the USS
    Currituck (AV-7) put the crew at risk of developing mesothelioma, lung
    cancer or other asbestos-related diseases from asbestos exposure.
  </p>
  <h2 id="compensationSources">
    Sources of Mesothelioma Compensation for Navy Veterans that Served on
    Currituck (AV-7)
  </h2>
  <div class="bar"></div>
  <p>
    The sources of monetary compensation for navy veteran diagnosed with
    mesothelioma, lung cancer or other asbestos-related diseases, that served on
    Currituck (AV-7) “contain” the following :
  </p>
  <div class="trust-funds-claim ship-trust">
    <span>Trust Funds = 1</span>
    <h3>Combustion Engineering 524(g) Asbestos PI Trust</h3>

    <table class="compensation-section__table">
      <tr class="data-column-text">
        <th class="claims-type">Claim Type</th>
        <th>ER Claims</th>
        <th>AVG Claims</th>
        <th>IR Claims</th>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Mesothelioma</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Lung Cancer</td>
        <td>$567,806</td>
        <td>$567,806</td>
        <td>$1,567,806</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Asbestosis</td>
        <td>$806.89</td>
        <td>$1282,90</td>
        <td>$11,206.00</td>
      </tr>
    </table>
  </div>
  <div class="legend">
    <p class="legend-text">Legend</p>
    <div class="legend-information">
      <p>ER = Expedite Review claims.</p>
      <p>AVG = Average Review claims.</p>
      <p>IR = Individual Review claims.</p>
      <p>*Paid In = Paid after claims are filed.</p>
      <p>*Ratio = Payment percentage established by the trust.</p>
    </div>
  </div>
  <div class="civil-defendants">
    <span>Civil Defendants = 39</span>
    <h3>
      Companies and Manufacturers Who May be Responsible for Asbestos Exposure
      Onboard of Currituck (AV-7)
    </h3>
    <p>
      If you, or a relative, have been exposed to asbestos while on duty aboard
      the Currituck (AV-7) and you choose to initiate a mesothelioma lawsuit
      following a confirmed medical diagnosis, the subsequent list includes
      various companies, manufacturers, or employers alleged to have contributed
      to harmful asbestos exposure resulting in illness or injury.
    </p>
  </div>
  <h2 id="asbestosProducts">
    Equipment and Products Contaminated with Asbestos used on Currituck (AV-7)
  </h2>
  <div class="bar"></div>
  <p>
    Bellow is a table with equipments and products used onboard or to the build
    of Currituck (AV-7). Manufacturer of this products may be also responsible
    for your exposure to asbestos.
  </p>
  @@include('../common/equipment-tabel.html')
  <div class="navy-claims-section" id="navyClaims">
    @@include('../common/navy-claims.html')
  </div>
  <div class="caopensation-section" scrollToLegalQuestion>
    @@include('../common/case-compensation.html')
  </div>
</section>
