<section class="our-sponsor container-desktop">
  <h1>Our Sponsor</h1>
  <p class="data-info">
    Flint Cooper: Premier Asbestos Law Firm with 20+ Years of Success. We've
    secured over $2 billion for thousands of clients, winning awards for
    wrongful deaths. With a focus on trials, not just settlements, we hold a
    solid reputation for exceptional counsel and advocacy.
  </p>
  <div class="sponsor-organisation">
    <img
      class="sponsor-organisation__img"
      src="../../img/flint-cooper-organization.png"
      alt=""
    />
  </div>
  <div class="content-table">
    <div class="content-summarizer">
      <p class="general-blue-text">Table of Contents</p>
      <div class="content-summarizer__notice">
        <div>
          <mark>•</mark>
          <a href="#first-information">Flint Cooper: Top Asbestos Law Firm</a>
        </div>
        <div>
          <mark>•</mark>
          <a href="#second-information">$15B+ Recovered by Flint Cooper</a>
        </div>
        <div>
          <mark>•</mark>
          <a href="#third-information">Dedicated to Asbestos Trial Success</a>
        </div>
        <div>
          <mark>•</mark>
          <a href="#fourth-information"
            >Free Consultation for Asbestos Victims</a
          >
        </div>
      </div>
    </div>
  </div>
  <h2>
    Flint Cooper: A Leading Asbestos Law Firm with Over Two Decades of Success
    in Asbestos Lawsuits
  </h2>
  <div class="bar"></div>
  <p>
    With over 20 years of experience in filing asbestos-related lawsuits and
    asbestos trust funds claims for victims, Flint Cooper is a top national
    asbestos law firm with a solid track record of securing ????over two billion
    dollars for thousands of clients?????.
  </p>

  <p>
    In courtrooms across the United States, Flint Cooper asbestos attorneys have
    succeeded in winning awards for wrongful deaths, a success only achievable
    by compassionate professionals who listen to you, your family members and
    coworkers’ stories. Only by listening to, and learning from, those stories
    can your situation be better understood and help guide what direction Flint
    Cooper will take to successfully resolve your case.
  </p>
  <h2>
    $15,000,000,000+ Recovered by Flint Cooper in asbestos-related litigation
  </h2>
  <div class="bar"></div>
  <p>
    Flint Cooper applies its knowledge and experience to win trials, not just
    collect settlements, further strengthening its reputation of providing
    clients around the world with exceptional counsel and unparalleled advocacy.
  </p>
  <h2>Dedicated to Winning Asbestos Trials and Prompting Early Settlements</h2>
  <div class="bar"></div>
  <p>
    Flint Cooper wins trials, not just collects settlements. Over the years,
    asbestos defendants have settled because they know Flint Cooper can prove
    they exposed generations of workers, veterans and family members to
    cancer-causing illnesses. Flint Cooper prepares arduously and is willing to
    take claims to trial, which is primarily the reason most defendants settle
    sooner: to sidestep the uncertainty of a jury’s verdict, to dodge
    embarrassment in the media, to spare themselves greater financial loss, and
    most importantly, to avoid facing Flint Cooper asbestos attorneys in court.
  </p>
  <div class="banner-calculator banner-blue">
    <img class="logo-claims-baner" src="../../img/logo-claims.svg" alt="" />
    <div class="banner-calculator__element">
      <p class="banner-calculator__general-text">
        Asbestos Exposure Claims Compensation Calculator
      </p>
      <span>Who was Exposed To Asbestos?</span>
      <div class="banner-calculator__button">
        <button class="button-red">MySelf</button>
        <button class="button-red">Family</button>
      </div>
    </div>
  </div>
  <h2>
    Free Consultation and Contingency-Based Representation for Asbestos Victims
  </h2>
  <p>
    Taking the first step in starting a claim can be the hardest part, but if
    you need an experienced attorney to work for you, please contact Flint
    Cooper today.
  </p>
  <p>
    Flint Cooper offers free, no obligation consultations to learn about your
    legal rights. Flint Cooper represents all of its clients on a contingency
    fee basis, so we only get paid when we win your case. That means zero
    out-of-pocket, upfront fees and zero expenses unless your case is won.
  </p>

  <h2 id="fourth-information">
    Receive a free legal consultation from our sponsor, Flint Cooper
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.png" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
      </p>
      <b class="red-text"
        >Take advantage of a 100% free legal consultation today.</b
      >
    </div>
    @@include('../common/question-card.html')
  </div>
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
</section>
