<section class="add-job">
  <h1>
    Mesothelioma Compensation for asbestos victims that worked and lived in
    Leipers Fork, TN
  </h1>
  <div class="bar"></div>

  <h2>Add an Unverified Asbestos Exposure Location to Your Claims</h2>
  <div class="bar"></div>

  <div class="content-missing-job">
    <div class="content-missing-job__text">
      <h3 class="red-text">A known Asbestos Exposure job site is missing from our records?</h3>
      <p>
        If you've previously worked at a job location in Miami, FL, where you
        may have encountered asbestos products prior to the 1990s, just add your
        job in the box below. Click the "Add To Your Claim" button.
      </p>
    </div>
    <div class="missing-job">
      <p class="general-blue-text">Enter Company Name</p>
      <input type="text" placeholder="Ex: John Doe Auto Shop" />
      <select>
        <option value="compensation, legal advice, lawyers">
          Enter Your Job Type
        </option>
        <option value="">select 1</option>
        <option value="">Select 2</option>
        <option value="">Select 3</option>
      </select>
      <div class="data-select">
        <label class="alternative"
          >Before 1982
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="alternative"
          >After 1982
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <button>Add To Your Claim</button>
    </div>
  </div>
  @@include('../common/case-compensation.html')
  <div class="claims-select">
    @@include('./claims-calculator.html')
  </div>
</section>
