<section class="next-city container-desktop">
  <h1>Miami, FL Asbestos Job Site</h1>
  <div class="search-alphabet">
    <h3>Search Miami, FL Asbestos Job Sites by “First Letter”</h3>
    <div class="alphabet">
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
        <li>F</li>
        <li>G</li>
        <li>H</li>
        <li>I</li>
        <li>J</li>
        <li>K</li>
        <li>L</li>
        <li>M</li>
        <li>N</li>
        <li>O</li>
        <li>P</li>
        <li>Q</li>
        <li>R</li>
        <li>S</li>
        <li>T</li>
        <li>U</li>
        <li>V</li>
        <li>W</li>
        <li>X</li>
        <li>Y</li>
        <li>Z</li>
      </ul>
    </div>
    <div class="nearby-location">
      <p>Nearby Cities (20 miles radius) with Verified asbestos exposure:</p>
      <ul class="location-list">
        <li><a href="#">North Miami Beach</a></li>
        <li><a href="#">North Miami</a></li>
        <li><a href="#">North Miami Beach</a></li>
        <li><a href="#">North Miami</a></li>
        <li><a href="#">Miami</a></li>
      </ul>
    </div>
  </div>
  <div class="content-card-job">
    @@include('../common/job-site-card.html')
    @@include('../common/job-site-card.html')
    @@include('../common/job-site-card.html')
    @@include('../common/job-site-card.html')
  </div>
  <h2>Add Unverified Asbestos Exposure Location in Miami, FL to Your Claims</h2>
  <div class="bar"></div>
  <p>
    If you've previously worked at a job location in Miami, FL, where you may
    have encountered asbestos products prior to the 1990s, just add your job in
    the box below. Click the <b class="red-text">"Add To Your Claim"</b> button.
  </p>
  <div class="content-missing-job">
    <div class="content-missing-job__text">
      <img src="../../img/temporar-img.png" alt="" />
      <p class="red-text">
        Taking this step not only aids in your compensation recovery but also
        helps us protect and support other asbestos victims, paving the way for
        a safer environment for upcoming generations.
      </p>
    </div>
    <div class="missing-job">
      <p>Enter Company Name</p>
      <input type="text" placeholder="Ex: John Doe Auto Shop" />
      <select>
        <option value="compensation, legal advice, lawyers">
          Enter Your Job Type
        </option>
        <option value="">select 1</option>
        <option value="">Select 2</option>
        <option value="">Select 3</option>
      </select>
      <div class="data-select">
        <label class="alternative"
          >Before 1982
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="alternative"
          >After 1982
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <button>Add To Your Claim</button>
    </div>
  </div>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
  @@include('../common/case-compensation.html')
</section>
