<section class="company-navy container-desktop">
  <h1>Asbestos Exposure by Crane Company Products</h1>
  <p class="data-info">Crane Company: Verified Source of Asbestos Exposure</p>
  <img class="mobile-flag-img" src="../../img/fact-check-group.svg" alt="" />
  <div class="content-table">
    <div class="content-summarizer">
      <p class="general-blue-text">Table of Contents</p>
      <ul class="content-summarizer__mark-content">
        <li><a href="#first-information">Introduction</a></li>
        <li><a href="#second-information">Trust Purpose and Functions</a></li>
        <li><a href="#third-information">Claim Submission and Resolution</a></li>
        <li><a href="#fourth-information">Current Payment by Claim Type</a></li>
        <li><a href="#fifth-information">USG Asbestos Product</a></li>
        <li><a href="#sixth-information">USG Trust Direct Contact</a></li>
      </ul>
    </div>    
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
    </div>
  </div>

  <h2>Equipment and Products Manufactured by Crane Company</h2>
  <div class="bar"></div>
  <p>
    The Crane Company has produced and sold products and equipment containing
    asbestos, putting individuals at risk of developing mesothelioma or asbestos
    lung cancer. Here is the list of equipment:
  </p>
  <div class="equipment-ship">
    <ul class="mark-text">
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
    </ul>
  </div>
  <h2>Crane Company's Products on Navy Ships</h2>
  <div class="bar"></div>
  <p>
    The following list includes Navy ships equipped with Crane Company products
    and equipment. After installation, Navy veterans actively operated and
    maintained these pieces of equipment throughout their service.
  </p>
  <ul class="mark-text navy-ships">
    <li><a href="#">USS Abbot (DD-629)</a></li>
    <li><a href="#">USS Aludra (AF-55)</a></li>
    <li><a href="#">USS America (CV-66, CVA-66)</a></li>
    <li><a href="#">USS Bristol (DD-857)</a></li>
    <li><a href="#">USS Robert A. Owens (DDK-827, DDE-827, DD-827)</a></li>
    <li><a href="#">USS Abbot (DD-629)</a></li>
    <li><a href="#">USS Aludra (AF-55)</a></li>
    <li><a href="#">USS America (CV-66, CVA-66)</a></li>
    <li><a href="#">USS Bristol (DD-857)</a></li>
    <li><a href="#">USS Valley Forge (CV-45, CVA-45, CVS-45, LPH-8)</a></li>
    <li><a href="#">USS Ticonderoga (CV-14, CVA-14, CVS-14)</a></li>
    <li><a href="#">USS America (CV-66, CVA-66)</a></li>
    <li><a href="#">USS Bristol (DD-857)</a></li>
  </ul>


<!-- -->
<h2>U.S. Navy Facilities Exposed to Asbestos</h2>
<div class="bar"></div>
<p>Please refer to the following comprehensive list, which enumerates U.S. Navy facilities that have been officially recognized as job sites where asbestos exposure has occurred. These sites have been approved and acknowledged by the asbestos trust funds due to the historical use of asbestos in these facilities.</p>

<div class="navy-facilities">
  <p class="general-blue-text">Alaska</p>
  <ul class="mark-text">
    <li><a href="">New London Naval Undersea Warfare Center (NUWC)</a></li>
    <li><a href="">San Pedro Naval Base</a></li>
    <li><a href="">New London Naval Submarine Base</a></li>
    <li><a href="">Seal Beach Naval Weapons Station</a></li>
    <li><a href="">Tiburon United States Navy Net Depot</a></li>
    <li><a href="">Treasure Island Naval Station</a></li>
  </ul>
</div>

<div class="navy-facilities">
  <p class="general-blue-text">Alaska</p>
  <ul class="mark-text">
    <li><a href="">New London Naval Undersea Warfare Center (NUWC)</a></li>
    <li><a href="">San Pedro Naval Base</a></li>
    <li><a href="">New London Naval Submarine Base</a></li>
    <li><a href="">Seal Beach Naval Weapons Station</a></li>
    <li><a href="">Tiburon United States Navy Net Depot</a></li>
    <li><a href="">Treasure Island Naval Station</a></li>
  </ul>
</div>
<div class="navy-facilities">
  <p class="general-blue-text">Alaska</p>
  <ul class="mark-text">
    <li><a href="">New London Naval Undersea Warfare Center (NUWC)</a></li>
    <li><a href="">San Pedro Naval Base</a></li>
    <li><a href="">New London Naval Submarine Base</a></li>
    <li><a href="">Seal Beach Naval Weapons Station</a></li>
    <li><a href="">Tiburon United States Navy Net Depot</a></li>
    <li><a href="">Treasure Island Naval Station</a></li>
  </ul>
</div>
<!--  -->


  <h2 id="">
    Receive Free Legal Consultation from a Leading Asbestos/ Mesothelioma
    Attorneys
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.webp" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
      </p>
      <b class="red-text"
        >Take advantage of a 100% free legal consultation today.</b
      >
    </div>
    @@include('../common/question-card.html')
  </div>
  <div class="claims-select">@@include('./claims-calculator.html')</div>
</section>
