<section class="city-content">
  <div class="container">
    <h1>Mesothelioma Compensation: Miami, FL</h1>
    <div class="bar"></div>
    <p>
      Showing: <b>124</b> asbestos Job-sites, <b>1674</b> boiler exposure
      locations for <b>Mesothelioma Compensation</b> Sources in b
    </p>
    @@include('../common/city-table-content.html')
  </div>
  <div class="nearby-cities">
    <p>Nearby Cities (10 miles radius) with documented asbestos job-sites:</p>
    <ul class="location-list">
      <li><a href="#">North Miami Beach,</a></li>
      <li><a href="#">Miami Beach,</a></li>
      <li><a href="#">South Miami,</a></li>
      <li><a href="#">North Miami Beach,</a></li>
      <li><a href="#">Miami Beach,</a></li>
      <li><a href="#">South Miami,</a></li>
      <li><a href="#">North Miami Beach,</a></li>
      <li><a href="#">Miami Beach,</a></li>
      <li><a href="#">South Miami.</a></li>
    </ul>
  </div>

  <div id="jobSitesTitle" class="job-site-section">
    <h2>Miami, FL: Approved Job-Sites for Mesothelioma Compensation</h2>
    <div class="bar"></div>
    <p>
      Every job-site in Miami, FL is rigorously checked and accredited by trust
      funds, acting as a financial resource for mesothelioma victims who
      encountered asbestos exposure at work.
    </p>
    <h3>How to add jobs-site to claims</h3>
    <ul class="information-steps">
      <li>Search by first letter or search box.</li>
      <li>Select job-type that you performed</li>
      <li>Select time frame of your employment</li>
      <li>Click on “Add + to your claim</li>
    </ul>
    <p class="job-site-section__information">
      Remember to include as many jobs as you recall in your claims. If you've
      worked in another state, utilize the search bar at the top of the page,
      select your job and city, and add them to your list. Continuously updating
      your job history enhances the accuracy of your records.
    </p>
    <div class="search-filter">
      <p>Miami, FL : Filter Your Search</p>
      <div class="search-filter__table">
        <div class="search-alphabet">
          <p>Sort by First Letter:</p>
          <div class="alphabet">
            <ul>
              <li>A</li>
              <li>B</li>
              <li>C</li>
              <li>D</li>
              <li>E</li>
              <li>F</li>
              <li>G</li>
              <li>H</li>
              <li>I</li>
              <li>J</li>
              <li>K</li>
              <li>L</li>
              <li>M</li>
              <li>N</li>
              <li>O</li>
              <li>P</li>
              <li>R</li>
              <li>S</li>
              <li>T</li>
              <li>U</li>
              <li>V</li>
              <li>X</li>
              <li>Z</li>
              <li>W</li>
            </ul>
          </div>
        </div>
        <div class="space-form">
          <div class="space-bar"></div>
          <p>or search</p>
          <div class="space-bar"></div>
        </div>
        <div class="search-form">
          <input
            type="text"
            placeholder="Search Job Site by Name"
            onfocus="addPadding()"
            onblur="removePadding()"
          />
          <button class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="jobsite-card">
      <div>
        <h2><a href="">Atlas Flooring</a></h2>
        <p>City: Miami, FL</p>
        <div class="jobsite-card__sorting">
          <select id="select1">
            <option value="">Carpenter</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
          <div class="from-data">
            <p>From</p>
            <select id="select1">
              <option value="">1964</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
          </div>
          <div class="to-data">
            <p>To</p>
            <select id="select1">
              <option value="">1968</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
          </div>
        </div>
        <p>Asbestos Trust Funds Available : <span>3</span></p>
      </div>
      <button class="add-button">
        <p>Add +</p>
        <span>to your claim</span>
      </button>
    </div>
    <div class="page-navigation">
      <ul class="pagination__list">
        <li>
          <a href="" class="pagination__list__prev">
            <span class="sr-only">Previous page</span>
            <i class="fas fa-angle-left"></i>
          </a>
        </li>
        <li>
          <div class="page-button">1</div>
        </li>
        <li>
          <div class="page-button">2</div>
        </li>
        <li>
          <div class="page-button active">3</div>
        </li>
        <li>
          <div class="tuning-fork">...</div>
        </li>
        <li>
          <div class="page-button">6</div>
        </li>
        <li>
          <a href="" class="pagination__list__next">
            <span class="sr-only">Next page</span>
            <i class="fas fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="boiler-section">
    <h2 id="boilerLocationsTitle">Miami, FL: Asbestos Exposure by Boilers</h2>
    <div class="bar"></div>
    <p>
      12,345 boiler locations in Miami, FL that potentially had asbestos
      exposure and may be recognized as 'civil defenders'
    </p>
    <div class="boiler-card">
      <div class="add-boiler">
        <h2><a href="">107 Dry Cleaners</a></h2>
        <p><b>Address:</b> 123 Apple Str. Miami, FL 12345</p>
        <p><b>Boiler Manufacturer:</b> Mercedes Benz</p>
        <div class="add-boiler__select">
          <select id="select1">
            <option value="">Select Job</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
          <div class="checkbox">
            <label for="beforeCheckbox">Before 1990</label>
            <input type="checkbox" id="beforeCheckbox" />
            <br />
            <label for="afterCheckbox">After 1990</label>
            <input type="checkbox" id="afterCheckbox" />
          </div>
        </div>
      </div>
      <button class="add-button">
        <p>Add +</p>
        <span>to your claim</span>
      </button>
    </div>
    <div class="button-container">
      <button class="button">View More</button>
    </div>    
  </div>
  <div class="compensation-section">
    <h2 id="compensationAmountsTitle">
      Miami, FL: Mesothelioma Compensation Amounts
    </h2>
    <div class="bar"></div>
    <p>
      Asbestos-exposed workers in Miami, FL, diagnosed with mesothelioma can
      claim financial compensation. This information apply on the maximum
      payouts only from Asbestos Trust Funds without ratio* calculation.
    </p>
    <table class="compensation-section__table">
      <tr class="left-column">
        <th class="claims-type">Claim Type</th>
        <th>ER Claims</th>
        <th>AVG Claims</th>
        <th>IR Claims</th>
      </tr>
      <tr class="right-column">
        <td class="price">Mesothelioma</td>
        <td>$2,098,134</td>
        <td>$2,549,594</td>
        <td>$6,203,194</td>
      </tr>
    </table>
  </div>
  <div class="legend">
    <p class="legend-text">Legend</p>
    <div class="legend-information">
      <p>
        ER Claims = Expedite Review claims. Paid in 60 days after claims are
        filed.
      </p>
      <p>
        AVG Claims = Average Review claims. Paid in 90 - 120 days after claims
        are filed.
      </p>
      <p>
        IR Claims = Individual Review claims. Paid in one to two years after
        claims are filed.
      </p>
      <p>Ratio = Current payout rate established by each trust.</p>
    </div>
  </div>
  <div class="calculator-section">
    <h2 id="trustFundsTitle">Asbestos Trust Funds Available for Compensation in Miami, FL</h2>
    <div class="bar"></div>
    <p>
      Discover the 18 Asbestos Trust Funds available in Miami, FL to compensate
      mesothelioma victims and their families.
    </p>
    <ul class="trust-list">
      <li><a href="#">United States Gypsum Trust</a></li>
      <li><a href="#">Owens Corning Corporation Trust</a></li>
      <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
      <li><a href="#">W.R. Grace and Co. Trust</a></li>
      <li><a href="#">DII Industries Trust</a></li>
      <li><a href="#">Johns-Manville Corporation Trust</a></li>
      <li><a href="#">Armstrong World Industries Trust</a></li>
      <li><a href="#">Western Asbestos (Western MacArthur) Trust</a></li>
      <li><a href="#">Babcock & Wilcox Trust</a></li>
      <li><a href="#">Owens Corning Fibreboard Subfund Trust</a></li>
      <li><a href="#">Combustion Engineering Trust</a></li>
      <li><a href="#">United States Gypsum Trust</a></li>
      <li><a href="#">Owens Corning Corporation Trust</a></li>
      <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
      <li><a href="#">W.R. Grace and Co. Trust</a></li>
      <li><a href="#">DII Industries Trust</a></li>
    </ul>
  </div>
  <div class="calculator-section">
    <h2 id="calculatorTitle">Express Mesothelioma Compensation Calculator</h2>
    <div class="bar"></div>
    <p>
      Find out in few minutes how much compensation is available for you or a
      family member
    </p>
    @@include('../common/case-compensation.html')
  </div>
</section>
