<section class="mesothelioma">
  <h1>Mesothelioma</h1>
  <p class="data-info">
    Mesothelioma is a severe cancer primarily caused by asbestos exposure and
    remains incurable. Recognize its signs and symptoms and seek early medical
    attention.
  </p>
  <img src="../../img/meso-img.png" alt="" />
  <div class="content-summarizer">
    <span>Table of Contents</span>
    <ol>
      <li><a href="#first-information">Introduction to Mesothelioma</a></li>
      <li>
        <a href="#second-information">Mesothelioma Types:</a>
      </li>
      <li>
        <a href="#third-information">Mesothelioma Symptoms by Type</a>
      </li>
      <li>
        <a href="#third-information"
          >Origins of Mesothelioma: Causes and DNA Changes</a
        >
      </li>
      <li>
        <a href="#third-information"
          >Principal Risk Factors: Asbestos Exposure and its Dangers</a
        >
      </li>
      <li>
        <a href="#third-information">Secondary Exposure Risks</a>
      </li>
      <li>
        <a href="#">Frequently Asked Questions</a>
      </li>
    </ol>
  </div>
  <h2>Introduction to Mesothelioma</h2>
  <div class="bar"></div>
  <p>
    Mesothelioma is a rare cancer that affects the thin layer of tissue covering
    most of our internal organs. Asbestos exposure is the primary cause of this
    aggressive form of cancer, making it a concern for industrial workers and
    residents living in areas with high asbestos content.
  </p>
  <h2>Types of Mesothelioma</h2>
  <div class="bar"></div>
  <p>
    The exact location of this cancer determines the type of Mesothelioma an
    individual has. There are primarily four main types:
  </p>
  <div class="mesothelioma-types">
    <h3 class="red-text">Pleural Mesothelioma</h3>
    <p>
      <a href="">Pleural Mesothelioma</a> is the most common type and affects
      the mesothelial tissue surrounding the lungs. Pleural Mesothelioma often
      results from inhaling asbestos fibers, which get trapped in the pleura,
      causing inflammation and eventually leading to the development of tumors.
    </p>

    <h3 class="red-text">Peritoneal Mesothelioma</h3>
    <p>
      <a href="">Peritoneal Mesothelioma</a> affects the mesothelial tissue in
      the abdomen. Peritoneal Mesothelioma can develop when ingested asbestos
      fibers move through the digestive system, become embedded in the
      peritoneum, and can cause irritation, inflammation, and, eventually, tumor
      growth.
    </p>

    <h3 class="red-text">Pericardial Mesothelioma</h3>
    <p>
      A rare type of this cancer, <a href="">Pericardial Mesothelioma</a>,
      affects the mesothelial tissue surrounding the heart. The exact mechanism
      by which asbestos fibers reach the pericardium remains under study.
      However, like other forms, the outcome is the development of tumors that
      can affect heart function.
    </p>

    <h3 class="red-text">Testicular Mesothelioma</h3>
    <p>
      <a href="">Testicular Mesothelioma</a> is the rarest type, affecting the
      lining surrounding the testes. Given the infrequency of cases, the
      mechanism behind their occurrence has yet to be entirely understood.
    </p>
  </div>
  <h2>Mesothelioma Symptoms</h2>
  <div class="bar"></div>
  <p>The symptoms of Mesothelioma vary depending on its type:</p>
  <ul>
    <li>
      Pleural Mesothelioma: Common symptoms include chest pain, shortness of
      breath, unexplained weight loss, coughing, and lumps on the chest under
      the skin.
    </li>
    <li>
      Peritoneal Mesothelioma: Patients may experience abdominal pain, swelling,
      lumps in the abdomen, nausea, and weight loss.
    </li>
    <li>
      Pericardial Mesothelioma: Symptoms might encompass chest pain, shortness
      of breath, and palpitations.
    </li>
    <li>
      Testicular Mesothelioma: Swelling and lumps on the testicles are often
      reported.
    </li>
  </ul>
  <h2>Origins of Mesothelioma: Causes and DNA Changes</h2>
  <div class="bar"></div>
  <p>
    Mesothelioma is intrinsically linked to asbestos exposure, a group of
    naturally occurring minerals. Asbestos fibers are microscopic, and when
    inhaled or ingested, they can get lodged in tissues, causing irritation,
    inflammation, and cell DNA changes. Over time, these changes can cause cells
    to grow uncontrollably, resulting in tumors.
  </p>
  <p>
    The DNA alterations associated with Mesothelioma are still an active
    research subject. Scientists are particularly interested in determining
    which genetic mutations drive its growth and progression. Understanding this
    could pave the way for more targeted therapies in the future.
  </p>
  <h2>Principal Risk Factors: Asbestos Exposure and its Dangers</h2>
  <div class="bar"></div>
  <p>
    The majority of mesothelioma cases are directly related to asbestos
    exposure. Asbestos was once heralded for its heat-resistant properties and
    was used in numerous industrial applications. Workers in shipyards, mines,
    construction, and other industries had prolonged exposure, putting them at
    significant risk.
  </p>
  <p>
    Inhaling or ingesting even a tiny amount of asbestos can lead to
    Mesothelioma, but the disease typically appears after significant and
    prolonged exposure. Sadly, the latency period is long; symptoms might not
    manifest for 20–50 years after exposure.
  </p>
  <h2>Secondary Exposure Risks</h2>
  <div class="bar"></div>
  <p>
    Secondary or indirect exposure occurs when someone comes into contact with
    asbestos without directly working with the material. For instance, family
    members of workers can be exposed to asbestos fibers brought home on work
    clothes. Living near asbestos mines or factories can also pose risks, with
    fibers potentially contaminating air and water sources.
  </p>
  <h2>Frequently Asked Questions</h2>
  <div class="bar"></div>
  <h3 class="red-text">How is Mesothelioma diagnosed?</h3>
  <p>
    Diagnosing Mesothelioma can be challenging due to its non-specific symptoms.
    It usually involves imaging tests, biopsies, and blood tests.
  </p>
  <h3 class="red-text">Can Mesothelioma be treated?</h3>
  <p>
    While Mesothelioma is aggressive and challenging, options include surgery,
    radiation, chemotherapy, and targeted therapy.
  </p>
  <h3 class="red-text">Can I get Mesothelioma without asbestos exposure?</h3>
  <p>
    While asbestos is the primary cause, there have been rare instances of
    Mesothelioma without known asbestos exposure. However, these cases are
    infrequent.
  </p>
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
  @@include('../common/case-compensation.html')
</section>
