<section class="asbestos-trust container-desktop">
  @@include('../common/breadcrumb.html')
  <h1>Asbestos and Mesothelioma Trust Funds</h1>
  <p class="data-info">
    Mesothelioma trust funds play a pivotal role in supporting asbestos victims.
    Here's an all-inclusive guide on these funds, the claim procedure, and
    eligibility conditions.
  </p>
  <div class="content-table">
    <div class="content-summarizer">
      <p>Table of Contents</p>

      <div class="content-summarizer__notice">
        <div>
          <mark>•</mark> <a href="#first-information">Introduction to Mesothelioma Trust Funds</a>
        </div>
        <div>
          <mark>•</mark> <a href="#second-information">Historical Roots of Asbestos Trust Funds</a>
        </div>
        <div>
          <mark>•</mark> <a href="#third-information">Different Bankruptcy Avenues for Asbestos Companies</a>
        </div>
        <div>
          <mark>•</mark> <a href="#fourth-information">Detailed Trust Fund Eligibility Criteria</a>
        </div>
        <div>
          <mark>•</mark> <a href="#fifth-information">Deadlines & the Importance of Timing for Mesothelioma Claims</a>
        </div>
      </div>
    </div>
  </div>
  <h2>Introduction to Mesothelioma Trust Funds</h2>
  <div class="bar"></div>
  <p>
    When discussing asbestos-related health issues, the term' mesothelioma trust
    funds' frequently emerges. These financial reserves, developed during
    bankruptcy procedures by companies that acted negligently, are designed as
    compensation. With over $30 billion earmarked in over 62 trusts,
    understanding these funds is crucial for victims and their families.
  </p>
  <h2>Historical Roots of Asbestos Trust Funds</h2>
  <div class="bar"></div>
  <p>
    Asbestos, a mineral once praised for its resistance to heat and durability,
    saw prolific use until the late 1980s. However, its fatal health
    implications became evident, reducing its use. Remarkably, many companies
    persisted in its utilization despite comprehending these risks. This
    negligence culminated in numerous claims, prompting the U.S. Congress to
    authorize the inception of trust funds in 1994 to ensure compensation.
  </p>
  <h2>Different Bankruptcy Types for Asbestos Companies</h2>
  <div class="bar"></div>
  <p>
    Companies confronted with overwhelming asbestos-related claims found
    themselves cornered financially. They had two ways to handle this:
  </p>
  <ul class="list-nomerotation">
    <li>
      <b>Chapter 7 (Liquidation):</b> Companies had to liquidate their assets.
      Proceeds from these assets would then be funneled to victims as
      compensation.
    </li>
    <li>
      <b>Chapter 11 (Reorganization):</b> This option permitted companies to
      undergo a structural makeover, preserving their business while dedicating
      funds to victims.
    </li>
  </ul>
  <h2>Detailed Trust Fund Eligibility Criteria</h2>
  <div class="bar"></div>
  <p>
    Companies confronted with overwhelming asbestos-related claims found
    themselves cornered financially. They had two ways to handle this:
  </p>
  <ul class="list-nomerotation">
    <li>Clear evidence of asbestos exposure</li>
    <li>Details about the workplace and the period of exposure</li>
    <li>Medical documentation verifying mesothelioma or related ailments</li>
    <li>Information on the specific asbestos products involved</li>
  </ul>
  <h2>Deadlines and the Importance of Timing for Mesothelioma Claims</h2>
  <div class="bar"></div>
  <p>
    Every claim for personal injury or wrongful death operates within a defined
    window. Adhering to these timelines is imperative:
  </p>
  <ul class="list-nomerotation">
    <li>
      <b>Personal Injury Claims:</b> After receiving a mesothelioma diagnosis,
      the victims must file these claims within a specific timeframe.
    </li>
    <li>
      <b>Wrongful Death Claims:</b> These claims, brought by the deceased
      victim's family, also have a set deadline for filing.
    </li>
  </ul>
  <h2>Active Asbestos Mesothelioma Trust Funds</h2>
  <div class="bar"></div>
  <ul class="trust-list">
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
    <li><a href="#">Johns-Manville Corporation Trust</a></li>
    <li><a href="#">Armstrong World Industries Trust</a></li>
    <li><a href="#">Western Asbestos (Western MacArthur) Trust</a></li>
    <li><a href="#">Babcock & Wilcox Trust</a></li>
    <li><a href="#">Owens Corning Fibreboard Subfund Trust</a></li>
    <li><a href="#">Combustion Engineering Trust</a></li>
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
  </ul>
  <h2>Gathering Strong Evidence for Trust Claims</h2>
  <div class="bar"></div>
  <p>Comprehensive evidence supports a strong claim:</p>
  <ul class="list-nomerotation">
    <li>Detailed employment records tracing asbestos exposure</li>
    <li>Medical documentation attesting to the ailment</li>
    <li>Military service records, if relevant</li>
    <li>Witness testimonies, affidavits, and other supporting materials</li>
  </ul>
  <h2>Navigating the Trust Claim Submission and Review</h2>
  <div class="bar"></div>
  <p>
    After evidence collection, victims proceed to file their claims. Each trust
    fund has its unique submission method, either paper-based or digital.
    Following submission, there's a review procedure segmented into:
  </p>
  <ul class="list-nomerotation">
    <li>
      <b>Expedited Review:</b> Claims are categorized and receive standardized
      payments. This method prioritizes speed over personalization.
    </li>
    <li>
      <b>Individual Review:</b> Each case gets individual attention, considering
      multiple factors, potentially leading to variable payouts.
    </li>
  </ul>
  <h2>Comparison: Trust Fund Claims vs. Mesothelioma Lawsuits</h2>
  <div class="bar"></div>
  <p>Asbestos victims have multiple compensation types:</p>
  <ul class="list-nomerotation">
    <li>
      <b>Expedited Review:</b> Claims are categorized and receive standardized
      payments. This method prioritizes speed over personalization.
    </li>
    <li>
      <b>Individual Review:</b> Each case gets individual attention, considering
      multiple factors, potentially leading to variable payouts.
    </li>
  </ul>
  <h2>How Trust Fund Claims Can Influence Lawsuits</h2>
  <div class="bar"></div>
  <p>
    Though trust funds predominantly adhere to federal guidelines,
    state-specific rules can shape the dynamics between trust-based payouts and
    lawsuit settlements. Some states might have setoffs, affecting compensation
    amounts.
  </p>
  <h2>How Trust Fund Claims Can Influence Lawsuits</h2>
  <div class="bar"></div>
  <h3 class="red-text">
    How many active asbestos trust funds are there currently?
  </h3>
  <p>
    As of the most recent data, there are approximately 62 active asbestos trust
    funds. However, this number is dynamic. Depending on the companies '
    bankruptcy statuses and resolutions, it might increase or decrease as some
    funds close and new ones are established.
  </p>
  <h3 class="red-text">
    Can I apply to multiple asbestos trust funds, or is there a limitation?
  </h3>
  <p>
    Yes, victims are certainly allowed to apply to multiple trust funds. There's
    no limitation on the number of trusts you can approach. If you have been
    exposed to the products or practices of various companies, you can file
    claims with each relevant trust fund. An experienced lawyer can guide you on
    how to proceed in such instances.
  </p>
  <h3 class="red-text">
    What deduction should I expect when I receive a settlement from an asbestos
    trust fund?
  </h3>
  <p>
    Generally, the primary deduction from your settlement will be the legal or
    attorney fees. These fees are usually a percentage of the agreed-upon
    settlement when you retain the attorney's services. Some trusts might have
    an upper limit on these fees, often capped at 25%. It's essential to clearly
    understand these fees before proceeding with a claim.
  </p>
  <h3 class="red-text">
    How long does the review process for a claim usually take?
  </h3>
  <p>
    The duration of reviewing a trust fund claim can vary significantly based on
    the specific trust and the complexity of the claim. While some trusts can
    process and approve a claim in as little as one to two weeks, others might
    take longer durations, ranging from one to three months or up to a year.
    Many trust funds prioritize living claimants and may expedite their review
    process, considering the urgency of medical treatments and associated costs.
  </p>
  <h3 class="red-text">
    Are payments I receive from asbestos trust funds subject to taxation?
  </h3>
  <p>
    No, settlements received from asbestos trust funds are considered
    compensatory, which means they are intended to compensate for losses or
    damages. Hence, these payments are not regarded as income or subject to
    federal or state income taxation. However, consulting with a tax
    professional or attorney for specific tax-related queries and clarifications
    is always a good practice.
  </p>
  <h2 id="fourth-information">
    Receive Free Legal Consultation from a Leading Asbestos/ Mesothelioma
    Attorneys
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.png" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience.
        <b class="red-text"
          >Take advantage of a 100% free legal consultation today.</b
        >
      </p>
    </div>
    @@include('../common/question-card.html')
  </div>
  @@include('../common/case-compensation.html')
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
</section>
