<section class="job-site">
    <span class="introduction-text"
      >Buffalo Pumps: Verified Source for Mesothelioma Compensation - Civil Defender
    </span>
    <h1>
      Mesothelioma Compensation from Asbestos Exposure at Atlas Flooring, Miami
      FL
    </h1>
    <div class="bar"></div>
    <p>
      Buffalo Pumps is a equipment manufacturer used on navy ships. Navy
      veterans exposed to it’s asbestos contained equipment and diagnosed with
      mesothelioma are entitle to compensation.
    </p>

    @@include('../common/job-site-table-content.html')

    <div class="compensation-meso">
      <h2 id="jobSitesTitle">
        Buffalo Pumps: Equipment Contained Asbestos Parts
      </h2>
      <div class="bar"></div>
      <p>
        Asbestos Trust Funds that provide financial compensation to those who
        have been diagnosed with mesothelioma as a consequence of exposure while
        being employed at <b>Atlas Flooring, Miami, FL</b>.
      </p>
      <div class="compensation-meso__result">
        <p class="notation-table">United States Gypsum Trust</p>
        <table class="compensation-section__table">
          <tr class="left-column">
            <th class="claims-type">Claim Type</th>
            <th>ER Claims</th>
            <th>AVG Claims</th>
            <th>IR Claims</th>
          </tr>
          <tr class="right-column">
            <td class="price">Mesothelioma</td>
            <td>$73,894</td>
            <td>$129,594</td>
            <td>$203,194</td>
          </tr>
          <tr class="last-column">
            <td class="percentage">Ratio*</td>
            <td>5.9%</td>
            <td>5.9%</td>
            <td>5.9%</td>
          </tr>
        </table>

        <p class="notation-table">United States Gypsum Trust</p>
        <table class="compensation-section__table">
          <tr class="left-column">
            <th class="claims-type">Claim Type</th>
            <th>ER Claims</th>
            <th>AVG Claims</th>
            <th>IR Claims</th>
          </tr>
          <tr class="right-column">
            <td class="price">Mesothelioma</td>
            <td>$73,894</td>
            <td>$129,594</td>
            <td>$203,194</td>
          </tr>
          <tr class="last-column">
            <td class="percentage">Ratio*</td>
            <td>5.9%</td>
            <td>5.9%</td>
            <td>5.9%</td>
          </tr>
        </table>
      </div>

      <div class="maxim-abount">
        <h3 id="boilerLocationsTitle">
          Maximum Amount of Mesothelioma Compensation that you can receive from
          Atlas Flooring
        </h3>
        <p>
          The total sum exclusively reflects the compensation set by the trust
          fund. The Ratio* computation is not included.
        </p>
        <table class="maxim-abount__table">
          <tr class="left-column">
            <td>ER Claims</td>
            <td>AVG Claims</td>
            <td>IR Claims</td>
          </tr>
          <tr>
            <td>$145,635</td>
            <td>$213,098</td>
            <td>$334,223</td>
          </tr>
        </table>
      </div>
      <div class="legend">
        <p class="legend-text">Legend</p>
        <div class="legend-information">
          <p>
            ER Claims = Expedite Review claims. Paid in 60 days after claims are
            filed.
          </p>
          <p>
            AVG Claims = Average Review claims. Paid in 90 - 120 days after
            claims are filed.
          </p>
          <p>
            IR Claims = Individual Review claims. Paid in one to two years after
            claims are filed.
          </p>
          <p>Ratio = Current payout rate established by each trust.</p>
        </div>
      </div>
    </div>

    <div class="mesothelioma-claim">
      <h2 id="compensationAmountsTitle">
        Add + Atlas Flooring to Your Mesothelioma Claim
      </h2>
      <div class="bar"></div>
      <p>1. Select job-type that you performed at Atlas Flooring</p>
      <p>2. Select time frame of your employment at Atlas Flooring</p>
      <p>3. Click on “Add + to your claim</p>

      <div class="mesothelioma-claim__sorting">
        <div class="job-type">
          <p>Select Job-Type</p>
          <select class="job-type__select" id="select1">
            <option value="">Please Select Job</option>
            <option value="lista1">Family Member</option>
            <option value="lista2">Listă 2</option>
            <option value="lista3">Listă 3</option>
          </select>
        </div>
        <div class="select-element">
          <div class="from-data">
            <p>From</p>
            <select class="from-data__select" id="select1">
              <option value="">Select Year</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
          </div>
          <div class="to-data">
            <p>To</p>
            <select class="to-data__select" id="select1">
              <option value="">Select Year</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
          </div>
        </div>
      </div>
      <button class="button">Add To Your Claim</button>
    </div>
    <h2 class="ask-lowyer-text">
      Ask a Mesothelioma Lawyer about the Compensation Available from
      <span>Altas Flooring</span> in Miami, FL
    </h2>
    <div class="bar"></div>
    @@include('../common/questions-lawyers.html')
    <div class="calculator-section">
      <h2 id="trustFundsTitle">Express Mesothelioma Compensation Calculator</h2>
      <div class="bar"></div>
      <p>
        Find out in few minutes how much compensation is available for you or a
        family member
      </p>
      @@include('../common/case-compensation.html')
    </div>
</section>
