<div class="no-job">
  <h1>
    Compensation for asbestos exposure victims that worked and lived in Leipers
    Fork, TN
  </h1>
  <p class="data-info">
    Search result for verified asbestos exposure and compensation sources in
    Leipers Fork, TN
  </p>
  <p>There are no verified asbestos job-sites in: Leipers Fork, TN, 37064</p>
  <div class="nearby-location">
    <p>Nearby Cities (20 miles radius) with Verified asbestos exposure:</p>
    <ul class="location-list">
      <li><a href="#">North Miami Beach</a></li>
      <p>,</p>
      <li><a href="#">North Miami</a></li>
      <p>,</p>
      <li><a href="#">North Miami Beach</a></li>
      <p>,</p>
      <li><a href="#">North Miami</a></li>
      <p>,</p>
      <li><a href="#">Miami</a></li>
    </ul>
  </div>
  <h2>Add Unverified Asbestos Exposure Location in Miami, FL to Your Claims</h2>
  <div class="bar"></div>
  <p>
    If you've previously worked at a job location in Miami, FL, where you may
    have encountered asbestos products prior to the 1990s, just add your job in
    the box below. Click the <b>"Add To Your Claim"</b> button.
  </p>
  <div class="content-missing-job">
    <div class="content-missing-job__text">
      <img src="../../img/temporar-img.png" alt="" />
      <p class="red-text">
        Taking this step not only aids in your compensation recovery but also
        helps us protect and support other asbestos victims, paving the way for
        a safer environment for upcoming generations.
      </p>
    </div>
    <div class="missing-job">
      <p>Enter Company Name</p>
      <input type="text" placeholder="Ex: John Doe Auto Shop" />
      <select>
        <option value="compensation, legal advice, lawyers">
          Enter Your Job Type
        </option>
        <option value="">select 1</option>
        <option value="">Select 2</option>
        <option value="">Select 3</option>
      </select>
      <div class="data-select">
        <label class="alternative"
          >Before 1982
          <input type="radio" checked="checked" name="radio" />
          <span class="checkmark"></span>
        </label>
        <label class="alternative"
          >After 1982
          <input type="radio" name="radio" />
          <span class="checkmark"></span>
        </label>
      </div>
      <button>Add To Your Claim</button>
    </div>
  </div>

  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
  @@include('../common/case-compensation.html')
</div>
