<section class="manufacture container-desktop">
  @@include('../common/breadcrumb.html')
  <h1>Crane Company: Asbestos Exposure</h1>
  <div class="principal-bar"></div>
  <p class="data-info">Crane company asbestos product and equipment with possible asbestos exposure</p>
  <div class="general-information-table">
    <img class="mobile-flag-img" src="../../img/fact-check-group.svg" alt="" />
    <div class="content-summarizer">
      <p>Table of Contents</p>
      <ol>
        <li><a href="#first-information">Equipment and Products</a></li>
        <li>
          <a href="#second-information">
            Navy Ships that used Crane equipment
          </a>
        </li>
        <li>
          <a href="#third-information">Compensation for Asbestos Victims</a>
        </li>
      </ol>
    </div>
    <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
  </div>
  <h2>Equipment and Products Manufactured by Crane Company</h2>
  <div class="bar"></div>
  <p>
    The Crane Company has manufactured and sold various products and equipment
    that may contain asbestos:
  </p>
  <div class="equipment-ship">
    <ul class="mark-text">
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
    </ul>
    <button class="button-show-more">Show More</button>
  </div>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
  <h2>Navy Ships that Utilized Crane Company's Products</h2>
  <div class="bar"></div>
  <p>
    Discover the Navy ships that utilized equipment and products that may
    containing asbestos, manufactured by Crane Company.
  </p>
  <div class="ship-list">
    <ul>
      <li>USS Abbot (DD-629)</li>
      <li>USS Orion (AS-18)</li>
      <li>USS Orion (AS-18)</li>
      <li>USS Robert A. Owens (DDK-827, DDE-827, DD-827)</li>
      <li>USS Princeton (CV-37, CVA-37, CVS-37, LPH-5)</li>
      <li>USS Abbot (DD-629)</li>
      <li>USS Orion (AS-18)</li>
      <li>USS Orion (AS-18)</li>
      <li>USS Robert A. Owens (DDK-827, DDE-827, DD-827)</li>
      <li>USS Princeton (CV-37, CVA-37, CVS-37, LPH-5)</li>
    </ul>
    <button class="show-more-ship">Show More</button>
  </div>
  <h2>Compensation for People Affected by Crain Company</h2>
  <div class="bar"></div>
  <p>
    If you or a loved one has received a diagnosis of mesothelioma, lung cancer,
    or severe asbestosis after handling Crane Company products, you may be
    entitled to compensation to assist with this debilitating illness. Use our
    Express Asbestos Case Value Calculator to determine the amount of payment
    that may be available to you.
  </p>
  @@include('../common/case-compensation.html')
</section>
