<section class="about-us container-desktop">
    <h1>About Us</h1>
    <h2 id="fourth-information">
        Receive a free legal consultation from our sponsor, Flint Cooper
      </h2>
      <div class="bar"></div>
      <div class="section-question">
        <div class="section-question__text">
          <img src="../../img/legal-q.webp" alt="" />
          <p>
            If you have legal questions about mesothelioma or other asbestos-related
            diseases, fill out the "I have a legal question" form. You'll be
            connected directly with qualified mesothelioma lawyers with decades of
            experience.
          </p>
          <b class="red-text"
            >Take advantage of a 100% free legal consultation today.</b
          >
        </div>
        @@include('../common/question-card.html')
      </div>
    <div id="claims-select-mobile" class="claims-select-mobile">
        @@include('./claims-calculator.html')
      </div>
</section>