<section class="state">
  <h1>Florida: Asbestos Exposure Guide</h1>
  <p class="data-info">
    Verified asbestos job sites in Florida cities, liable companies, and
    compensation data for asbestos disease claim types. Use the asbestos claim
    value calculator to make informed decisions before seeking legal counsel.
  </p>
  <div class="general-information-table">
    <div class="content-summarizer">
      <span>Table of Contents</span>
      <ol>
        <li><a href="#first-information">Introduction</a></li>
        <li>
          <a href="#second-information"> Trust Purpose and Functions </a>
        </li>
        <li>
          <a href="#third-information">Claim Submission and Resolution</a>
        </li>
        <li>
          <a href="#third-information">Current Payment by Claim Type</a>
        </li>
        <li>
          <a href="#third-information">USG Asbestos Product</a>
        </li>
        <li>
          <a href="#third-information">USG Trust Direct Contact</a>
        </li>
      </ol>
    </div>
    <img class="state-logo" src="../../img/state-flag.png" alt="" />
  </div>
  <h2>Verified Asbestos Exposure Job-Sites by Florida Cities</h2>
  <div class="bar"></div>
  <h3 class="red-text">
    Top 4 cities in Florida with a higher number of asbestos job sites
  </h3>
  <div class="state-content">
    <div class="state-card">
      <a href=""
        ><img class="cities-top" src="../../img/Jacksonville .png" alt=""
      /></a>
      <div class="state-card__data">
        <a>Jacksonville</a>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <a href="">
        <img class="cities-top" src="../../img/Miami.png" alt=""
      /></a>
      <div class="state-card__data">
        <a>Jacksonville</a>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <a href=""><img class="cities-top" src="../../img/Tampa.png" alt="" /></a>
      <div class="state-card__data">
        <a>Jacksonville</a>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
    <div class="state-card">
      <a href=""
        ><img class="cities-top" src="../../img/Orlando.png" alt=""
      /></a>
      <div class="state-card__data">
        <a>Jacksonville</a>
        <div class="content-information">
          <p><b>Job-sites:</b> 102</p>
          <p><b>Companies:</b> 98</p>
          <p><b>Asbestos Trust Funds:</b> 18</p>
        </div>
      </div>
    </div>
  </div>

  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
  <div class="city-statistic">
    <table class="city-statistic__table">
      <tr class="city-column">
        <th class="static-text city-text">City</th>
        <th><a href="">Mulberry</a></th>
        <th><a href="">Fort Pierce</a></th>
        <th><a href="">Fort Pierce</a></th>
        <th class="hidden-column"><a href="">Fort Pierce</a></th>
        <th class="hidden-column"><a href="">Fort Pierce</a></th>
        <th class="hidden-column"><a href="">Fort Pierce</a></th>
      </tr>
      <tr class="trust-fund-column">
        <td class="static-text">Trust Fund</td>
        <td>3</td>
        <td>8</td>
        <td>8</td>
        <td class="hidden-column">8</td>
        <td class="hidden-column">8</td>
        <td class="hidden-column">8</td>
      </tr>
      <tr class="job-sites-column">
        <td class="static-text">Job-Sites</td>
        <td>6</td>
        <td>15</td>
        <td>15</td>
        <td class="hidden-column">15</td>
        <td class="hidden-column">15</td>
        <td class="hidden-column">15</td>
      </tr>
    </table>
    <div class="button-container">
      <div class="button-bar"></div>
      <button id="ShowButton" class="button-show-more">Show More</button>
      <div class="button-bar"></div>
    </div>
  </div>
  <h2>Florida Cities with Unverified Asbestos Exposure Job-Sites</h2>
  <p>
    If you have an asbestos-related illness and were employed before the 1990s,
    even at a site not previously identified, please select the city where you
    suspect asbestos exposure. Add your job and employment location to your
    claim and estimate your entitled compensation.
  </p>
  <p class="block-data">
    Taking this step not only aids in your compensation recovery but also helps
    us protect and support other asbestos victims, paving the way for a safer
    environment for upcoming generations.
  </p>
  <ul class="state-list">
    <li><a href="#">Alabama</a></li>
    <li><a href="#">Alaska</a></li>
    <li><a href="#">Arizona</a></li>
    <li><a href="#">Arkansas</a></li>
    <li><a href="#">California</a></li>
    <li><a href="#">Colorado</a></li>
    <li><a href="#">Connecticut</a></li>
    <li><a href="#">Delaware</a></li>
    <li><a href="#">Washington, D.C.</a></li>
    <li><a href="#">Florida</a></li>
    <li><a href="#">Georgia</a></li>
    <li><a href="#">Hawaii</a></li>
    <li><a href="#">Idaho</a></li>
    <li><a href="#">Illinois</a></li>
    <li><a href="#">Indiana</a></li>
    <li><a href="#">Iowa</a></li>
    <li><a href="#">Kansas</a></li>
    <li><a href="#">Kentucky</a></li>
    <li><a href="#">Louisiana</a></li>
    <li><a href="#">Maine</a></li>
    <li><a href="#">Maryland</a></li>
    <li><a href="#">Massachusetts</a></li>
    <li><a href="#">Michigan</a></li>
    <li><a href="#">Minnesota</a></li>
    <li><a href="#">Mississippi</a></li>
    <li><a href="#">Missouri</a></li>
    <li><a href="#">Montana</a></li>
    <li><a href="#">Nebraska</a></li>
    <li><a href="#">Nevada</a></li>
    <li><a href="#">New Hampshire</a></li>
    <li><a href="#">New Jersey</a></li>
    <li><a href="#">New Mexico</a></li>
    <li><a href="#">New York</a></li>
    <li><a href="#">North Carolina</a></li>
    <li><a href="#">North Dakota</a></li>
    <li><a href="#">Ohio</a></li>
    <li><a href="#">Oklahoma</a></li>
    <li><a href="#">Oregon</a></li>
    <li><a href="#">Pennsylvania</a></li>
    <li><a href="#">Puerto Rico</a></li>
    <li><a href="#">Rhode Island</a></li>
    <li><a href="#">South Carolina</a></li>
    <li><a href="#">South Dakota</a></li>
    <li><a href="#">Tennessee</a></li>
    <li><a href="#">Texas</a></li>
    <li><a href="#">Utah</a></li>
    <li><a href="#">Vermont</a></li>
    <li><a href="#">Virgin Islands</a></li>
    <li><a href="#">Virginia</a></li>
    <li><a href="#">Washington</a></li>
    <li><a href="#">West Virginia</a></li>
    <li><a href="#">Wisconsin</a></li>
    <li><a href="#">Wyoming</a></li>
  </ul>

  <h2>Florida: Available Trust Fund to Compensate Asbestos Victims</h2>
  <div class="bar"></div>
  <p>
    Companies that sold and distributed asbestos products formed Asbestos Trust
    funds due to liability for employee health issues. In Florida, we have
    identified the following:
  </p>
  <ul class="trust-list">
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
    <li><a href="#">Johns-Manville Corporation Trust</a></li>
    <li><a href="#">Armstrong World Industries Trust</a></li>
    <li><a href="#">Western Asbestos (Western MacArthur) Trust</a></li>
    <li><a href="#">Babcock & Wilcox Trust</a></li>
    <li><a href="#">Owens Corning Fibreboard Subfund Trust</a></li>
    <li><a href="#">Combustion Engineering Trust</a></li>
    <li><a href="#">United States Gypsum Trust</a></li>
    <li><a href="#">Owens Corning Corporation Trust</a></li>
    <li><a href="#">Pittsburgh Corning Corporation Trust</a></li>
    <li><a href="#">W.R. Grace and Co. Trust</a></li>
    <li><a href="#">DII Industries Trust</a></li>
  </ul>

  <h2>Florida: Available Compensation Amounts from Trust Funds</h2>
  <div class="bar"></div>
  <p>
    The following tables list the compensation amounts offered by the total
    combined trust funds available in Florida based on the asbestos-related
    diagnosis. These amounts reflect the latest applicable ratio.
    <span class="red-not">*</span>.
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <p>Mesothelioma Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Lung Cancer Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Asbestosis Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Other Cancer Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>Expedited Review</th>
          <th>Individual Review</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="legend-ratio">
    <p>
      <span>*</span><b>Ratio</b> = payment percentage of the scheduled value
      established by the trust.
    </p>
  </div>
  <h2>Florida: Statute of Limitation for Filing Asbestos Claims</h2>
  <p>
    In the State of Florida, the time frame for filing asbestos claims, also
    called the statute of limitations, is as follows:
  </p>
  <ul class="mark-text">
    <li>Four years (4) from the diagnosis date</li>
    <li>Two years (2) from the time of death (wrongful death claim)</li>
  </ul>

  @@include('../common/case-compensation.html')
</section>
