<section class="job-site">
  <h1>
    Lehigh Portland Cement Company: Asbestos Exposure Compensation for Affected
    Workers
  </h1>
  <div class="principal-bar"></div>
  <span class="red-text">
    Lehigh Portland Cement Company, Miami, FL: Verified Asbestos Exposure
    Job-Site
  </span>
  <p>
    Lehigh Portland Cement Company employees, diagnosed with an asbestos-related
    illness may qualify for claims against 2 Asbestos trust fund(s), and
    potentially file lawsuits against other civil defendants. Discover the
    compensation amounts available and eligibility criteria.
  </p>
  <div class="content-table">
    <div class="required-asbx">
      ==
      <span>Available Asbestos Trust Funds</span>
      <li>A. P. Green Industries</li>
      <li>Harbison Walker</li>
      <span>eligibility criteria</span>
      <p>
        In order to be eligible to receive financial compensation from trust
        funds and other civil defendants, asbestos victims must meet the
        following requirements:
      </p>
      <div class="block-data">
        <p><b>Jobs Site:</b> Lehigh Portland Cement Company</p>
        <p><b>Location:</b> Miami, FL</p>
        <p><b>Exposure Before:</b> 1982</p>
        <p><b>Occupational Exposure:</b> Yes</p>
        <p>
          <b>Confirmed Diagnosis:</b> Mesothelioma; Lung Cancer or Asbestosis
        </p>
      </div>
    </div>
    <div class="general-information-table">
      <img class="flag-img" src="../../img/fact-check-group.svg" alt="" />
      <div class="content-summarizer">
        <p>Table of Contents</p>
        <ol>
          <li>
            <a href="#first-information"
              >Companies Responsible for Asbestos Exposure
            </a>
          </li>
          <li>
            <a href="#second-information"> High-risk asbestos exposure jobs</a>
          </li>
          <li>
            <a href="#third-information"
              >Available compensation amounts from Trust fund(s)</a
            >
          </li>
          <li><a href="#fourth-information">Add + to your claims</a></li>
          <li>
            <a href="#fifth-information"
              >Express Asbestos Case Value Calculator</a
            >
          </li>
        </ol>
      </div>
    </div>
  </div>
  <h2>Asbestos Exposure: Accountability of Involved Companies</h2>
  <div class="bar"></div>
  <p>
    The company(s) responsible for asbestos exposure at Lehigh Portland Cement
    Company in Miami, FL, have been identified as:
  </p>
  <ul class="responsible-company">
    <li><span>•</span><a href="">A. P. Green Industries</a></li>
    <li><span>•</span><a href="">Harbison Walker</a></li>
  </ul>
  <p>
    Their asbestos products have caused employees health issues, resulting in
    their liability for asbestos-related diseases.
  </p>
  <h3>Asbestos Products</h3>
  <p>
    Some of the products, potentially linked to asbestos exposure, were used at
    the Lehigh Portland Cement Company:
  </p>
  <div class="content-products">
    <div class="content-products__categorization-cart">
      <p>A. P. Green Industries</p>
      <ul>
        <li>
          Asbestos Cement
        </li>
        <li>
          Asbestos Fire
        </li>
        <li>
          Greencast
        </li>
        <li>
          Insulation Adhesive
        </li>
        <li>
          Kast O-Lite Refractory Cement
        </li>
        <li>
          Mizzou Firebrick
        </li>
        <li>
          Mizzou Firebrick
        </li>
        <li>
          No. 36 Refractory
        </li>
        <li>
          Refractory Ce
        </li>
        <li>
          SK-7 Asbestos Cement
        </li>
      </ul>
    </div>
    <div class="content-products__categorization-cart">
      <p>Harbison Walker</p>
      <ul>
        <li>
          Block
        </li>
        <li>
          Castable Cement
        </li>
        <li>
          Cement
        </li>
        <li>
          Magnex Asbestos Firebrick
        </li>
        <li>
          Metalkase Chromex 8
        </li>
        <li>
          Micacrete 7/H-W 21-63
        </li>
        <li>
          Nucon 60 Asbestos Firebrick
        </li>
        <li>
          Nucon Asbestos Firebrick
        </li>
        <li>
          Refractory Brick With Spacers
        </li>
      </ul>
    </div>
  </div>
  <h2>High Risk Occupational Asbestos Exposure</h2>
  <div class="bar"></div>
  <p>
    Before 1982, numerous occupations at Lehigh Portland Cement Company in
    Miami, Florida, were at an elevated risk of asbestos exposure. Asbestos was
    extensively used, and inadequate safety measures made these jobs highly
    hazardous:
  </p>
  <ul class="occupational">
    <li>
      Boilermaker / Boiler-tender
    </li>
    <li>
      Construction (Industrial / Commercial)
    </li>
    <li>
      Construction (Residential)
    </li>
    <li>
      Laborer
    </li>
    <li>
      Maritime / Deckhand
    </li>
    <li>
      Pipefitter / Plumber
    </li>
    <li>
      Steelworker
    </li>
  </ul>
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
  <h2>Available Compensation Amounts</h2>
  <div class="bar"></div>
  <p>
    The table below lists the types of claims based on the diagnosis and the
    compensation amounts offered by trust fund(s) that have sold and distributed
    asbestos-containing products at Lehigh Portland Cement Company in Miami, FL.
    These amounts indicate the combined highest payments that the trust(s) will
    pay upon filing claims, prior to the application of the ratio*.
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <p>Mesothelioma Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>ER Claims</th>
          <th>AVG Claims</th>
          <th>IR Claims</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
          <td>$6,203,194</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Lung Cancer Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>ER Claims</th>
          <th>AVG Claims</th>
          <th>IR Claims</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
          <td>$6,203,194</td>
        </tr>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Asbestosis Claims</p>
      <table class="compensation-section__table">
        <tr class="left-column">
          <th>ER Claims</th>
          <th>AVG Claims</th>
          <th>IR Claims</th>
        </tr>
        <tr class="right-column">
          <td>$2,098,134</td>
          <td>$2,549,594</td>
          <td>$6,203,194</td>
        </tr>
      </table>
    </div>
    <div class="legend">
      <span>Legend</span>
      <div class="legend-nots">
        <p>ER Claim = Expedite Review Trust Claim.</p>
        <p>AVG Claim = Average Review Trust and Civil Lawsuit</p>
        <p>IR Claim = Individual Review Trust Claim.</p>
        <p>*Ratio = payment percentage established by the trust.</p>
      </div>
    </div>
  </div>
  <h2>Add Lehigh Portland Cement Company to your Claims</h2>
  <div class="bar"></div>
  <p>
    By adding <b>Lehigh Portland Cement Company</b> to your asbestos claim
    calculator, you can determine the financial compensation you deserve for the
    harm caused by their exposure of asbestos to you or a loved one.
  </p>
  <form id="jobTitleSelect" class="jobsite-card">
    <div class="jobsite-card__content">
      <div class="sorting-job">
        <div class="all-selectors">
          <div class="content-input">
            <div class="custom-select search-element">
              <select id="selectJob" class="">
                <option class="first-alternative" value="0">
                  Select Job Type
                </option>
                <option value="lista2">Listă 2</option>
                <option value="lista3">Listă 3</option>
              </select>
            </div>
            <div class="activity-years">
              <div class="selector-data">
                <p>From</p>
                <div class="custom-select data-select">
                  <select id="fromYearSelect" class="custom-select__data">
                    <option class="first-alternative" value="0">
                      Select year:
                    </option>
                    <option value="Before">Before 1970</option>
                    <option value="1980">1980</option>
                    <option value="1982">1982</option>
                    <option value="1984">1984</option>
                    <option value="1988">1988</option>
                    <option value="1990">1990</option>
                  </select>
                </div>
              </div>
              <div class="selector-data">
                <p>To</p>
                <div class="custom-select data-select">
                  <select id="toYearSelect" class="custom-select__data">
                    <option class="first-alternative" value="0">
                      Select year:
                    </option>
                    <option value="1980">1980</option>
                    <option value="1983">1983</option>
                    <option value="1986">1986</option>
                    <option value="1989">1989</option>
                    <option value="1992">1992</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="add-button" id="addButton">
          <p>Add +</p>
          <span>to your claim</span>
        </button>
      </div>
    </div>
  </form>
  <div class="calculator-section">
    <h2 id="sixth-information">
      No Sure What To Do? <br />
      <span>Try our Express Asbestos Case Value Calculator</span>
    </h2>
    <div class="bar"></div>
    <p>
      Discover the amount of compensation available for you or a loved one in
      just a few minutes. (This calculator is recommended for family members.)
    </p>
    @@include('../common/case-compensation.html')
  </div>
</section>
