<section class="asbestos multiple-page">
  <h1>Guide to the Owens Corning Fibreboard Asbestos Personal Injury Trust</h1>
  <div class="principal-bar"></div>
  <p>
    The Owens Corning Fibreboard Asbestos Personal Injury Trust, established in
    2006, serves as a key legal resolution platform for all asbestos-related
    claims against Owens Corning and its subsidiary, Fibreboard. This
    comprehensive guide provides detailed insights into the Trust's purpose,
    operations, and how it resolves claims following the Trust Distribution
    Procedures (TDP).
  </p>

  <div class="component-information">
    <div class="content-summarizer">
      <p>Content Summarizer:</p>
      <ol>
        <li>Introduction</li>
        <ul>
          <li><p>Origins of the Trust</p></li>
          <li><p>Purpose of the Trust</p></li>
          <li><p>Start of Claim Acceptance</p></li>
        </ul>
        <li>Function and Process of the Trust</li>
        <ul>
          <li><p>Trust Distribution Procedures (TDP)</p></li>
        </ul>
        <li>Payment Policies</li>
        <ul>
          <li><p>Payment Percentage for Owens Corning</p></li>
          <li><p>Payment Percentage for Fibreboard</p></li>
        </ul>
        <li>Contact Information</li>
        <li>Legal Help</li>
      </ol>
    </div>

    <div class="company-img">
        <img src="../../img/Owens.png" alt="" />
        <img src="../../img/Fibre.png" alt="" />
    </div>
  </div>
  <h2>Introduction</h2>
  <div class="bar"></div>
  <p>
    The Owens Corning Fibreboard Asbestos Personal Injury Trust is a notable
    case of a legal arbitration system. This Trust was put in place on October
    31, 2006, and stems from the bankruptcy of two leading companies, Owens
    Corning and its wholly-owned subsidiary, Fibreboard.
  </p>
  <span>Origins of the Trust</span>
  <p>
    Both companies, Owens Corning and Fibreboard, faced bankruptcy, which led to
    the foundation of the Owens Corning Fibreboard Asbestos Personal Injury
    Trust. This Trust was to address all asbestos-related lawsuits that both
    businesses were legally responsible for.
  </p>
  <span>Purpose of the Trust</span>
  <p>
    The Trust was primarily established to resolve all existing asbestos-related
    legal disputes associated with Owens Corning, Fibreboard, and any other
    relevant protected parties.
  </p>
  <span>Start of Claim Acceptance</span>
  <p>
    The Trust initiated the acceptance of claims related to Owens Corning
    Fibreboard Asbestos Personal Injury on August 27, 2007, starting precisely
    at 10:00 AM EST.
  </p>
  <h2>Function and Process of the Trust</h2>
  <div class="bar"></div>
  <p>
    The Trust operates with the main function of recognizing and settling all
    valid asbestos personal injury claims filed against the relevant parties.
    The procedure it follows aligns with a specific protocol known as the Trust
    Distribution Procedures (TDP).
  </p>
  <span>Trust Distribution Procedures (TDP)</span>
  <p>
    The Trust Distribution Procedures (TDP) is a protocol approved by the
    bankruptcy court for handling and distributing asbestos personal injury
    claims.
  </p>
  <h2>Payment Policies</h2>
  <div class="bar"></div>
  <p>
    The Trust follows a clear and precise payment policy for the settlement of
    claims.
  </p>
  <h2>Payment Percentage for Owens Corning</h2>
  <div class="bar"></div>
  <p>
    For Owens Corning (O.C.), the current payment percentage stands at 5.9% of
    the scheduled value for an Expedited Review. The same rate, 5.9%, applies to
    the total settlement value for Individualized Review.
  </p>
  <div class="trust-funds-claim">
    <table class="compensation-section__table">
      <tr class="data-column-text">
        <th class="claims-type">Claim Type</th>
        <th>ER Claims</th>
        <th>AVG Claims</th>
        <th>IR Claims</th>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Mesothelioma</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Lung Cancer</td>
        <td>$567,806</td>
        <td>$567,806</td>
        <td>$1,567,806</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Asbestosis</td>
        <td>$806.89</td>
        <td>$1282,90</td>
        <td>$11,206.00</td>
      </tr>
    </table>
  </div>
  <h2>Payment Percentage for Fibreboard</h2>
  <p>
    On the other hand, the payment percentage for Fibreboard (F.B.) is slightly
    lower, standing at 4.4% of the scheduled value for Expedited Review and the
    same 4.4% of the gross settlement value for Individualized Review.
  </p>
  <div class="trust-funds-claim">
    <table class="compensation-section__table">
      <tr class="data-column-text">
        <th class="claims-type">Claim Type</th>
        <th>ER Claims</th>
        <th>AVG Claims</th>
        <th>IR Claims</th>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Mesothelioma</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
        <td>$2,030,894</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Lung Cancer</td>
        <td>$567,806</td>
        <td>$567,806</td>
        <td>$1,567,806</td>
      </tr>
      <tr class="data-column">
        <td class="data-column__diagnosed">Asbestosis</td>
        <td>$806.89</td>
        <td>$1282,90</td>
        <td>$11,206.00</td>
      </tr>
    </table>
  </div>

  <h2>Assistance with Filing Asbestos Claims from Legal Professionals</h2>
  <div class="bar"></div>
  <p>
    Legal help is crucial to file asbestos claims for the
    <b>Owens Corning Fibreboard Asbestos Personal Injury Trust</b>. Asbestos
    attorneys can navigate the complexities of the Trust Distribution Procedures
    (TDP), assist individuals with required documentation, and provide valuable
    guidance on the most beneficial route for your unique situation.
  </p>
  <p>
    We have chosen highly skilled lawyers specializing in asbestos mesothelioma
    cases who provide free legal consultations to victims. Our goal is to create
    a bridge between asbestos victims and the organizations that can help.
  </p>

  @@include('./lawyers-available.html')

  <h2>Contact Owens Corning Fibreboard Asbestos Personal Injury Trust</h2>
  <div class="bar"></div>
  <p>
    For further information or inquiries, you can reach the Owens Corning
    Fibreboard Asbestos Personal Injury Trust at:
  </p>
  <br>
  <p>Owens Corning Fibreboard Asbestos Personal Injury Trust</p>
  <p><b>Address:</b> P.O. Box 1072, Wilmington, Delaware, 19899-1072</p>
  <br>
  <p><b>Phone</b> (toll-free claimant relations): 800.708.8925 </p>
  <p>(8:00 AM to 4:30 PM EST, Monday–Friday)</p>
</section>
