<section class="city-content">
  <div class="container">
    <h1>Mesothelioma Compensation in Miami, FL</h1>
    <p>
      Compensation is available for all workers in Miami, FL diagnosed with
      mesothelioma. To find out how much you or your family can receive, use our
      most transparent and secure Free Mesothelioma Case Value Calculator, based
      on the largest and comprehensive asbestos exposure data-base.
    </p>
    <div class="necessary-information">
      <div class="necessary-information__content">
        <div class="compensation-fact">
          <p>Miami, FL Compensation Facts</p>
          <div class="compensation-fact__data">
            <p>Asbestos exposure</p>
            <ul>
              <li>Time Frame: <span>1934 -1986</span></li>
              <li>Verified Job-sites: <span>1678</span></li>
              <li>Boiler Exposure Sites: <span>18,562</span></li>
            </ul>
            <p>compensation Source</p>
            <ul>
              <li>Asbestos Trust Funds: <span>16</span></li>
              <li>Civil Defenders: <span>567</span></li>
            </ul>
            <p>Compensation Requirements</p>
            <ul>
              <li>Occupational Exposure: <span>YES</span></li>
              <li>Mesothelioma Diagnosis: <span>YES</span></li>
            </ul>
          </div>
        </div>
        <div class="table-content">
          <p>Table of Contents</p>
          <ul>
            <li>Compensation by asbestos diseases</li>
            <li>Asbestos job-sites in Miami, FL</li>
            <li>Exposure by boilers in Miami, FL</li>
            <li>Get answers to any legal question</li>
          </ul>
        </div>
      </div>
      <div class="explanatory-video">
        <p>Explanatory Video</p>
      </div>
    </div>
  </div>
</section>
