<section class="city-state">
  <h1>Portland, TN Asbestos Legal and Compensation Options</h1>

  <p class="data-info">
    Connect with trustworthy mesothelioma lawyers offering free legal advice to
    asbestos victims in Portland, TN.
  </p>
  <h2>Compensation Options for Asbestos Victims that Worked in Portland, TN</h2>
  <div class="bar"></div>
  <div class="search-option">
    <ul>
      <li><a href="">Mesothelioma Compensation</a></li>
      <li><a href="">Lung Cancer Compensation</a></li>
      <li><a href="">Asbestosis Compensation</a></li>
    </ul>
  </div>
  <h2 id="fourth-information">
    Receive top-tier legal counsel for asbestos cases from leading attorneys in
    the U. S.
  </h2>
  <div class="bar"></div>
  <div class="section-question">
    <div class="section-question__text">
      <img src="../../img/legal-q.png" alt="" />
      <p>
        If you have legal questions about mesothelioma or other asbestos-related
        diseases, fill out the "I have a legal question" form. You'll be
        connected directly with qualified mesothelioma lawyers with decades of
        experience. Take advantage of a 100% free legal consultation today.
      </p>
    </div>
    @@include('../common/question-card.html')
  </div>
  <div class="container-lawyers">
    <div class="lawyers-information">
      <h2 id="fifth-information">
        Mesothelioma Attorney Helping Miami Mesothelioma Victims
      </h2>
      <div class="bar"></div>
      <p>
        We have selected top-notch asbestos lawyers who offer free legal
        consultation for mesothelioma victims in Miami, FL. Our ultimate goal is
        to create a bridge between asbestos victims and the organizations that
        can help.
      </p>
      <p class="red-text">
        Today <b>08/21/2023</b> your free consultation will be offered by:
      </p>
      <div class="block-lawyers">
        <div class="block-lawyers__about">
          <img src="../../img/lawyers-img-av.svg" alt="" />
          <div class="lawyers-data">
            <h3>Ethan Flint</h3>
            <p>Mesothelioma Attorney</p>
            <p>Experience: 17 Years</p>
          </div>
        </div>
        <div class="contact">
          <div class="number">
            <img src="../../img/call.svg" alt="" />
            <a href="tel:8446789445">(844)678-9445</a>
          </div>
          <div class="message">
            <img src="../../img/message.svg" alt="" />
            <a href="mailto:ethan@asbx.org">ethan@asbx.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('../common/case-compensation.html')
  <div id="claims-select-mobile" class="claims-select-mobile">
    @@include('./claims-calculator.html')
  </div>
</section>
