<section class="trust-fund container-desktop">
  <h1>USG Asbestos Personal Injury Settlement Trust</h1>
  <div class="principal-bar"></div>
  <p class="data-info">
    The USG Asbestos Personal Injury Settlement Trust is a fund created under US
    Bankruptcy Code Chapter 11 to manage and resolve all asbestos-related
    personal injury claims against the United States Gypsum Company (USG).
  </p>
  <p class="status-active">Trust Fund Status: <span>ACTIVE</span></p>
  <div class="content-table">
    <div class="content-summarizer">
      <p>Table of Contents</p>
      <div class="content-summarizer__notice">
        <div>
          <mark>•</mark> <a href="#first-information">Introduction</a>
        </div>
        <div>
          <mark>•</mark> <a href="#second-information">Trust Purpose and Functions</a>
        </div>
        <div>
          <mark>•</mark> <a href="#third-information">Claim Submission and Resolution</a>
        </div>
        <div>
          <mark>•</mark> <a href="#fourth-information">Current Payment by Claim Type</a>
        </div>
        <div>
          <mark>•</mark> <a href="#fifth-information">USG Asbestos Product</a>
        </div>
        <div>
          <mark>•</mark> <a href="#sixth-information">USG Trust Direct Contact</a>
        </div>
      </div>
    </div>
    <img class="company-logo" src="../../img/company-USG.png" alt="" />
  </div>
  <h2>Introduction to the USG Asbestos Trust</h2>
  <div class="bar"></div>
  <p>
    The United States Gypsum Asbestos Personal Injury Settlement Trust, formed
    under Chapter 11 of the US Bankruptcy Code, is designed to resolve all
    asbestos-related claims against the United States Gypsum Company (USG) for
    which the company is legally responsible.
  </p>
  <h2>Trust Purpose and Functions</h2>
  <div class="bar"></div>
  <p>
    The Trust primarily aims to compensate all valid asbestos personal injury
    claims against USG and certain associated parties. Compensations are
    distributed based on the Trust Distribution Procedures (TDP) approved by the
    bankruptcy court. This platform aims to provide comprehensive information to
    assist claimants and others in:
  </p>
  <ul class="mark-text">
    <li>Understanding the purpose of the USG Asbestos Trust</li>
    <li>Gaining insights into how the Trust addresses claims</li>
  </ul>
  <h2>Claim Submission and Resolution</h2>
  <div class="bar"></div>
  <p>
    The USG Asbestos Trust commenced the acceptance of claims relating to
    asbestos personal injury settlements on February 19, 2007, starting at 10:00
    A.M. EST.
  </p>
  <h2>Current Payment by Claim Type</h2>
  <div class="bar"></div>
  <p>
    The table below represents the current payment amounts for each type of
    claim:
  </p>
  <div class="sort-chase">
    <div class="sort-chase__content">
      <p>Mesothelioma Claims</p>
      <table class="compensation-section__table">
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,030,894</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$6,203,194</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="review">Ratio</td>
            <td class="amount-result">12.7%</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Lung Cancer Claims</p>
      <table class="compensation-section__table">
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,030,894</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$6,203,194</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="review">Ratio</td>
            <td class="amount-result">12.7%</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Asbestosis Claims</p>
      <table class="compensation-section__table">
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,030,894</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$6,203,194</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="review">Ratio</td>
            <td class="amount-result">12.7%</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="sort-chase__content">
      <p>Other Cancer Claims</p>
      <table class="compensation-section__table">
        <tbody>
          <tr>
            <td class="review">Expedited Review</td>
            <td class="amount-result">$2,030,894</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="review">Individual Review</td>
            <td class="amount-result">$6,203,194</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="review">Ratio</td>
            <td class="amount-result">12.7%</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="legend-ratio">
    <p>
      <span>*</span><b>Ratio</b> = payment percentage of the scheduled value
      established by the trust.
    </p>
  </div>
  <h2>USG Asbestos Product</h2>
  <div class="bar"></div>
  <p>
    USG produced a line of asbestos-containing products that were widely used
    throughout the 20th century. Some of this products are listed below:
  </p>
  <div class="equipment-ship">
    <ul>
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
      <li>¾" Gate Valve</li>
      <li>1" To 8" Gate Valve</li>
      <li>1.25"/ 1.5"/ 2" & 2.5" Gate Valve For Auxiliary Steam</li>
      <li>1.5", 2" & 9" Gate Valve</li>
      <li>139 2" And Below Bonnetless Valve</li>
    </ul>
  </div>
  <h2>Direct Contact to USG Asbestos Personal Injury Trust</h2>
  <div class="bar"></div>
  <address class="contact-company">
    <p>
      You can contact United States Gypsum Asbestos Personal Injury Settlement
      Trust at their principal office:
    </p>
    <p>Combustion Engineering 524(g) Asbestos PI Trust</p>
    <p>P.O. Box 1080</p>
    <p><strong>Address:</strong> Wilmington, Delaware 19899-1080</p>
    <div class="claimant-relations">
      <h3>Claimant Relations:</h3>
      <p>Toll-free: <a href="tel:8446789445">(844)678-9445</a></p>
      <p>
        Email: <a href="mailto:twolf@asbx.org">claimantrelations@delcpf.com</a>
      </p>
    </div>
  </address>
  @@include('../common/case-compensation.html')
  <div class="claims-select-mobile">@@include('./claims-calculator.html')</div>
</section>
