<div class="container">
  <h2>Mesothelioma FAQs</h2>
  <div class="container-faq">
    <div class="faq-item">
      <h3 class="faq-question">
        Will Mesothelioma ever be curable? <span class="toggle-icon"></span>
      </h3>
      <p class="faq-answer">
        Future advances in medical research could lead to a cure for
        Mesothelioma. Scientists and doctors are continuously researching and
        testing new treatments. Currently, there isn't a definitive cure, but
        treatments can help manage the disease and improve patients' quality of
        life. We get one step closer to finding a cure with each new discovery.
      </p>
    </div>

    <div class="faq-item">
      <h3 class="faq-question">
        Will Mesothelioma kill you? <span class="toggle-icon"></span>
      </h3>
      <p class="faq-answer">
        Future advances in medical research could lead to a cure for
        Mesothelioma. Scientists and doctors are continuously researching and
        testing new treatments. Currently, there isn't a definitive cure, but
        treatments can help manage the disease and improve patients' quality of
        life. We get one step closer to finding a cure with each new discovery.
      </p>
    </div>
  </div>
</div>
