<div class="lawyers-available">
    <img src="../../img/troys-wolf.png" alt="">
    <div class="lawyers-available__about">
        <h3>Troys Wolf</h3>
        <p>Asbestos Mesothelioma Attorney</p>
        <p>Experience: 35 Years</p>
        <br>
        <span>Direct Contact </span>
        <div class="number">
            <img src="../../img/call.svg" alt="">
            <a href="tel:8446789xxx">(844)678-9xxx</a>
        </div>        
        <div class="message">
            <img src="../../img/message.svg" alt="">
            <a href="mailto:twolf@asbx.org">twolf@asbx.org</a>
        </div>        
        <div class="chat">
            <img src="../../img/chat.svg" alt="">
            <a>Request Callback</a>
        </div>        
    </div>
</div>