<div class="search-background">
    <div class="container">
        <form action="" class="search-header">
            <select id="select1">
              <option value="">Select Job Type</option>
              <option value="lista1">Family Member</option>
              <option value="lista2">Listă 2</option>
              <option value="lista3">Listă 3</option>
            </select>
          <div class="search-form">
            <div class="select-wrapper search-wrapper">
              <div class="input-wrapper">
                <i class="fas fa-map-marker-alt"></i>
                <input
                  type="text"
                  id="search"
                  placeholder="Near"
                  onfocus="addPadding()"
                  onblur="removePadding()"
                />
              </div>
            </div>
            <button class="button new-buton-adapt" type="submit">Find</button>
          </div>
        </form>
    </div>
</div>