/*------------------------------------------------------------------
  Media Queries
  ------------------------------------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg#Montserrat-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BlackItalic.eot");
  src: url("../fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype"), url("../fonts/Montserrat-BlackItalic.svg#Montserrat-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-BoldItalic.svg#Montserrat-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype"), url("../fonts/Montserrat-MediumItalic.svg#Montserrat-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype"), url("../fonts/Montserrat-LightItalic.svg#Montserrat-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype"), url("../fonts/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype"), url("../fonts/Montserrat-ThinItalic.svg#Montserrat-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.display-flex {
  display: flex; }

.display-inline-flex {
  display: inline-flex; }

.layout-row {
  display: flex;
  flex-direction: row; }

.layout-row-reverse {
  display: flex;
  flex-direction: row-reverse; }

.layout-column {
  display: flex;
  flex-direction: column; }

@media (max-width: 991px) {
  .layout-column-xs {
    flex-direction: column; } }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-stretch {
  align-items: stretch; }

.align-items-baseline {
  align-items: baseline; }

.align-self-center {
  align-self: center; }

.align-self-end {
  align-self: flex-end; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-around {
  justify-content: space-around; }

.flex-wrap {
  flex-wrap: wrap; }

.zindex-0 {
  z-index: 0; }

.zindex-1 {
  z-index: 1; }

.zindex-2 {
  z-index: 2; }

.zindex-3 {
  z-index: 3; }

.zindex-4 {
  z-index: 4; }

.zindex-5 {
  z-index: 5; }

.zindex-6 {
  z-index: 6; }

.zindex-7 {
  z-index: 7; }

.zindex-8 {
  z-index: 8; }

.zindex-9 {
  z-index: 9; }

/*------------------------------------------------------------------
    Placeholder
    ------------------------------------------------------------------*/
.fh-20 {
  height: 20rem !important;
  min-height: 20rem !important; }

.fh-25 {
  height: 25rem !important;
  min-height: 25rem !important; }

.fh-30 {
  height: 30rem !important;
  min-height: 30rem !important; }

.fh-35 {
  height: 35rem !important;
  min-height: 35rem !important; }

.fh-40 {
  height: 40rem !important;
  min-height: 40rem !important; }

.fh-45 {
  height: 45rem !important;
  min-height: 45rem !important; }

.fh-50 {
  height: 50rem !important;
  min-height: 50rem !important; }

.fh-55 {
  height: 55rem !important;
  min-height: 55rem !important; }

.fh-60 {
  height: 60rem !important;
  min-height: 60rem !important; }

@media (max-width: 767px) {
  .fh-20-xs {
    height: 20rem !important;
    min-height: 20rem !important; }
  .fh-25-xs {
    height: 25rem !important;
    min-height: 25rem !important; }
  .fh-30-xs {
    height: 30rem !important;
    min-height: 30rem !important; }
  .fh-35-xs {
    height: 35rem !important;
    min-height: 35rem !important; }
  .fh-40-xs {
    height: 40rem !important;
    min-height: 40rem !important; } }

.mt-0 {
  margin-top: 0rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-6 {
  margin-top: 6rem !important; }

.mt-7 {
  margin-top: 7rem !important; }

.mt-8 {
  margin-top: 8rem !important; }

.mt-9 {
  margin-top: 9rem !important; }

.mt-10 {
  margin-top: 10rem !important; }

.mt-11 {
  margin-top: 11rem !important; }

.mt-12 {
  margin-top: 12rem !important; }

.mt-13 {
  margin-top: 13rem !important; }

.mt-14 {
  margin-top: 14rem !important; }

.mt-15 {
  margin-top: 15rem !important; }

.mt-16 {
  margin-top: 16rem !important; }

.mt-17 {
  margin-top: 17rem !important; }

.mt-18 {
  margin-top: 18rem !important; }

.mt-19 {
  margin-top: 19rem !important; }

.mt-20 {
  margin-top: 20rem !important; }

.mt-21 {
  margin-top: 21rem !important; }

.mt-22 {
  margin-top: 22rem !important; }

.mt-23 {
  margin-top: 23rem !important; }

.mt-24 {
  margin-top: 24rem !important; }

.mt-25 {
  margin-top: 25rem !important; }

.mb-0 {
  margin-bottom: 0rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-6 {
  margin-bottom: 6rem !important; }

.mb-7 {
  margin-bottom: 7rem !important; }

.mb-8 {
  margin-bottom: 8rem !important; }

.mb-9 {
  margin-bottom: 9rem !important; }

.mb-10 {
  margin-bottom: 10rem !important; }

.mb-11 {
  margin-bottom: 11rem !important; }

.mb-12 {
  margin-bottom: 12rem !important; }

.mb-13 {
  margin-bottom: 13rem !important; }

.mb-14 {
  margin-bottom: 14rem !important; }

.mb-15 {
  margin-bottom: 15rem !important; }

.mb-16 {
  margin-bottom: 16rem !important; }

.mb-17 {
  margin-bottom: 17rem !important; }

.mb-18 {
  margin-bottom: 18rem !important; }

.mb-19 {
  margin-bottom: 19rem !important; }

.mb-20 {
  margin-bottom: 20rem !important; }

.mb-21 {
  margin-bottom: 21rem !important; }

.mb-22 {
  margin-bottom: 22rem !important; }

.mb-23 {
  margin-bottom: 23rem !important; }

.mb-24 {
  margin-bottom: 24rem !important; }

.mb-25 {
  margin-bottom: 25rem !important; }

.ml-0 {
  margin-left: 0rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.ml-5 {
  margin-left: 5rem !important; }

.ml-6 {
  margin-left: 6rem !important; }

.ml-7 {
  margin-left: 7rem !important; }

.ml-8 {
  margin-left: 8rem !important; }

.ml-9 {
  margin-left: 9rem !important; }

.ml-10 {
  margin-left: 10rem !important; }

.ml-11 {
  margin-left: 11rem !important; }

.ml-12 {
  margin-left: 12rem !important; }

.ml-13 {
  margin-left: 13rem !important; }

.ml-14 {
  margin-left: 14rem !important; }

.ml-15 {
  margin-left: 15rem !important; }

.ml-16 {
  margin-left: 16rem !important; }

.ml-17 {
  margin-left: 17rem !important; }

.ml-18 {
  margin-left: 18rem !important; }

.ml-19 {
  margin-left: 19rem !important; }

.ml-20 {
  margin-left: 20rem !important; }

.ml-21 {
  margin-left: 21rem !important; }

.ml-22 {
  margin-left: 22rem !important; }

.ml-23 {
  margin-left: 23rem !important; }

.ml-24 {
  margin-left: 24rem !important; }

.ml-25 {
  margin-left: 25rem !important; }

.mr-0 {
  margin-right: 0rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.mr-5 {
  margin-right: 5rem !important; }

.mr-6 {
  margin-right: 6rem !important; }

.mr-7 {
  margin-right: 7rem !important; }

.mr-8 {
  margin-right: 8rem !important; }

.mr-9 {
  margin-right: 9rem !important; }

.mr-10 {
  margin-right: 10rem !important; }

.mr-11 {
  margin-right: 11rem !important; }

.mr-12 {
  margin-right: 12rem !important; }

.mr-13 {
  margin-right: 13rem !important; }

.mr-14 {
  margin-right: 14rem !important; }

.mr-15 {
  margin-right: 15rem !important; }

.mr-16 {
  margin-right: 16rem !important; }

.mr-17 {
  margin-right: 17rem !important; }

.mr-18 {
  margin-right: 18rem !important; }

.mr-19 {
  margin-right: 19rem !important; }

.mr-20 {
  margin-right: 20rem !important; }

.mr-21 {
  margin-right: 21rem !important; }

.mr-22 {
  margin-right: 22rem !important; }

.mr-23 {
  margin-right: 23rem !important; }

.mr-24 {
  margin-right: 24rem !important; }

.mr-25 {
  margin-right: 25rem !important; }

@media (max-width: 767px) {
  .mt-0-xs {
    margin-top: 0rem !important; }
  .mt-1-xs {
    margin-top: 1rem !important; }
  .mt-2-xs {
    margin-top: 2rem !important; }
  .mt-3-xs {
    margin-top: 3rem !important; }
  .mt-4-xs {
    margin-top: 4rem !important; }
  .mt-5-xs {
    margin-top: 5rem !important; }
  .mt-6-xs {
    margin-top: 6rem !important; }
  .mt-7-xs {
    margin-top: 7rem !important; }
  .mt-8-xs {
    margin-top: 8rem !important; }
  .mt-9-xs {
    margin-top: 9rem !important; }
  .mt-10-xs {
    margin-top: 10rem !important; }
  .mt-11-xs {
    margin-top: 11rem !important; }
  .mt-12-xs {
    margin-top: 12rem !important; }
  .mt-13-xs {
    margin-top: 13rem !important; }
  .mt-14-xs {
    margin-top: 14rem !important; }
  .mt-15-xs {
    margin-top: 15rem !important; }
  .mt-16-xs {
    margin-top: 16rem !important; }
  .mt-17-xs {
    margin-top: 17rem !important; }
  .mt-18-xs {
    margin-top: 18rem !important; }
  .mt-19-xs {
    margin-top: 19rem !important; }
  .mt-20-xs {
    margin-top: 20rem !important; }
  .mt-21-xs {
    margin-top: 21rem !important; }
  .mt-22-xs {
    margin-top: 22rem !important; }
  .mt-23-xs {
    margin-top: 23rem !important; }
  .mt-24-xs {
    margin-top: 24rem !important; }
  .mt-25-xs {
    margin-top: 25rem !important; }
  .mb-0-xs {
    margin-bottom: 0rem !important; }
  .mb-1-xs {
    margin-bottom: 1rem !important; }
  .mb-2-xs {
    margin-bottom: 2rem !important; }
  .mb-3-xs {
    margin-bottom: 3rem !important; }
  .mb-4-xs {
    margin-bottom: 4rem !important; }
  .mb-5-xs {
    margin-bottom: 5rem !important; }
  .mb-6-xs {
    margin-bottom: 6rem !important; }
  .mb-7-xs {
    margin-bottom: 7rem !important; }
  .mb-8-xs {
    margin-bottom: 8rem !important; }
  .mb-9-xs {
    margin-bottom: 9rem !important; }
  .mb-10-xs {
    margin-bottom: 10rem !important; }
  .mb-11-xs {
    margin-bottom: 11rem !important; }
  .mb-12-xs {
    margin-bottom: 12rem !important; }
  .mb-13-xs {
    margin-bottom: 13rem !important; }
  .mb-14-xs {
    margin-bottom: 14rem !important; }
  .mb-15-xs {
    margin-bottom: 15rem !important; }
  .mb-16-xs {
    margin-bottom: 16rem !important; }
  .mb-17-xs {
    margin-bottom: 17rem !important; }
  .mb-18-xs {
    margin-bottom: 18rem !important; }
  .mb-19-xs {
    margin-bottom: 19rem !important; }
  .mb-20-xs {
    margin-bottom: 20rem !important; }
  .mb-21-xs {
    margin-bottom: 21rem !important; }
  .mb-22-xs {
    margin-bottom: 22rem !important; }
  .mb-23-xs {
    margin-bottom: 23rem !important; }
  .mb-24-xs {
    margin-bottom: 24rem !important; }
  .mb-25-xs {
    margin-bottom: 25rem !important; }
  .ml-0-xs {
    margin-left: 0rem !important; }
  .ml-1-xs {
    margin-left: 1rem !important; }
  .ml-2-xs {
    margin-left: 2rem !important; }
  .ml-3-xs {
    margin-left: 3rem !important; }
  .ml-4-xs {
    margin-left: 4rem !important; }
  .ml-5-xs {
    margin-left: 5rem !important; }
  .ml-6-xs {
    margin-left: 6rem !important; }
  .ml-7-xs {
    margin-left: 7rem !important; }
  .ml-8-xs {
    margin-left: 8rem !important; }
  .ml-9-xs {
    margin-left: 9rem !important; }
  .ml-10-xs {
    margin-left: 10rem !important; }
  .ml-11-xs {
    margin-left: 11rem !important; }
  .ml-12-xs {
    margin-left: 12rem !important; }
  .ml-13-xs {
    margin-left: 13rem !important; }
  .ml-14-xs {
    margin-left: 14rem !important; }
  .ml-15-xs {
    margin-left: 15rem !important; }
  .ml-16-xs {
    margin-left: 16rem !important; }
  .ml-17-xs {
    margin-left: 17rem !important; }
  .ml-18-xs {
    margin-left: 18rem !important; }
  .ml-19-xs {
    margin-left: 19rem !important; }
  .ml-20-xs {
    margin-left: 20rem !important; }
  .ml-21-xs {
    margin-left: 21rem !important; }
  .ml-22-xs {
    margin-left: 22rem !important; }
  .ml-23-xs {
    margin-left: 23rem !important; }
  .ml-24-xs {
    margin-left: 24rem !important; }
  .ml-25-xs {
    margin-left: 25rem !important; }
  .mr-0-xs {
    margin-right: 0rem !important; }
  .mr-1-xs {
    margin-right: 1rem !important; }
  .mr-2-xs {
    margin-right: 2rem !important; }
  .mr-3-xs {
    margin-right: 3rem !important; }
  .mr-4-xs {
    margin-right: 4rem !important; }
  .mr-5-xs {
    margin-right: 5rem !important; }
  .mr-6-xs {
    margin-right: 6rem !important; }
  .mr-7-xs {
    margin-right: 7rem !important; }
  .mr-8-xs {
    margin-right: 8rem !important; }
  .mr-9-xs {
    margin-right: 9rem !important; }
  .mr-10-xs {
    margin-right: 10rem !important; }
  .mr-11-xs {
    margin-right: 11rem !important; }
  .mr-12-xs {
    margin-right: 12rem !important; }
  .mr-13-xs {
    margin-right: 13rem !important; }
  .mr-14-xs {
    margin-right: 14rem !important; }
  .mr-15-xs {
    margin-right: 15rem !important; }
  .mr-16-xs {
    margin-right: 16rem !important; }
  .mr-17-xs {
    margin-right: 17rem !important; }
  .mr-18-xs {
    margin-right: 18rem !important; }
  .mr-19-xs {
    margin-right: 19rem !important; }
  .mr-20-xs {
    margin-right: 20rem !important; }
  .mr-21-xs {
    margin-right: 21rem !important; }
  .mr-22-xs {
    margin-right: 22rem !important; }
  .mr-23-xs {
    margin-right: 23rem !important; }
  .mr-24-xs {
    margin-right: 24rem !important; }
  .mr-25-xs {
    margin-right: 25rem !important; } }

.pt-0 {
  padding-top: 0rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pt-6 {
  padding-top: 6rem !important; }

.pt-7 {
  padding-top: 7rem !important; }

.pt-8 {
  padding-top: 8rem !important; }

.pt-9 {
  padding-top: 9rem !important; }

.pt-10 {
  padding-top: 10rem !important; }

.pt-11 {
  padding-top: 11rem !important; }

.pt-12 {
  padding-top: 12rem !important; }

.pt-13 {
  padding-top: 13rem !important; }

.pt-14 {
  padding-top: 14rem !important; }

.pt-15 {
  padding-top: 15rem !important; }

.pt-16 {
  padding-top: 16rem !important; }

.pt-17 {
  padding-top: 17rem !important; }

.pt-18 {
  padding-top: 18rem !important; }

.pt-19 {
  padding-top: 19rem !important; }

.pt-20 {
  padding-top: 20rem !important; }

.pt-21 {
  padding-top: 21rem !important; }

.pt-22 {
  padding-top: 22rem !important; }

.pt-23 {
  padding-top: 23rem !important; }

.pt-24 {
  padding-top: 24rem !important; }

.pt-25 {
  padding-top: 25rem !important; }

.pb-0 {
  padding-bottom: 0rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pb-6 {
  padding-bottom: 6rem !important; }

.pb-7 {
  padding-bottom: 7rem !important; }

.pb-8 {
  padding-bottom: 8rem !important; }

.pb-9 {
  padding-bottom: 9rem !important; }

.pb-10 {
  padding-bottom: 10rem !important; }

.pb-11 {
  padding-bottom: 11rem !important; }

.pb-12 {
  padding-bottom: 12rem !important; }

.pb-13 {
  padding-bottom: 13rem !important; }

.pb-14 {
  padding-bottom: 14rem !important; }

.pb-15 {
  padding-bottom: 15rem !important; }

.pb-16 {
  padding-bottom: 16rem !important; }

.pb-17 {
  padding-bottom: 17rem !important; }

.pb-18 {
  padding-bottom: 18rem !important; }

.pb-19 {
  padding-bottom: 19rem !important; }

.pb-20 {
  padding-bottom: 20rem !important; }

.pb-21 {
  padding-bottom: 21rem !important; }

.pb-22 {
  padding-bottom: 22rem !important; }

.pb-23 {
  padding-bottom: 23rem !important; }

.pb-24 {
  padding-bottom: 24rem !important; }

.pb-25 {
  padding-bottom: 25rem !important; }

.pl-0 {
  padding-left: 0rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pl-5 {
  padding-left: 5rem !important; }

.pl-6 {
  padding-left: 6rem !important; }

.pl-7 {
  padding-left: 7rem !important; }

.pl-8 {
  padding-left: 8rem !important; }

.pl-9 {
  padding-left: 9rem !important; }

.pl-10 {
  padding-left: 10rem !important; }

.pl-11 {
  padding-left: 11rem !important; }

.pl-12 {
  padding-left: 12rem !important; }

.pl-13 {
  padding-left: 13rem !important; }

.pl-14 {
  padding-left: 14rem !important; }

.pl-15 {
  padding-left: 15rem !important; }

.pl-16 {
  padding-left: 16rem !important; }

.pl-17 {
  padding-left: 17rem !important; }

.pl-18 {
  padding-left: 18rem !important; }

.pl-19 {
  padding-left: 19rem !important; }

.pl-20 {
  padding-left: 20rem !important; }

.pl-21 {
  padding-left: 21rem !important; }

.pl-22 {
  padding-left: 22rem !important; }

.pl-23 {
  padding-left: 23rem !important; }

.pl-24 {
  padding-left: 24rem !important; }

.pl-25 {
  padding-left: 25rem !important; }

.pr-0 {
  padding-right: 0rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pr-5 {
  padding-right: 5rem !important; }

.pr-6 {
  padding-right: 6rem !important; }

.pr-7 {
  padding-right: 7rem !important; }

.pr-8 {
  padding-right: 8rem !important; }

.pr-9 {
  padding-right: 9rem !important; }

.pr-10 {
  padding-right: 10rem !important; }

.pr-11 {
  padding-right: 11rem !important; }

.pr-12 {
  padding-right: 12rem !important; }

.pr-13 {
  padding-right: 13rem !important; }

.pr-14 {
  padding-right: 14rem !important; }

.pr-15 {
  padding-right: 15rem !important; }

.pr-16 {
  padding-right: 16rem !important; }

.pr-17 {
  padding-right: 17rem !important; }

.pr-18 {
  padding-right: 18rem !important; }

.pr-19 {
  padding-right: 19rem !important; }

.pr-20 {
  padding-right: 20rem !important; }

.pr-21 {
  padding-right: 21rem !important; }

.pr-22 {
  padding-right: 22rem !important; }

.pr-23 {
  padding-right: 23rem !important; }

.pr-24 {
  padding-right: 24rem !important; }

.pr-25 {
  padding-right: 25rem !important; }

@media (min-width: 992px) {
  .mw-15 {
    max-width: 15rem !important; }
  .mw-16 {
    max-width: 16rem !important; }
  .mw-17 {
    max-width: 17rem !important; }
  .mw-18 {
    max-width: 18rem !important; }
  .mw-19 {
    max-width: 19rem !important; }
  .mw-20 {
    max-width: 20rem !important; }
  .mw-21 {
    max-width: 21rem !important; }
  .mw-22 {
    max-width: 22rem !important; }
  .mw-23 {
    max-width: 23rem !important; }
  .mw-24 {
    max-width: 24rem !important; }
  .mw-25 {
    max-width: 25rem !important; }
  .mw-26 {
    max-width: 26rem !important; }
  .mw-27 {
    max-width: 27rem !important; }
  .mw-28 {
    max-width: 28rem !important; }
  .mw-29 {
    max-width: 29rem !important; }
  .mw-30 {
    max-width: 30rem !important; }
  .mw-31 {
    max-width: 31rem !important; }
  .mw-32 {
    max-width: 32rem !important; }
  .mw-33 {
    max-width: 33rem !important; }
  .mw-34 {
    max-width: 34rem !important; }
  .mw-35 {
    max-width: 35rem !important; }
  .mw-36 {
    max-width: 36rem !important; }
  .mw-37 {
    max-width: 37rem !important; }
  .mw-38 {
    max-width: 38rem !important; }
  .mw-39 {
    max-width: 39rem !important; }
  .mw-40 {
    max-width: 40rem !important; }
  .mw-41 {
    max-width: 41rem !important; }
  .mw-42 {
    max-width: 42rem !important; }
  .mw-43 {
    max-width: 43rem !important; }
  .mw-44 {
    max-width: 44rem !important; }
  .mw-45 {
    max-width: 45rem !important; }
  .mw-46 {
    max-width: 46rem !important; }
  .mw-47 {
    max-width: 47rem !important; }
  .mw-48 {
    max-width: 48rem !important; }
  .mw-49 {
    max-width: 49rem !important; }
  .mw-50 {
    max-width: 50rem !important; }
  .mw-51 {
    max-width: 51rem !important; }
  .mw-52 {
    max-width: 52rem !important; }
  .mw-53 {
    max-width: 53rem !important; }
  .mw-54 {
    max-width: 54rem !important; }
  .mw-55 {
    max-width: 55rem !important; }
  .mw-56 {
    max-width: 56rem !important; }
  .mw-57 {
    max-width: 57rem !important; }
  .mw-58 {
    max-width: 58rem !important; }
  .mw-59 {
    max-width: 59rem !important; }
  .mw-60 {
    max-width: 60rem !important; }
  .mw-61 {
    max-width: 61rem !important; }
  .mw-62 {
    max-width: 62rem !important; }
  .mw-63 {
    max-width: 63rem !important; }
  .mw-64 {
    max-width: 64rem !important; }
  .mw-65 {
    max-width: 65rem !important; }
  .mw-66 {
    max-width: 66rem !important; }
  .mw-67 {
    max-width: 67rem !important; }
  .mw-68 {
    max-width: 68rem !important; }
  .mw-69 {
    max-width: 69rem !important; }
  .mw-70 {
    max-width: 70rem !important; }
  .mw-71 {
    max-width: 71rem !important; }
  .mw-72 {
    max-width: 72rem !important; }
  .mw-73 {
    max-width: 73rem !important; }
  .mw-74 {
    max-width: 74rem !important; }
  .mw-75 {
    max-width: 75rem !important; }
  .mw-76 {
    max-width: 76rem !important; }
  .mw-77 {
    max-width: 77rem !important; }
  .mw-78 {
    max-width: 78rem !important; }
  .mw-79 {
    max-width: 79rem !important; }
  .mw-80 {
    max-width: 80rem !important; }
  .mw-81 {
    max-width: 81rem !important; }
  .mw-82 {
    max-width: 82rem !important; }
  .mw-83 {
    max-width: 83rem !important; }
  .mw-84 {
    max-width: 84rem !important; }
  .mw-85 {
    max-width: 85rem !important; }
  .mw-86 {
    max-width: 86rem !important; }
  .mw-87 {
    max-width: 87rem !important; }
  .mw-88 {
    max-width: 88rem !important; }
  .mw-89 {
    max-width: 89rem !important; }
  .mw-90 {
    max-width: 90rem !important; }
  .mw-91 {
    max-width: 91rem !important; }
  .mw-92 {
    max-width: 92rem !important; }
  .mw-93 {
    max-width: 93rem !important; }
  .mw-94 {
    max-width: 94rem !important; }
  .mw-95 {
    max-width: 95rem !important; } }

@media (max-width: 767px) {
  .mw-15-xs {
    max-width: 15rem !important; }
  .mw-16-xs {
    max-width: 16rem !important; }
  .mw-17-xs {
    max-width: 17rem !important; }
  .mw-18-xs {
    max-width: 18rem !important; }
  .mw-19-xs {
    max-width: 19rem !important; }
  .mw-20-xs {
    max-width: 20rem !important; }
  .mw-21-xs {
    max-width: 21rem !important; }
  .mw-22-xs {
    max-width: 22rem !important; }
  .mw-23-xs {
    max-width: 23rem !important; }
  .mw-24-xs {
    max-width: 24rem !important; }
  .mw-25-xs {
    max-width: 25rem !important; }
  .mw-26-xs {
    max-width: 26rem !important; }
  .mw-27-xs {
    max-width: 27rem !important; }
  .mw-28-xs {
    max-width: 28rem !important; }
  .mw-29-xs {
    max-width: 29rem !important; }
  .mw-30-xs {
    max-width: 30rem !important; }
  .mw-31-xs {
    max-width: 31rem !important; }
  .mw-32-xs {
    max-width: 32rem !important; }
  .mw-33-xs {
    max-width: 33rem !important; }
  .mw-34-xs {
    max-width: 34rem !important; }
  .mw-35-xs {
    max-width: 35rem !important; }
  .mw-36-xs {
    max-width: 36rem !important; }
  .mw-37-xs {
    max-width: 37rem !important; }
  .mw-38-xs {
    max-width: 38rem !important; }
  .mw-39-xs {
    max-width: 39rem !important; }
  .mw-40-xs {
    max-width: 40rem !important; }
  .mw-41-xs {
    max-width: 41rem !important; }
  .mw-42-xs {
    max-width: 42rem !important; }
  .mw-43-xs {
    max-width: 43rem !important; }
  .mw-44-xs {
    max-width: 44rem !important; }
  .mw-45-xs {
    max-width: 45rem !important; }
  .mw-46-xs {
    max-width: 46rem !important; }
  .mw-47-xs {
    max-width: 47rem !important; }
  .mw-48-xs {
    max-width: 48rem !important; }
  .mw-49-xs {
    max-width: 49rem !important; }
  .mw-50-xs {
    max-width: 50rem !important; }
  .mw-51-xs {
    max-width: 51rem !important; }
  .mw-52-xs {
    max-width: 52rem !important; }
  .mw-53-xs {
    max-width: 53rem !important; }
  .mw-54-xs {
    max-width: 54rem !important; }
  .mw-55-xs {
    max-width: 55rem !important; }
  .mw-56-xs {
    max-width: 56rem !important; }
  .mw-57-xs {
    max-width: 57rem !important; }
  .mw-58-xs {
    max-width: 58rem !important; }
  .mw-59-xs {
    max-width: 59rem !important; }
  .mw-60-xs {
    max-width: 60rem !important; }
  .mw-61-xs {
    max-width: 61rem !important; }
  .mw-62-xs {
    max-width: 62rem !important; }
  .mw-63-xs {
    max-width: 63rem !important; }
  .mw-64-xs {
    max-width: 64rem !important; }
  .mw-65-xs {
    max-width: 65rem !important; }
  .mw-66-xs {
    max-width: 66rem !important; }
  .mw-67-xs {
    max-width: 67rem !important; }
  .mw-68-xs {
    max-width: 68rem !important; }
  .mw-69-xs {
    max-width: 69rem !important; }
  .mw-70-xs {
    max-width: 70rem !important; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 991px) {
    html {
      font-size: 57.5%; } }
  @media (max-width: 767px) {
    html {
      font-size: 62.5%; } }

html {
  overflow-x: hidden; }

body {
  background-color: #fff;
  color: #474747;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  overflow-x: hidden; }

b,
strong {
  font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

main {
  min-height: calc(100vh - 56.9rem); }

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-family: "Montserrat", sans-serif; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400; }

h1,
.h1 {
  font-size: 4rem;
  line-height: 4.9rem; }

h2,
.h2 {
  font-size: 3.4rem;
  line-height: 4.1rem; }

h3,
.h3 {
  font-size: 3rem;
  line-height: 3.7rem; }

h4,
.h4 {
  font-size: 2.2rem;
  line-height: 2.7rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 767px) {
    p {
      font-size: 1.4rem;
      line-height: 2rem; } }

li {
  font-size: 1.6rem;
  line-height: 2.4rem; }
  @media (max-width: 767px) {
    li {
      font-size: 1.4rem;
      line-height: 2rem; } }

a {
  color: #1f334e;
  text-decoration: none;
  transition: all 0.3s ease-in; }
  a:hover, a:focus {
    color: black;
    text-decoration: none; }
  a > span,
  a > b,
  a > strong {
    display: inline-block;
    line-height: 1.5; }

b,
strong {
  font-weight: bold; }

a,
button {
  transition: 0.2s ease-in-out; }

.position-relative {
  position: relative; }

.form-control {
  font-size: 1.4rem; }

.modal-content {
  background-color: #fff !important; }

.preloader {
  display: flex;
  align-items: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: height 0.2s linear;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.5);
  z-index: 9999; }
  .preloader.hide {
    display: none !important; }
  .preloader .loader-element {
    display: block;
    margin: 0 auto;
    height: auto; }
  .preloader.show {
    height: 0; }
  .preloader img,
  .preloader svg {
    display: block;
    margin: 0 auto;
    max-height: 20rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: fixed !important;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  z-index: 999; }

*:focus:not([disabled]) {
  outline-offset: 2px; }

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
    padding: 0 2.5rem; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media (min-width: 992px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding: 0 4.5rem; } }

@media (max-width: 767px) {
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto .zindex-2,
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 2.5rem;
    padding-right: 2.5rem; } }

.row {
  margin-right: -25px;
  margin-left: -25px; }

.relative {
  position: relative; }

.reset-btn {
  background-color: initial;
  border: none;
  padding: 0; }

textarea {
  resize: none; }

.display-block {
  display: block; }

.font-bold {
  font-weight: 800; }

.full-width {
  width: 100%; }

.hidden {
  display: none; }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important; } }
  @media (max-width: 991px) {
    .hidden-sm {
      display: none !important; } }

.visible-xs {
  display: none !important; }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important; } }

.visible-sm {
  display: none !important; }
  @media (max-width: 991px) {
    .visible-sm {
      display: block !important; } }

@media (max-width: 767px) {
  .no-padding-xs {
    padding: 0; } }

.text-capitalize {
  text-transform: capitalize; }

.object-fit-cover {
  object-fit: cover; }

img {
  max-width: 100%;
  height: auto; }

.no_overflow {
  overflow: hidden; }

.button {
  align-items: center;
  border-radius: 25px;
  border: 1px solid #1f334e;
  background-color: #1f334e;
  color: #fff;
  display: flex;
  width: fit-content;
  padding: .95rem 2.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  justify-content: center;
  max-width: 100%; }
  @media (max-width: 767px) {
    .button {
      padding: 1rem 1.5rem; } }
  .button[disabled], .button[aria-disabled=true] {
    opacity: .7; }
  .button:not([disabled]):hover, .button:not([disabled]):focus, .button:not([aria-disabled=true]):hover, .button:not([aria-disabled=true]):focus {
    background-color: #132031;
    border: 1px solid #132031; }
  .button-border {
    align-items: center;
    border-radius: 30px;
    border: 1px solid #1f334e;
    background-color: transparent;
    color: #1f334e;
    display: flex;
    width: fit-content;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    transition: .2s ease-in-out;
    justify-content: center;
    max-width: 100%; }
    .button-border:not([disabled]):hover, .button-border:not([disabled]):focus, .button-border:not([aria-disabled=true]):hover, .button-border:not([aria-disabled=true]):focus {
      background-color: #1f334e;
      color: #fff; }
  .button i {
    margin-left: 11px;
    font-size: 1.2rem;
    color: inherit; }

.btn-lh-36 {
  line-height: 36px; }
  .btn-lh-36 i {
    line-height: 36px; }

.btn-lh-38 {
  line-height: 38px; }
  .btn-lh-38 i {
    line-height: 38px; }

.btn-lh-58 {
  line-height: 58px; }
  .btn-lh-58 i {
    line-height: 58px; }

.header-section .logo-header {
  display: block;
  margin-top: 3.6rem;
  margin-bottom: 3.6rem; }

.header-section .logo-header {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 4.1rem; }
  @media (max-width: 767px) {
    .header-section .logo-header {
      font-size: 2.4rem;
      line-height: 3rem; } }
  .header-section .logo-header h1 {
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 4.1rem;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .header-section .logo-header h1 {
        font-size: 2.4rem;
        line-height: 3rem; } }

.header-section .btn, .header-section .button {
  justify-content: center; }

.header-section .phone-number {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
  margin-right: 4.3rem; }
  @media (max-width: 1199px) {
    .header-section .phone-number {
      margin-right: 2rem;
      font-size: 2rem; } }

@media (max-width: 767px) {
  .header-section .button {
    padding: 1rem;
    text-align: center;
    width: 4.2rem;
    height: 4.2rem; }
    .header-section .button i {
      margin-left: 0;
      font-size: 2rem; } }

.header-section .right-item {
  padding-left: 0; }

.footer-section {
  background-color: #f4f4f4;
  padding: 3.4rem 0;
  min-height: 13.3rem; }
  @media (max-width: 767px) {
    .footer-section {
      padding: 2rem 0;
      min-height: auto; } }

.copyright p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-bottom: 0; }

.hero-section {
  min-height: 54.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media (max-width: 767px) {
    .hero-section {
      min-height: 34.7rem; } }
  .hero-section .hero-slider {
    height: 100%;
    min-height: 54.7rem; }
    @media (max-width: 767px) {
      .hero-section .hero-slider {
        min-height: 34.7rem; } }
  .hero-section p {
    font-size: 2.2rem;
    line-height: 3.5rem;
    margin-bottom: 5rem;
    max-width: 62.6rem; }
    @media (max-width: 767px) {
      .hero-section p {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 2rem; } }
  .hero-section picture,
  .hero-section .object-fit-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .hero-section .container {
    position: relative;
    z-index: 2; }
  .hero-section .display-flex {
    flex-wrap: wrap; }
  .hero-section .left-hero-content {
    margin-right: auto; }
    @media (max-width: 767px) {
      .hero-section .left-hero-content {
        width: 100%;
        padding-top: 2rem; } }
    .hero-section .left-hero-content h1,
    .hero-section .left-hero-content h2 {
      font-size: 4rem;
      line-height: 4.9rem;
      margin-bottom: 3.3rem; }
      @media (max-width: 991px) {
        .hero-section .left-hero-content h1,
        .hero-section .left-hero-content h2 {
          font-size: 3.5rem;
          line-height: 4.8rem; } }
      @media (max-width: 767px) {
        .hero-section .left-hero-content h1,
        .hero-section .left-hero-content h2 {
          font-size: 3rem;
          line-height: 4rem;
          margin-bottom: 2rem; } }
    .hero-section .left-hero-content .button {
      margin-bottom: 1rem; }

.content-block *:not(a) {
  color: #474747; }

.content-block p {
  margin-bottom: 2rem; }

.content-block strong,
.content-block b {
  font-weight: bold; }

.content-block i,
.content-block em {
  font-style: italic; }

.content-block ul {
  margin-left: 3rem; }
  .content-block ul li {
    position: relative; }
    .content-block ul li::before {
      background-color: #1f334e;
      content: "";
      height: 13px;
      width: 13px;
      display: block;
      position: absolute;
      top: 0.5rem;
      line-height: 2.4rem;
      left: -3rem; }

.content-block ul,
.content-block ol {
  margin-bottom: 2rem; }

.content-block a:not(.btn):not(.button) {
  color: #1f334e;
  font-weight: 600;
  text-decoration: underline; }
  .content-block a:not(.btn):not(.button):hover, .content-block a:not(.btn):not(.button):focus {
    color: #132031; }

.content-block blockquote {
  font-size: 3.2rem;
  line-height: 4.92rem; }
  @media (max-width: 767px) {
    .content-block blockquote {
      font-size: 2rem;
      line-height: 3rem; } }

.content-block table {
  border-collapse: collapse;
  max-width: 100%;
  margin-bottom: 2rem;
  overflow-x: auto;
  display: block;
  height: auto !important;
  margin: 0 auto 30px;
  font-size: 1.4rem;
  line-height: 2rem; }
  .content-block table::-webkit-scrollbar {
    width: 6px;
    height: 5px;
    padding-top: 30px;
    padding-bottom: 20px; }
  .content-block table::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 3px; }
  .content-block table::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 60px #1f334e;
    border-radius: 3px; }
  .content-block table p {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    line-height: 2rem; }
  .content-block table td {
    background-color: #fff; }
  .content-block table tr:first-child > td,
  .content-block table tr:first-child > th {
    background: #1f334e;
    color: #fff; }
  .content-block table td,
  .content-block table th {
    border: 1px solid #f4f4f4;
    padding: 10px 5px;
    height: auto !important; }
  .content-block table tbody,
  .content-block table tr,
  .content-block table td {
    vertical-align: middle;
    height: auto !important; }
  .content-block table tbody,
  .content-block table thead {
    display: inline-table;
    width: 100%; }

.content-block code {
  background: #f4f4f4;
  padding-left: 0.2rem;
  padding-right: 0.2rem; }

.content-block details {
  border: 1px solid #1f334e;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem; }
  .content-block details summary::marker {
    color: #1f334e; }

.image-block img {
  margin: auto;
  display: block; }

.image-block img {
  max-width: 100%; }

.image-block video,
.image-block iframe {
  max-width: 100%; }

.scroll-up {
  color: #474747;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  z-index: 30;
  background-color: #1f334e;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: all 0.3s;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .scroll-up.show {
    visibility: visible; }
  .scroll-up i {
    font-size: 2rem;
    color: #fff;
    margin: auto; }

.categories-section {
  background-color: #fff;
  margin-top: 8rem;
  margin-bottom: 6rem; }
  @media (max-width: 767px) {
    .categories-section {
      margin-top: 6rem;
      margin-bottom: 2rem; } }
  .categories-section .button {
    margin-left: auto;
    margin-right: auto; }
  .categories-section .category-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    justify-content: center; }
    .categories-section .category-item .h4 {
      color: #474747;
      font-weight: 500;
      margin-bottom: 1.6rem; }
    .categories-section .category-item p {
      color: #474747;
      font-size: 1.4rem;
      line-height: 2.4rem;
      margin-bottom: 3rem;
      max-width: 25.6rem;
      margin-left: auto;
      margin-right: auto; }
    .categories-section .category-item .button {
      margin-top: auto; }

.before-after-section {
  margin-bottom: 10rem; }
  @media (max-width: 767px) {
    .before-after-section {
      margin-bottom: 5rem; } }

.before-after-slider {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: calc(100% - 20rem); }
  @media (min-width: 768px) and (max-width: 991px) {
    .before-after-slider {
      width: calc(100% - 8rem); } }
  @media (max-width: 767px) {
    .before-after-slider {
      width: calc(100% - 5rem); } }
  .before-after-slider .button-swiper {
    border: none;
    border-radius: 50%;
    width: 6.6rem;
    height: 6.6rem; }
    @media (min-width: 768px) and (max-width: 991px) {
      .before-after-slider .button-swiper {
        width: 3.6rem;
        height: 3.6rem; } }
    @media (max-width: 767px) {
      .before-after-slider .button-swiper {
        width: 3.6rem;
        height: 3.6rem; } }
    .before-after-slider .button-swiper:after {
      color: #302f2f;
      font-size: 3.2rem; }
      @media (min-width: 768px) and (max-width: 991px) {
        .before-after-slider .button-swiper:after {
          font-size: 2rem; } }
      @media (max-width: 767px) {
        .before-after-slider .button-swiper:after {
          font-size: 2rem; } }
    .before-after-slider .button-swiper:hover:not(.swiper-button-disabled) {
      background: #1f334e; }
      .before-after-slider .button-swiper:hover:not(.swiper-button-disabled):after {
        color: #fff; }
  .before-after-slider .swiper-button-prev:after {
    padding-right: 0.5rem; }
  .before-after-slider .swiper-button-next:after {
    padding-left: 0.5rem; }
  .before-after-slider .swiper-slide {
    margin-right: 30px;
    width: calc(50% - 30px); }
    @media (max-width: 767px) {
      .before-after-slider .swiper-slide {
        margin-right: 10px;
        width: calc(100% - 10px); } }
    .before-after-slider .swiper-slide .image {
      background: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border: 5px solid #fff;
      position: relative;
      margin: 5px;
      overflow: hidden;
      height: 27rem;
      width: calc(100% - 10px); }
      @media (max-width: 991px) {
        .before-after-slider .swiper-slide .image {
          height: auto;
          padding-top: 60%; } }
      .before-after-slider .swiper-slide .image picture,
      .before-after-slider .swiper-slide .image .object-fit-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
    .before-after-slider .swiper-slide .text {
      bottom: 16px;
      left: 16px;
      position: absolute;
      z-index: 2; }
      .before-after-slider .swiper-slide .text p {
        color: #fff;
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 0; }

.content-two-blocks-section {
  position: relative; }
  .content-two-blocks-section .image-block {
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 40%; }
    @media (max-width: 767px) {
      .content-two-blocks-section .image-block {
        position: relative;
        padding-top: 50%;
        width: 100%;
        height: auto; } }
    .content-two-blocks-section .image-block picture,
    .content-two-blocks-section .image-block .object-fit-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }

.procedures-section .content-block {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
  position: relative;
  z-index: 1; }
  .procedures-section .content-block * {
    color: #fff; }
  .procedures-section .content-block h2 {
    margin-bottom: 2.7rem;
    max-width: 44.3rem; }
  .procedures-section .content-block p,
  .procedures-section .content-block li {
    font-size: 2.2rem;
    line-height: 3.4rem; }
    @media (max-width: 767px) {
      .procedures-section .content-block p,
      .procedures-section .content-block li {
        font-size: 1.8rem;
        line-height: 2.2rem; } }

.about-section {
  margin-bottom: 9.3rem; }
  @media (max-width: 767px) {
    .about-section {
      margin-bottom: 5rem; } }
  .about-section .section-title {
    margin-left: auto;
    margin-bottom: 1rem; }
    @media (min-width: 992px) {
      .about-section .section-title {
        padding-left: 7.5rem; } }
    @media (max-width: 991px) {
      .about-section .section-title {
        text-align: center; } }
  .about-section .left-image {
    position: relative;
    top: -8rem;
    margin-bottom: -8rem; }
    @media (min-width: 992px) {
      .about-section .left-image {
        padding-right: 0; } }
    @media (max-width: 440px) {
      .about-section .left-image {
        top: -3rem;
        margin-bottom: -3rem; } }
    .about-section .left-image .image-block {
      position: relative;
      height: 100%;
      width: 100%; }
      @media (max-width: 991px) {
        .about-section .left-image .image-block {
          padding-top: 100%;
          max-width: 45rem;
          margin-left: auto;
          margin-right: auto; } }
      @media (max-width: 440px) {
        .about-section .left-image .image-block {
          padding-top: 127%; } }
    .about-section .left-image picture,
    .about-section .left-image .object-fit-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%; }

@media (max-width: 991px) {
  .about-section-container {
    margin-top: 6rem; } }

@media (max-width: 440px) {
  .about-section-container {
    margin-top: 3rem; } }

.about-section-container .right-content {
  padding-top: 4rem;
  margin-bottom: 1rem; }
  @media (min-width: 992px) {
    .about-section-container .right-content {
      padding-left: 7.5rem; } }
  .about-section-container .right-content .content-block h1,
  .about-section-container .right-content .content-block h2,
  .about-section-container .right-content .content-block h3,
  .about-section-container .right-content .content-block h4,
  .about-section-container .right-content .content-block h5,
  .about-section-container .right-content .content-block h6 {
    margin-bottom: 2rem; }
  .about-section-container .right-content .content-block ul {
    display: flex;
    flex-wrap: wrap; }
    .about-section-container .right-content .content-block ul li {
      margin-bottom: 1rem;
      width: 50%; }
      @media (max-width: 440px) {
        .about-section-container .right-content .content-block ul li {
          width: 100%; } }

.faq-section {
  margin-top: 9.3rem;
  margin-bottom: 11.5rem; }
  @media (max-width: 767px) {
    .faq-section {
      margin-top: 5rem;
      margin-bottom: 5rem; } }
  @media (min-width: 1200px) {
    .faq-section .container {
      max-width: 1135px; } }

.accordion .accordion-item {
  border: none; }

.accordion .accordion-header {
  margin-bottom: 0; }

.accordion .accordion-button {
  border: none;
  background-color: #fff;
  font-size: 2.2rem;
  line-height: 2.7rem;
  padding: 2.8rem 4rem 2.9rem 0;
  position: relative;
  text-align: left;
  width: 100%; }
  @media (max-width: 767px) {
    .accordion .accordion-button {
      font-size: 2rem; } }
  .accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #1f334e; }
  .accordion .accordion-button .icon {
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 0;
    width: 41px;
    height: 41px; }
    .accordion .accordion-button .icon:before, .accordion .accordion-button .icon:after {
      background-color: #302f2f;
      content: "";
      position: absolute;
      transition: 0.2s ease-in-out; }
    .accordion .accordion-button .icon:before {
      left: 11px;
      top: 20px;
      width: 18px;
      height: 1px; }
    .accordion .accordion-button .icon:after {
      left: 20px;
      top: 11px;
      width: 1px;
      height: 18px; }
  .accordion .accordion-button[aria-expanded="true"] .icon:after {
    left: 19.5px;
    top: 11.5px;
    transform: rotate(90deg); }

.accordion .accordion-body {
  max-width: 80rem;
  margin-bottom: 2rem;
  padding: 0; }
  .accordion .accordion-body *:not(a) {
    color: #474747; }
  .accordion .accordion-body p,
  .accordion .accordion-body li {
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.03em; }

.map {
  width: 50%;
  height: 33.9rem; }
  @media (max-width: 767px) {
    .map {
      width: 100%;
      height: 28rem; } }

.contact-section {
  display: flex;
  flex-direction: row; }
  @media (max-width: 767px) {
    .contact-section {
      flex-direction: column; } }
  .contact-section * {
    color: #fff; }
  @media (min-width: 768px) {
    .contact-section .container {
      padding-right: 1.5rem;
      margin-right: 0; } }
  @media (min-width: 1200px) {
    .contact-section .container {
      max-width: calc(1200px / 2); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .contact-section .container {
      max-width: calc(720px / 2); } }
  .contact-section .contact-block {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%; }
    @media (max-width: 767px) {
      .contact-section .contact-block {
        width: 100%; } }
    .contact-section .contact-block address a {
      display: block;
      margin-bottom: 1rem; }
    .contact-section .contact-block address a,
    .contact-section .contact-block address p {
      font-size: 2.8rem;
      line-height: 3.4rem;
      max-width: 36.4rem; }
      @media (max-width: 767px) {
        .contact-section .contact-block address a,
        .contact-section .contact-block address p {
          font-size: 2rem;
          line-height: 2.8rem;
          max-width: 30.4rem; } }
