.mesothelioma {
  .meso-img {
    width: 100%;
    max-width: 358px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .mesothelioma-facts {
    .red-text {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
    }
    li {
      color: #15528e;
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;
    }
  }
  .cause-symptoms-text {
    margin-top: 15px;
  }
  .life-expectancy-content {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .tick-section {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    .interogativ-sentence {
      background-color: #bc2649;
      color: #fff;
      font-size: 70px;
      border-radius: 50%;
      stroke-width: 1px;
      stroke: rgba(50, 74, 116, 0.31);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      width: 80px;
      height: 80px;
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      top: -45px;
      left: 20px;
    }
    .tick-element {
      padding: 50px 20px 20px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      &__information {
        display: flex;
        gap: 10px;
        align-items: flex-start;

        p {
          color: #324a74;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.occupational {
  .content-summarizer {
    margin-top: 30px;
    max-width: none;
  }
  .boiler-general-img {
    width: 100%;
    height: auto;
  }
  .trust-list {
    margin-left: 15px;
  }
  .boiler-occupation {
    padding-left: 25px;
    padding-top: 20px;
    li {
      font-weight: 300;
      list-style-type: disc;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .text-exampe {
    margin-top: 10px;
    b {
      font-size: 18px !important;
    }
  }
  .sort-chase {
    display: block;
    margin: 20px 0;
    gap: 20px;

    &__content {
      margin-bottom: 20px;
      h3 {
        color: #324a74;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
      }

      td,
      th {
        font-weight: 400 !important;
      }
    }
    .text-initial {
      color: #000 !important;
      font-size: 16px;
      font-weight: 700 !important;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}

.faq-component {
  background: #f7f7f7;
  h2 {
    text-align: center;
  }
  .bar {
    margin: 7px auto;
  }
}

.faq-answer {
  display: block;
}
.faq-container {
  border-radius: 18px;
  box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
  width: 80%;
  margin: 20px auto;
  padding: 60px 90px;
  background-color: #fff;

  dt.faq-question,
  dd.faq-answer {
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }

  dt.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    // border-bottom: 1px solid #d9dbe9;
    border-bottom: none;
    padding-bottom: 30px;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #324a74;

    .toggle-icon {
      transition: transform 0.3s;
    }
  }

  dd.faq-answer {
    // display: none;
    padding: 0 0 20px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
