.asbestos-trust {
  .content-summarizer {
    max-width: 480px;
  }
  .red-text {
    margin-bottom: 10px;
  }
}
.list-nomerotation {
  margin-left: 10px;
  margin-top: 10px;
  li {
    list-style-type: disc;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
  }
}
