.bottom-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  // position: sticky;
  .banner-calculate {
    flex-direction: row;
    align-items: center;
    background: #003366;
    justify-content: center;
    border-radius: inherit;

    .container {
      padding: 7px 20px;
      @media (max-width: 475px) {
        padding: 7px;
      }
    }
    .content-information {
      display: flex;
      justify-content: space-between;

      @media (max-width: 745px) {
        flex-direction: column;
        align-items: center;
      }

      .claims-result {
        display: flex;
        align-items: center;

        h3 {
          font-family: 'Inter', sans-serif !important;
          color: white;
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          margin-right: 10px;
          @media (max-width: 475px) {
            font-size: 14px !important;
          }
        }
        p {
          color: white;
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          margin-left: 10px;
          @media (max-width: 475px) {
            font-size: 14px;
          }
        }

        &__number {
          display: flex;
          align-items: center;

          h3 {
            color: white;
            margin: 0;
            margin-right: 6px;
          }
        }
      }

      .claims-buttons {
        margin-bottom: 10px;
        display: flex;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        @media (max-width: 475px) {
          margin-top: 7px;
          margin-bottom: 6px;
        }

        button {
          padding: 8px 12px;
          border-radius: 5px;
          font-weight: 800;
          font-size: 14px;
          @media (max-width: 475px) {
            font-size: 14px;
            padding: 3px 7px!important;
          }
          span {
            @media (max-width: 840px) {
              display: none;
            }
          }
        }

        .calculate {
          background: $main-red;
          color: white;
          border-radius: 5px;
          border: 0;
          font-family: 'Inter', sans-serif;
          @media (max-width: 475px) {
            font-weight: 500;
          }
        }

        .add-city {
          color: #324A74;
          background: transparent;
          border-radius: 5px;
          border: 0;
          background-color: white;
          font-weight: 700;
          font-family: 'Inter', sans-serif;
          @media (max-width: 475px) {
            font-weight: 500;
          }
        }
      }
    }
  }
}
