.background {
  width: 100%;
  background: #f3fafc;
  height: auto;
  margin-bottom: 2rem;

  .principal-page-context {
    display: flex;
    flex-direction: column;
    margin-top: 70px !important;
    max-width: 767px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    h1 {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #bf5931;
    }
  }
}
.step-work {
  text-align: center;
  margin: 0 auto;
  max-width: 617px;
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 30px;
    color: #000 !important;
    margin-bottom: 12px;
    span {
      color: #bf5931;
      font-size: 30px;
      font-family: Roboto, serif !important;
      @media (max-width: 475px) {
        font-size: 20px !important;
      }
    }
  }
}
.background-state {
  background: rgba(250, 247, 240, 0.31);
  padding-bottom: 40px;

  .state-select {
    margin: 0 auto;
    text-align: center;
    max-width: 720px;
    width: 100%;
    
    h2 {
      color: #bf5931;
    }

    .state-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: start;
      align-items: center;
      margin-top: 48px;
      margin-left: 9%;

      
      li {
        width: 25%;
       

        &::before {
          content: "\2022";
          margin-right: 6px;
          text-decoration-line: none;
        }
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: #000000;
          text-decoration-line: underline !important;
          @media (max-width: 475px) {
            font-size: 14px;
          }
        }
        @media (max-width: 767px) {
          width: 48%;
        }
       
      }
    }
  }
}

.military-index {
  margin-top: 45px;
  h3 {
    width: 328px !important;
  }
  .advocacy-information {
    .military-forces {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
      }
      &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 15px;

        img {
          @media (max-width: 800px) {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }
}

.template-compensation {
  margin-top: 60px;
  h2 {
    font-size: 30px;
    color: #c55d34;
    font-weight: 400;
    margin: 0 auto;
    width: 100%;
    max-width: 440px;
    text-align: center;
  }
  p {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
  }
  .quick-compensation {
    display: flex;
    margin-top: 45px;
    justify-content: center;
    @media (max-width: 720px) {
      flex-direction: column;
    }
    &__text {
      background-color: #c55d34;
      padding: 35px 15px;
      max-width: 410px;
      width: 100%;
      @media (max-width: 720px) {
        max-width: none;
      }
      h2 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 16px;
        text-align: left;
        @media (max-width: 720px) {
         margin-left: 0;
        }
      }
      p {
        color: #fff;
        text-align: left;
        @media (max-width: 720px) {
          margin-left: 0;
        }
      }
    }
    img {
      max-width: 397px;
      width: 100%;
      object-fit: cover;
      @media (max-width: 720px) {

        height: 250px;
        max-width: none;
      }
     
    }
    button {
      width: 106px;
      height: 30px;
      border-radius: 4px;
      background: #fff;
      color: #000;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      margin-top: 21px;
    }
  }
}
