.compensation-amounts {
  margin-top: 4rem;
  i {
    color: #ff4043;
  }
  &__data {
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    height: auto;
    width: 100%;
    padding: 2rem;

    .data-mesothelioma {
      &__text {
        color: #15528E;
        font-weight: 400;
        font-size: 18px !important;
      }
      p {
        font-size: 16px;
        margin-bottom: 2px;
      }
      b {
        font-size: 16px !important;
      }
    }
    .data-lung-cancer {
      margin-top: 2rem;
      &__text {
        color: #15528E;
        font-weight: 400;
        font-size: 18px !important;
      }
      p {
        font-size: 16px;
        margin-bottom: 2px;
      }
      b {
        font-size: 16px !important;
      }
    }
  }
  .explication {
    margin-top: 0.5rem;
    &__grade {
      display: flex;
      margin-bottom: -5px;
      
      p {
        font-size: 13px;
        margin-bottom: 0px;
      }
      b {
        font-size: 13px !important;
      }
      i {
        margin-right: 6px;
        width: 20px;
        display: flex;
        align-items: center;
        font-size: 13px;
      }
    }
  }
  .information {
    position: relative;
    background: #15528E;
    border-radius: 6px;
    height: auto;
    padding: 15px;
    width: 60%;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    @media (max-width: 992px) {
      width: 100%;
    }

    p {
      color: #fdfdfd;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      margin-top: 1rem;
    }

    &__note {
      position: absolute;
      background: #ff4043;
      border-radius: 20px;
      top: -14px;
      width: 100px;
      height: 28px;
      color: #fdfdfd;
      font-size: 14px;
      text-align: center;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      display: flex;
      border: 0;
      text-transform: uppercase;
      font-family: Helvetica, Sans-Serif !important;
    }
  }
}
