.near-me {
  margin-top: 34px;
  b {
    font-size: 16px !important;
  }
  h1 {
    color: #324a74;
    font-size: 26px;
    margin-top: 8px;

    span {
      font-family: "Roboto Serif", serif;
      text-decoration-line: underline;
      font-size: 26px;
      @media (max-width: 475px) {
        font-size: 18px;
      }
    }
  }
  h3 {
    color: #bc2649;
  }

  .next-job {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background: #bc2649;
    margin-top: 35px;
    color: white;
    border: none;
    margin-bottom: 67px;
  }

  .next-boiler {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #000 !important;
    background: #fff;
    margin-top: 35px;
    border: none;
    margin-bottom: 67px;
  }
  .compensation-asabestos {
    text-align: center;
    max-width: 445px;
    width: 100%;
    margin: 0 auto;
    margin-top: 23px;
    h2 {
      color: #bc2649;
      font-size: 30px;
      margin-bottom: 11px;
    }
    p {
      font-size: 18px;
    }
  }

  ul {
    list-style-type: none;
    counter-reset: list-item;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 10px;

    li {
      position: relative;
      margin-bottom: 5px;
      margin-left: 35px;

      &::before {
        content: counter(list-item) ". ";
        margin-right: 5px;
        position: absolute;
        left: -20px;
      }
    }
  }
}
.introduction-text {
  color: #036;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 500;

  &__documentation {
    margin-bottom: 34px;
  }
}

.jobsite-card {
  width: 100%;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(50, 74, 116, 0.05);
  margin-bottom: 20px;
  flex-direction: column;
  padding: 7px 14px;
  h2 {
    border: none;
    padding-top: 0;
    margin-top: 0;
  }

  &__content {
    .sorting-job {
      display: flex;
      align-items: center;
      @media (max-width: 580px) {
        flex-direction: column;
        align-items: end;
      }

      .content-input {
        display: flex;
        gap: 10px;
        @media (max-width: 475px) {
          flex-direction: column;
        }

        .select-element {
          display: flex;
          flex-direction: column;
          max-width: 172px;
          width: 100%;
          height: 26px;
          border: 1px solid #dbdbdb;
          background: #fff;
          display: flex;
          position: relative;

          .alternative {
            position: absolute;
            top: 15px;
          }

          input {
            border: none;
            max-width: 172px;
            width: 100%;
          }
          .arrow-input {
            position: absolute;
          }
        }
        .from-data {
          display: flex;

          &__content {
            display: flex;
            align-items: center;
            gap: 7px;
            flex-direction: column;

            .information {
              display: flex;
              flex-direction: column;
              &__data {
                display: flex;
              }
            }

            .select-data {
              display: flex;
              border: 1px solid #dbdbdb;
              background: #fff;
              display: flex;
              position: relative;

              height: 26px;
              input {
                border: none;
                width: 100%;
              }
              .arrow-input {
                position: absolute;
              }
            }
          }
        }
        .to-data {
          display: flex;
          &__content {
            display: flex;
            align-items: center;
            gap: 7px;
            flex-direction: column;

            .information {
              display: flex;
              flex-direction: column;

              &__data {
                display: flex;
              }
            }

            .select-data {
              display: flex;
              border: 1px solid #dbdbdb;
              background: #fff;
              display: flex;
              position: relative;
              height: 26px;
              input {
                border: none;
                width: 100%;
              }
              .arrow-input {
                position: absolute;
              }
            }
          }
        }
        .select-job {
          display: flex;
        }
        .arrow-input {
          width: 10px;
          height: 7px;
          right: 4px;
          top: 8px;
        }
      }
    }
    h2 {
      margin-bottom: 10px;
      a {
        color: #324A74;
        font-size: 16px;
        text-decoration-line: underline !important;
        font-weight: 500;
      }
    }
    .available-trust-text {
      margin-bottom: 10px;
    }
  }
}
.add-button {
  border-radius: 4px;
  background: #bc2649;
  width: 100%;
  max-width: 70px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6px;
  margin-left: 15px;
  @media (max-width: 580px) {
    margin-top: 12px;
  }

  p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    @media (max-width: 475px) {
      font-size: 14px;
    }
  }
  span {
    font-size: 8px;
    font-weight: 600;
    color: #fff;
  }
}
.boiler-card {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #fffcf8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 6px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    border: none;
    margin-top: 0;
    padding-top: 0;
  }
  &__content {
    align-items: end;
    @media (max-width: 620px) {
      flex-direction: column;
      align-items: baseline;
    }
    @media (max-width: 475px) {
      flex-direction: column;
      align-items: normal;
    }
  }

  .add-boiler {
    max-width: 420px;
    width: 100%;
    h2 {
      a {
        font-size: 16px;
        font-weight: 500;
      }
    }
    p {
      margin-top: 3px;
      font-size: 14px;

      b {
        font-size: 14px !important;
      }
    }
    &__select {
      display: flex;
      margin-top: 13px;
      @media (max-width: 620px) {
        flex-wrap: wrap;
      }

      select {
        max-width: 200px;
        width: 100%;
        height: 25px;
      }
      .checkbox {
        display: flex;
        width: 340px;
        align-items: center;
        @media (max-width: 620px) {
          width: auto;
          gap: 10px;
          margin-top: 10px;
        }

        label {
          font-size: 14px;
          width: 86px;

          margin-left: 13px;
          @media (max-width: 620px) {
            margin-left: 0;
            font-size: 14px;
            width: auto;
          }
        }
      }
    }
  }
  .add-button {
    border-radius: 4px;
    background: #036;
    width: 100%;
    max-width: 70px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6px;
    @media (max-width: 475px) {
      margin-top: 7px;
      margin-left: 0;
    }

    p {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 15px;
    }
    span {
      font-size: 8px;
      font-weight: 600;
      color: #fff;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}
.bar {
  background: #bc2649;
  width: 100%;
  max-width: 110px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 19px;
  @media (max-width: 992px) {
    margin-bottom: 10px !important;
    margin-top: 6px !important;
  }
}

.all-selectors {
  width: 100%;
}
.search-element {
  width: 100%;
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif !important;
}
.data-select {
  width: 100%;
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif !important;
}
.custom-select {
  position: relative;

  option {
    &:hover {
      background-color: #000;
      box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.16),
        inset 0 -2px 0 0 rgba(0, 0, 0, 0.11);
      filter: brightness(105%);
      border: none !important;
    }
  }
}

.custom-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 4px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #324a74 transparent transparent transparent;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  width: 100%;
  cursor: pointer;
  font-size: 12px;
  height: 26px;
  border: 1px solid #dbdbdb;
  background: #fff;
  align-items: center;
  display: flex;
  padding-left: 4px;
  color: #000;
  text-overflow: ellipsis;
  padding: 0;
  overflow: hidden;
  padding-left: 5px;
}
.activity-years {
  display: flex;
  width: 100%;
  min-width: 260px;
  gap: 7px;

  .selector-data {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 130px;
    @media (max-width: 475px) {
      max-width: none;
    }

    p {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

/*style items (options):*/
.select-items {
  position: absolute;
  border: 1px solid #dbdbdb;
  background: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
