.manufacture {
  .general-information-table {
    display: flex;
    flex-direction: revert;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100% !important;
    @media (max-width: 475px) {
      flex-direction: column;
    }
  }
  .ship-list {
    width: 100%;
    max-width: 439px;
    margin-top: 10px;
    ul {
      margin-bottom: 20px;
      li {
        color: #15528e;
        font-size: 16px;
        font-weight: 300;
        text-decoration-line: underline;
      }
    }
    .show-more-ship {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 6px 19px;
      color: #bc2649;
      font-size: 14px;
      font-weight: 600;
      margin: 0 auto;
      display: flex;
    }
  }
}
.equipment-ship {
  width: 100%;
  max-width: 439px;
  margin-top: 10px;
  margin-left: 10px;
  ul {
    margin-bottom: 20px;
    li {
      font-size: 18px;
      font-weight: 300;
    }
  }
  .button-show-more {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 6px 19px;
    color: #bc2649;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
  }
}
.ship-list,
.equipment-ship,
.content-products__categorization-cart {
  ul {
    li {
      list-style-type: disc;
    }
  }
}
.legend-information__text {
  ul {
    padding-left: 20px;
    li {
      list-style-type: disc;
    }
  }
}
.occupational, .high-risk {
  padding-left: 20px;
  li {
    list-style-type: disc;
  }
}
.responsible-company {
  padding-left: 20px;
  li {
    list-style-type: disc;
  }
}
