.result-page {
  margin-top: 55px;
  @media (max-width: 992px) {
    margin-top: 25px;
  }
  h2 {
    padding-top: 0;
  }
  .header-text {
    text-align: center;
    margin-bottom: 90px;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }

    h1 {
      margin-bottom: 20px;
      font-family: "Inter", sans-serif !important;
      font-size: 32px;
      font-weight: 700;
    }
    p {
      width: 100%;
      max-width: 726px;
      opacity: 0.6800000071525574;
      color: #000;
      margin: 0 auto;
    }
  }

  .button-active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 475px) {
      gap: 10px;
    }
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 56px;
      height: 24px;
      background: $main-color;
      display: block;
      border-radius: 100px;
      position: relative;
    }
  }

  label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }

  .legal-representation {
    background: rgba(255, 255, 255, 0.74);

    .recommended {
      margin-bottom: 5px;
      text-align: center;
      color: $main-color;
      font-size: 16px;
      font-weight: 700;
    }

    .legal-information {
      display: flex;
      gap: 28px;
      padding-bottom: 44px;
      justify-content: center;
      padding: 30px 0px;
      flex-wrap: wrap;
      // @media (max-width: 992px) {
      //   flex-direction: column;
      //   align-items: center;
      //   gap: 0;
      // }

      .ER-claims {
        height: fit-content;
        padding: 22px 16px;
        max-width: 350px;
        width: 100%;
        height: fit-content;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        @media (max-width: 799px) {
          max-width: 500px;
        }

        &__name {
          display: flex;
          border-bottom: 1px solid #b4b4b4;
          padding-bottom: 10px;
          h2 {
            color: $main-color;
            font-size: 24px;
            margin-right: 5px;
          }
          p {
            color: $main-red;
            font-size: 12px;
            font-weight: 400;
            border-radius: 4px;
            background: #ede8e8;
            padding: 8px;
          }
        }
        .revenue {
          color: $main-color;
          font-size: 20px;
          font-weight: 500;
          padding-top: 4px;
          padding-bottom: 22px;
          text-align: left;
          line-height: normal;
        }
        ul {
          list-style: none;

          li {
            margin-bottom: 8px;
            margin-top: 0;
            font-size: 18px;
            font-weight: 400;
            display: flex;

            span {
              color: $main-red;
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
        ul li:before {
          content: "✓";
          color: $main-color;
          padding-right: 10px;
          margin-top: 4px;
        }
        .proposed-money {
          color: $main-red;
          font-size: 25px;
          font-weight: 400;
          justify-content: center;
          display: flex;
        }
        .button-claim {
          border-radius: 16px;
          background: $main-red;
          color: white;
          font-size: 16px;
          font-weight: 700;
          padding: 14px 27px;
          margin: 0 auto;
          display: flex;
          margin-top: 14px;
          @media (max-width: 992px) {
            margin-bottom: 35px;
          }
        }
      }
      .information-benefits {
        ul {
          padding-left: 0;
        }
      }
      .IR-claims {
        height: fit-content;
        padding: 22px 16px;
        max-width: 350px;
        width: 100%;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        @media (max-width: 799px) {
          max-width: 500px;
        }

        &__name {
          display: flex;
          border-bottom: 1px solid #b4b4b4;
          padding-bottom: 10px;
          h2 {
            color: $main-color;
            font-size: 24px;
            margin-right: 5px;
          }
          p {
            color: $main-red;
            font-size: 12px;
            font-weight: 400;
            border-radius: 4px;
            background: #ede8e8;
            padding: 8px;
          }
        }
        .revenue {
          color: $main-color;
          font-size: 20px;
          font-weight: 500;
          padding-top: 4px;
          text-align: left;
          padding-bottom: 22px;
          line-height: 28px;
        }
        ul {
          list-style: none;

          li {
            margin-top: 0;
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: 400;
            display: flex;

            span {
              color: $main-red;
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
        ul li:before {
          content: "✓";
          color: $main-color;
          padding-right: 10px;
          margin-top: 4px;
        }
        .proposed-money {
          color: $main-red;
          font-size: 25px;
          font-weight: 400;
          justify-content: center;
          display: flex;
        }
        .button-claim {
          border-radius: 16px;
          background: $main-red;
          color: white;
          font-size: 16px;
          font-weight: 700;
          padding: 14px 27px;
          margin: 0 auto;
          display: flex;
          margin-top: 14px;
          @media (max-width: 992px) {
            margin-bottom: 35px;
          }
        }
      }
    }
  }
  .switch {
    display: flex;
    align-items: center;
  }

  .your-own {
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    padding: 14px 24px;
    margin: 44px auto;

    h2 {
      color: $main-color;
      font-size: 24px;
      margin-right: 5px;
      font-family: "Inter", sans-serif !important;
      border-bottom: 1px solid #b4b4b4;
      padding-bottom: 10px;
    }

    .revenue {
      color: $main-color;
      font-size: 20px;
      font-weight: 500;
      padding-top: 4px;
      padding-bottom: 22px;
      text-align: left;
      line-height: 28px;
    }
    ul {
      list-style: none;

      li {
        margin-bottom: 8px;
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
        display: flex;
        line-height: 28px;

        span {
          color: $main-red;
          font-size: 20px;
          font-weight: 400;
        }
        b {
          font-size: 18px !important;
          font-weight: 700;
        }
      }
    }
    ul li:before {
      content: "✓";
      color: $main-color;
      padding-right: 15px;
    }
    .proposed-money {
      color: $main-red;
      font-size: 25px;
      font-weight: 400;
      justify-content: center;
      display: flex;
    }
  }

  .lawyer-representation {
    border-radius: 24px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 43px;
    margin-top: 33px;
    margin-bottom: 40px;

    @media (max-width: 992px) {
      padding: 25px 10px;
    }

    &__company {
      flex-direction: column;
      display: flex;

      img {
        width: 225px;
        height: 28px;
      }
      span {
        color: $main-color;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        margin: 15px 0;
      }
    }
    .first-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
    p {
      margin-bottom: 15px;
    }
  }
  .content-request {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width: 992px) {
      flex-direction: column;
    }
    .question-lawyer {
      @media (max-width: 992px) {
        margin-top: 25px;
      }
      .red-text {
        color: $main-red;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
      }
      span {
        color: $main-color;
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
      }

      p {
        margin-top: 8px;
        max-width: 447px;
        width: 100%;
      }
      .text-callback {
        margin-top: 25px;
        p {
          margin-top: 15px;
        }
      }
    }
    .button-element {
      display: flex;
      justify-content: end;
      padding-right: 31px;

      .call-back {
        border-radius: 4px;
        background: $main-red;
        width: 130px;
        height: 33px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
        text-transform: uppercase;
        margin-bottom: 23px;
      }
    }
  }
  .result-data {
    margin-top: 40px;
    border-radius: 24px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 43px;
    @media (max-width: 992px) {
      padding: 15px;
    }
    @media (max-width: 475px) {
      padding: 5px;
    }
  }
}

.legal-text {
  width: 168px;
  font-size: 18px;
  @media (max-width: 475px) {
    font-size: 16px !important;
  }
}
.your-own-text {
  width: 168px;
  @media (max-width: 475px) {
    font-size: 16px !important;
  }
  @media (max-width: 420px) {
    width: 110px;
  }
}
.amount-money {
  border-top: 1px solid rgba(180, 180, 180, 0.43);
  padding-top: 12px;
  text-align: center;
  margin-bottom: 10px;
  p,
  span {
    color: #000;
    font-size: 16px;
    font-weight: 700;
  }
}
.advised-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  opacity: 0.68;
  @media (max-width: 767px) {
    margin-left: 0;
  }
}
.legend {
  margin-top: 15px;
  @media (max-width: 767px) {
    margin-left: 0;
  }
  &__text {
    color: $main-red;
    font-size: 16px;
    font-weight: 700;
    max-width: 380px;
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 7px;
  }
}
.legend-information {
  &__text {
    p {
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 7px;
    }
  }
  .mark-text {
    margin: 0;
    padding-left: 20px;
    li {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}
.callback-form {
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  background: rgba(240, 245, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  max-width: 360px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: 475px) {
    max-width: none;
  }
  p {
    font-size: 20px;
    margin-bottom: 0 !important;
    font-weight: 400;
  }

  &__text {
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: $main-color;
    width: 100%;
    height: 43px;
  }
  span {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 31px;
    display: flex;
    text-align: center;
  }

  .form-request {
    margin-top: 20px;
    padding: 0 32px;
  }
  .checkbox-request {
    display: flex;
    gap: 5px;
    align-items: center;

    label {
      font-size: 14px;
    }
  }
  .green-button {
    border-radius: 4px;
    background: #048011;
    width: 86px !important;
    height: 31px !important;
    padding: initial;
  }
  .secure-confirm {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      width: 20px;
      height: 20px;
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  input,
  select {
    padding: 5px 10px;
    color: #606060;
    background-color: #fff;
    &::placeholder {
      color: #606060;
    }
  }
}
.form-claim-proces {
  display: none;
  padding: 20px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: rgba(25, 37, 58, 0.5);
}
.claim-form {
  margin: 0 auto;
  background: #fbfbfb;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfbfb;
  @media (max-width: 475px) {
    max-width: 300px;
  }
  .chase-element {
    width: 100%;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 37, 58, 0.5);
  z-index: 999;
}

.close-popup-button {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background: $main-red;
  height: 16px;
  width: 16px;
  border-radius: 4px;
}
.close-popup-button:after,
.close-popup-button:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;
  height: 2px;
  width: 12px;
  background: #fff;
}
.close-popup-button:after {
  transform: rotate(45deg);
}
.close-popup-button:before {
  transform: rotate(-45deg);
}
