.city-content {
  .walking-steps {
    margin-bottom: 20px;
    li {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
    }
  }
}
.content-job {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__search {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fbfbfb;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    width: 48.35%;
    padding: 20px;
    @media only screen and (max-width: 930px) and (min-width: 767px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      padding: 10px;
    }
    @media (max-width: 667px) {
      width: 100%;
    }

    p {
      margin-bottom: 10px;
    }
    .select-job {
      display: flex;
      width: 100%;
      height: 44px;

      select {
        width: 100%;
        max-width: 242px;
        padding-left: 10px;
        @media only screen and (max-width: 930px) and (min-width: 767px) {
          max-width: none;
        }
        @media (max-width: 767px) {
          padding: 10px;
        }
        @media (max-width: 667px) {
          max-width: none;
        }
      }
      .button-search {
        border-radius: 0px 4px 4px 0px;
        background: #bc2649;
        width: 46px;
        height: 44px;
        @media (max-width: 767px) {
          height: 40px;
        }

        img {
          color: white !important;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .search-alphabet {
    width: 48.35%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fbfbfb;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    @media only screen and (max-width: 930px) and (min-width: 767px) {
      width: 100%;
    }
    @media (max-width: 767px) {
      padding: 10px;
    }
    @media (max-width: 667px) {
      width: 100%;
    }
    .alphabet {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li {
          color: #15528e;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;

          text-decoration-line: underline;
          margin-right: 12px;
        }
      }
    }
  }
}
.trust-list {
  padding-left: 0;
  gap: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    text-decoration-line: underline;
    width: 48%;
    @media (max-width: 660px) {
      width: 100%;
    }
    a {
      color: #324a74;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
    }
  }
}
