.error-page {
  background: #f3f5f6;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  width: 100%;
  max-width: 768px;
  height: 615px;
  margin: 5rem auto;
  &__container {
    padding: 52px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    @media (max-width: 768px) {
      padding: 40px;
      height: 100%;
    }
    .error-text {
      font-weight: 500;
      font-size: 140px;
      line-height: 161px;
      color: $bluish;
      margin: 0 auto;
      @media (max-width: 768px) {
        font-weight: 500;
        font-size: 120px;
        line-height: 120px;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 48px;
      line-height: 120%;
      color: $bluish;
      margin-bottom: 4rem;
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 80%;
      }
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: rgba(60, 60, 67, 0.85);
    }
    .button {
      height: 44px;
      max-width: 120px;
      margin-top: 2rem;
      width: 100%;
      text-transform: uppercase !important;
    }
  }
}

.non-result {
  .how-search {
    padding: 11px 8px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fffdf8;
    max-width: 426px;
    width: 100%;
    margin-top: 19px;
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
  .invalid-message {
    margin-top: 5px;
    color: #bc2649;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 475px) {
      font-size: 14px;
      text-align: center;
    }
  }
  .alternative-result {
    margin-top: 15px;
    p {
     a {
      color: #324a74;
      font-size: 18px;
      font-weight: 500;
     }
    }
  }
}

.text-available {
  color: #324a74;
  font-size: 16px;
  font-weight: 500;
  @media (max-width: 475px) {
    font-size: 14px;
    text-align: center;
  }
}

.no-verified {
  color: #324a74;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 25px;

  b {
    font-weight: 500;
  }
}
