.error-page {
  background: #f3f5f6;
  justify-content: center;
  align-items: center;
  padding: 48px 24px;
  width: 100%;
  max-width: 768px;
  margin: 5rem auto;
  &__container {
    padding: 52px 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    @media (max-width: 768px) {
      padding: 40px;
      height: 100%;
    }
    .error-text {
      font-weight: 400;
      font-size: 80px !important;
      line-height: 100px;
      color: $bluish;
      margin: 0 auto;
      @media (max-width: 768px) {
        font-weight: 400;
        font-size: 60px !important;
        line-height: 120px;
      }
    }
    h3 {
      font-weight: 400;
      font-size: 38px;
      line-height: 120%;
      color: $bluish;
      margin-bottom: 3rem;
      @media (max-width: 768px) {
        font-size: 28px;
        line-height: 80%;
      }
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: rgba(60, 60, 67, 0.85);
    }
    .button-red {
      height: 44px;
      max-width: 120px;
      margin-top: 2rem;
      width: 100%;
      text-transform: uppercase !important;
    }
  }
}

.non-result {
  h2 {
    padding-top: 40px;
  }
  .how-search {
    p {
      color: #4f4f4f;
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
    }
    ul {
      padding-left: 20px;
      li {
        font-weight: 300;
        list-style-type: disc;
      }
    }
  }
  .red-text {
    
    @media (max-width: 475px) {
      text-align: center;
    }
  }
}

.text-available {
  color: #003366;
  font-size: 16px;
  font-weight: 400;
  @media (max-width: 475px) {
    font-size: 14px;
    text-align: center;
  }
}

.no-verified {
  color: #003366;
  font-size: 16px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 25px;

  b {
    font-weight: 400;
  }
}
.error-message {
  display: none;
  color: #bc2649;
  font-size: 12px;
  margin-top: 5px;
}