.job-site {
  h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }
  .text-trincipal {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #353535;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
    border-top: 1px solid #f0eaea;
    padding-top: 20px;

    &__letters {
      display: flex;
      flex-wrap: wrap;
    }
    form {
      width: 100%;
    }
  }
  .nearby-city {
    margin-top: 3rem;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid #f0eaea;
    padding-bottom: 20px;
    b {
      font-weight: 500;
      font-size: 16px;
    }
    span {
      margin-top: 5px;
      font-size: 16px;
      a {
        text-decoration: underline !important;
      }
    }
  }

  label {
    display: block;
    font-weight: bold;
  }

  select {
    width: 150px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  &__box {
    border: 1px solid #e6e1e5;
    border-radius: 10px;
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 4rem;
    padding: 10px;

    img {
      position: absolute;
      right: -30px;
      top: -30px;
    }

    .content {
      h2 {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        margin-top: 0;
        color: #000000;
      }
      .check-element {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 620px) {
          flex-direction: column;
        }
        .content-trust {
          display: flex;
          align-items: center;
          margin-bottom: 1.8rem;
          margin-bottom: 0;

          h4 {
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
          }
          p {
            font-size: 18px;
            line-height: 18px;
            color: #324a74;
            font-weight: 500;
            margin: 0;
            margin-left: 5px;
          }
        }
      }
    }
    .button-open {
      display: flex;
      cursor: pointer;
      background-color: transparent;
      justify-content: end;
      align-items: center;
      border: 0;

      &__section {
        width: 33px;
        height: 33px;
        left: 479px;
        top: 672px;
        background: #ff4043;
        border-radius: 4px;
        margin-right: 1rem;

        i {
          color: #fff;
          display: flex;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          margin-top: 9px;
        }
      }
      p {
        margin: 0;
      }
    }
  }

  .compensation-amounts {
    h2 {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
    }
  }
}
.search-filter {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #515151;
    margin-bottom: 0;
    margin-right: 10px;
    width: 250px;
  }
}

.search-filter a {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 5px;
  color: #787878;
}
.search-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .fa-search:before {
    color: #fff;
  }

  input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    flex: 1;
    background: rgba(249, 247, 247, 0.83);
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 40px;
  }
  .search-icon {
    width: 40px;
    height: 40px;
    background-color: #ff4043;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;

    svg {
      width: 20px;
      height: 20px;
      color: #fff;
    }
  }
}

.job-site {
  // Restul codului SCSS...

  .job-site__box {
    h2 {
      text-decoration: underline;
    }
    // Restul stilurilor...

    .button-add {
      display: flex;
      cursor: pointer;

      // Restul stilurilor...

      &.active {
        .button-add__element {
          background: red;
        }
      }
    }
  }
}

.popup-claim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 55%;
    @media (max-width: 1440px) {
      width: 70%;
    }

    h2 {
      font-size: 28px;
      color: #324a74;
      margin-bottom: 5rem;
    }

    .select-button-option {
      justify-content: center;
      display: flex;
      margin-top: 4rem;
      gap: 20px;
      .button-container {
        position: relative;

        .close-button-alt {
          position: absolute;
        }
      }
    }
  }

  .popup-content .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close-button {
    background-color: #ff4043;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .close-button-alt {
    width: 100%;
    max-width: 220px;
    height: 38px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
  }

  .button-add {
    display: flex;
    cursor: pointer;
    background: #acacac;
    border: 1px solid #324a74;
    border-radius: 20px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    border: 0;

    p {
      margin-bottom: 0;
      font-size: 16px;
      margin-top: 10px;
      width: 120px;
      color: white;
    }
  }

  .button-add__element {
    width: 33px;
    height: 33px;
    background: #ff4043;
    border-radius: 4px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-add__element i {
    color: #fff;
  }

  .popup-claim.error .button-add__element {
    background-color: #ff4043;
  }

  .popup-claim.error .close-button {
    background-color: #ff4043;
  }
  .dropdown-container {
    flex-wrap: wrap;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    .job-width {
      @media (max-width: 1150px) {
        width: 96% !important;
        flex: none !important;
      }
      @media (max-width: 767px) {
        width: 93% !important;
      }
    }
    .dropdown {
      margin-right: 2rem;
      flex: 1 0 150px;

      label {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #052a44;
      }
      .chase {
        background: #ffffff;
        border: 1px solid #f3f3f3;
        height: 30px;
        width: 150px;
        color: #7e7d7d;
        width: 100%;
      }
    }
  }
}

.boiler-button {

  .button-open__section {
    background-color: #15528E !important;
  }
}
