.content-state {
  width: 100%;
  h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
  }

  .documentation-data {
    margin-bottom: 5rem;
    p {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .city-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 5rem;

    li {
      display: flex;
      align-items: center;
      width: calc(100% / 3);
      cursor: pointer;

      a {
        font-weight: 400;
        font-size: 18px;
      }
    }

    li:before {
      content: "●";
      margin-right: 10px;
    }

    @media (max-width: 600px) {
      $column-count: 1;

      li {
        width: calc(100% / 2);
      }
    }
  }
}
