.general-page {
  display: flex;
  gap: 55px;

  .badge {
    display: block;
  }
}

.page-suplimentar {
  .badge {
    display: none;
  }
}

.content-navi {
  width: 100%;
  max-width: 940px;
  &__information {
    max-width: 860px;
    width: 100%;
    @media (max-width: 992px) {
      max-width: 100%;
    }
    .bar {
      width: 105px;
      height: 4px;
      background: #ff4043;
      margin-bottom: 2rem;
    }
  }
}
.claims-economy {
  height: auto;
  background: #edf2fa;
  border: 1px solid rgba(0, 0, 0, 0.23);
  max-width: 860px;
  padding: 20px;
  margin-top: 4rem;
  @media (max-width: 992px) {
    max-width: 100%;
  }
  &__text {
    justify-content: space-between;
    display: flex;
    .context {
      h3 {
        color: #324a74;
        font-weight: 700;
        font-size: 22px;
        line-height: 25px;
        max-width: 550px;
        width: 100%;
      }

      .bar {
        width: 100px;
        height: 4px;
        background: #15528e;
        margin-bottom: 2rem;
      }
    }

    .logo {
      min-width: 72px;
      height: 72px;
      background: #ff4043;
      border-radius: 50%;

      img {
        display: flex;
        margin: 0 auto;
        margin-top: 5px;
      }
    }
  }
  .navi-form {
    background-color: transparent;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 992px) {
      max-width: 100%;
    }

    .second-wrapper {
      margin: 0;
      width: 100%;
      flex: 1 0 150px;

      label {
        margin-right: 10px;
        font-weight: bold;
      }

      select {
        padding: 8px 10px;
        font-size: 16px;
        border-radius: 3px;
        background: transparent;
        width: 100%;
      }
    }

    .button {
      background: #ff4043;
      margin-top: 22px;
      flex: 1 0 40px;
    }
  }
}
.navi-equipment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 570px) {
        display: block;
    }
    .equipment-product {
        width: 47%;
        height: auto;
        margin-top: 3rem;
        @media (max-width: 570px) {
            width: 100%;
        }
      
        &__industry {
          background: #1d4e7c;
          border-radius: 15px 15px 0px 0px;
          height: 60px;
      
          h3 {
            color: #ffff;
            margin: 0 auto;
            display: flex;
            width: 230px;
            padding-top: 14px;
            font-weight: 700;
            font-size: 20px;
          }
        }
        &__element {
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 45px -19px rgba(52, 54, 99, 0.11);
          border-radius: 0px 0px 15px 15px;
          padding-bottom: 3rem;
        }
        .name {
          display: flex;
          width: 230px;
          margin: 0 auto;
      
          h5 {
              padding-right: 7px;
          }
        }
        .category {
          display: flex;
          width: 230px;
          margin: 0 auto;
      
          p {
            padding-bottom: 10px;
            margin: 0;
          }
          .pc {
            border: 1px solid #ddd7d7;
            border-left: 0;
            padding: 5px;
          }
          .clasament {
            border: 1px solid #ddd7d7;
            border-right: 0;
            padding: 5px;
          }
        }
      }
      
}
