.manufacture {
  .general-information-table {
    display: flex;
    flex-direction: revert;
    margin-top: 32px;
    margin-bottom: 44px;
  }
  .equipment-ship {
    width: 100%;
    max-width: 439px;
    margin: 15px 0;
    ul {
      margin-bottom: 15px;
    }
    .button-show-more {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 6px 19px;
      color: #bc2649;
      font-size: 14px;
      font-weight: 600;
      margin: 0 auto;
      display: flex;
    }
  }
  .ship-list {
    width: 100%;
    max-width: 439px;
    margin: 15px 0;
    ul {
      margin-bottom: 15px;
      li {
        color: #15528e;
        font-size: 16px;
        font-weight: 300;
        text-decoration-line: underline;
      }
    }
    .show-more-ship {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      padding: 6px 19px;
      color: #bc2649;
      font-size: 14px;
      font-weight: 600;
      margin: 0 auto;
      display: flex;
    }
  }
}
.ship-list, .equipment-ship {
    ul {
        li {
            list-style-type: disc;
        }
    }
}