.city-content {
  h3 {
    color: #c55d34;
  }

  .claim-type-column {
    width: 150px;
  }

  .mesothelioma-column {
    width: 200px;
  }

  .job-site-section {
    max-width: 580px;
      width: 100%;
    .information-steps {
      list-style-type: none;
      counter-reset: list-item;
      padding-left: 0;
      padding-top: 6px;
      padding-bottom: 10px;

      li {
        position: relative;
        margin-bottom: 5px;
        margin-left: 35px;

        &::before {
          content: counter(list-item) ". ";
          margin-right: 5px;
          position: absolute;
          left: -20px;
        }
      }
    }
    &__information {
      border-left: 3px solid #ff4043;
      padding-left: 10px;
      margin-bottom: 36px;
    }

    .search-filter {
      p {
        text-transform: uppercase;
        font-weight: 700;
      }
      .search-text {
        font-size: 14px;
        font-weight: 500;
      }

      &__table {
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.06);
        background: #f7f8fb;
        padding: 9px 29px;
        margin-right: 8px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 44px;
        p {
          text-transform: inherit;
          margin-right: 10px;
        }

        .search-alphabet {
          margin-top: 27px;
          align-items: center;
          @media (max-width: 767px) {
            flex-direction: column;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 11px;
          }
          .alphabet {
            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              li {
                font-size: 14px;
              }
            }
          }
        }
        .search-form {
          max-width: 520px;
          width: 100%;
          margin-bottom: 11px;
          margin-top: 11px;
          align-items: center;
          display: flex;
          input {
            border: 1px solid rgba(0, 0, 0, 0.05);
            background: rgba(255, 255, 255, 0.83);
            width: 100%;
            height: 32px;

            &::placeholder {
              font-size: 12px;
              font-weight: 400;
              padding-left: 10px;
            }
          }
          .search-button {
            border-radius: 0px 6px 6px 0px;
            background: #ff4043;
            width: 87px;
            height: 32px;
            font-size: 14px;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;

            i {
              color: white;
            }
          }
        }

        .space-form {
          display: flex;
          align-items: center;
          margin: 20px 0;

          p {
            margin: 0;
            padding: 0 15px;
            width: 200px;
            font-weight: 600;
            font-size: 14px;
          }
          .space-bar {
            height: 1px;
            width: 100%;
            color: #000;
            border: 0.7px solid #d4d4d4;
          }
        }
      }
    }
  }
  .boiler-section {
    width: 100%;
    margin-top: 70px;
    max-width: 580px;
    .boiler-card {
      margin-top: 21px;
    }
    .button-container {
      margin-top: 39px;
      display: flex;
      justify-content: flex-end;
    }
    .button-blue {
      width: 174px;
      height: 30px;
      text-transform: uppercase !important;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.24);
      background: #324a74;
      color: white;
      gap: 18px;

      p {
        color: #fff;
        font-size: 12px;
        font-weight: 800;
      }
    }
  }
  .page-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
    width: 100%;
    .page-button,
    .pagination__list__prev,
    .pagination__list__next {
      background: #ffffff;
      border: 1px solid #ededed;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      margin: 0 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 475px) {
        margin: 0 3px;
      }
    }

    .page-button.active {
      background: $main-red;
      color: #ffffff;
    }

    .arrow-left {
      transform: rotate(180deg);
    }

    .page-button:hover {
      background: $main-red;
      color: #ffffff;
    }

    .tuning-fork {
      padding: 8px 16px;
    }

    .pagination__list {
      display: flex;
      align-items: center;

      .pagination__list__prev,
      .pagination__list__next {
        background: #ffffff;
        border: 1px solid #ededed;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        margin: 0 4px;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 475px) {
          padding: 10px 12px;
          margin: 0 1px;
        }
      }
    }
  }
  .data-info {
    color: #324a74;
  }
  .required-asbx {
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background: rgba(220, 225, 239, 0.24);
    position: relative;
    padding: 15px 27px;
    margin-top: 26px;
    margin-bottom: 30px;
    img {
      position: absolute;
      right: 0;
      transform: translate(15px, -30px);
    }
    span {
      color: #1c1b1b;
      font-size: 16px;
      text-decoration-line: underline;
      text-transform: capitalize;
    }
    p {
      font-size: 14px;
      padding-top: 7px;
    }
  }
  .content-summarizer {
    border-radius: 4px 4px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    padding: 17px 27px;
    margin-bottom: 27px;

    p {
      text-decoration-line: underline;
      text-transform: capitalize;
    }
    ul {
      color: #c55d34;
      font-size: 14px;
      font-weight: 500;
      text-decoration-line: underline;
      text-transform: capitalize;
      margin-top: 4px;
    }
    li {
      font-size: 14px;
      font-weight: 400;
      text-decoration-line: underline;
    }
  }
  .nearby-cities {
    margin-bottom: 22px;
    margin-top: 27px;
    p {
      margin-bottom: 5px;
      color: #324a74;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .location-list {
      list-style-type: none;
      flex-wrap: wrap;
      display: flex;
      li {
        display: inline-block;
        text-decoration-line: underline;
        margin-bottom: 7px;

        a {
          text-decoration: none;
          color: #324a74;
          font-size: 12px;
          font-weight: 500;
          margin-right: 7px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .information-steps-jobs {
    h2 {
      margin-bottom: 27px;
    }
    ul {
      margin-bottom: 10px;
      li {
        margin-top: 4px;
      }
    }
    p {
      border-left: 3px solid #c55d34;
      padding-left: 15px;
    }
  }
}
.exposure-job {
  margin-top: 29px;
}
.compensation-section {
  margin-top: 30px;

  h3 {
    margin-top: 14px;
  }
  &__table {
    border-collapse: collapse;
    display: flex;
    margin-top: 13px;
    margin-bottom: 21px;

    .left-column {
      width: 100%;
      th {
        color: #324a74;
        font-weight: 400;
      }
      .claims-type {
        text-transform: uppercase;
        font-weight: 500;
        color: #000 !important;
      }
    }
    .right-column {
      width: 100%;
      td {
        font-weight: 400;
      }
      .price {
        text-transform: uppercase;
        color: #bf5931;
        font-weight: 500;
      }
    }
    tbody {
      display: flex;
      max-width: 240px;
      width: 100%;
    }

    tr {
      flex-direction: column;
      display: flex;
    }
    th,
    td {
      padding: 8px;
      border: 1px solid #e6e6e6;
    }

    th {
      background-color: #ffffff;
      color: #000000;
      font-weight: bold;
    }

    tr:nth-child(even) td {
      background-color: #faf7f0;
    }
  }
}
.calculator-section {
  max-width: 690px;
  width: 100%;
  margin-top: 42px;
  p {
    margin-bottom: 21px;
  }
  .trust-list {
    li {
      text-decoration-line: underline;
      margin-bottom: 12px;

      a {
        color: #324a74;
        font-weight: 400;
      }
    }
  }
  span {
    font-family: Roboto, serif !important;
    color: #c55d34;
    font-size: 22px;
  }
}
.legend {
  max-width: 690px;
  width: 100%;
  display: flex;
  margin-bottom: 41px;

  .legend-text {
    margin-right: 11px;
    font-size: 12px;
  }
  .legend-information {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;

    p {
      color: #bf5931;
      font-size: 12px;
    }
  }
}
