.near-me {
  margin-top: 34px;
  b {
    font-size: 16px !important;
  }
  h1 {
    color: #324a74;
    font-size: 26px;
    margin-top: 8px;

    span {
      font-family: "Roboto Serif", serif;
      text-decoration-line: underline;
      font-size: 26px;
    }
  }
  h3 {
    color: #bf5931;
  }

  .next-job {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    background: #ff4043;
    margin-top: 35px;
    color: white;
    border: none;
    margin-bottom: 67px;
  }

  .next-boiler {
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #000 !important;
    background: #fff;
    margin-top: 35px;
    border: none;
    margin-bottom: 67px;
  }
  .compensation-asabestos {
    text-align: center;
    max-width: 445px;
    width: 100%;
    margin: 0 auto;
    margin-top: 23px;
    h2 {
      color: #c55d34;
      font-size: 30px;
      margin-bottom: 11px;
    }
    p {
      font-size: 18px;
    }
  }

  ul {
    list-style-type: none;
    counter-reset: list-item;
    padding-left: 0;
    padding-top: 6px;
    padding-bottom: 10px;

    li {
      position: relative;
      margin-bottom: 5px;
      margin-left: 35px;

      &::before {
        content: counter(list-item) ". ";
        margin-right: 5px;
        position: absolute;
        left: -20px;
      }
    }
  }
}
.introduction-text {
  color: #036;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 700;

  &__documentation {
    margin-bottom: 34px;
  }
}

.jobsite-card {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  background: #fdfdfd;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  flex-direction: column;
  padding: 7px 14px;

  &__content {
    .sorting-job {
      display: flex;

      .content-input {
        display: flex;
        gap: 10px;

        .select-element {
          display: flex;
          flex-direction: column;
          max-width: 172px;
          width: 100%;
          height: 26px;
          border: 1px solid #dbdbdb;
          background: #fff;
          display: flex;
          position: relative;

          .alternative {
            position: absolute;
            top: 15px;
          }

          input {
            border: none;
            max-width: 172px;
            width: 100%;
          }
          .arrow-input {
            position: absolute;
          }
        }
        .from-data {
          display: flex;

          &__content {
            display: flex;
            align-items: center;
            gap: 7px;
            flex-direction: column;

            .information {
              display: flex;
              flex-direction: column;
              &__data {
                display: flex;
              }
            }

            .select-data {
              display: flex;
              border: 1px solid #dbdbdb;
              background: #fff;
              display: flex;
              position: relative;
              max-width: 93px;
              height: 26px;
              input {
                border: none;
                max-width: 93px;
                width: 100%;
              }
              .arrow-input {
                position: absolute;
              }
            }
          }
        }
        .to-data {
          display: flex;
          &__content {
            display: flex;
            align-items: center;
            gap: 7px;
            flex-direction: column;

            .information {
              display: flex;
              flex-direction: column;

              &__data {
                display: flex;
              }
            }

            .select-data {
              display: flex;
              border: 1px solid #dbdbdb;
              background: #fff;
              display: flex;
              position: relative;
              max-width: 93px;
              height: 26px;
              input {
                border: none;
                max-width: 93px;
                width: 100%;
              }
              .arrow-input {
                position: absolute;
              }
            }
          }
        }
        .select-job {
          display: flex;
        }
        .arrow-input {
          width: 10px;
          height: 7px;
          right: 4px;
          top: 8px;
        }
        .alternative {
        }
      }
      .available-trust-text {
        margin-top: 10px;
        font-weight: 500;
      }
      .add-button {
        border-radius: 4px;
        background: #ff4043;
        width: 100%;
        max-width: 70px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 6px;
        margin-left: 30px;

        p {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          line-height: 15px;
          @media (max-width: 475px) {
            font-size: 14px;
          }
        }
        span {
          font-size: 8px;
          font-weight: 600;
          color: #fff;
          @media (max-width: 380px) {
            display: none;
          }
        }
      }
    }
    h2 {
      margin-bottom: 10px;
      a {
        font-size: 16px;
        text-decoration-line: underline !important;
        font-weight: 500;
      }
    }
  }
}

// .jobsite-card {
//   width: 100%;
//   border-radius: 4px;
//   border: 1px solid #f1f1f1;
//   background: #fdfdfd;
//   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
//   padding: 6px 12px;
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 20px;
//   flex-direction: column;

//   &__content {
//     display: flex;
//     justify-content: space-between;
//   }

//   h2 {
//     margin-bottom: 10px;
//     a {
//       font-size: 16px;
//       text-decoration-line: underline !important;
//       font-weight: 500;
//     }
//   }
//   p {
//     font-size: 14px;
//   }
//   &__sorting {
//     display: flex;
//     margin-top: 7px;
//     margin-bottom: 8px;
//     @media (max-width: 830px) {
//       flex-wrap: wrap;
//       width: 100%;
//       max-width: 315px;
//     }

//     .form-element {
//       display: flex;
//       @media (max-width: 830px) {
//         margin-top: 15px;
//       }
//     }
//     select {
//       height: 25px;
//       max-width: 200px;
//       width: 100%;
//       margin-right: 14px;

//       @media (max-width: 830px) {
//         max-width: none;
//       }

//     }
//     select:before {
//       content: "•";
//       color: #767676;
//       padding-right: 15px;
//       text-decoration-line: blink;
//     }
//     .from-data {
//       display: flex;
//       align-items: center;
//       select {
//         width: 100px;
//         margin-left: 7px;
//         @media (max-width: 830px) {
//           max-width: none;
//         }
//         @media (max-width: 475px) {
//          width: 91px;
//          margin-left: 4px;
//         }
//       }
//     }
//     .to-data {
//       display: flex;
//       align-items: center;
//       select {
//         width: 100px;
//         margin-left: 7px;
//         @media (max-width: 475px) {
//           width: 91px;
//           margin-left: 4px;
//          }
//       }
//     }

//   }
//   .add-button {
//       border-radius: 4px;
//       background: #ff4043;
//       width: 100%;
//       max-width: 70px;
//       height: 36px;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       margin-top: 50px;
//       padding: 0 6px;

//       p {
//         color: #fff;
//         font-size: 14px;
//         font-weight: 600;
//         line-height: 15px;
//         @media (max-width: 475px) {
//           font-size: 14px;
//          }
//       }
//       span {
//         font-size: 8px;
//         font-weight: 600;
//         color: #fff;
//         @media (max-width: 380px) {
//           display: none;
//          }
//       }
//     }
//     /* Stilurile pentru mesajul de eroare */
// .error-message {
//   display: none;
//   color: #ff4043;
//   font-size: 12px;
//   margin-top: 5px;
// }

// }
.boiler-card {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  background: #fdfdfd;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  .add-boiler {
    h2 {
      a {
        font-size: 16px;
        font-weight: 700;
      }
    }
    p {
      font-size: 14px;

      b {
        font-size: 14px !important;
      }
    }
    &__select {
      display: flex;
      margin-top: 13px;
      @media (max-width: 620px) {
        flex-wrap: wrap;
      }

      select {
        max-width: 200px;
        width: 100%;
        height: 25px;
      }
      .checkbox {
        display: flex;
        width: 340px;
        align-items: center;
        @media (max-width: 620px) {
          width: auto;
          gap: 10px;
          margin-top: 10px;
        }

        label {
          width: 92px;
          margin-right: 7px;
          margin-left: 15px;
          @media (max-width: 620px) {
            margin-left: 0;
            font-size: 14px;
            width: auto;
          }
        }
      }
    }
  }
  .add-button {
    border-radius: 4px;
    background: #036;
    width: 100%;
    max-width: 70px;
    height: 36px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    padding: 0 6px;
    @media (max-width: 620px) {
      margin-top: 90px;
    }

    p {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 15px;
    }
    span {
      font-size: 8px;
      font-weight: 600;
      color: #fff;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
  .error-message {
    display: none;
    color: #ff4043;
    font-size: 12px;
    margin-top: 5px;
  }
}
.bar {
  background: #c55d34;
  width: 100%;
  max-width: 110px;
  height: 3px;
  margin-top: 11px;
  margin-bottom: 19px;
}





.all-selectors {
  width: 100%;
}
.aloha {
  width: 100%;
  max-width: 172px;
}
.data-select {
  width: 100%;
  max-width: 93px;
}
.custom-select {
  position: relative;
  border: 1px solid #dbdbdb;
  background: #fff;
  color: #000;
  height: 26px;

  option {
    &:hover {
      background-color: #000;
      box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.16),
        inset 0 -2px 0 0 rgba(0, 0, 0, 0.11);
      filter: brightness(105%);
      border: none !important;
    }
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.first-alternative {

}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 4px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #324a74 transparent transparent transparent;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #000000;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 6px;
}
.selector-data {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  max-width: 130px;

  p {
    font-size: 12px;
  }
}

/*style items (options):*/
.select-items {
  position: absolute;
  border: 1px solid #dbdbdb;
  background: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
