
footer {
  background-color: #faf7f0;
  padding-bottom: 55px !important;
  @media (max-width: 746px) {
    padding-bottom: 80px !important;
  }
  @media (max-width: 475px) {
    padding-bottom: 100px !important;
  }

  .footer-content {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 803px) {
      flex-wrap: wrap;
      
    }
    @media (max-width: 475px) {
      flex-direction: column;
      gap: 20px;
    }

    .request-call {
      border-right: 1px solid #e2dede;
      padding-right: 53px;

      @media (max-width: 803px) {
        border: none;
        padding-right: 0;
      }
      @media (max-width: 475px) {
        width: 70%;
        margin: 0 auto;
      }

      p {
        font-family: "Roboto Condensed";
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #324a74;
        margin-bottom: 14px;
      }
      .form-request {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: end;
        select {
          background: #ffffff;
          border: 1px solid #f0f0f0;
          height: 25px;
          width: 200px;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          @media (max-width: 475px) {
            width: 100%;
          }

          &::placeholder {
            color: #ff0000 !important;
          }
        }
        input {
          background: #ffffff;
          border: 1px solid #f0f0f0;
          height: 25px;
          width: 200px;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;

          @media (max-width: 475px) {
            width: 100%;
          }
          &::placeholder {
            color: #000000 !important;
          }
        }
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      border-right: 1px solid #e2dede;
      padding-right: 46px;
      @media (max-width: 803px) {
        border: none;
        padding-right: 0;
      }
      @media (max-width: 475px) {
        margin: 0 auto;
      }

      .logo-footer {
        height: 21px;
        width: 87px;
        margin-bottom: 7px;
        @media (max-width: 475px) {
          margin: 0 auto;
          margin-bottom: 5px;
        }
      }
      p {
        @media (max-width: 475px) {
         text-align: center;
        }
      }
      &__number {
        font-size: 14px;
        font-weight: 300;
        text-decoration-line: underline;
        max-width: 154px;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: 475px) {
          margin: 5px auto;
        }
      }
      .contact-media {
        img {
          margin-right: 20px;
          margin-top: 12px;
        }
      }
    }
    .about-organization {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 5px;
      @media (max-width: 803px) {
        margin: 0 auto;
        align-items: center;
      }
      &__content {
        text-align: end;
        @media (max-width: 762px) {
          align-items: center;
        }
      }
      .information {
        display: flex;
        align-items: center;
        justify-content: end;
        @media (max-width: 762px) {
          justify-content: center;
        }
        .intermediar-bar {
          width: 1px;
          height: 14px;
          background: #000;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .text-reserv {
        font-size: 12px !important;
      }
      &__information {
        display: flex;
        flex-direction: column;

        @media (max-width: 762px) {
          flex-direction: initial;
        }
      }

      &__img {
        display: flex;
        flex-direction: column;
      }
    }
    p {
      font-size: 14px;
    }

    .button-blue {
      border-radius: 4px;
      background: #324a74;
      width: 80px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 12px !important;
    }
  }
}