footer {
  display: flex;
  background: $main-color;
  flex-direction: column;

  p,
  a,
  b {
    color: white;
  }
  .instant-result {
    width: 100%;
    background-color: $main-red;

    &__content {
      padding: 20px;
      display: flex;
      flex-direction: column;

      p {
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      b {
        font-size: 18px !important;
        text-transform: uppercase;
      }
      button {
        margin-top: 15px;
        background: #000;
        text-transform: uppercase;
        padding: 10px 14px;
      }
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .important-links {
    width: 100%;
    border-right: 1px solid rgba(226, 226, 226, 0.36);
    height: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 280px;
    @media (max-width: 767px) {
      height: auto;
      margin-top: 30px;
      height: auto;
      border-right: none;
    }
    @media (max-width: 425px) {
      border: none;
     }

    .content-links {
      align-items: start;
      display: flex;
      flex-direction: column;
      @media (max-width: 425px) {
        width: 100%;
        align-items: start;
        margin-left: 30px;
       }
    }
    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 10px;
    }
    &__aplicate {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: start;
      display: flex;
      flex-direction: column;
      a {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 144.444% */
        text-decoration-line: underline !important;
      }
    }
  }
  .grup-element {
    width: 200%;
    display: flex;
    @media (max-width: 425px) {
     flex-direction: column;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  .contact {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
    @media (max-width: 425px) {
      margin-left: 30px;
      align-items: start;
      width: auto;
     }
    .contact-content {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .container {
    padding-top: 0;
    padding-bottom: 0;
    @media (max-width: 767px) {
      padding: 0;
      }
  }
  .footer-content {
    display: flex;
    align-items: center;
    text-align: center;
    @media (max-width: 767px) {
    flex-wrap: wrap;
    }
  }
  .contact-direct {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    p {
      font-size: 20px;
    }

    .get-text {
      font-size: 20px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
  .footer-text {
    background-color: #fff;
    justify-content: center;
    display: flex;
    .final-text {
      font-size: 16px;
      padding: 15px 10px;
      color: #000;
      display: flex;
      align-items: center;
      justify-self: center;
      text-align: center;
    }
  }
  .contact-media {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    img {
      height: 22px;
      width: 22px;
    }
  }
  .contact-about {
    color: #fff;

    a {
      font-size: 18px;
      text-decoration-line: underline !important;
      font-weight: 300;
    }
  }
}