// Navigation Variables
$content-width: 980px;
$breakpoint: 992px;
$nav-height: 60px;
$nav-background: #ffffff;
$nav-font-color: $bluish;
$link-hover-color: $main-red;

// Navigation

.header-section {
  width: 100%;
  background: #324a74;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  z-index: 1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        @media (max-width: 1025px) {
          color: black;
        }
        
        @media (max-width: 1200px) {
          padding: 10px;
        }
        &:hover {
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
      .FAQs {
        color: $main-red !important;
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
.nav-list {
  background-color: white;
  @media (max-width: 1025px) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    padding: 3rem;
    padding-top: 5rem !important;
  }
  li {
    a {
      font-family: "Roboto Condensed", sans-serif !important;
    }
  }

  .button-question {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: transparent;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;

    @media (max-width: 1025px) {
      color: black;
      border: 1px solid black;
    }
  }
  .free-chat {
    margin-left: 10px;
    @media (max-width: 1025px) {
      margin-top: 10px;
      margin-left: 0;
    }
    p {
      text-transform: uppercase;
      color: #fff;
      font-size: 10px;
      @media (max-width: 1025px) {
          flex-wrap: wrap;
      }
    }
  }
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  height: 2rem;
  width: 6rem;
  z-index: 100;
}
@media only screen and (max-width: 1025px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 1rem 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
          font-size: 24px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 1025px) {
  .nav-list {
    display: flex !important;
    background: transparent;
  }
}
#nav-toggle {
  position: absolute;
  right: 0;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      background-color: #324a74;
      transform: rotate(45deg);
    }
    &:after {
      background-color: #324a74;
      transform: rotate(-45deg);
    }
  }
}