// Navigation Variables
$content-width: 980px;
$breakpoint: 992px;
$nav-height: 60px;
$nav-background: #ffffff;
$nav-font-color: $bluish;
$link-hover-color: $main-red;

// Navigation

.header-section {
  width: 100%;
  background: #324a74;

  @media (max-width: 992px) {
    background: #ffffff;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .call-company {
    display: none;
    @media (max-width: 992px) {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 26px;
      height: 26px;
      background-color: #bc2649;
      border-radius: 4px;

      i {
        color: #fff;
      }
    }
  }
  .brand {
    @media (max-width: 992px) {
     display: none;
    }
    img {
      height: 26px;
      
    }
  }
  .mobile-brand {
    display: none;
    @media (max-width: 992px) {
      display: block;
     }
     a {
      display: flex;
     }
  }
}
nav {
  z-index: 1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 10px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        height: 15px;
        @media (max-width: 992px) {
          color: black;
          height: auto;
        }

        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
      .FAQs {
        color: $main-red !important;
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: rgba(4, 4, 4, 0.5);
  @media (max-width: 992px) {
    background-color: transparent;
  }
}
.nav-list {
  background-color: white;
  align-items: center;
  @media (max-width: 992px) {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    padding: 3rem;
    padding-top: 5rem !important;
  }
  .bar-top {
    border-left: 1px solid #cdcdcd;
    margin-left: 20px;

    @media (max-width: 992px) {
      border: none;
      margin-left: 0;
    }
  }
  li {
    margin-bottom: 0;
    a {
      font-family: "Roboto Condensed", sans-serif !important;
    }
  }

  .button-question {
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: transparent;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;

    @media (max-width: 992px) {
      color: black;
      border: 1px solid black;
    }
  }
  .free-chat {
    margin-left: 10px;
    align-items: center;
    @media (max-width: 992px) {
      margin-top: 10px;
      margin-left: 0;
      display: flex;
      gap: 10px;
    }
    p {
      text-transform: uppercase;
      color: #fff;
      font-size: 10px;
      font-weight: 700;
      @media (max-width: 992px) {
        flex-wrap: wrap;
        color: black;
      }
    }
  }
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  height: 2rem;
  width: 6rem;
  z-index: 100;
}
@media only screen and (max-width: 992px) {
  .nav-mobile {
    display: block;
  }
  nav {
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
          font-size: 24px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 993px) {
  .nav-list {
    display: flex !important;
    background: transparent;
  }
}
#nav-toggle {
  position: absolute;
  right: 0;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  @media (max-width: 992px) {
    padding: 3px 35px 16px 0px;
  }
  @media (max-width: 475px) {
   right: -15px !important;
   top: 19px;
  }
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2.5px;
    width: 30px;
    background: #324A74;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -8px;
  }
  span:after {
    bottom: -8px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      background-color: #324a74;
      transform: rotate(45deg);
    }
    &:after {
      background-color: #324a74;
      transform: rotate(-45deg);
    }
  }
  .search-principal {
    @media (max-width: 992px) {
      display: block !important;
     }
  }
}
.index-image-logo {
  display: none !important;
}