// Navigation Variables
$content-width: 1000px;
$breakpoint: 992px;
$nav-height: 60px;
$nav-background: #ffffff;
$nav-font-color: #264470;
$link-hover-color: #ff4043;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  justify-content: space-between;
  display: flex;
  width: 100%; /* Modificare: lățimea completă */
  gap: 2rem;

  // @media (max-width: 1100px) {
  //   margin-bottom: 3rem;
  // }
}

// Logo and branding
.brand {
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  flex-direction: column;
  display: flex;
  align-items: flex-start; /* Modificare: alinierea textului la stânga */

  h4 {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin: 0 auto;
  }
  a,
  a:visited {
    text-decoration: none;
    min-width: 170px;
    width: 100%;
  }

  .logo {
    height: 38px;
    min-width: 135px;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation
nav {
  z-index: 1;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: #504b4b;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        @media (max-width: 1200px) {
          padding: 0 10px;
        }
        &:hover {
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: " ▾";
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
      .FAQs {
        color: #ff4043 !important;
      }
    }
  }
}
.nav-list {
    @media (max-width: 992px) {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: 10;
      padding: 5rem;
      padding-top: 10rem !important;
    }
}
// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.nav-list {
  background-color: white;
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 45px;
  right: 20px;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
  z-index: 100;

  @media (max-width: 425px) {
    top: 70px;
  }

  // @media only screen and (max-width: 1100px) and (min-width: 880px) {
  //   top: 0;
  // }
}
@media only screen and (max-width: 992px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
          font-size: 24px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 993px) {
  .nav-list {
    display: block !important;
    background: white;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
.header-section {
  margin-bottom: 1rem;
}
.header-bar {
  background-color: #0d487d;
  height: 40px;
  @media (max-width: 425px) {
    height: 70px;
  }

  .container {
    margin-top: 0;
  }

  .header-information {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  p {
    color: white;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
  }
  .call-number {
    font-weight: 600;
    font-size: 14px;
  }

  .contact {
    width: 140px;
    h4 {
      color: white;
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 17px;
      margin-right: 20px;
      width: 120px;
    }
  }

  .container {
    padding: 10px 0;
  }
}
