.index-page {
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @media (max-width: 767px) {
      text-align: center;
    }
    @media (max-width: 475px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  .index-image-logo {
    @media (max-width: 992px) {
      display: block !important;
    }
  }
  .index-image-color {
    display: none !important;
  }
  .nav-mobile {
    span,
    span:before,
    span:after {
      cursor: pointer;
      background-color: #f7fcff !important;
    }
  }
  #nav-toggle.active span:after,
  #nav-toggle.active span:before {
    background-color: $main-color !important;
  }
  #nav-toggle.active span {
    background-color: transparent !important;
  }
  .header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent !important;

    .nav-dropdown {
      li {
        background: #151719;
        @media (max-width: 992px) {
          background-color: #fff;
        }
      }
    }
  }
  .principal-content {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 900px;
    padding-top: 60px;
    @media (max-width: 475px) {
      height: 680px;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .container {
      position: inherit;

      .hero-content {
        max-width: 440px;
        width: 100%;
        padding-top: 70px;
        position: inherit;
        z-index: 100;
        h1,
        p,
        span {
          color: #fff;
        }
        h1 {
          color: #fff;
          font-size: 180px;
          font-weight: 700;
          line-height: 165px;
          text-transform: uppercase;
          @media (max-width: 767px) {
            font-size: 120px;
            line-height: 120px;
          }
          @media (max-width: 475px) {
            font-size: 80px;
            line-height: 100px;
            display: flex;
          }
        }
        .principal-content-text {
          color: #fff;
          font-size: 36px;
          font-weight: 400;
          line-height: 42px;
          margin-bottom: 14px;
          padding-top: 115px;
          text-transform: inherit !important;
          @media (max-width: 767px) {
            font-size: 30px;
          }
          @media (max-width: 475px) {
            font-size: 26px;
            line-height: 32px;
            display: flex;
            padding-top: 62px;
          }
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          @media (max-width: 767px) {
            max-width: 320px;
            width: 100%;
          }
        }
      }
    }
    .information-hero {
      display: flex;
      height: 140px;
      width: 100%;
      position: unset;
      padding-top: 122px;
      @media (max-width: 992px) {
        flex-direction: column;
        padding: 0;
        bottom: 60px;
        position: absolute;
      }
      @media (max-width: 767px) {
        bottom: 0px;
        height: auto;
      }
      .statistic {
        padding: 10px 0;
        display: flex;
        width: 100%;
        gap: 78px;
        position: relative;
        z-index: 105;
        @media (max-width: 992px) {
          gap: 50px;
          padding: 22px;
          width: 100%;
        }
        @media (max-width: 767px) {
          gap: 20px;
          padding: 15px;
        }
        @media (max-width: 475px) {
          justify-content: center;
        }

        &__data {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          width: 125px;
          @media (max-width: 475px) {
            gap: 10px;
            width: 80px;
          }
        }

        p {
          color: #fff;
          font-size: 48px;
          font-weight: 400;
          @media (max-width: 767px) {
            font-size: 32px;
          }
          @media (max-width: 475px) {
            font-size: 26px;
          }
        }
        span {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          @media (max-width: 767px) {
            font-size: 12px;
          }
          @media (max-width: 475px) {
            font-size: 9px;
          }
        }
      }
      &::before {
        content: "";
        background: $main-red;
        width: 58vw;
        height: 130px;
        position: absolute;
        left: 0;
        z-index: 101;
        @media (min-width: 1520px) {
          width: 55vw;
        }
        @media (max-width: 992px) {
          width: 100%;
        }
        @media (max-width: 767px) {
          height: 90px;
        }
        @media (max-width: 475px) {
          height: 50%;
        }
      }
      .principal-text {
        position: relative;
        z-index: 105;
        width: 35%;
        padding: 31px;
        margin-left: 38px;
        @media (max-width: 992px) {
          padding: 25px;
          margin-left: 0;
        }
        @media (max-width: 767px) {
          padding: 15px;
        }
        @media (max-width: 475px) {
          text-align: center;
        }
        width: 100%;
        p {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          @media (max-width: 992px) {
            font-size: 16px;
          }
        }
      }
      &::after {
        content: "";
        background: rgba(21, 42, 78, 0.71);
        width: 42vw;
        height: 130px;
        position: absolute;
        right: 0;
        z-index: 100;
        @media (min-width: 1520px) {
          width: 45vw;
        }
        @media (max-width: 992px) {
          width: 100%;
          bottom: -57px;
        }
        @media (max-width: 767px) {
          bottom: 0;
        }
      }
    }
  }
  .content-statistic {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
    h3 {
      max-width: 630px;
      width: 100%;
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
      span {
        color: $main-red;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
      }
    }
    p {
      max-width: 795px;
      width: 100%;
    }
  }
  .our-mision {
    &__nomerotation {
      margin-top: 40px;
      display: flex;
      gap: 25px;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
      }

      .box-element {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 550px;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 767px) {
          max-width: none;
        }

        &__content {
          display: flex;
          background: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          padding: 10px;
          justify-content: space-between;
          gap: 15px;
          align-items: center;

          .nomerotation {
            background-color: $main-red;
            width: 100%;
            min-width: 85px;
            max-width: 85px;
            height: 85px;
            border-radius: 50%;
            transform: translate(-28px);
            @media (max-width: 767px) {
              transform: none;
            }
            @media (max-width: 475px) {
              width: 100%;
              min-width: 65px;
              max-width: 65px;
              height: 65px;
            }

            p {
              color: #fff;
              font-size: 96px;
              font-weight: 700;
              line-height: 30px;
              transform: translate(34px, 22px);
              @media (max-width: 475px) {
                font-size: 68px;
                transform: translate(28px, 16px);
              }
            }
          }
          .text {
            h3 {
              color: $main-color;
              font-size: 36px;
              font-weight: 700;
              line-height: 30px;
              margin-bottom: 5px;
              @media (max-width: 475px) {
                font-size: 32px;
              }
            }
            p {
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
              @media (max-width: 475px) {
                font-size: 18px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }
  .medical-img,
  .choose-med,
  .military-img {
    border-radius: 0px 24px 0px 0px;
    height: 100% !important;
    width: 100%;
    min-width: 380px;
    @media (max-width: 767px) {
      border-radius: 0;
      height: auto !important;
      min-width: auto;
      max-height: 528px;
    }
  }
  .lawyer-img {
    border-radius: 24px 0px 0px 0px;
    height: 100% !important;
    width: 100%;
    min-width: 380px;
    @media (max-width: 767px) {
      border-radius: 0;
      height: auto !important;
      min-width: auto;
      max-height: 528px;
    }
  }
  .section-meso {
    position: relative;

    // img {
    //   width: 508px;
    //   height: 528px;
    //   @media (max-width: 767px) {
    //     width: 100%;
    //   }
    // }
    .active-section {
      margin: 0 auto;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 25px;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.46);
      width: 100%;
      button {
        width: 280px;
      }
      b {
        color: #fff;
        font-size: 20px;
        line-height: normal;
        text-transform: uppercase;
      }
      p {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  .working-stages {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
      width: 100%;
      color: #000;
      max-width: 515px;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      text-align: center;
      @media (max-width: 475px) {
        font-size: 22px;
      }
      b {
        font-size: 26px;
        @media (max-width: 475px) {
          font-size: 22px;
        }
      }
    }
    .works-step {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-top: 40px;
      @media (max-width: 640px) {
        flex-direction: column;
        align-items: center;
      }

      &__box {
        width: 100%;
        max-width: 230px;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        gap: 30px;
        display: grid;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @media (max-width: 640px) {
          width: 80%;
          max-width: none;
        }
        span {
          color: $main-red;
          font-size: 64px;
          font-weight: 700;
          line-height: 24px;
        }
        img {
          width: 100%;
        }
        p {
          font-size: 18px;
          padding: 20px;
          font-weight: 400;
          line-height: 24px;
          padding-top: 0;
        }
      }
    }
  }
  .index-search {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    h3 {
      font-size: 26px !important;
      font-weight: 400;
      line-height: 34px;
      max-width: 510px;
      margin: 0 auto;

      span {
        font-size: 26px;
        color: $main-red;
      }
    }
    .search-principal {
      width: 100%;
      max-width: 758px;
      margin: 0 auto;
      background: rgba(63, 107, 149, 0.1) !important;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1) !important;

      .container {
        padding: 30px 10px;
      }
      .search-general {
        display: block;
        .search-arrow {
          display: none;
        }
      }
    }
    &__content {
      width: 100%;
      padding-top: 60px;
      position: relative;
      z-index: 2;
      p {
        top: 35px;
        left: 14rem;
        position: absolute;
        color: $main-color;
        font-size: 32px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @media (max-width: 992px) {
          left: 7rem;
        }
        @media (max-width: 767px) {
          left: 6px;
        }
        @media (max-width: 475px) {
          top: 42px;
          font-size: 24px;
        }
      }
      .search-form-input {
        @media (max-width: 767px) {
          height: 40px !important;
        }
      }
      .custom-search-form {
        max-width: 620px;
        width: 100%;
        margin: 0 auto;

        input {
          height: 55px;
        }
      }
      .search-form-button {
        width: 55px;
        @media (max-width: 767px) {
          height: 40px !important;
          width: 40px;
        }
      }
    }
  }
  .choose-asbx {
    background: #fafafa;
    margin-top: 60px;
    @media (max-width: 475px) {
      margin-top: 0px;
    }
    &__content {
      margin-top: 60px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
        margin-top: 40px;
      }

      .information {
        max-width: 550px;
        width: 100%;
        gap: 15px;
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
          max-width: none;
        }
        .list-nomerotation {
          margin-top: 0;
          li {
            color: $main-color;
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        .docu-sing {
          display: flex;
          gap: 20px;
          border-bottom: 1px solid #c7c7c7;
          padding-bottom: 10px;
          max-width: 470px;
          width: 100%;
          @media (max-width: 495px) {
            flex-direction: column;
          }
          .docu-sing-img {
            width: 113px;
            height: 29px;
          }
          p {
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
          }
        }
        .docu-sing-text {
          max-width: 470px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .state-connection {
    p {
      font-size: 26px;
      font-weight: 400;
      line-height: 34px;
      text-align: center;
      max-width: 540px;
      width: 100%;
      margin-top: 15px;
      text-align: center;
      margin: 15px auto 40px;
      @media (max-width: 475px) {
        font-size: 22px;
      }
    }
    .state-list-index {
      column-count: 3;
      margin-top: 20px;
      padding-left: 10rem;

      @media (max-width: 767px) {
        padding-left: 20%;
        column-count: 2; /* optional, dacă dorești să reduci la 2 coloane pe ecrane mai mici */
      }
      @media (max-width: 475px) {
        padding-left: 15%;
      }
    }

    .state-list-index li {
      color: #054ac3;
      list-style-type: disc;
      break-inside: avoid;
      margin-top: 0;
      padding-top: 8px;
      font-size: 20px;

      &::before {
        margin-right: 6px;
        text-decoration-line: none;
      }
      a {
        @media (max-width: 475px) {
          font-size: 18px;
        }
      }
    }
  }
  .veterans {
    background: #fafafa;
    .veterans-content {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
      }

      .military-forces {
        width: 100%;
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 767px) {
          max-width: none;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
        }
        b {
          border-bottom: 1px solid #c7c7c7;
          padding-bottom: 5px;
          max-width: 380px;
          width: 100%;
          @media (max-width: 767px) {
            text-align: center;
            margin: 0 auto;
          }
        }

        &__img {
          max-width: 390px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 15px;
          @media (max-width: 767px) {
            max-width: none;
          }
        }
      }
    }
  }
  .lawyer-specialist {
    &__content {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
    .about-lawyer {
      max-width: 540px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 767px) {
        max-width: none;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
      }
      .button-red {
        margin-top: 30px;
        width: 100%;
        max-width: 280px;
        @media (max-width: 767px) {
          margin-top: 0;
          display: flex;
          margin: 0 auto;
          justify-content: center;
        }
      }
    }
    .active-section {
      p {
        font-weight: 400;
      }
    }
  }
  .red-text-hero {
    color: $main-red;
    font-size: 36px;
    font-weight: 700;
    @media (max-width: 767px) {
      text-align: center;
      font-size: 26px;
    }
  }
}
