.index-page {
  .header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent !important;
  }
  .index-image-logo {
    @media (max-width: 992px) {
      display: block !important;
    }
    img {
      @media (max-width: 992px) {
       height: 30px !important;
      }
     }
  }
  .index-image-color {
    display: none !important;
  }
  .nav-mobile {
    span,
    span:before,
    span:after {
      cursor: pointer;
      background-color: #f7fcff !important;
    }
  }
  #nav-toggle.active span:after, #nav-toggle.active span:before {
    background-color: #324A74 !important;
}
  #nav-toggle.active span {
    background-color: transparent !important;
}
}
.page-wrapper {

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.5);

  }

  .img-back {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 642px;
    padding-top: 60px;
    padding-bottom: 60px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .container {
    position: relative;
    color: white;
    justify-content: space-between;

    .hero-row {
      display: flex;
      align-items: center;
      padding: 90px 0;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      text-align: center;

      .hero-row-context {
        width: 100%;
        max-width: 615px;

        .logo-text {
          font-weight: 400;
          font-size: 60px;
          line-height: 70px;
          color: #ffffff;
          @media (max-width: 640px) {
            font-size: 42px !important;
          }
        }
        h2 {
          font-weight: 500;
          font-size: 24px;
          max-width: 450px;
          width: 100%;
          color: #ffffff;
          margin-bottom: 21px !important;
          margin-top: 27px !important;
          margin: 0 auto;
          font-family: "Inter", sans-serif !important;
          @media (max-width: 640px) {
            display: none;
          }
        }
        .organization-text {
          font-weight: 500;
          font-size: 18px;
          line-height: 28px;
          color: #ffffff;
          @media (max-width: 640px) {
            font-size: 18px;
            margin-bottom: 25px;
          }
        }
        p {
          font-weight: 400;
          font-size: 18px;
          color: #ffffff;
          @media (max-width: 640px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .working-stages {
    max-width: 848px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    @media (max-width: 640px) {
      margin-top: 20px;
    }

    h1 {
      font-weight: 400;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 2.5rem;
      max-width: 692px;
      width: 100%;
      @media (max-width: 640px) {
        font-size: 24px;
        margin-bottom: 1.5rem;
        line-height: 24px;
      }
    }
    p {
      max-width: 760px;
      width: 100%;
      @media (max-width: 640px) {
        font-size: 14px;
      }
    }

    &__about {
      margin-top: 40px;
      h2 {
        color: #BC2649;
        @media (max-width: 640px) {
          margin-bottom: 15px;
        }
      }
      .works-step {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 640px) {
          flex-direction: column;
          margin: 0 auto;
          align-items: center;
        }

        &__box {
          width: 100%;
          max-width: 187px;
          height: auto;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin-top: 40px;
          padding: 10px;
          @media (max-width: 640px) {
            width: 80%;
            max-width: none;
            margin-top: 0;
          }
          img {
            margin-bottom: 15px;
          }

          span {
            color: #BC2649;
          }
        }
      }
    }
  }
  .index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120px);

    h2 {
      color: #BC2649;
      font-size: 30px;
      margin-bottom: 17px;
    }
    .form-claim {
      border: 1px solid rgba(0, 0, 0, 0.1);
      position: relative;
      height: auto;
      background: #ffffff;
      max-width: 500px;
      width: 100%;
      text-align: center;
      padding: 16px 21px;
      b {
        color: #000;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        margin-top: 7px;
      }
      p {
        width: 100%;
        max-width: 440px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 22px;
      }
      img {
        position: absolute;
        margin: 0 auto;
        right: 38%;
        transform: translateY(-2px);

        @media (max-width: 400px) {
          right: 34%;
        }
      }
    }
  }
  .index-information {
    background: #f7fcff;
    height: auto;
    margin-bottom: 55px;
    margin-top: 100px;
  }

  .lawyers-asociation {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    @media (max-width: 767px) {
      width: 100%;
    }

    h2 {
      margin-bottom: 15px;
    }
    .questions-lawyers__select {
      margin: 20px auto;
    }
    .bar {
      display: none;
    }
    .block-lawyers {
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .search-principal {
    @media (max-width: 992px) {
      display: block !important;
    }
    .search-asbestos {
      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }
}
.choose-asbx {
  margin-top: -55px !important;
}
.container-about {
  max-width: 848px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 720px) {
    flex-direction: column;
  }

  .choose-documentation {
    max-width: 361px;
    width: 100%;
    margin-top: 40px;
    @media (max-width: 720px) {
      margin-top: 0;
      max-width: none;
    }

    h2 {
      font-weight: 400;
      font-size: 30px;
      color: #BC2649;
      @media (max-width: 800px) {
        font-size: 26px !important;
      }
      @media (max-width: 475px) {
        font-size: 20px !important;
      }
    }
    ul {
      margin-top: 8px;
      margin-left: 30px;
      li {
        color: black;
        list-style-type: disc;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
  .chase-documentation {
    width: 360px;
    height: auto;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 27px;
    @media (max-width: 720px) {
      width: 100%;
    }

    p,
    b {
      font-size: 14px !important;
    }
    p {
      padding-bottom: 10px;
      border-bottom: 1px solid #c55d34;
      line-height: 20px;
    }
  }
  .button {
    width: 106px;
    height: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 40px;
  }
.military-img {

  .advocacy-img__quote {
    height: 128px!important;
    width: 100%;
  }
}
  .advocacy-img {
    position: relative;
    img {
      width: 100%;
      max-width: 400px;
      height: 400px;
      @media (max-width: 800px) {
        height: 350px;
      }
      @media (max-width: 720px) {
        object-fit: cover;
        max-width: none;
      }
    }
    &__quote {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.22);
      height: 90px;
      width: 100%;
      h3 {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
        margin-left: 37px;
        width: 100%;
        max-width: 330px;
        margin-bottom: 0;
        @media (max-width: 620px) {
          margin-left: 20px;
        }
      }
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        margin-left: 37px;
      }
    }
  }
  .advocacy-information {
    width: 100%;
    max-width: 360px;
    @media (max-width: 720px) {
      max-width: none;
    }

    h2 {
      font-weight: 400;
      font-size: 30px;
      color: #BC2649;
      margin-bottom: 15px;
      margin-top: 10px;
      @media (max-width: 800px) {
        font-size: 22px;
      }
    }
  }
}
.military-veteran {
  .advocacy-information {
    width: 100%;
    max-width: 420px !important;
    @media (max-width: 767px) {
        margin: 0 auto;
    }
  
    
  }
  .military-forces__logo {
    img {
      margin-right: 5px !important;
    }
  }
}
.compensation-asbestos {
  margin-top: 20px;
  background: rgba(248, 251, 255, 0.52);
  height: auto;
  width: 100%;
  padding: 25px;
  @media (max-width: 475px) {
    padding: 0;
  }

  h3 {
    color: #000;
    font-size: 22px;
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    max-width: 575px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  p {
    max-width: 848px !important;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .made-easy-text {
    color: #324a74;
    font-size: 20px;
    font-family: "Roboto Serif", serif;
    max-width: 382px !important;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 18px;
    line-height: 26px;
    @media (max-width: 475px) {
      font-size: 18px !important;
    }
    span {
      color: #BC2649;
      font-size: 20px;
      font-family: "Roboto Serif", serif;
      font-weight: 500;
    }
  }
  .text-color {
    color: #BC2649;
    font-size: 14px;
    font-weight: 700;
  }
}
