.job-site {
  h2 {
    margin-top: 27px;
    padding-top: 23px;
    border-top: 1px solid #F3F3F3;
  }
  h3 {
    padding-top: 19px;
    margin-bottom: 11px;
  }
  .responsible-company {
    margin: 11px 0;
    li {
      color: #324a74;
      a {
        font-size: 16px;
        font-weight: 400;
        text-decoration-line: underline;
        color: #324a74;
        text-decoration-line: underline;
      }
    }
  }
  .red-text {
    margin-bottom: 7px;
    @media (max-width: 475px) {
      font-size: 14px;
    }
  }
  .content-products {
    display: flex;
    gap: 25px;
    margin-top: 31px;
    flex-wrap: wrap;
    @media (max-width: 520px) {
      flex-direction: column;
    }

    &__categorization-cart {
      border-radius: 4px;
      border: 1px solid #dbdbdb;
      background: #fbfcff;
      padding: 17px 13px;
      max-width: 331px;
      width: 100%;
      flex: 0 0 calc(50% - 20px);
      @media (max-width: 520px) {
        max-width: none;
      }

      p {
        color: #bc2649;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }

      ul {
        margin-left: 10px;
        p {
          color: #000 !important;
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }
  }
  .occupational {
    margin-top: 18px;
  }

  .jobsite-card {
    padding: 21px 16px;
    margin-top: 22px;
    max-width: 583px;
    width: 100%;
  }
}
.sort-chase {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  margin-top: 26px;
  align-items: end;
  &__content {
    width: 100%;
    max-width: 300px;
    p {
      color: #324a74;
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 475px) {
        font-size: 16px;
      }
    }

    .compensation-section__table {
      margin-bottom: 0;
    }
  }
  .legend {
    width: 100%;
    max-width: 310px;
    margin-left: 0;

    span {
      color: #000;
      font-size: 12px;
      font-weight: 600;
    }
    .legend-nots {
      border-top: 1px solid #f3f3f3;
      padding-top: 9px;
    }
    p {
      color: #bc2649;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
@media screen and (min-width: 520px) {
  .sort-chase__content {
    flex: 0 0 calc(50% - 20px);
  }
}
@media screen and (min-width: 767px) {
  .legend {
    flex: 0 0 calc(50% - 20px);
  }
}
