.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 1rem 20px;
    @media (max-width: 475px) {
      padding: 10px;
    }
    
    .desktop-only {
      display: flex;
      flex-wrap: wrap;
      
      .col-md-3 {
        width: 25%;
        padding: 10px;
      }
    }
    
    .tablet-mobile-only {
      display: none;
      
      select {
        margin-bottom: 10px;
      }
      
      button {
        width: 100%;
      }
    }
    
    @media (max-width: 992px) {
      .desktop-only {
        display: none;
      }
      
      .tablet-mobile-only {
        display: block;
      }
    }
  }
  .row.mobile-only {
    display: none;

    @media (max-width: 992px) {
        display: flex;
      }
  }