.search-principal {
  padding-top: 25px;
  @media (max-width: 992px) {
    display: none;
  }
  .search-asbestos {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: rgba(50, 74, 116, 0.07);
    width: 100%;
    max-width: 745px;
    margin: 0 auto;
    gap: 8px;
    padding: 18px 24px;
    &__select {
      display: flex;
      align-items: center;
      width: 100%;
      height: 33px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.06);

      .text {
        height: 33px;
        width: 45px;
        img {
          justify-content: center;
          display: flex;
          margin: 0 auto;
          margin-top: 19%;
        }
      }
      select {
        height: 33px;

        width: 100%;
        border-right: none !important;
        border-left: none !important;
        border: 1px solid rgba(0, 0, 0, 0.06);
        color: #545454;
        font-size: 13px;
        font-weight: 400;
      }
    }
    .search-form {
      display: flex;
      align-items: center;
      width: 100%;
      @media (max-width: 620px) {
        flex-direction: column;
      }

      .select-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        .input-wrapper {
          display: flex;
          align-items: center;
          width: 100%;

          &__location {
            border: 1px solid rgba(0, 0, 0, 0.06);
            border-right: none;
            background: #fff;
            height: 32px;
            width: 45px;

            img {
              justify-content: center;
              display: flex;
              margin: 0 auto;
              margin-top: 19%;
              width: 16px;
              height: 18px;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              color: #324a74;
              display: flex;
              align-items: center;
              justify-content: center;
              text-transform: uppercase !important;
            }
            i {
              color: #324a74;
              margin-left: 5px;
            }
          }
          input {
            border-left: none !important;
            border: 1px solid rgba(0, 0, 0, 0.06);
            background: #fff;
            width: 100%;
            height: 32px;
            padding-bottom: 5px;
            border-right: none;

            &::placeholder {
              color: #545454;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
      .button {
        border-radius: 0px 4px 4px 0px;
        background: #ff4043;
        width: 87px;
        height: 32px;
        text-transform: uppercase !important;
        font-size: 12px;
        font-weight: 800;
        @media (max-width: 620px) {
          border-radius: 4px;
          width: 60%;
          margin-top: 15px;
        }
      }
    }
  }
}

.header-search {
  background: #f7fcff;
  @media (max-width: 992px) {
    background-color: #324A74;
  }
  .search-asbestos {
    margin: 0 !important;
    width: 100%;
    margin: 0 12px;
    justify-content: space-between;
    background-color: rgba(79, 104, 147, 0.21) !important;
    padding: 9px;
    @media (max-width: 620px) {
      flex-direction: column;
    }

  }
}

.select-element {
  .arrow-img {
    transform: translate(-20px, -3px) !important;
  }
}

.arrow-img {
  transform: translateX(-10px);
}
