.content-ship {
  .about-text-ship {
    margin-top: 18px;
    margin-bottom: 15px;
    span {
      color: #15528e;
      font-weight: 500;
      text-decoration-line: underline;
    }
  }
  .ship-claims {
    position: relative;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    background: #fdfdfd;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 7px;
    padding: 18px 16px;
    width: 100%;
    max-width: 583px;
    margin-top: 20px;

    &__content {
      display: flex;
      align-items: center;
      @media (max-width: 475px) {
        flex-direction: column;
        align-items: start;
      }

      .add-ship {
        display: flex;
        width: 100%;
        @media (max-width: 620px) {
          flex-direction: column;
        }

        .ship-select {
          max-width: 172px;
          width: 100%;
          margin-right: 15px;
          @media (max-width: 620px) {
            max-width: none;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
          }
        }
      }
      .checkbox {
        @media (max-width: 620px) {
          margin-top: 15px;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 6px;
        }
      }
      .checkbox-item {
        display: flex;
        align-items: center;

        label {
          font-size: 12px;
          font-weight: 600;
        }
        input {
          margin-right: 25px;
          margin-left: 5px;
        }
      }
    }

    img {
      position: absolute;
      right: -6px;
      top: 0;
      right: -5px;
      top: -1px;
    }
    .add-button {
      margin-right: 15px;
      @media (max-width: 475px) {
        margin-left: 0;
      }
    }
  }
  .compensation-navi {
    margin: 18px 0;
  }
  .ship-img {
    margin-top: 11px;
    margin-bottom: 26px;
  }
  .red-text {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .equipment {
    margin-top: 18px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;

    .equipment-box {
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fbfbfb;
      padding: 18px 12px;
      width: 100%;
      max-width: 300px;
      @media (max-width: 520px) {
       max-width: none;
      }

      a {
        color: #15528e;
        font-size: 14px;
        font-weight: 500;
        text-decoration-line: underline;
      }

      b {
        font-size: 14px !important;
        font-weight: 600 !important;
      }

      p {
        font-size: 14px;
        font-weight: 400;
      }

      @media screen and (min-width: 520px) {
        flex: 0 0 calc(50% - 20px);
      }
    }
  }
  .notation {
    max-width: none;
  }
  .sort-chase {
    @media (max-width: 665px) {
      justify-content: center;
    }
  }
  .equipment-box {
    ul {
      li {
        list-style-type: disc;
      }
    }
  }
}
