.content-ship {
  .add-claim {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 17px;
    button {
      max-width: 144px;
      width: 100%;
      height: 27px;
    }
    img {
      height: 10px;
    }
  }
  .content-table-ship {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);

    .table-navigator {
      max-width: 360px;
      width: 100%;
      &__content {
        li {
          p {
            margin-left: 20px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;
            text-transform: inherit;
            text-decoration-line: underline;
          }
        }
      }
    }
    .ship-img {
      width: 100%;
      max-width: 345px;
      height: 200px;

      img {
        height: 230px;
      }
      p {
        color: #036;
        font-size: 12px;
      }
    }
  }
}
