.state {
  .general-information-table {
    max-width: none !important;
    flex-direction: initial;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    .state-logo {
      width: 100%;
      max-width: 318px;
      height: 185px;
      @media (max-width: 475px) {
        max-width: none;
        height: auto;
      }
    }
  }
  .state-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .state-card {
      display: flex;
      flex-direction: column;
      width: 47%;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      width: 47.8%;
      @media (max-width: 600px) {
        width: 100%;
      }

      &__data {
        padding: 10px;

        .content-information {
          margin-top: 10px;
        }
        a {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
        }
        p {
          font-weight: 300;
          line-height: normal;
          font-size: 16px;
          b {
            font-weight: 400;
          }
        }
      }
      .cities-top {
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
  .block-data {
    display: grid;
    border-left: 2px solid #bc2649;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }
  .state-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    margin-top: 20px;

    li {
      width: 28%;
      color: #000;

      &::before {
        margin-right: 6px;
        text-decoration-line: none;
      }
      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        text-decoration-line: underline !important;
        @media (max-width: 475px) {
          font-size: 14px;
        }
      }
      @media (max-width: 550px) {
        width: 34%;
      }
      @media (max-width: 375px) {
        width: 50%;
      }
    }
  }
  .city-statistic {
    &__table {
      border-collapse: collapse;
      display: flex;
      margin-top: 10px;
      width: 100%;
      margin-top: 30px;

      tbody {
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      tr {
        flex-direction: column;
        display: flex;
      }
      .city-column,
      .trust-fund-column,
      .job-sites-column {
        width: 100%;
      }
      .city-column {
        th {
          border-bottom: 1px solid #dedede;
          padding: 5px 0;
          line-height: 26px;
          text-align: start;
          padding-left: 10px;

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          a {
            font-weight: 400;
            text-decoration-line: underline !important;
          }
        }
      }
      .trust-fund-column {
        td {
          border-bottom: 1px solid #dedede;
          width: 100%;
          padding: 5px 0;
          line-height: 26px;
        }
      }
      .job-sites-column {
        td {
          border-bottom: 1px solid #dedede;
          width: 100%;
          padding: 5px 0;
          line-height: 26px;
        }
      }
      .static-text {
        font-weight: 700;
        text-transform: capitalize;
      }
      .city-text {
        padding-left: 10px !important;
      }
    }
  }
}
