.state-search {
        
    h1 {
        text-align: center;
    }
    
    .search-container {
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        &__bar {
            display: flex;
        }

        .search-bar {
            border: 1px solid #CBCBCB;
            width: 100%;
            margin-top: 15px;
        }
    }
    
    .search-input {
        height: 42px;
        width: 80%;
        padding: 0 10px;
        border: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }
    
    .search2-button {
        width: 116px;
        height: 42px;
        background: #093661;
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        margin-left: 10px;
        cursor: pointer;
    }
    
    .categories {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        text-align: center;
        gap: 3rem;
        flex-wrap: wrap;

        h4 {
            font-weight: 400;
            font-size: 16px;
            color: #515151;
            margin-right: 20px;
        }
    }
    
    .category {
        cursor: pointer;
    }
    
    .category:hover {
        color: #093661;
    }
    
    @media (max-width: 600px) {
        .search-container {
        flex-direction: column;
        }
    
        .search-input {
        width: 100%;
        margin-bottom: 10px;
        }
        
        .search2-button {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-end;
        }
    }
  
}

.boiler-search {
    background-color: #15528e !important;
}
