.state {
  .content-table {
    max-width: none !important;
    flex-direction: initial;
    @media (max-width: 600px) {
      flex-direction: column;
    }

    .state-logo {
      width: 100%;
      max-width: 320px;
      height: 185px;
      object-fit: contain !important;
      @media only screen and (max-width: 850px) and (min-width: 767px) {
        max-width: none;
      }
      @media (max-width: 475px) {
        max-width: none;
        height: auto;
      }
    }
  }
  .content-table {
    @media only screen and (max-width: 850px) and (min-width: 767px) {
      flex-direction: column;
    }
  }
  .content-summarizer {
    @media only screen and (max-width: 850px) and (min-width: 767px) {
      max-width: 100%;
    }
  }
  .state-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    .state-card {
      display: flex;
      flex-direction: column;
      width: 47%;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: #fff;
      width: 47.8%;
      @media (max-width: 600px) {
        width: 100%;
      }

      &__data {
        padding: 10px;

        .content-information {
          margin-top: 10px;
        }
        a {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          text-decoration-line: underline !important;
          color: #466d92;
        }
        p {
          font-weight: 300;
          line-height: normal;
          font-size: 16px;
          b {
            font-weight: 400;
          }
        }
      }
      .cities-top {
        border-radius: 4px 4px 0px 0px;
        width: 100%;
      }
    }
  }

  // .compensation-section__table {
  //   margin-top: 10px;
  //   border-radius: 4px;
  //   background: #fbfbfb;
  //   max-width: 300px;
  //   width: 100%;
  //   border-collapse: collapse;
  //   @media (max-width: 475px) {
  //     max-width: none;
  //   }

  //   table,
  //   th,
  //   td {
  //     border: 1px solid rgba(0, 0, 0, 0.1);
  //     padding: 6px 10px;
  //   }
  //   thead {
  //     th {
  //       text-align: start;
  //       color: #000;
  //       font-size: 16px;
  //       line-height: normal;
  //       text-transform: capitalize;
  //       font-weight: 700 !important;
  //     }
  //   }
  //   tbody {
  //     .review {
  //       color: #bc2649;
  //       font-size: 16px;
  //       line-height: normal;
  //     }
  //     .amount-result {
  //       color: #000;
  //       font-size: 16px;
  //       font-weight: 400;
  //     }
  //   }
  //   tfoot {
  //     .review {
  //       color: #bc2649;
  //       font-size: 16px;
  //       line-height: normal;
  //     }
  //     .amount-result {
  //       color: #000;
  //       font-size: 16px;
  //       font-weight: 400;
  //     }
  //   }
  // }
  .block-data {
    display: grid;
    border-left: 2px solid #bc2649;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
  }
  .city-statistic__table {
    margin-top: 10px;
    width: 100%;
    margin-top: 30px;
    border-radius: 4px;

    tr {
      border: 1px solid rgba(0, 0, 0, 0.1);
      th {
        text-align: start;
      }
    }
    thead,
    tbody {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    th, td {
      padding: 6px 10px;
      font-size: 18px;
      @media (max-width: 475px) {
      padding: 6px;
      font-size: 14px;
      }
    }
  }
  // .city-statistic {
  //   &__table {
  //     border-collapse: collapse;
  //     display: flex;
  //     margin-top: 10px;
  //     width: 100%;
  //     margin-top: 30px;

  //     tbody {
  //       border: 1px solid rgba(0, 0, 0, 0.1);
  //       display: flex;
  //       width: 100%;
  //       justify-content: space-between;
  //     }
  //     tr {
  //       flex-direction: column;
  //       display: flex;
  //     }
  //     .trust-fund-column,
  //     .job-sites-column {
  //       width: 50%;
  //     }
  //     .city-column {
  //       width: 100%;

  //       th {
  //         border-bottom: 1px solid #dedede;
  //         padding: 5px 0;
  //         line-height: 26px;
  //         text-align: start;
  //         padding-left: 10px;
  //         display: flex;
  //         @media (max-width: 475px) {
  //           font-size: 14px;
  //         }

  //         a {
  //           font-weight: 400;
  //           text-decoration-line: underline !important;
  //           line-height: 26px;
  //           @media (max-width: 475px) {
  //             font-size: 14px;
  //           }
  //         }
  //       }
  //     }
  //     .trust-fund-column {
  //       td {
  //         border-bottom: 1px solid #dedede;
  //         width: 100%;
  //         padding: 5px 0;
  //         line-height: 26px;
  //         @media (max-width: 475px) {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //     .job-sites-column {
  //       td {
  //         border-bottom: 1px solid #dedede;
  //         width: 100%;
  //         padding: 5px 0;
  //         line-height: 26px;
  //         @media (max-width: 475px) {
  //           font-size: 14px;
  //         }
  //       }
  //     }
  //     .static-text {
  //       font-weight: 700;
  //       text-transform: capitalize;
  //     }
  //     .city-text {
  //       padding-left: 10px !important;
  //     }
  //   }
  // }
  .hidden-column {
    display: none !important;
  }

  .state-list {
    column-count: 3;
    margin-top: 20px;

    @media (max-width: 767px) {
      column-count: 2;
    }
  }

  .state-list li {
    list-style-type: disc;
    break-inside: avoid;
    margin-top: 0;
    padding-top: 5;
    color: #1A73F5;

    &::before {
      margin-right: 6px;
      text-decoration-line: none;
    }

    a {
      font-size: 20px;
      font-weight: 300;
      line-height: 26px;

      @media (max-width: 475px) {
        font-size: 18px;
      }
    }
  }
}
.dinamic-page-notice {
  border-left: 2px solid #bc2649;
  padding-left: 10px;
}
