.trust-fund {
  margin-bottom: 40px;

  .content-table {
    @media only screen and (max-width: 850px) and (min-width: 767px) {
      flex-direction: column;
    }
  }
  .content-summarizer {
    @media only screen and (max-width: 850px) and (min-width: 767px) {
      max-width: 100%;
    }
  }
  .status-active {
    color: #324a74;
    font-weight: 400;
    margin-bottom: 20px;

    span {
      color: #bc2649;
      font-weight: 600;
    }
  }
  .contact-company {
    strong {
      font-size: 18px !important;
      font-weight: 400;
    }
    a {
      text-decoration-line: underline !important;
    }
    .claimant-relations {
      margin-top: 10px;

      a {
        color: #1c1b1b;
        font-size: 20px;
      }
    }
    h3 {
      color: #000;
    }
  }
}
.sort-chase {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;

  &__content {
    width: 47.5%;

    @media only screen and (max-width: 890px) and (min-width: 767px) {
      width: 100%;
    }
    @media (max-width: 640px) {
      width: 100%;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }

    .review {
      font-weight: 700 !important;
    }
  }
}

.compensation-section__table {
  margin-top: 10px;
  border-radius: 4px;
  background: #fbfbfb;
  max-width: 300px;
  width: 100%;
  @media (max-width: 475px) {
    max-width: none;
  }

  table,
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
  }
  thead {
    th {
      text-align: start;
      color: #000;
      font-size: 16px;
      line-height: normal;
      text-transform: capitalize;
      font-weight: 700 !important;
    }
  }
  tbody {
    .review {
      color: #bc2649;
      font-size: 16px;
      line-height: normal;
    }
    .amount-result {
      color: #000;
      font-size: 16px;
      font-weight: 400;
    }
  }
  tfoot {
    .review {
      color: #bc2649;
      font-size: 16px;
      line-height: normal;
    }
    .amount-result {
      color: #000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
// .compensation-section__table {
//   border-collapse: collapse;
//   display: flex;
//   margin-top: 10px;

//   tbody {
//     max-width: 300px;
//     width: 100%;
//     border-radius: 4px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     background: #fcfaf6;
//     display: flex;
//     width: 100%;
//     @media (max-width: 475px) {
//       max-width: none;
//     }
//   }

//   tr {
//     flex-direction: column;
//     display: flex;

//     &:nth-child(even) td {
//       background: #fbfbfb;
//     }
//   }

//   th,
//   td {
//     padding: 6px 10px;
//     border: 1px solid #e6e6e6;
//     display: flex;
//   }

//   th {
//     background-color: #ffffff;
//     color: #000000;
//     font-weight: bold;
//   }

//   .left-column {
//     width: 100%;
//     background: #fbfbfb;

//     th {
//       color: #bc2649;
//       font-weight: 700;
//       align-items: start;
//       display: flex;
//       background: #fbfbfb;
//     }

//     .claims-type {
//       text-transform: uppercase;
//       font-weight: 400;
//       color: #324a74 !important;
//       font-size: 16px;
//       align-items: start;
//       display: flex;
//     }
//   }

//   .right-column {
//     width: 70%;

//     td {
//       font-weight: 400;
//       justify-content: start;
//       padding-left: 20px;
//     }

//     .price {
//       font-size: 16px;
//       text-transform: uppercase;
//       color: #bc2649;
//       font-weight: 400;
//     }
//   }
// }
.legend-ratio {
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  margin-top: 20px;
  p {
    font-size: 16px;
  }
  b {
    font-size: 16px;
  }
  span {
    font-size: 16px;
    color: #bc2649;
  }
}
.mark-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  gap: 8px;
  display: flex;
  flex-direction: column;

  li {
    font-size: 20px;
    list-style-type: disc;
    line-height: 26px;
    margin-top: 0;

    .dinamic-page-link {
      color: #1a73f5;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400 !important;
    }
  }
}
.dinamic-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dinamic-page {
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #324a74;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}

.adapt-img {
  color: #bc2649;
}
