.trust-fund {
  margin-bottom: 40px;

  .status-active {
    color: $main-color;
    font-weight: 400;
    margin-bottom: 20px;

    span {
      color: $main-red;
      font-weight: 600;
    }
  }
  .contact-company {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .claimant-relations {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
.legend-ratio {
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  margin-top: 20px;
  p {
    font-size: 16px;
  }
  b {
    font-size: 16px;
  }
  span {
    font-size: 16px;
    color: $main-red;
  }
}
.mark-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;

  li {
    margin-left: 20px;
    font-size: 20px;
    list-style-type: disc;
    line-height: 28px;
    margin-top: 0;
    font-weight: 400;
  }
}
.dinamic-element {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dinamic-page {
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #036;
    line-height: normal;
    text-transform: capitalize;
  }
}

.adapt-img {
  color: $main-red;
}
