

.breadcrumb {
  margin-bottom: 20px;
  @media (max-width: 475px) {
   justify-content: center;
  }

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline !important;
    color: #054AC3;
    @media (max-width: 767px) {
      font-size: 14px;
     }
  }

  span {
    color: rgba(0, 0, 0, 0.61);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0 3px;
    @media (max-width: 767px) {
      font-size: 14px;
     }
  }
  .last-element {
    color: $main-red!important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 14px;
     }
  }
}
