.button-red {
  border-radius: 4px;
  background: #BC2649;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #fff;
  border: 0 !important;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  &:hover {
    box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.16),
      inset 0 -2px 0 0 rgba(0, 0, 0, 0.11);
    filter: brightness(105%);
    border: none !important;
  }
}

.button-blue {
  border-radius: 4px;
  background: #324A74;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0;
  color: #fff;
  border: 0 !important;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  &:hover {
    box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.16),
      inset 0 -2px 0 0 rgba(0, 0, 0, 0.11);
    filter: brightness(105%);
    border: none !important;
  }
}

button {
  border: none;
  cursor: pointer;
}
