.case-compensation {
  display: flex;
  margin-top: 44px;
  margin-bottom: 35px;
  max-width: 603px;
  width: 100%;
  @media (max-width: 620px) {
    margin-top: 27px;
  }

  &__content {
    background-color: #bc2649;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 900px) and (min-width: 767px) {
      max-width: none;
    }
    @media (max-width: 620px) {
      max-width: none;
      flex-direction: column;
    }
    .text-information {
      padding: 34px 27px;
      @media (max-width: 620px) {
       text-align: center;
       padding: 34px 19px;
       padding-top: 5px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 400;
      color: #fff !important;
      font-family: 'Inter', sans-serif !important;
      border-bottom: 1px solid #E8DFDF;
      padding-bottom: 15px;
      @media (max-width: 620px) {
        font-size: 14px;
        border: none;
       }
    }

    p {
      padding-top: 15px;
      color: #fff !important;
      font-size: 12px;
      font-weight: 800;
      @media (max-width: 620px) {
        display: none;
      }
    }

    button {
      border-radius: 4px;
      background: #000;
      color: #fff !important;
      text-transform: uppercase;
      padding: 7px 14px;
    }
  }
  .img-compensation {
    object-fit: cover;
    width: 100%;
    max-width: 248px;
    @media only screen and (max-width: 900px) and (min-width: 767px) {
      display: none;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }
  .img-compensation-alternative {
    display: none;
    height: 213px;
    @media (max-width: 620px) {
      display: block;
    }
  }
}
