.case-compensation {
  display: flex;
  margin-top: 44px;
  margin-bottom: 35px;
 

  &__content {
    background-color: #941e1a;
    padding: 12px 25px;
    max-width: 340px;
    width: 100%;
    @media only screen and (max-width: 900px) and (min-width: 767px) {
      max-width: none;
    }
    @media (max-width: 620px) {
      max-width: none;
    }

    h2 {
      text-decoration-line: underline;
      font-size: 22px;
      color: #fff;
    }
    h3 {
      color: #fff !important;
    }
    p {
      color: #fff !important;
      font-size: 14px;
    }

    button {
      border-radius: 4px;
      background: #000;
      color: #fff !important;
      text-transform: uppercase;
       // font-family: "Nunito", sans-serif;
      padding: 7px 14px;
      margin-top: 17px;
      margin-bottom: 10px;
    }
  }
  img {
    @media only screen and (max-width: 900px) and (min-width: 767px) {
      display: none;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }
}
