$white: #fff;
$gray: #f4f4f4;
$gray-light: #d5d5d5;
$gray-light-second: #e0e0e0;
$gray-light-third: #e8e8e8;
$black: #474747;
$black-dark: #000000;
$black-second: #302f2f;
$black-third: #343131;
$black-fourth: #303030;
$dusk: #485778;

$bluish: #264470;

$main-color: #1f334e;
$orange: #fe5e14;

// General Variables
$base-index: 100;
$navbar-index: ($base-index * 1.5);


