@include respondto(desktop) {
  .container {
    max-width: 980px;
    padding: 0 2rem;

    @include respondto(desktop) {
      max-width: 980px;
      padding: 0 2rem;
    }

    @include respondto(onlyDesktop) {
      padding: 0 4.5rem;
  
    }
  }
}

@media (min-width: 992px) {
  .container-desktop {
    width: 100%;
    max-width: 660px;
  }
}

img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
}

.general-page {
  display: flex;
  gap: 30px;

  @media (max-width: 992px) {
    gap: 25px;
  }
}