@include respondto(desktop) {
  .container {
    max-width: 980px;
    padding: 0 2rem;

    @include respondto(desktop) {
      max-width: 980px;
      padding: 0 2rem;
    }

    @include respondto(onlyDesktop) {
      padding: 0 4.5rem;
  
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
}


//calculator
.general-page {
  display: flex;
  gap: 55px;

  .badge {
    display: block;
  }
}

.page-suplimentar {
  .badge {
    display: none;
  }
}
