@include respondto(desktop) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1440px;
    padding: 0 2.5rem;

  }
}
.container {
  @include respondto(desktop) {
    max-width: 1300px;
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  @include respondto(onlyDesktop) {
    padding: 0 4.5rem;

  }
}

.relative {
  position: relative;
}

.reset-btn {
  background-color: initial;
  border: none;
  padding: 0;
}

textarea {
  resize: none;
}

.display-block {
  display: block;
}

.font-bold {
  @include font-weight(extrabold);
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
  &-xs {
    @include respondto(phone) {
      display: none !important;
    }
  }
  &-sm {
    @include respondto(maxTablet) {
      display: none !important;
    }
  }

}


.visible-xs {
  display: none !important;

  @include respondto(phone) {
    display: block !important;
  }
}

.visible-sm {
  display: none !important;

  @include respondto(maxTablet) {
    display: block !important;
  }
}

.no-padding-xs {
  @include respondto(phone) {
    padding: 0;
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.object-fit-cover {
  object-fit: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.no_overflow {
  overflow: hidden;
}