*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

th,
td {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}
button {
  font-family: "Roboto Condensed", sans-serif;
}
ul {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  font-family: "Roboto Condensed", sans-serif;
  display: list-item;
  padding-left: 12px;

  li {
    display: flex;
    gap: 4px;
    display: list-item;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  line-height: normal;
}
h1 {
  color: #324a74;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 38px;
  @media (max-width: 475px) {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
}
h2 {
  color: #003366;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-top: 40px;
  @media (max-width: 475px) {
    font-size: 26px;
    padding-top: 30px;
  }
}

h3 {
  font-size: 18px;
  color: #036;
  font-weight: 500;
}

h4,
h5,
h6 {
  margin-bottom: 0rem;
}

p {
  line-height: 26px;
  font-weight: 300;
  font-size: 18px;
  color: #000;
}

li {
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 5px;
}
span {
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
a {
  text-decoration: none !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in;
  color: #1c1b1b;

  // mac safari fix
  > span,
  > b,
  > strong {
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
  }
}

select:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 4px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #324a74 transparent transparent transparent;
}

select {
  width: 100%;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../img/arrow-select.png') no-repeat right 5px center;
  background-size: 16px;
  border: 1px solid #dbdbdb;
  color: #000;
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 0;
  outline: none;
  @media (max-width: 699px) {
    height: 40px !important;
  }
  &:hover {
    border: 1px solid #dbdbdb;
  }
}

ol {
  padding-left: 20px;
  margin-bottom: 0;
}
input {
  border: 1px solid #dbdbdb;
  background: #fff;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  @media (max-width: 699px) {
    height: 40px !important;
  }
}
label {
  font-family: "Roboto Condensed", sans-serif;
}
b,
strong {
  color: #000;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px !important;
}

.position-relative {
  position: relative;
}
.form-control {
  font-size: 1.4rem;
}
.modal-content {
  background-color: $white !important;
}
// Safari browser only

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.red-text {
  color: #bc2649;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.data-info {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #324A74;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  @media (max-width: 475px) {
    text-align: center;
  }
}
.red-not {
  color: #BC2649;
}
.not-text {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}