.lawyers-information {
  .block-lawyers {
    width: 100%;
    max-width: 320px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 13px;
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    @media (max-width: 475px) {
      max-width: none;
    }

    &__about {
      display: flex;
      gap: 17px;
      align-items: center;

      .lawyers-data {
        text-align: start;
        h3 {
          font-weight: 700;
          margin: 0;
          color: #324a74;
          font-size: 18px;
          text-decoration-line: underline;
          margin-bottom: 3px;
        }
        p {
          color: #202020;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
    img {
      border-radius: 50%;
      width: 104px;
      height: 104px;
    }
    .contact {
      display: flex;
      gap: 10px;
      margin-top: 14px;
      img {
        color: #BC2649;
        width: 14px;
        height: 14px;
      }
      a {
        color: #202020;
        font-size: 16px;
        font-weight: 400;
      }
      .number {
        align-items: center;
        display: flex;
        gap: 5px;
      }
      .message {
        align-items: center;
        display: flex;
        gap: 5px;
      }
    }
    
  }
  .red-text {
    font-size: 18px;
    b {
      color: #bc2649;
      font-size: 18px;
    }
  }
  &__content {
    display: flex;
    gap: 11px;
    margin-top: 8px;
    align-items: center;

    .data {
      .name {
        text-decoration-line: underline;
        margin-bottom: 5px;
      }
      .disease {
        color: #324a74;
        font-size: 12px;
        font-weight: 500;
      }
      .experience {
        font-size: 12px;
        font-weight: 500;
        span {
          font-weight: 400;
        }
      }
    }
  }
  .button {
    width: 160px;
    height: 36px;
    @media (max-width: 500px) {
      margin-top: 15px;
    }
  }
}
