.lawyers-information {
  .block-lawyers {
    width: 100%;
    max-width: 340px;
    border-radius: 4px;
    margin-top: 20px;
    padding: 13px;
    border: 1px solid #ebebeb;
    background: #fbfbfb;
    display: flex;
    flex-direction: column;
    @media (max-width: 475px) {
      max-width: none;
    }

    &__about {
      display: flex;
      gap: 18px;
      align-items: center;

      .lawyers-data {
        text-align: start;
        .general-blue-text {
          margin: 0;
          text-decoration-line: underline;
          margin-bottom: 3px;
        }
        p {
          color: #202020;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
    .img-lawyers {
      border-radius: 50%;
      width: 104px;
      height: 104px;
    }
    .contact {
      display: flex;
      gap: 10px;
      margin-top: 14px;
      img {
        color: $main-red;
        width: 14px;
        height: 14px;
      }
      a {
        font-size: 18px;
        font-weight: 400;
        text-decoration-line: underline !important;
      }
      .number {
        align-items: center;
        display: flex;
        gap: 5px;
      }
      .message {
        align-items: center;
        display: flex;
        gap: 5px;
      }
    }
  }
  .red-text {
    font-size: 18px;
    b {
      color: $main-red;
      font-size: 18px;
    }
  }
  &__content {
    display: flex;
    gap: 11px;
    margin-top: 8px;
    align-items: center;

    .data {
      .name {
        text-decoration-line: underline;
        margin-bottom: 5px;
      }
      .disease {
        color: $main-color;
        font-size: 12px;
        font-weight: 400;
      }
      .experience {
        font-size: 12px;
        font-weight: 400;
        span {
          font-weight: 400;
        }
      }
    }
  }
  .button {
    width: 160px;
    height: 36px;
    @media (max-width: 400px) {
      margin-top: 15px;
    }
  }
}

.lawyers {
  .lawyer-about {
    align-items: center;
    display: flex;
    gap: 40px;
    @media (max-width: 550px) {
      flex-direction: column;
    }

    &__img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      @media (max-width: 550px) {
        width: 180px;
        height: 180px;
      }
    }
  }
  .contact {
    margin-top: 15px;
  }
  .lawyers-information {
    p {
      margin-top: 10px;
    }
  }
  .lawyers-data {
    @media (max-width: 550px) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  .faq-container {
    padding: 20px 40px;
  }
}
